<template lang="pug">
    div(v-if="attributeGroups.length")
        template(v-for="group in attributeGroups")
            filter-item(
                v-for="attr in group.attributes"
                :key="attr.id"
                :title="attr.name"
                :type="`attribute-${attr.name}`"
            )
                ul(class="u-listUnstyled")
                    li(v-for="value in attr.values" :key="value.id")

                        // Checkbox
                        input(
                            v-model="values[value.id]"
                            :id="`attr-${value.id}`"
                            type="checkbox"
                            @click="fetchProducts"
                        )

                        // Label
                        label(:for="`attr-${value.id}`")
                            span {{ value.value }}
</template>

<script>
    import { mapState } from 'vuex';
    import FilterItem from './FilterItem.vue';

    export default {
        components: {
            FilterItem
        },
        computed: mapState('products', {
            attributeGroups: state => state.filter.attributes,
            values: state => state.query.attributes
        }),
        methods: {

            /**
             * Fetch products from API.
             */
            fetchProducts() {
                setTimeout(() => this.$store.dispatch('products/setQuery', {
                    resetPrice: true
                }));
            }
        }
    };
</script>