<template lang="pug">
    filter-item(v-if="brands.length" :title="title" type="brand")
        ul(class="u-listUnstyled")
            li(v-for="brand in brands" :key="brand.id")

                // Checkbox
                input(
                    v-model="values[brand.id]"
                    :id="`brand-${brand.id}`"
                    type="checkbox"
                    @click="fetchProducts"
                )

                // Label
                label(:for="`brand-${brand.id}`" :key="brand.id")
                    span {{ brand.name }}
</template>

<script>
    import { mapState } from 'vuex';
    import FilterItem from './FilterItem.vue';

    export default {
        components: {
            FilterItem
        },
        data() {
            return {
                title: 'Бренд'
            };
        },
        computed: mapState('products', {
            brands: state => state.filter.brands,
            values: state => state.query.brands
        }),
        methods: {

            /**
             * Fetch products from API.
             */
            fetchProducts() {
                setTimeout(() => this.$store.dispatch('products/setQuery', {
                    resetPrice: true
                }));
            }
        }
    };
</script>