<template lang="pug">
    div(v-if="categories.length")
        filter-item(
            v-for="category in categories"
            v-if="category.children.length"
            :key="category.id"
            :title="category.name"
            :type="`category-${category.name}`"
        )
            ul(class="u-listUnstyled")
                li(v-for="child in category.children" :key="child.id")

                    // Checkbox
                    input(
                        v-model="values[child.id]"
                        :id="`category-${child.id}`"
                        type="checkbox"
                        @click="fetchProducts"
                    )

                    // Label
                    label(:for="`category-${child.id}`" :key="child.id")
                        span {{ child.name }}
</template>

<script>
    import { mapState } from 'vuex';
    import FilterItem from './FilterItem';

    export default {
        components: {
            FilterItem
        },
        computed: mapState('products', {
            categories: state => state.filter.categories,
            values: state => state.query.categories,
        }),
        methods: {

            /**
             * Fetch products from API.
             */
            fetchProducts() {
                setTimeout(() => this.$store.dispatch('products/setQuery', {
                    resetPrice: true
                }));
            }
        }
    };
</script>