<template lang="pug">
    filter-item(v-if="colors.length" :title="title" type="color")
        ul(class="u-listUnstyled")
            li(v-for="color in colors" :key="color.id")

                // Checkbox
                input(
                    v-model="values[color.id]"
                    :id="`color-${color.id}`"
                    type="checkbox"
                    @click="fetchProducts"
                )

                // Label
                label(
                    :style="{ background: color.hex }"
                    :for="`color-${color.id}`" :key="color.id"
                )
</template>

<script>
    import { mapState } from 'vuex';
    import FilterItem from './FilterItem.vue';

    export default {
        components: {
            FilterItem
        },
        data() {
            return {
                title: 'Колір'
            };
        },
        computed: mapState('products', {
            colors: state => state.filter.colors,
            values: state => state.query.colors
        }),
        methods: {

            /**
             * Fetch products from API.
             */
            fetchProducts() {
                setTimeout(() => this.$store.dispatch('products/setQuery', {
                    resetPrice: true
                }));
            }
        }
    };
</script>

<style lang="scss" scoped>
    li {
        display: inline-block;

        label {
            margin: 2px 3px;
            width: 10px;
            padding: 10px 29px;

            transform: skewX(-38deg);


            &:before {
                display: none;
            }

            &:after {
                width: 8px;
                height: 8px;
                border-color: transparent;
                border-radius: 8px;
                background: white;
            }
        }
    }

    input[type="checkbox"]:checked + label:after {
        transform: rotate(0deg) scale(1) skewX(40deg);
        top: 15px;
        left: 50%;
        margin-left: -7px;
        border: 1px solid grey;
    }


</style>