<template lang="pug">
    div(class="filter__block")
        dl

            // Title with collapse button
            dd
                b-link(
                    :class="`filterToggle ${isCollapsed ? 'collapsed' : null}`"
                    :aria-controls="`collapse${type}`"
                    :aria-expanded="isCollapsed ? 'true' : 'false'"
                    block
                    @click="collapse"
                )
                    span {{ title }}
                    div(:class="{'active': isCollapsed}" class="plus")
                        div(class="horizontal")
                        div(class="vertical")

            // Filter content
            dt
                b-collapse(
                    v-model="isCollapsed"
                    :id="`collapse-attribute-${type}`"
                    class="filter__list"
                )
                    div(class="filter__scroll")
                        div(class="swiper-wrapper")
                            div(class="swiper-slide")
                                slot

                        div(class="swiper-scrollbar")
</template>

<script>
    export default {
        props: {
            title: String,
            type: String
        },
        data() {
            return {
                isCollapsed: false
            };
        },
        methods: {

            /**
             * Collapse filter content.
             */
            collapse() {
                this.isCollapsed = !this.isCollapsed;
            }
        }
    };
</script>

<style lang="scss">
    .filter__list.collapse {
        display: block !important;
        overflow: hidden;
        height: 0;
    }
    .filter__list.collapse.show {
        overflow: visible;
        height: auto;
    }
</style>