<template lang="pug">
    form(
        class="l-items-list__filter"
        :class="{'open-filter': openFilter}"
    )

        // Button for mobile screens
        button(
            @click="openFilterHandler()"
            class="filter__button-open hidden-lg hidden-md u-fz-0"
            type="button"
        )
            div(class="u-textUpper u-fz-12") {{ title }}
            i(class="filter__icon-open icon-sport_shop_icons-02")
            i(class="filter__icon-close icon-sport_shop_icons-28")

        // Title
        div(class="filter__title u-flex-center")
            i(class="icon-sport_shop_icons-02")
            span {{ title }}

        // Categories
        categories

        // Min, Max price slider
        price-slider

        // Colors
        colors

        // Brands
        brands

        // Attributes
        attributes

        // Sizes
        sizes
</template>

<script>
    import Attributes from './Attributes';
    import Brands from './Brands';
    import Categories from './Categories';
    import Colors from './Colors';
    import Sizes from './Sizes';
    import PriceSlider from './PriceSlider';

    export default {
        components: {
            Attributes,
            Brands,
            Categories,
            Colors,
            Sizes,
            PriceSlider
        },
        data() {
            return {
                title: 'Фільтр',
                openFilter: false
            };
        },
        methods: {
            openFilterHandler() {
                this.openFilter = !this.openFilter;
            }
        }
    };
</script>