<template lang="pug">
    no-ssr
        filter-item(
            v-if="min && max && (min != max)"
            :title="title"
            type="price"
        )
            vue-slider(
                v-bind="options"
                :value="values"
                :min="min"
                :max="max"
                @drag-end="setQuery"
            )
</template>

<script>
    import _ from 'lodash';
    import NoSSR from 'vue-no-ssr';
    import FilterItem from './FilterItem.vue';

    const components = {
        FilterItem,
        NoSSR
    };

    if (process.browser) {
        const VueSlider = require('vue-slider-component');
        components['vue-slider'] = VueSlider;
    }

    export default {
        components,
        data() {
            return {
                title: 'Ціна',
                options: {
                    dotSize: 16,
                    min: 0,
                    useKeyboard: true,
                    tooltip: 'always',
                    formatter: '{value}',
                    lazy: true
                }
            };
        },
        computed: {
            min() {
                const value = this.$store.state.products.filter.prices.min;

                return _.round(Number(value));
            },
            max() {
                const value = this.$store.state.products.filter.prices.max;

                return _.round(Number(value));
            },
            values() {
                const prices = this.$store.state.products.query.prices;

                return [prices.min || this.min, prices.max || this.max];
            }
        },
        methods: {

            /**
             * Set prices to store and re-fetch products from API.
             */
            setQuery(el) {
                this.$store.dispatch('products/setQuery', {
                    prices: { min: el.val[0], max: el.val[1] }
                });
            }
        }
    };
</script>

<style lang="scss" scoped>
    .vue-slider-component {
        margin: 28px 7px 28px 0;
    }
    /deep/ .filter__scroll {
        padding: 15px 10px 0 15px;
    }
</style>