<template lang="pug">
    filter-item(v-if="!isEmpty" :title="`${title} - ${sizes[0].title}`" type="size")
        ul(class="u-listUnstyled")
            li(v-for="item in sizes" :key="item.id")

                // Checkbox
                input(
                    v-model="values[item.value]"
                    :id="`size-${item.id}`"
                    type="checkbox"
                    @click="fetchProducts"
                )

                // Label
                label(:for="`size-${item.id}`" :key="item.id")
                    span {{ item.value }}
</template>

<script>
    import _ from 'lodash';
    import { mapState } from 'vuex';
    import FilterItem from './FilterItem.vue';

    export default {
        components: {
            FilterItem
        },
        data() {
            return {
                title: 'Розмір'
            };
        },
        computed: mapState('products', {
            sizes: state => {
                let sizes = state.filter.sizes;

                sizes.sort((a, b) => {
                    if (a.value < b.value) { return -1; }
                    if (a.value > b.value) { return 1; }
                    return 0;
                });

                return sizes;
            },
            values: state => state.query.sizes,
            isEmpty: state => _.isEmpty(state.filter.sizes)
        }),
        methods: {

            /**
             * Fetch products from API.
             */
            fetchProducts() {
                setTimeout(() => this.$store.dispatch('products/setQuery', {
                    resetPrice: true
                }));
            }
        }
    };
</script>