<template lang="pug">
    thead
        tr
            // ID
            td ID

            // Product
            td(colspan="2")
                | Товар
                div(class="search-elem")
                    div(class="search-input")
                        label(class="search-label fa fa-search")
                        input(
                            :value="query.product"
                            type="text"
                            @input="setProduct"
                        )

            // Order Status
            td
                | Статус
                div(class="select-elem")
                    b-dropdown(:text="query.orderStatus.value")
                        b-dropdown-item(
                            v-for="item in orderStatuses"
                            :key="item.key"
                            @click="setQuery({ orderStatus: item })"
                        ) {{ item.value }}

            // Payment Status
            td
                | Оплата
                div(class="select-elem")
                    b-dropdown(:text="query.paymentStatus.value")
                        b-dropdown-item(
                            v-for="item in paymentStatuses"
                            :key="item.key"
                            @click="setQuery({ paymentStatus: item })"
                        ) {{ item.value }}

            // Delivery Method
            td
                | Доставка
                div(class="select-elem")
                    b-dropdown(:text="query.deliveryMethod.value")
                        b-dropdown-item(
                            v-for="item in deliveryMethods"
                            :key="item.key"
                            @click="setQuery({ deliveryMethod: item })"
                        ) {{ item.value }}

            // Date
            td
                | Дата
                div(class="date-filter")
                    datepicker(
                        :value="date"
                        input-class="date-filter-input"
                        calendar-button
                        calendar-button-icon="date-icon icon-sport_shop_icons-30"
                        clear-button
                        clear-button-icon="icon-sport_shop_icons-39"
                        @input="setDate"
                    )

            // Print button
            td(class="u-textCenter") Друк
</template>

<script>
    import { mapState } from 'vuex';
    import moment from 'moment';
    import Datepicker from 'vuejs-datepicker';

    export default {
        components: {
            Datepicker
        },
        computed: {
            ...mapState('orders', [
                'orderStatuses',
                'paymentStatuses',
                'deliveryMethods',
                'query'
            ]),

            /**
             * Customize date format.
             */
            date() {
                if (!this.query.date) return null;

                return moment(this.query.date, 'YYYY-MM-DD').format('DD MMM YYYY');
            }
        },
        methods: {

            /**
             * Update query on store.
             *
             * @param values
             */
            setQuery(values) {
                this.$store.dispatch('orders/setQuery', values);
            },


            /**
             * Update "query.product" on store.
             *
             * @param e
             */
            setProduct(e) {
                if (e.target.value.length >= 3) {
                    this.setQuery({ product: e.target.value });
                }
            },

            /**
             * Update "query.date" on store.
             *
             * @param value
             */
            setDate(value) {
                if (value) {
                    value = moment(value).format('YYYY-MM-DD');
                }

                this.setQuery({ date: value });
            }
        }
    };
</script>

<style lang="scss" scoped>
    /deep/ .date-filter {
        .date-filter-input {
            max-width: 90px;
            border: 0;
            cursor: pointer;
        }

        .vdp-datepicker > div:first-child {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .vdp-datepicker__calendar {
            right: 0;
            font-weight: normal;
            font-size: 16px;
            white-space: normal;
        }
        .vdp-datepicker__calendar .cell.selected,
        .vdp-datepicker__calendar .cell.selected.highlighted,
        .vdp-datepicker__calendar .cell.selected:hover {
            background-color: #3c76bf;
            color: #fff;
        }
        .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
        .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
        .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
            border: 1px solid #3c76bf;
        }
    }
</style>