<template lang="pug">
    div(class="container m-t-20")
        div(class="l-seo")

            // Title
            h1(class="h1")
                slot(name="title")

            // Main content
            slot
</template>

<style lang="scss" scoped>
    @import "../../assets/scss/utilities/variables";

    .l-seo {
        padding-bottom: 3rem;
        color: $white;
    }
</style>