<template lang="pug">
    div(class="row m-t-50 m-b-10")

        // Total price with discount
        div(class="col-xs-24 col-sm-7")
            div(class="special-offer")
                h2(class="special-title") Спеціальна ціна
                div(class="special-desc") Для команди від {{ quantity }} комлектів
                div(class="special-price") {{ totalDiscountPrice.value }} {{ totalDiscountPrice.symbol }}
                i(class="special-icon icon-sport_shop_icons-49")

        div(class="col-xs-24 col-sm-10")
            div(class="calc-wrap")
                h2(class="special-title m-b-10") Розрахунок
                div(class="calc-form")

                    // Total price
                    div(class="calc-price")
                        div(class="calc-label") Ціна
                        div(class="calc-price-value") {{ totalPrice.value }} {{ totalPrice.symbol }}

                    // "Add to cart" button
                    div(class="calc-btn")
                        button(
                            type="button"
                            class="m-button-default-44 button-blue"
                            @click.prevent="addToCart"
                        ) Купити

        // Description
        p(class="col-xs-24 description") {{ description }}
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return {
                quantity: 10,
                description: 'При замовлення 10 комплектів або більше, вкажіть це у замовлення в полі "Коментар".'
            };
        },
        computed: {
            ...mapGetters('uniforms', [
                'selectedProducts',
                'productDiscount'
            ]),
            totalPrice() {
                let price = {
                    value: 0,
                    symbol: null
                };

                this.selectedProducts.forEach(item => {
                    const productPrice = this.$fetchDefaultCurrency(item.sale_price);

                    price.value += productPrice.value;

                    if (price.symbol) {
                        price.symbol = productPrice.symbol
                    }
                });

                return price;
            },
            totalDiscountPrice() {
                const price = { ...this.totalPrice };
                const discountValue = price.value * this.productDiscount / 100;

                price.value -= discountValue;
                price.value *= this.quantity;

                return price;
            }
        },
        methods: {

            /**
             * Add product to cart in store.
             */
            addToCart() {
                this.$store.dispatch('cart/addProducts', this.selectedProducts);
            }
        }
    };
</script>

<style lang="scss" scoped>
    .special-offer {
        position: relative;
        background: url('~/assets/images/specila-price-bg.png') center;
        border: 1px solid #2196f3;
        color: #ffffff;
        padding: 10px 15px;

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    .special-icon {
        position: absolute;
        bottom: -20px;
        right: 10px;
        font-size: 105px;
        opacity: 0.2;
        z-index: 0;
    }

    .special-title {
        font-size: 20px;
        text-transform: none;
        font-weight: bold;
    }

    .special-desc {
        font-size: 14px;
        font-style: italic;
    }

    .special-price {
        margin-top: 2px;
        font-size: 25px;
        position: relative;
        z-index: 1;
    }

    .calc-wrap {
        border: 1px solid #ffffff;
        background-color: #111419;
        color: #ffffff;
        padding: 10px 15px;
    }

    .calc-form {
        display: flex;
        justify-content: space-between;
    }

    .calc-label {
        display: block;
        margin-bottom: 2px;
        font-size: 14px;
        text-transform: uppercase;
    }

    .calc-input {
        width: 40px;
        display: block;
        padding: 5px 10px 6px;
        font-size: 14px;
        border: none;
        color: #757575;
        border-radius: 2px;
    }

    .calc-price-value {
        font-size: 18px;
    }
    .description {
        margin-top: 0;
        color: #fff;
    }
</style>