html, body {
	height: 100%;
	width: 100%;
}

html {
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}


// Body reset

body {
	font-family: $font-family-base;
	font-size: $em-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $bg-color;

	margin: 0;
	padding: 0;

	min-width: 320px;
	position: relative;

	overflow-x: hidden;
	overflow-y: scroll;

	text-rendering: optimizelegibility;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.01em;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;


}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

select::-ms-expand { /* for IE 11 */
	display: none;
}

select,
#{$all-text-inputs} {
	@include appearance(none);
}

.img-responsive {
	@include img-responsive();
}

// Links
a {
	cursor: pointer;
	outline: medium none;
	color: $link-color;
	text-decoration: none;

	&:active,
	&:hover,
	&:focus {
		opacity: 1;
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}

	@include transition(color 0.2s ease 0s);
}