<template lang="pug">
    div
        button(class="m-btn__print u-fw700" type="button" @click="download")
            i(class="fa fa-print" aria-hidden="true")
            span(class="u-alignMiddle") Друкувати список замовлень
</template>

<script>
    import api from '@/api';

    export default {
        methods: {
            download() {

                // Start preloader
                this.$nuxt.$loading.start();

                const query = this.$store.getters['orders/transformedQuery'];

                api.orders.downloadAll(this, query).then(response => {
                    const blob = new Blob([response.data], { type: 'application/pdf;charset=utf-8' });
                    const link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'orders.pdf';
                    link.click();

                    // Finish preloader
                    this.$nuxt.$loading.finish();
                });
            }
        }
    }
</script>