<template lang="pug">
    div(class="m-t-10")
        div(class="u-color-white u-textCenter m-b-5") або війдіть з
        div(class="u-textCenter")
            div
                button(
                    type="button"
                    class="m-social__item"
                    @click.prevent="authenticate('facebook')"
                )
                    i(class="fa fa-facebook" aria-hidden="true")

                button(
                    type="button"
                    class="m-social__item"
                    @click.prevent="authenticate('google')"
                )
                    i(class="fa fa-google-plus" aria-hidden="true")
</template>

<script>
    export default {
        methods: {
            async authenticate(provider) {
                await this.$auth.loginWith(provider);
            }
        }
    }
</script>