<template lang="pug">
    div(:class="`theme-${store.theme}`")
        // Header
        header-component

        // Breadcrumbs
        breadcrumbs

        // Main content
        nuxt

        // Advantages
        advantages

        // Page description
        page-description
            template(slot="title")
                span(class="u-color-default") Joma.if.ua&nbsp;
                span - Спортивне взуття та одяг
            div(v-html="description")

        // Footer
        footer-component
</template>

<script>
    import { mapState } from 'vuex';
    import PageDescription from '@/components/PageDescription/PageDescription';
    import Advantages from '@/components/Advantages/Advantages';
    import Breadcrumbs from './Breadcrumbs/Breadcrumbs';
    import Footer from './Footer/Footer';
    import Header from './Header/Header';

    export default {
        components: {
            Advantages,
            Breadcrumbs,
            'footer-component': Footer,
            'header-component': Header,
            PageDescription
        },
        head() {
            if (this.store && this.store.favicon) {
                return {
                    link: [
                        { rel: 'icon', type: 'image/x-icon', href: this.store.favicon.url }
                    ]
                };
            }
        },
        data() {
            return {
                description: `
                    <p>З кожним роком здоровий спосіб життя стає все більш популярним. Спортивний одяг є створеним для оптимального співвідношення зручності та стилю під час тренувань або активного дозвілля. Сучасна та якісна спортивна форма виступає чудовим мотиватором для досягнення найвищих результатів для професійних спортсменів та дарує особливий настрій під час тренувань. Завдяки сучасній конструкції та стильним фасонам спортивний одяг забезпечує максимальний комфорт та є актуальним в незалежності від сезону. Універсальність та зручність дозволяє широкий спектр використання. Якісний спортивний одяг чудово підійде, як для повсякденної прогулянки, так і для індивідуальних тренувань та спортивних змагань.</p>
                    <p>Інтернет магазин спортивного одягу Joma IF – це чудове поєднання високої якості, модних фасонів та доступної ціни. Кваліфіковані дизайнери подбали про універсальні та зручні моделі, які добре підійдуть шанувальникам активного способу життя.</p>
                    <p>Інтернет магазин спортивного одягу Joma пропонує стильні та практичні куртки, футболки, шорти, штани, теніски, реглани та олімпійки, високої якості, які забезпечать досягнення найвищих спортивних результатів. Широкий вибір варіантів моделей у поєднанні з тканинами високої якості подарують не тільки зручність, але й довговічність у використанні.</p>
                    <p><strong>Купити спортивний одяг у Інтернет магазині Joma</strong> – це чудове рішення для активного дозвілля та ефективних тренувань. Ціни на сучасний спортивний одяг приємно здивують та підійдуть до будь – якого гаманця. Завдяки зручному функціоналу Інтернет магазину Joma IF Ви швидко зможете обрати необхідний варіант моделі у відповідному кольоровому рішенні. Замовити модні, стильні та зручні моделі спортивного одягу Ви зможете у будь – який проміжок часу. Досвідчені фахівці Інтернет магазину Joma IF нададуть безоплатні консультації та допоможуть правильно підібрати колір або фасон одягу в залежності від Ваших уподобань.</p>
                    <p><strong>Інтернет магазин Joma IF – це спортивний одяг високої якості, оперативна доставка та доступна ціна.</strong></p>
                `
            };
        },
        computed: mapState('config', {
            store: state => state.all.store
        })
    };
</script>