<template lang="pug">
    div(:class="`theme-${store.theme}`")
        // Header
        header-component

        // Breadcrumbs
        breadcrumbs

        // Main content
        nuxt

        // Footer
        footer-component
</template>

<script>
    import { mapState } from 'vuex';
    import Breadcrumbs from './Breadcrumbs/Breadcrumbs';
    import Footer from './Footer/Footer';
    import Header from './Header/Header';

    export default {
        components: {
            Breadcrumbs,
            'footer-component': Footer,
            'header-component': Header
        },
        head() {
            if (this.store && this.store.favicon) {
                return {
                    link: [
                        { rel: 'icon', type: 'image/x-icon', href: this.store.favicon.url }
                    ]
                };
            }
        },
        computed: mapState('config', {
            store: state => state.all.store
        })
    };
</script>