<template lang="pug">
    b-modal(
        v-model="isShow"
        :hide-footer="hideFooter"
        hide-header-close
        :size="size"
    )
        // Header
        div(slot="modal-header")
            button(
                type="button"
                aria-label="Close"
                class="close"
                @click.prevent="hide(name)"
            )
            slot(name="modal-header")

        // Main container
        slot

        // Footer
        div(slot="modal-footer")
            slot(name="modal-footer")
</template>

<script>
    import { mapActions } from 'vuex';

    export default {
        props: {
            name: String,
            size: String,
            hideFooter: Boolean
        },
        computed: {
            isShow: {
                get() {
                    if (!this.$store.state.modals.all[this.name]) {
                        return false;
                    }

                    return this.$store.state.modals.all[this.name].show;
                },
                set(value) {
                    (value) ? this.show(this.name) : this.hide(this.name);
                }
            }
        },
        methods: mapActions('modals', [
            'show',
            'hide'
        ])
    };
</script>

<style lang="scss" scoped>
    @import "../../assets/scss/utilities/variables";

    /deep/{
        .modal {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 11;
            outline: 0;
        }

        .modal-backdrop {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            background-color: $black;
        }

        .modal-backdrop.show {
            opacity: 0.5;
        }

        .modal-dialog {
            position: relative;
            top: 50%;
            margin-left: auto;
            margin-right: auto;
            padding: 0 20px;
            width: 100%;
            transform: translate3d(0, -50%, 0);
            color: $white;
        }

        .modal-content {
            background: linear-gradient(210deg, #3670b9 26%, #7ca5d8 74%);
        }

        .modal-body {
            padding: 15px 20px;
        }

        .modal-header {
            position: relative;
            padding: 10px 15px 0;
            color: #ffffff;

            .close {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 1;
                transition: all 0.3s ease;
                line-height: 1;
                cursor: pointer;

                &:before {
                    font-family: 'sport_shop_icons_font' !important;
                    content: "\e91b";
                    color: $white;
                    font-size: 22px;
                }

                &:hover {
                    opacity: 0.7;
                }

                span {
                    display: none;
                }
            }
        }

        .modal-sm { max-width: 420px; }

        @media (min-width: $screen-lg) {
            .modal-dialog {
                width: 1180px;
            }
        }
    }
</style>