<table class="table table-condensed" style="margin-bottom: 10px;">
    <tbody>
        <tr ng-repeat="elem in value.transactions track by $index" ng-if="elem.type == 'additional'">
            <td>
                <span ng-bind="(elem.rate.value | number:2) || 0"></span>
                <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                (<span ng-bind="elem.payed_at | momentDate: 'L'"></span>)
            </td>
            <td width="1">
                <button
                    type="button"
                    class="btn btn-sm btn-warning"
                    popover="{{ elem.comment || ('salaries.general.no_comment' | translate) }}"
                    popover-placement="right"
                >
                    <span translate="salaries.button.comment"></span>
                </button>
            </td>
            <td ng-show="!value.is_paid" width="1">
                <a
                    class="btn btn-sm btn-danger"
                    ng-click="ctrl.removeAdditionalyItem(value, $index, elem)"
                >
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<form name="form" ng-show="!value.is_paid">
    <div class="row">
        <div class="col-sm-6">
            <div
                class="form-group"
                ng-class="{ 'has-error': ctrl.errors[key]['rate.value'] }"
                style="margin-bottom: 10px;"
            >
                <div class="input-group">
                    <input
                        type="text"
                        id="price"
                        class="form-control"
                        name="value"
                        title="{{ 'salaries.attribute.label.amount' | translate }}"
                        placeholder="{{ 'salaries.attribute.label.amount' | translate }}"
                        ng-model="elem.value"
                    />
                    <span class="input-group-addon">
                        <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                    </span>
                </div><!-- /.input-group -->
            </div><!-- /.form-group -->
        </div>
        <div class="col-sm-6">
            <div class="form-group" style="margin-bottom: 10px">
                <div class="dropdown">
                    <a
                        href=""
                        id="additionalyDate-{{ key }}"
                        class="dropdown-toggle"
                        role="button"
                        data-toggle="dropdown"
                        data-target=""
                    >
                        <div
                            class="input-group"
                            ng-class="{ 'has-error': ctrl.errors[key]['payed_at'] }"
                        >
                            <input
                                type="text"
                                class="form-control"
                                placeholder="{{ 'salaries.attribute.label.data' | translate }}"
                                data-ng-model="elem.payed_at"
                            />
                        </div>
                    </a>
                    <ul
                        class="dropdown-menu"
                        role="menu"
                        aria-labelledby="dLabel"
                    >
                        <datetimepicker
                            data-ng-model="elem.payed_at"
                            data-before-render="ctrl.startDateBeforeRender($dates, key)"
                            data-datetimepicker-config="{
                                    dropdownSelector: '#additionalyDate-' + key,

                                    minView: 'day',
                                    modelType: 'YYYY-MM-DD'
                                }"
                        />
                    </ul>
                </div><!-- /.dropdown -->
            </div>
        </div>
    </div>

    <!-- Comment -->
    <div
        class="form-group"
        ng-class="{ 'has-error': ctrl.errors[key].comment }"
        style="margin-bottom: 10px"
    >
        <textarea
            class="form-control"
            name="comment"
            placeholder="{{ 'salaries.attribute.label.comment' | translate }}"
            ng-model="elem.comment"
        ></textarea>
    </div><!-- /.form-group -->

    <!-- Submit button -->
    <div class="form-group">
        <button
            type="submit"
            class="btn btn-primary btn-sm"
            translate="general.add"
            ng-click="ctrl.addAdditionalyItem(key, value, elem)"
        ></button>
    </div>
</form>