<div class="row">
    <!-- Role -->
    <div class="col-lg-3 col-sm-5">
        <div class="selectbox">
            <label for="role">
                <span translate="users.attribute.label.manager"></span>
            </label>
            <select
                class="form-control"
                id="role"
                name="name"
                ng-options="opt.id as opt.full_name for opt in ctrl.users"
                ng-model="ctrl.searchForm.id"
                ng-model-options="{ debounce: 500 }"
                ng-change="ctrl.processSearch()"
            >
                <option value="">- {{ 'general.select' | translate }} -</option>
            </select>
        </div>
    </div><!-- /.form-group -->

    <!-- Year -->
    <div class="col-sm-2">
        <div class="selectbox">
            <label for="role">
                <span translate="salaries.attribute.label.year"></span>
            </label>
            <select
                class="form-control"
                id="year"
                name="year"
                ng-options="opt.value as opt.value for opt in ctrl.years"
                ng-model="ctrl.searchForm.year"
                ng-model-options="{ debounce: 500 }"
                ng-change="ctrl.processSearch()"
            >
                <option value="">- {{ 'general.select' | translate }} -</option>
            </select>
        </div>
    </div><!-- /.form-group -->
</div><!-- /.form-inline -->