<form name="form" ng-submit="ctrl.save()">
    <div class="row">
        <div class="col-sm-12 col-lg-10">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active" ng-class="{ 'has-error': ctrl.generalErrors }">
                        <a
                            href="#general-tab"
                            data-toggle="tab"
                            translate="users.general.general"
                        ></a>
                    </li>
                    <li ng-class="{ 'has-error': ctrl.userSettingsErrors }">
                        <a
                            href="#settings-tab"
                            data-toggle="tab"
                            translate="users.attribute.label.user_type"
                        ></a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="general-tab">

                        <div ui-view="general"></div>

                    </div><!-- /.tab-pane -->
                    <div class="tab-pane fade" id="settings-tab">

                        <div ui-view="user_settings"></div>

                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary btn-sm">{{ 'users.button.save'|translate }}</button>
                </div>
            </div><!-- /.nav-tabs-custom -->

        </div>
        <!-- /.col -->
    </div><!-- /.row -->
</form>