<div class="box box-primary">

    <div class="box-body">
        <div ui-view="filters"/>
    </div>

    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table
                        class="table table-striped table-bordered table-condensed"
                        ng-hide="ctrl.isEmptyObject(ctrl.list)"
                    >
                        <thead>
                            <tr>
                                <th
                                    translate="salaries.general.month"
                                    class="text-nowrap"
                                    style="min-width: 90px;"
                                ></th>
                                <th translate="salaries.general.rate" class="text-nowrap"></th>
                                <th translate="salaries.general.sales_percentage" class="text-nowrap"></th>
                                <th
                                    translate="salaries.general.additionally"
                                    class="text-nowrap"
                                    style="min-width: 250px;"
                                ></th>
                                <th
                                    translate="salaries.general.advance"
                                    class="text-nowrap"
                                    style="min-width: 225px;"
                                ></th>
                                <th translate="salaries.general.amount" class="text-nowrap"></th>
                                <th translate="salaries.general.balance" class="text-nowrap"></th>
                                <th translate="salaries.general.paid" class="text-nowrap"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, value) in ctrl.list track by $index" ng-init="parentIndex=$index">
                                <td>
                                    <a ui-sref="salaries.view({ user_id: ctrl.searchForm.id, year: ctrl.searchForm.year, month: key })">
                                        <span ng-bind="key | momentDate: 'MMMM YYYY'"></span>
                                    </a>
                                </td>
                                <td class="text-nowrap text-right">

                                    <span ng-bind="(value.salary.value | number:2) || 0"></span>
                                    <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                                </td>
                                <td class="text-nowrap text-right">
                                    <span ng-bind="(value.sales.value | number:2) || 0"></span>
                                    <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                                </td>
                                <td>
                                    <div ui-view="additionally"/>
                                </td>
                                <td>
                                    <div ui-view="advance"/>
                                </td>
                                <td class="text-nowrap text-right">
                                    <span>{{ (ctrl.totalAmount(value) | number:2) || 0 }}</span>
                                    <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                                </td>
                                <td class="text-nowrap text-right">
                                    <span ng-if="!value.is_paid">{{ (ctrl.totalBalance(value) | number:2) || 0 }}</span>
                                    <span ng-if="value.is_paid">0</span>
                                    <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                                </td>
                                <td class="text-nowrap text-right">
                                    <span ng-if="!value.is_paid">{{((ctrl.totalAmount(value) - ctrl.totalBalance(value) ) | number:2) || 0 }}</span>
                                    <span ng-if="value.is_paid">{{ (ctrl.totalAmount(value) | number:2) || 0 }}</span>
                                    <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                                </td>
                                <td class="grid-actions">
                                    <button
                                        class="btn btn-sm btn-primary"
                                        ng-click="ctrl.makePay(value, key)"
                                        ng-show="!value.is_paid"
                                        ng-disabled="(value.payed_at | momentDate: 'M') == (ctrl.currentDate | momentDate: 'M')"
                                    >
                                        <i class="fa fa-dollar"></i>
                                        <span translate="salaries.button.make_pay"></span>
                                    </button>
                                    <span
                                        translate="salaries.general.paid"
                                        ng-show="value.is_paid"
                                    ></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row" ng-if="ctrl.isEmptyObject(ctrl.list)">
            <div class="col-sm-12" translate="general.no_items"></div>
        </div>

    </div><!-- /.box-body -->
</div><!-- /.box -->