<div class="row">
    <div class="col-md-10 col-lg-8">
        <div class="box box-primary">
            <div class="box-body">

                <div class="row">
                    <div class="col-sm-12">

                        <div class="table-responsive">
                            <table class="table table-striped dataTable">
                                <thead>
                                    <tr>
                                        <th translate="salaries.general.date"></th>
                                        <th translate="salaries.general.worked_hours"></th>
                                        <th translate="salaries.general.salary"></th>
                                        <th>Додатково</th>
                                        <th translate="salaries.general.percentage_of_sales"></th>
                                        <th>Загальна сума</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, value) in ctrl.salary.data">
                                        <td ng-bind="key | momentDate: 'DD.MM'"></td>
                                        <td>
                                            <span ng-bind="value.hours || 0"></span>
                                            <span class="text-muted" translate="salaries.general.hours"></span>
                                        </td>
                                        <td>
                                            <span ng-bind="(value.salary.value | amount) || 0"></span>
                                            <currency-icon item="value.salary.currency_id"></currency-icon>
                                        </td>
                                        <td>
                                            <span ng-bind="(value.additional.value | amount) || 0"></span>
                                            <currency-icon item="value.additional.currency_id"></currency-icon>
                                        </td>
                                        <td>
                                            <span ng-bind="(value.sales.value | amount) || 0"></span>
                                            <currency-icon item="value.sales.currency_id"></currency-icon>
                                        </td>
                                        <td>
                                            {{ (value.total.value | amount) || 0 }}
                                            <currency-icon item="value.total.currency_id"></currency-icon>
                                        </td>
                                    </tr>
                                    <tr class="bg-gray color-palette">
                                        <td></td>
                                        <td>
                                            <span ng-bind="ctrl.salary.total.hours || 0"></span>
                                            <span class="text-muted" translate="salaries.general.hours"></span>
                                        </td>
                                        <td>
                                            <span ng-bind="(ctrl.salary.total.salary.value | amount) || 0"></span>
                                            <currency-icon item="ctrl.salary.total.salary.currency_id"></currency-icon>
                                        </td>

                                        <td>
                                            <span ng-bind="(ctrl.salary.total.additional.value | amount) || 0"></span>
                                            <currency-icon item="ctrl.salary.total.additional.currency_id"></currency-icon>
                                        </td>
                                        <td>
                                            <span ng-bind="(ctrl.salary.total.sales.value | amount) || 0"></span>
                                            <currency-icon item="ctrl.salary.total.sales.currency_id"></currency-icon>
                                        </td>
                                        <td>
                                            <span ng-bind="(ctrl.salary.total.total.value | amount) || 0"></span>
                                            <currency-icon item="ctrl.salary.total.total.currency_id"></currency-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /.table-responsive -->
                    </div><!-- /.col -->
                </div><!-- /.row -->

            </div><!-- /.box-body -->
        </div><!-- /.box box-primary -->
    </div><!-- /.col -->
</div><!-- /.row -->