<template lang="pug">
    div
        div(class="row")
            div(class="col-xs-24 col-lg-15")

                // Fullname
                div(class="row data__item")
                    div(class="col-xs-24 col-sm-10") Ім’я
                    div(class="col-xs-24 col-sm-14") {{ `${user.first_name} ${user.last_name}` }}

                // Email
                div(class="row data__item")
                    div(class="col-xs-24 col-sm-10") Електронна адреса
                    div(class="col-xs-24 col-sm-14") {{ user.email }}

                // Phone
                div(class="row data__item")
                    div(class="col-xs-24 col-sm-10") Телефон
                    div(class="col-xs-24 col-sm-14") {{ user.phone }}

                // Address
                div(class="row data__item")
                    div(class="col-xs-24 col-sm-10") Адреса доставки
                    div(class="col-xs-24 col-sm-14") {{ user.address }}

            div(class="col-xs-24 col-lg-9")
                div(class="data__controls")

                    // Edit profile link
                    div
                        nuxt-link(:to="{ name: 'profile.edit' }")
                            i(class="icon-sport_shop_icons-39")
                            span Редагувати особисті данні

                    // Change password link
                    div
                        nuxt-link(:to="{ name: 'profile.password.edit' }")
                            i(class="icon-sport_shop_icons-38")
                            span Змінити пароль

                    // Logout button
                    div
                        button(class="btn-logout" @click="logout")
                            i(class="icon-sport_shop_icons-33")
                            span Вихід
</template>

<script>
    export default {
        computed: {
            user() {
                return this.$auth.user;
            }
        },

        // Set breadcrumbs.
        beforeMount() {
            this.$store.dispatch('breadcrumbs/setItems', [{ title: 'Кабінет' }]);
        },
        methods: {
            async logout() {

                // Start preloader
                this.$nuxt.$loading.start();

                await this.$auth.logout();

                // Finish preloader
                this.$nuxt.$loading.finish();
            }
        },
    };
</script>

<style lang="scss" scoped>
    .btn-logout {
        color: #e53935;

        transition: all 0.3s ease;

        &:hover {
            opacity: 0.7;
        }
    }

    .icon-sport_shop_icons-33 {
        margin-right: 10px;
    }
</style> 