<template lang="pug">
    modal(:name="modalName" class="auth-modal")

        // Header
        template(slot="modal-header")
            h2(class="h1 u-textCenter") {{ title }}

        // Footer
        template(slot="modal-footer")
            div(class="u-flex-between l-auth__bottom-block")

                // "Sign In" modal
                div
                    button(
                        type="button"
                        class="u-link-hover--default"
                        @click="showSignInModal"
                    ) Увійти

        // Success message
        div(v-if="success")
            | Інструкція по відовленню паролю відправлена на ваш email.

        // Form
        div(v-if="!success" class="l-auth")
            div(class="l-auth__block")
                b-form(class="m-form" @submit.prevent="submit")

                    // Subtitle
                    div(class="u-color-white p1 u-textCenter") {{ description }}

                    // Email
                    b-form-group(label="Email")
                        b-form-input(v-model="formData.email" type="email")
                        b-form-feedback(v-if="errors.email") {{ errors.email[0] }}

                    // Submit button
                    button(type="submit" class="m-button__bordered-white u-fillWidth") Відправити
</template>

<script>
    import api from '@/api';
    import Modal from '@/components/Modal/Modal';

    export default {
        components: {
            Modal,
        },
        data() {
            return {
                title: 'Відновлення паролю',
                description: 'Будь-ласка, введіть пошту яку ви вказували при реєстрації',
                modalName: 'password-reset',
                formData: {
                    email: null
                },
                errors: {},
                success: false
            };
        },
        methods: {

            // Send password to email.
            submit() {

                // Start preloader
                this.$nuxt.$loading.start();

                api.auth.passwordSend(this, this.formData)
                    .then(() => {
                        this.resetForm();

                        this.success = true;
                    })
                    .catch(error => {
                        this.resetForm();

                        const { response } = error;

                        if (response.status === 422) {
                            this.errors = response.data.errors;
                        } else {
                            this.$toast.error('Невідома помилка. Спробуйте пізніше.');
                        }
                    })
                    // Finish preloader
                    .finally(() => {
                        this.$nuxt.$loading.finish();
                    });
            },

            // Clear form.
            resetForm() {
                this.formData = {
                    email: null
                };
                this.errors = {};
            },

            // Show "Sign In" modal.
            showSignInModal() {
                this.$store.dispatch('modals/show', 'sign-in');
            }
        }
    };
</script>