<template lang="pug">
    div(class="uniform-categories")
        div(
            v-for="item in items"
            :key="item"
            :class="{'active': current === item }"
            class="uniform-category-title"
            @click="setCurrentCategory(item)"
        ) {{ item }}
</template>

<script>
    export default {
        props: {
            items: Array,
            current: String
        },
        methods: {
            setCurrentCategory(value) {
                this.$emit('update', value);
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../../assets/scss/utilities/variables";

    .uniform-categories {
        display: flex;
        margin: 0 -5px 10px;
        flex-wrap: wrap;
    }
    .uniform-category-title {
        margin: 0 5px;
        padding: 5px;
        font-weight: bold;
        font-size: 16px;
        color: $white;
        line-height: 1;
        text-transform: uppercase;
        border: 1px solid transparent;
        cursor: pointer;
        border-radius: 2px;

        &.active {
            border: 1px solid $color-default;
        }
    }
</style>