<div class="col-md-4" id="customer-info">
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title" translate="orders.attribute.label.customer"></h4>
        </div><!-- /.box-header -->
        <div class="box-body">
            <!-- Customer Type -->
            <div class="form-group">
                <label class="control-label" translate="orders.attribute.label.customer_type"></label>
                <div class="radio" style="margin-top: 8px;">
                    <label class="radio-inline">
                        <input type="radio"
                               name="customer_type"
                               ng-value="'new'"
                               ng-model="ctrl.item.customer_type"
                               ng-disabled="ctrl.checkChangeSomeFields || ctrl.checkChangeManagerOrCustomer || ctrl.item.id"
                               ng-change="ctrl.updateCustomerData()"
                               icheck/>
                        {{ 'orders.attribute.label.customer_type_new' | translate }}</label>

                    <label class="radio-inline">
                        <input type="radio"
                               name="customer_type"
                               ng-value="'isset'"
                               ng-disabled="ctrl.checkChangeSomeFields || ctrl.checkChangeManagerOrCustomer || ctrl.item.id"
                               ng-model="ctrl.item.customer_type"
                               ng-change="ctrl.updateCustomerData()"
                               icheck/>
                        {{ 'orders.attribute.label.customer_type_isset' | translate }}</label>

                    <div ng-show="ctrl.item.customer_type != 'new'"
                         style="margin-top: 10px;"
                         class="table-responsive"
                    >
                        <table
                            ng-show="ctrl.customer"
                            class="table table-bordered table-middle table-striped table-condensed" style="min-width: 250px;">
                            <tbody>
                               <tr>
                                   <td colspan="2">
                                       <a target="_blank"
                                          ui-sref="users.edit({ id: ctrl.item.customer.id})">
                                           <span ng-bind="(ctrl.customer.full_name)"></span></a>
                                   </td>
                               </tr>
                                <tr>
                                    <td>Нік:</td>
                                    <td ng-bind="ctrl.customer.nickname || '-'"></td>
                                <tr>
                                    <td>Email:</td>
                                    <td ng-bind="ctrl.customer.email || '-'"></td>
                                </tr>
                                <tr>
                                    <td>Телефон:</td>
                                    <td ng-bind="ctrl.customer.phone || '-'"></td>
                                </tr>
                                <tr>
                                    <td>Адреса:</td>
                                    <td ng-bind="ctrl.customer.address || '-'"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- /.radio -->

                <span class="text-danger"
                      ng-bind="ctrl.errors['customer'][0]"
                      ng-if="ctrl.errors['customer']"></span>
            </div><!-- /.form-group -->

            <!-- Search -->
            <div class="form-group" ng-if="ctrl.item.customer_type == 'isset'" ng-hide="ctrl.checkChangeManagerOrCustomer || ctrl.checkChangeSomeFields || ctrl.item.id">
                <label>{{ 'orders.attribute.label.search' | translate }}</label>
                <div angucomplete-alt
                     id="customer_search"
                     pause="300"
                     selected-object="ctrl.selectCustomerChanged"
                     remote-api-handler="ctrl.remoteCustomerUrlRequest"
                     remote-url-response-formatter="ctrl.modifyCustomersResponse"
                     remote-url-data-field="data"
                     search-fields="first_name, last_name, phone, email"
                     title-field="first_name"
                     field-required="autocomplete-required"
                     input-name="first_name"
                     text-no-results="false"
                     description-field="full_name"
                     minlength="2"
                     focus-in="ctrl.focusInCustomer()"
                     input-class="form-control input-sm"
                     ng-disabled="ctrl.disableFieldsForOtherManager()"
                     match-class="highlight">
                </div>
            </div>

            <div ng-show="ctrl.item.customer_type == 'new'">
                <!-- First name -->
                <div class="form-group" ng-class="{ 'has-error': ctrl.errors['customer.first_name'] }">
                    <label for="first_name">
                        {{ 'users.attribute.label.first_name' | translate }}
                        <span ng-show="ctrl.item.is_from_web_store == true"
                              class="text-danger">*</span>
                    </label>
                    <input type="text"
                           id="first_name"
                           class="form-control input-sm"
                           title="{{ 'users.attribute.title.first_name' | translate }}"
                           name="first_name"
                           maxlength="40"
                           ng-disabled="ctrl.checkChangeSomeFields || ctrl.disableFieldsForOtherManager()"
                           ng-model="ctrl.item.customer.first_name"/>
                    <span class="text-danger"
                          ng-bind="ctrl.errors['customer.first_name'][0]"
                          ng-if="ctrl.errors['customer.first_name']"></span>
                </div><!-- /.form-group -->

                <!-- Last name -->
                <div class="form-group" ng-class="{ 'has-error': ctrl.errors['customer.last_name'] }">
                    <label for="last_name">
                        {{ 'users.attribute.label.last_name' | translate }}
                        <span class="text-danger"
                              ng-show="ctrl.item.is_from_web_store == true">*</span>
                    </label>
                    <input type="text"
                           id="last_name"
                           class="form-control input-sm"
                           title="{{ 'users.attribute.title.last_name' | translate }}"
                           name="last_name"
                           maxlength="60"
                           ng-disabled="ctrl.checkChangeSomeFields || ctrl.disableFieldsForOtherManager()"
                           ng-model="ctrl.item.customer.last_name"/>
                    <span class="text-danger"
                          ng-bind="ctrl.errors['customer.last_name'][0]"
                          ng-if="ctrl.errors['customer.last_name']"></span>
                </div><!-- /.form-group -->

                <!-- Phone -->
                <div class="form-group" ng-class="{ 'has-error': ctrl.errors['customer.phone'] }">
                    <label for="phone">
                        {{ 'orders.attribute.label.phone' | translate }}
                        <span ng-show="ctrl.item.is_from_web_store == true"
                              class="text-danger">*</span>
                    </label>
                    <input type="text"
                           id="phone"
                           class="form-control input-sm"
                           title="{{ 'orders.attribute.title.phone' | translate }}"
                           name="phone"
                           mask="(999)-999-99-99"
                           clean="true"
                           placeholder="(XXX)-XXX-XX-XX"
                           ng-disabled="ctrl.checkChangeSomeFields || ctrl.disableFieldsForOtherManager()"
                           ng-model="ctrl.item.customer.phone"
                           restrict="reject" />
                    <span class="text-danger"
                          ng-bind="ctrl.errors['customer.phone'][0]"
                          ng-if="ctrl.errors['customer.phone']"></span>
                </div><!-- /.form-group -->

                <!-- Email -->
                <div class="form-group" ng-class="{ 'has-error': ctrl.errors['customer.email'] }">
                    <label for="email">
                        {{ 'users.attribute.label.email' | translate }}
                    </label>
                    <input type="email"
                           id="email"
                           class="form-control input-sm"
                           title="{{ 'users.attribute.title.email' | translate }}"
                           name="email"
                           maxlength="128"
                           ng-disabled="ctrl.checkChangeSomeFields || ctrl.disableFieldsForOtherManager()"
                           ng-model="ctrl.item.customer.email"/>
                    <span class="text-danger"
                          ng-bind="ctrl.errors['customer.email'][0]"
                          ng-if="ctrl.errors['customer.email']"></span>
                </div><!-- /.form-group -->

            </div>
        </div><!--/.box-body -->
    </div><!-- /.box -->
</div><!-- /.col -->