<div class="col-md-4">
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title" translate="orders.attribute.label.general"></h4>
        </div><!-- /.box-header -->

        <div class="box-body">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td style="min-width:75px">
                            <strong>{{ 'orders.attribute.label.order_status' | translate }}</strong>
                        </td>
                        <td style="text-align: right;">
                            <div class="badge"
                                 ng-class="{
                                 'bg-green': ctrl.item.status == 'completed',
                                 'bg-red': ctrl.item.status == 'refunded' || ctrl.item.status == 'canceled',
                                 'bg-yellow': ctrl.item.status == 'partially_refunded',
                                 'bg-blue': ctrl.item.status != 'refunded' && ctrl.item.status != 'partially_refunded' && ctrl.item.status != 'completed' && ctrl.item.status != 'canceled'}"
                                 style="margin-bottom: 3px;">{{ ctrl.showOrderStatus(ctrl.item.status) | translate }}</div>
                            <div ng-if="ctrl.item.id && ctrl.item.status != 'completed' && ctrl.item.status != 'refunded'
                                    && ctrl.item.status != 'partially_refunded'">
                                <a class="btn btn-xs btn-primary"
                                   ng-class="{ 'disabled': ctrl.disableFieldsForOtherManager() }"
                                   ng-if="ctrl.item.status == 'new'"
                                   ng-click="ctrl.updateOrderStatus(ctrl.item)"
                                   translate="orders.button.accept"></a>

                                <div
                                    style="margin: 5px 0"
                                    ng-if="(ctrl.item.status == 'accept' || ctrl.item.payment.status != 'paid') && ctrl.item.status != 'canceled'">
                                    <a class="btn btn-xs btn-warning"
                                       ng-class="{ 'disabled': ctrl.disableFieldsForOtherManager() }"
                                       ng-click="ctrl.cancelOrder(ctrl.item.id)"
                                    >Відмінити</a>
                                </div>

                                <div ng-if="ctrl.item.status == 'accepted' && ctrl.item.delivery.method && ctrl.item.delivery.method == 'new_post' ">
                                    <a class="btn btn-xs btn-primary"
                                       ng-click="ctrl.updateOrderStatus(ctrl.item)"
                                       translate="orders.button.send"
                                       ng-class="{ 'disabled': (!(ctrl.item.delivery.declaration.length == 11
                                            || ctrl.item.delivery.declaration.length == 14
                                            || ctrl.item.no_declaration == true) && ctrl.item.delivery.method == 'new_post'
                                            || ctrl.disableFieldsForOtherManager())
                                             && (ctrl.showBalance() > 0 && ctrl.item.payment.method == 'card')}"></a>
                                    <input type="checkbox"
                                           name="no_declaration"
                                           ng-model="ctrl.item.no_declaration"
                                           ng-change="ctrl.cancelDeclaration(ctrl.item)"
                                           ng-class="{ 'disabled': ctrl.disableFieldsForOtherManager() }"
                                           ng-true-value="true"
                                           ng-false-value="false"
                                           ng-if="ctrl.item.status == 'accepted' && ($root.currentUser.user.id == ctrl.item.manager.id || $root.currentUser.user.role_name == 'admin')"
                                           icheck/>
                                    <label translate="orders.attribute.label.without_delivery" ng-if="ctrl.item.status == 'accepted' && ($root.currentUser.user.id == ctrl.item.manager.id || $root.currentUser.user.role_name == 'admin')"></label>
                                </div><!-- status=accepted end -->

                                <div ng-if="ctrl.item.status == 'accepted'"></div>

                                <div ng-if="ctrl.item.status == 'sent' || (ctrl.item.status == 'accepted' && (!ctrl.item.delivery.method || ctrl.item.delivery.method != 'new_post'))">
                                <!--<div>-->
                                    <a class="btn btn-xs btn-primary"
                                       ng-class="{ 'disabled': (ctrl.item.payment.status != 'paid' || ctrl.disableFieldsForOtherManager()) }"
                                       ng-click="ctrl.updateOrderStatus(ctrl.item)"
                                       translate="orders.button.complete"></a>
                                </div><!-- status=sent end -->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'orders.attribute.label.order_payment' | translate }}</strong></td>
                        <td style="text-align: right;">
                        <span
                            class="badge"
                            ng-class="{
                            'bg-green': ctrl.showPaymentStatus(ctrl.item.payment.status) == 'orders.payment_statuses.paid',
                            'bg-yellow': ctrl.showPaymentStatus(ctrl.item.payment.status) == 'orders.payment_statuses.partly_paid',
                            'bg-red': ctrl.showPaymentStatus(ctrl.item.payment.status) == 'orders.payment_statuses.not_paid',
                            'disabled': ctrl.disableFieldsForOtherManager()
                            }">
                            {{ ctrl.showPaymentStatus(ctrl.item.payment.status) | translate }}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div><!-- /.box-body -->

        <div class="box-body">
            <!-- Store -->
            <!--<div class="form-group" ng-class="{ 'has-error': ctrl.errors.store_id }">-->
                <!--<label>{{ 'orders.attribute.label.shop' | translate }}-->
                    <!--<span class="text-danger">*</span>-->
                    <!--<span-->
                        <!--ng-if="ctrl.item.products.length && !ctrl.checkChangeFields"-->
                        <!--class="fa fa-question-circle"-->
                        <!--tooltip="{{ (ctrl.item.products && !ctrl.checkChangeFields) ? 'Для зміни магазину видаліть всі товари' : '' }}"-->
                    <!--&gt;</span>-->
                <!--</label>-->
                <!--<div class="selectbox">-->
                    <!--<select class="form-control input-sm"-->
                            <!--name="store_id"-->
                            <!--ng-model="ctrl.item.store_id"-->
                            <!--ng-disabled="ctrl.item.products.length || ctrl.checkChangeFields"-->
                            <!--ng-change="ctrl.updateStore()"-->
                            <!--ng-options="opt.id as opt.name for opt in $root.storesList">-->
                        <!--<option value="">- {{ 'general.select' | translate }} -</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<span class="text-danger" ng-bind="ctrl.errors.store_id[0]" ng-if="ctrl.errors.store_id"></span>-->
            <!--</div>-->

            <!-- Manager -->
            <div class="form-group"
                 ng-class="{ 'has-error': ctrl.errors.manager_id }"
                 ng-hide="ctrl.isManager"
            >
                <label>{{ 'orders.attribute.label.manager' | translate }} </label>
                <div class="selectbox">
                    <div class="selectbox">
                        <select class="form-control input-sm"
                                name="manager_id"
                                ng-options="opt.id as opt.full_name for opt in ctrl.users"
                                ng-disabled="ctrl.checkChangeFields || ctrl.checkChangeManagerOrCustomer || ctrl.disableFieldsForOtherManager()"
                                ng-model="ctrl.item.manager_id">
                        </select>
                    </div>
                </div>
                <span class="text-danger" ng-bind="ctrl.errors.is_from_web_store[0]" ng-if="ctrl.errors.is_from_web_store"></span>
            </div>

            <!-- Payment method -->
            <div class="form-group" ng-class="{ 'has-error': ctrl.errors['payment.method'] }">
                <label>
                    {{ 'orders.attribute.label.payment_method' | translate }} <span class="text-danger">*</span>
                </label>
                <div class="selectbox">
                    <select class="form-control input-sm"
                            name="'payment.method'"
                            ng-options="opt.key as opt.value | translate for opt in ctrl.payment_methods"
                            ng-disabled="ctrl.checkChangeSomeFields || ctrl.checkChangeManagerOrCustomer || ctrl.disableFieldsForOtherManager()"
                            ng-model="ctrl.item.payment.method">
                    </select>
                </div>
                <span class="text-danger" ng-bind="ctrl.errors['payment.method'][0]" ng-if="ctrl.errors['payment_method']"></span>
            </div><!-- /.form-group -->

            <!-- Store Type -->
            <div class="form-group" ng-class="{ 'has-error': ctrl.errors.is_from_web_store }">
                <label>{{ 'orders.attribute.label.shop_type' | translate }} <span class="text-danger">*</span>

                </label>
                <div class="selectbox">
                    <select class="form-control input-sm"
                            name="is_from_web_store"
                            ng-model="ctrl.item.is_from_web_store"
                            ng-disabled="ctrl.checkChangeSomeFields || ctrl.checkChangeManagerOrCustomer || ctrl.disableFieldsForOtherManager()"
                            ng-change="ctrl.changeStoreType()"
                            ng-options="opt.value as opt.name | translate for opt in ctrl.storeTypes">
                    </select>
                </div>
                <span class="text-danger" ng-bind="ctrl.errors.is_from_web_store[0]" ng-if="ctrl.errors.is_from_web_store"></span>
            </div>

            <!-- Delivery method -->
            <div class="form-group"
                 ng-class="{ 'has-error': ctrl.errors.delivery.method }"
                 ng-show="ctrl.item.is_from_web_store == true">
                <label>
                    {{ 'orders.attribute.label.delivery_method' | translate }} <span class="text-danger">*</span>
                </label>
                <div class="selectbox">
                    <select class="form-control input-sm"
                            name="delivery.method"
                            ng-options="opt.key as opt.value | translate for opt in ctrl.delivery_methods"
                            ng-disabled="ctrl.checkChangeFields || ctrl.checkChangeManagerOrCustomer || ctrl.disableFieldsForOtherManager()"
                            ng-model="ctrl.item.delivery.method">
                    </select>
                </div>
                <span class="text-danger"
                      ng-bind="ctrl.errors['delivery.method'][0]"
                      ng-if="ctrl.errors['delivery.method']"></span>
            </div><!-- /.form-group -->

            <!-- City -->
            <div class="form-group"
                 ng-class="{ 'has-error': ctrl.errors['delivery.city'] }"
                 ng-if="ctrl.item.delivery.method != 'courier' && ctrl.item.delivery.method != 'pickup' && ctrl.item.is_from_web_store == true">
                <label for="city">
                    {{ 'orders.attribute.label.city' | translate }}
                </label>

                <angucomplete-alt id="city"
                                  pause="100"
                                  selected-object="ctrl.selectCityChanged"
                                  name="delivery.city"
                                  ng-model="ctrl.item.delivery.city"
                                  initial-value="ctrl.item.delivery.city"
                                  local-data="ctrl.citiesCatalog"
                                  search-fields="value"
                                  title-field="value"
                                  minlength="0"
                                  ng-disabled="ctrl.checkChangeFields || ctrl.checkChangeManagerOrCustomer || ctrl.disableFieldsForOtherManager()"
                                  input-class="form-control form-control-small input-sm"
                                  focus-in="ctrl.focusInCity()"
                                  focus-out="focusOut()"/>

                <span class="text-danger"
                      ng-bind="ctrl.errors['delivery.city'][0]"
                      ng-if="ctrl.errors['delivery.city']"></span>
            </div><!-- /.form-group -->

            <!-- Department -->
            <div class="form-group"
                 ng-class="{ 'has-error': ctrl.errors['delivery.department'] }"
                 ng-if="ctrl.item.delivery.city && ctrl.item.delivery.method == 'new_post' && ctrl.item.is_from_web_store == true">
                <label for="department">
                    {{ 'orders.attribute.label.department' | translate }}
                </label>

                <angucomplete-alt id="department"
                                  pause="100"
                                  selected-object="ctrl.selectDepartmentChanged"
                                  name="delivery.department"
                                  ng-model="ctrl.item.delivery.department"
                                  initial-value="ctrl.item.delivery.department"
                                  local-data="ctrl.departmentsCatalog"
                                  search-fields="value"
                                  title-field="value"
                                  minlength="0"
                                  ng-disabled="ctrl.checkChangeFields || ctrl.checkChangeManagerOrCustomer || ctrl.disableFieldsForOtherManager()"
                                  input-class="form-control form-control-small input-sm"
                                  focus-in="ctrl.focusInDepartment()"
                                  focus-out="focusOut()"/>

                <span class="text-danger"
                      ng-bind="ctrl.errors['delivery.department'][0]"
                      ng-if="ctrl.errors['delivery.department']"></span>
            </div><!-- /.form-group -->

            <!-- Address -->
            <div class="form-group"
                 ng-class="{ 'has-error': ctrl.errors['delivery.address'] }"
                 ng-if="ctrl.item.delivery.method == 'courier' && ctrl.item.is_from_web_store == true">
                <label for="address">
                    {{ 'orders.attribute.label.address' | translate }}
                </label>
                <input type="text"
                       id="address"
                       class="form-control input-sm"
                       title="{{ 'orders.attribute.label.address' | translate }}"
                       name="delivery.address"
                       maxlength="120"
                       ng-disabled="ctrl.checkChangeFields || ctrl.checkChangeManagerOrCustomer || ctrl.disableFieldsForOtherManager()"
                       ng-model="ctrl.item.delivery.address"/>
                <span class="text-danger"
                      ng-bind="ctrl.errors['delivery.address'][0]"
                      ng-if="ctrl.errors['delivery.address']"></span>
            </div><!-- /.form-group -->

            <!-- Declaration -->
            <div class="form-group"
                 ng-class="{ 'has-error': ctrl.errors['delivery.declaration'] }"
                 ng-if="ctrl.item.delivery.method == 'new_post' && ctrl.item.is_from_web_store == true">
                <label for="declaration">
                    {{ 'orders.attribute.label.declaration' | translate }}
                </label>
                <small>(Поле має містити 11 або 14 символів)</small>
                <input type="text"
                       id="declaration"
                       class="form-control input-sm"
                       title="{{ 'orders.attribute.label.declaration' | translate }}"
                       name="delivery.declaration"
                       maxlength="14"
                       mask="99999999999999"
                       limit="false"
                       ng-disabled="ctrl.checkChangeFields || ctrl.checkChangeManagerOrCustomer"
                       ng-model="ctrl.item.delivery.declaration"
                       restrict="reject" />
                <span class="text-danger"
                      ng-bind="ctrl.errors['delivery.declaration'][0]"
                      ng-if="ctrl.errors['delivery.declaration']"></span>
            </div><!-- /.form-group -->

            <!-- Notes -->
            <div class="form-group" ng-class="{ 'has-error': ctrl.errors.notes }">
                <label>{{'orders.attribute.label.comment' | translate }}</label>
                <textarea
                        class="form-control input-sm"
                        name="notes"
                        maxlength="800"
                        rows="4"
                        ng-disabled="ctrl.checkChangeFields || ctrl.checkChangeManagerOrCustomer || ctrl.disableFieldsForOtherManager()"
                        ng-model="ctrl.item.notes"></textarea>
                <span class="text-danger" ng-bind="ctrl.errors.notes[0]" ng-if="ctrl.errors.notes"></span>
            </div><!-- /.form-group -->
        </div><!-- /.box-body -->
    </div><!-- /.box box-primary -->
</div><!--/.col -->