<div class="table-responsive">
    <table class="table table-bordered table-middle table-striped">
        <thead>
            <tr>
                <th style="min-width: 40px;">№</th>
                <th translate="orders.attribute.label.photo"
                    style="min-width: 60px;"></th>
                <th translate="orders.attribute.label.name"
                    style="min-width: 70px;"></th>
                <th translate="orders.attribute.label.sku"
                    style="min-width: 80px;"></th>
                <th style="min-width: 120px;" class="u-textNoWrap">
                    <span translate="orders.attribute.label.size"></span>
                </th>
                <th style="width: 180px; min-width: 150px;">
                    <span translate="orders.attribute.label.quantity"></span>
                </th>
                <th translate="orders.attribute.label.partly_returned"
                    ng-hide="!$root.perms['orders.custom_price.manage']"
                    ng-if="(ctrl.item.status == 'completed' || ctrl.item.status == 'partially_refunded') && ctrl.returnProducts"
                    style="min-width: 115px;"></th>
                <th translate="orders.attribute.label.cost_price"
                    ng-hide="$root.currentUser.user.role_name === 'limited_manager'"
                    style="min-width: 120px;"></th>
                <th translate="orders.attribute.label.price"
                    style="min-width: 130px;"></th>
                <th translate="orders.attribute.label.final_price"
                    style="width: 140px;"></th>
                <th translate="orders.attribute.label.general_price"
                    style="min-width: 100px;"></th>
                <th translate="orders.attribute.label.remove"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="elem in ctrl.item.products" ng-if="ctrl.checkEmptyProduct(elem.sizes.items)">
                <td>{{ $index+1 }}</td>
                <td class="grid-thumbnail">
                    <img class=img-thumbnail" ng-src="{{ elem.thumbnail.url || '/assets/images/dashboard/no-image.png' }}"/>
                </td>
                <td><a ui-sref="products.edit({id: elem.id})">{{ elem.name }}</a></td>
                <td>{{ elem.sku }}</td>
                <td class="u-textNoWrap">
                    <div class="form-group" ng-repeat="item in elem.sizes.items track by $index" ng-if="item.quantity > 0 || (item.quantity == 0 && item.refunded_quantity <= 0) || item.quantity == null">
                        <div class="col-xs-12">
                            <sizes-dropdown-buttton elem="item" group="elem.sizes.group"></sizes-dropdown-buttton>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group" ng-repeat="item in elem.sizes.items track by $index" ng-if="item.quantity > 0 || (item.quantity == 0 && item.refunded_quantity <= 0) || item.quantity == null">
                        <div class="col-xs-12">
                            <div class="input-group input-group-half">
                                <input type="number"
                                       class="form-control input-xs"
                                       name="{{ $index }}.quantity"
                                       ng-change="ctrl.maxValue(item)"
                                       ng-disabled="ctrl.checkChangeSomeFields || ctrl.checkModifyProducts || ctrl.disableFieldsForOtherManager()"
                                       ng-model="item.quantity"/>
                                <input type="number"
                                       class="form-control input-xs"
                                       name="{{ $index }}.quantity"
                                       min="0"
                                       disabled
                                       ng-hide="ctrl.item.status == 'completed'"
                                       ng-model="item.available_quantity"/>
                            </div><!-- /.input-group -->
                        </div><!-- /.input-group -->
                    </div><!-- /.form-group -->
                </td>
                <td class="nowrap"
                    ng-hide="!$root.perms['orders.custom_price.manage']"
                    ng-if="(ctrl.item.status == 'completed' || ctrl.item.status == 'partially_refunded') && ctrl.returnProducts">
                    <div class="form-group" ng-repeat="item in elem.sizes.items track by $index" ng-if="item.quantity > 0">
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="number"
                                       class="form-control input-xs"
                                       name="{{ $index }}.return_piece"
                                       min="0"
                                       ng-disabled="ctrl.disableFieldsForOtherManager()"
                                       ng-change="ctrl.maxValue(item)"
                                       ng-model="item.return_piece"/>
                            </div><!-- /.input-group -->
                            <div class="col-xs-6">
                                <small class="text-muted" translate="products.general.piece"></small>
                            </div>
                        </div>
                    </div><!-- /.form-group -->
                </td>
                <td ng-hide="$root.currentUser.user.role_name === 'limited_manager'">
                    <span ng-bind="elem.cost_price.value | rounded"></span>
                    <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                </td>
                <td class="nowrap">
                    <div class="form-group">
                        <div class="input-group input-group-half">
                            <span ng-bind="elem.price.value | rounded"></span>
                            <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                        </div><!-- /.input-group -->
                    </div><!-- /.form-group -->
                </td>
                <td>
                     <!-- Final Price -->
                    <div class="form-group" ng-class="{ 'has-warning':  elem.custom_price_value && (elem.custom_price_value < elem.cost_price.value) }">
                        <div class="input-group">
                            <input type="text"
                                   id="product_price_{{ $index }}"
                                   class="form-control input-xs"
                                   name="custom_price_value"
                                   ng-disabled="ctrl.checkChangeSomeFields || ctrl.disableFieldsForOtherManager() || ctrl.item.user_discount"
                                   ng-model="elem.custom_price_value"
                                   ng-model-options="{ debounce: 300 }"
                                   ng-change="ctrl.customPriceValue(elem)"
                                   style="min-width: 40px;"/>
                            <span class="input-group-addon input-xs">
                                <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                            </span>
                        </div><!-- /.input-group -->

                        <div class="input-group">
                            <input type="text"
                                   id="product_discount_{{ $index }}"
                                   class="form-control input-xs"
                                   name="custom_price_discount"
                                   ng-disabled="ctrl.checkChangeSomeFields || ctrl.disableFieldsForOtherManager() || ctrl.item.user_discount"
                                   ng-model="elem.custom_price_discount"
                                   format="numberInteger"
                                   ng-model-options="{ debounce: 300 }"
                                   ng-change="ctrl.customPriceDiscount(elem)"
                                   style="min-width: 40px;"/>
                            <span class="input-group-addon input-xs">%</span>
                        </div><!-- /.input-group -->
                    </div><!-- /.form-group -->
                </td>
                <td class="nowrap">
                    {{ ctrl.totalProductPrice(elem) }}
                    <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                </td>
                <td>
                    <button type="button"
                            class="btn btn-xs btn-danger"
                            ng-hide="ctrl.checkModifyProducts"
                            ng-disabled="!(ctrl.item.status == 'new' || ctrl.item.status == 'accepted') || ctrl.disableFieldsForOtherManager()"
                            ng-click="ctrl.deleteProduct($index, elem)">
                        <i class="fa fa-remove"></i></button>
                </td>
            </tr>
            <tr>
                <td class="" colspan="10" ng-if="ctrl.is_refunded">
                    <h4 translate="orders.order_statuses.return"></h4>
                </td>
            </tr>

            <!-- RETURNED PRODUCTS-->
            <tr ng-repeat="elem in ctrl.item.products" ng-if="elem.is_refunded">
                <td>{{ $index+1 }}</td>
                <td class="grid-thumbnail">
                    <img class=img-thumbnail" ng-src="{{ elem.thumbnail.url || '/assets/images/dashboard/no-image.png' }}"/>
                </td>
                <td><a ui-sref="products.edit({id: elem.id})">{{ elem.name }}</a></td>
                <td>{{ elem.sku }}</td>
                <td class="u-textNoWrap">
                    <div class="form-group" ng-repeat="item in elem.sizes.items track by $index" ng-if="item.is_refunded">
                        <div class="col-xs-12">
                            <sizes-dropdown-buttton elem="item" group="elem.sizes.group"></sizes-dropdown-buttton>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group" ng-repeat="item in elem.sizes.items track by $index" ng-if="item.is_refunded">
                        <div class="col-xs-12">
                            <div class="input-group input-group-half">
                                <input type="text"
                                       class="form-control input-xs"
                                       name="{{ $index }}.quantity"
                                       min="0"
                                       disabled
                                       ng-change="ctrl.maxValue(item)"
                                       ng-model="item.refunded_quantity"/>
                                <input type="number"
                                       class="form-control input-xs"
                                       name="{{ $index }}.quantity"
                                       min="0"
                                       ng-hide="ctrl.item.status == 'completed'"
                                       disabled
                                       ng-model="item.available_quantity"/>
                            </div><!-- /.input-group -->
                        </div><!-- /.input-group -->
                    </div><!-- /.form-group -->
                </td>
                <td class="nowrap"
                    ng-hide="!$root.perms['orders.refund']"
                    ng-if="(ctrl.item.status == 'completed' || ctrl.item.status == 'partially_refunded') && ctrl.returnProducts">
                </td>
                <td ng-hide="$root.currentUser.user.role_name === 'limited_manager'">
                    <span ng-bind="elem.cost_price.value | rounded"></span>
                    <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                </td>
                <td class="nowrap">
                    <div class="form-group" ng-class="{ 'has-error': item.custom_price.value < elem.cost_price.value }">
                        <div class="input-group input-group-half">
                            <span ng-bind="elem.price.value | rounded"></span>
                            <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                        </div><!-- /.input-group -->
                    </div><!-- /.form-group -->
                </td>
                <td class="nowrap">
                    {{ ctrl.totalReturnProductPrice(elem) | rounded }}
                    <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                </td>
                <td class="nowrap">
                    {{ ctrl.totalReturnProductPrice(elem) | rounded }}
                    <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                </td>
                <td>
                    <button type="button"
                            class="btn btn-xs btn-danger"
                            disabled
                            ng-hide="ctrl.checkModifyProducts"
                            ng-click="ctrl.deleteProduct($index, elem)">
                        <i class="fa fa-remove"></i></button>
                </td>
            </tr>
            <!-- RETURNED PRODUCTS-->
        </tbody>
    </table>

    <div class="col-sm-3 orders-padding">
        <a class="btn btn-sm btn-success"
           ng-class="{ 'disabled' : !ctrl.item.store_id || ctrl.disableFieldsForOtherManager() }"
           ng-hide="!(ctrl.item.status == 'new' || ctrl.item.status == 'accepted') || ctrl.checkModifyProducts"
           ng-click="ctrl.addProduct($index)"
           ng-disabled="!ctrl.item.store_id || ctrl.disableFieldsForOtherManager()"
           tooltip="{{ !ctrl.item.store_id ? 'Виберіть магазин' : '' }}"
           translate="orders.button.add_product"></a>

        <div ng-hide="!$root.perms['orders.refund']"
            ng-if="(ctrl.item.status == 'completed' || ctrl.item.status == 'partially_refunded')">
            <div ng-show="ctrl.returnProducts">
                <p>
                    <span class="text-danger" translate="orders.attribute.label.return_order"></span>:
                </p>
                <a href
                   class="btn btn-sm btn-danger"
                   ng-disabled="ctrl.item.status == 'refunded' || ctrl.disableFieldsForOtherManager()"
                   ng-click="ctrl.returnAllOrder()"
                   translate="orders.button.return_all"></a>
                <a href
                   class="btn btn-sm btn-danger"
                   ng-click="ctrl.returnPartOrder()"
                   ng-disabled="ctrl.item.status == 'refunded' || ctrl.disableFieldsForOtherManager()"
                   translate="orders.button.return_part"></a>
            </div>

            <a href
               class="btn btn-sm btn-danger"
               ng-disabled="ctrl.item.status == 'refunded' || ctrl.disableFieldsForOtherManager()"
               ng-click="ctrl.returnOrderProducts()"
               ng-hide="ctrl.returnProducts"
               translate="orders.attribute.label.return_order"></a>
        </div>
    </div>
    <div class="col-sm-5 col-sm-offset-4">
        <table class="table table-middle" ng-show="ctrl.total_price_with_user_discount || ctrl.total_price_with_discount || ctrl.item.products.length">
            <tbody>
                <tr ng-if="ctrl.totalQuantity() > 0">
                    <td class="col-xs-4 bg-blue disabled color-palette">
                        <span translate="orders.attribute.label.total_quantity"></span>:
                    </td>
                    <td class="col-xs-3"></td>
                    <td class="col-xs-3 text-right">
                        {{ ctrl.totalQuantity() }}
                    </td>
                </tr>

                <tr ng-if="$root.currentUser.user.role_name === 'admin'">
                    <td class="col-xs-4 bg-blue disabled color-palette">
                        <span translate="orders.attribute.label.total_cost_price"></span>:
                    </td>
                    <td class="col-xs-3"></td>
                    <td class="col-xs-3 text-right">
                        {{ ctrl.totalProductsCostPrice() | rounded }}
                        <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                    </td>
                </tr>

                <tr>
                    <td class="col-xs-4 bg-green disabled color-palette">
                        <span translate="orders.attribute.label.amount_order"></span>:
                    </td>
                    <td class="col-xs-3"></td>
                    <td class="col-xs-3 text-right">
                        {{ ctrl.totalProductsPrice() | rounded }}
                        <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                    </td>
                </tr>

                <tr ng-if="ctrl.is_refunded">
                    <td class="col-xs-4 bg-red disabled color-palette">
                       Сума повернення:
                    </td>
                    <td class="col-xs-3"></td>
                    <td class="col-xs-3 text-right">
                        {{ ctrl.totalReturnProductsPrice() | rounded }}
                        <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                    </td>
                </tr>

                <!--ng-show="ctrl.item.customer.discount.title || ctrl.customer.discount.title || ctrl.customer.data.discount.title"-->
                <tr ng-show="ctrl.item.products && ctrl.item.products.length">
                    <td class="col-xs-4 bg-yellow disabled color-palette">
                        Знижка клієнта:
                        <!--<strong ng-bind="ctrl.item.customer.discount.title || ctrl.customer.discount.title || ctrl.customer.data.discount.title || '-'"></strong>-->
                    </td>
                    <td class="col-xs-3">
                        <div class="form-group"
                             ng-class="{ 'has-error': ctrl.errors.discount_id }"
                        >
                            <label></label>
                            <div class="selectbox">
                                <div class="selectbox">
                                    <select class="form-control input-sm"
                                            name="manager_id"
                                            ng-options="opt.id as opt.title for opt in ctrl.discounts"
                                            ng-disabled="!!ctrl.item.id || ctrl.checkChangeFields || ctrl.checkChangeManagerOrCustomer"
                                            ng-model="discount_id"
                                            ng-change="ctrl.updateStore(discount_id)"
                                    >
                                        <option value="">Без знижки</option>
                                    </select>
                                </div>
                            </div>
                            <span class="text-danger" ng-bind="ctrl.errors.discount_id[0]" ng-if="ctrl.errors.discount_id"></span>
                        </div>
                    </td>
                    <td class="col-xs-3">
                    </td>
                </tr>

                <tr ng-hide="$root.currentUser.user.role_name === 'limited_manager'">
                    <td class="bg-yellow disabled color-palette">
                        <span translate="orders.attribute.label.additional_discount"></span>:
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="text"
                                   id="discount"
                                   class="form-control input-xs"
                                   name="discount"
                                   ng-disabled="ctrl.checkChangeSomeFields || ctrl.disableFieldsForOtherManager() || ctrl.disableGeneralDiscounts"
                                   ng-model="ctrl.item.discount"
                                   format="numberLimit"
                                   ng-model-options="{ debounce: 500 }"
                                   ng-change="ctrl.totalProductsPriceWithDiscount()"
                                   style="min-width: 40px;"/>
                            <span class="input-group-addon input-xs">%</span>
                        </div>
                    </td>
                    <td class="text-right">
                        {{ ctrl.totalProductsPriceWithDiscount() | rounded }}
                        <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                    </td>
                </tr>

                <tr>
                    <td class="bg-green color-palette">
                        Фінальна ціна:
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="text"
                                   id="discount_price"
                                   class="form-control input-xs"
                                   name="discount"
                                   ng-disabled="ctrl.checkChangeSomeFields || ctrl.disableFieldsForOtherManager() || ctrl.disableGeneralDiscounts"
                                   ng-model="ctrl.item.user_discount"
                                   ng-model-options="{ debounce: 1000 }"
                                   ng-change="ctrl.totalProductsPriceWithUserDiscount()"
                                   style="min-width: 40px;"/>

                            <span class="input-group-addon input-xs">
                                <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                            </span>
                        </div>
                    </td>
                    <td class="text-right">
                        {{ ctrl.total_price_with_discount | rounded }}
                        <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>