<div class="col-md-4">
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title" translate="orders.attribute.label.payment_history"></h4>
        </div><!-- /.box-header -->
        <div class="box-body">
            <!-- Partly Paid -->
            <div class="form-group" ng-if="(ctrl.total_price_with_user_discount || ctrl.total_price_with_discount) && ctrl.item.status != 'canceled'">
                <button type="button"
                        class="btn btn-primary btn-sm"
                        ng-click="ctrl.addPayment()"
                        ng-disabled="ctrl.disableFieldsForOtherManager()"
                        ng-hide="ctrl.showBalance() <= 0 || ($root.currentUser.user.id != ctrl.item.manager.id && $root.currentUser.user.role_name !== 'admin' && ctrl.item.status !== 'new')"
                        translate="orders.button.add_payment"></button>
            </div><!--/.form-group -->

            <div class="table-responsive order-status" ng-if="(ctrl.total_price_with_user_discount || ctrl.total_price_with_discount || ctrl.item.status == 'refunded' || ctrl.item.status == 'partially_refunded') && ctrl.item.payments.length">
                <table class="table table-bordered table-middle table-striped table-condensed" style="min-width: 305px;">
                    <thead>
                        <tr>
                            <th style="width: 50%">Сума</th>
                            <th style="width: 25%">Оплачено</th>
                            <th ng-hide="ctrl.isManager" style="width: 25%">Забрано</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="payment in ctrl.item.payments track by $index">
                            <td>
                                <div class="form-group" ng-class="{ 'has-error': ctrl.paymentErrors['payments.'+ $index +'.value'] }">
                                    <div class="input-group">
                                        <input type="text"
                                               class="form-control input-sm"
                                               name="payments.{{ $index }}.value"
                                               ng-model="payment.value"
                                               ng-change="ctrl.validateMaxPayment(payment)"
                                               ng-disabled="!payment.edit || ctrl.disableFieldsForOtherManager()"
                                        />
                                        <div class="input-group-btn">
                                            <select class="form-control input-sm"
                                                    title="{{:: currency.name }}"
                                                    name="currency_id"
                                                    ng-model="payment.currency_id"
                                                    ng-options="opt.id as opt.symbol for opt in ctrl.currencies"
                                                    ng-disabled="!payment.edit || ctrl.disableFieldsForOtherManager()"></select>
                                        </div>
                                    </div><!-- /.input-group -->
                                    <span class="text-danger" ng-bind="ctrl.paymentErrors['payments.'+ $index +'.value'][0]" ng-if="ctrl.paymentErrors['payments.'+ $index +'.value']"></span>
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-xs btn-primary"
                                   ng-show="ctrl.item.payments.length == ($index + 1) && !payment.created_at && (ctrl.showBalance() > 0) && payment.edit"
                                   ng-click="ctrl.payAllMoney()">Всі гроші</a>{{ payment.created_at }}
                                <span ng-show="(!payment.edit) || (ctrl.showBalance() <= 0)">
                                    {{ (payment.created_at || ctrl.current_date) | momentDate: 'DD.MM.YY' }}
                                </span>
                            </td>
                            <td ng-hide="ctrl.isManager">
                                <span ng-if="payment.is_withdrawn || payment.withdrawn_at">
                                    <span ng-bind="(payment.withdrawn_at || ctrl.current_date) | momentDate: 'DD.MM.YY'"></span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.table-responsive -->

            <div class="table-responsive">
                <table class="table no-margin" style="min-width: 300px;">
                    <tbody>
                        <tr
                            ng-show="ctrl.item.payments.length && ctrl.checkWithdrawAt() && $root.perms['orders.payments.manage'] && ctrl.item.status != 'refunded' && ctrl.item.status != 'canceled'"
                        >
                            <td style="vertical-align: middle; width: 50%">
                                <strong translate="orders.attribute.label.gather_money"></strong>
                            </td>
                            <td style="width: 50%">
                                <div class="form-group" ng-class="{ 'has-error': paymentErrors.paid }">
                                    <div class="checkbox">
                                        <label>
                                            <input  type="checkbox"
                                                    name="is_withdrawn"
                                                    ng-model="ctrl.item.is_withdrawn"
                                                    ng-true-value="true"
                                                    ng-false-value="false"
                                                    ng-checked="payment.is_withdrawn || payment.withdrawn_at"
                                                    ng-change="ctrl.withdrawPayment(payment.order_id, $index)"
                                                    ng-disabled="(!payment.edit && (payment.is_withdrawn || payment.withdrawn_at)) || ctrl.disableFieldsForOtherManager()"
                                                    icheck/>
                                        </label>
                                    </div>
                                    <span class="text-danger" ng-bind="paymentErrors.is_withdrawn[0]" ng-if="paymentErrors.is_withdrawn"></span>
                                </div><!-- /.form-group -->
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>{{ 'orders.attribute.label.total_amount' | translate }}:</strong>
                            </td>
                            <td>
                                {{ (ctrl.total_price_with_user_discount || ctrl.total_price_with_discount) | rounded }}
                                <currency-icon item="1"
                                               ng-if="ctrl.total_price_with_user_discount || ctrl.total_price_with_discount"></currency-icon>
                            </td>
                        </tr>

                        <tr ng-hide="ctrl.isManager">
                            <td>
                                <strong>Сума забраних грошей:</strong>
                            </td>
                            <td class="text-warning">
                                {{ (ctrl.showTotalPaymentWithDrawSum() | rounded) || 0 }}
                                <currency-icon item="1"></currency-icon>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>Залишилось:</strong>
                            </td>
                            <td class="text-danger">
                                <span ng-if="ctrl.showBalance() > 0">
                                    {{ ctrl.showBalance() | rounded }}
                                </span>
                                <span ng-if="ctrl.showBalance() <= 0">
                                    0
                                </span>
                                <currency-icon item="1"></currency-icon>
                            </td>
                        </tr>

                        <tr ng-if="ctrl.showBalance() < 0">
                            <td>
                                <strong>Переплата:</strong>
                            </td>
                            <td class="text-danger">
                                <span>
                                    {{ ctrl.showBalance()*(-1) | rounded }}
                                </span>
                                <currency-icon item="1"></currency-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div><!-- /.col -->