<form name="form">
    <div class="row">
        <button type="submit"
                class="btn btn-primary btn-sm btn-save-order"
                ng-click="ctrl.save()"
                ng-hide="ctrl.hideSave"
                ng-disabled="!ctrl.item.products.length"
                translate="general.save"></button>

        <button type="button"
                class="btn btn-warning btn-sm btn-print-order hidden-xs"
                ng-click="ctrl.printOrder()"
                ng-if="ctrl.orderId">
            <span class="fa fa-print"></span>
            <span translate="orders.button.print"></span>
        </button>
        
        <div class="col-md-12">
           <div class="col-md-12">
               <div class="box box-primary">
                   <div class="box-header">
                       <h4>
                           <span ng-if="!ctrl.item.id" translate="orders.general.order_products"></span>
                           <span ng-if="ctrl.item.id">
                               <b>Замовлення №{{ ctrl.item.id }}</b> <span ng-bind="ctrl.item.created_at | momentDate: 'DD.MM.YYYY HH:mm'"></span>
                           </span>
                       </h4>

                   </div>

                   <div class="box-body">
                       <div class="col-md-12">
                           <div ui-view="order_products"></div>
                       </div>
                   </div>
               </div>
           </div>
           </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- General info -->
            <div ui-view="general"></div>
            <div ui-view="customer"></div>
            <div ui-view="status"></div>
        </div>
    </div><!-- /.row -->

    <div class="box-footer">
        <button type="submit"
                class="btn btn-primary btn-sm"
                ng-click="ctrl.save()"
                ng-disabled="!ctrl.item.products.length"
                ng-hide="ctrl.hideSave"
                translate="general.save"></button>
    </div><!-- /.box-footer -->
</form>