<div class="box box-primary">
    <div class="box-header" ng-hide="!$root.perms['orders.manage']">
        <div class="row">
            <div class="col-sm-2 col-xs-3">
                <a class="btn btn-sm btn-primary"
                   ui-sref="orders.create"
                   translate="general.create"></a>
            </div>
            <div class="col-sm-10 col-xs-9 text-right">
                <a class="btn btn-sm btn-warning"
                   ng-click="ctrl.printOrders()"
                >
                    <span translate="orders.button.print_orders" class="visible-xs"></span>
                    <span translate="orders.button.print_list" class="hidden-xs"></span>
                </a>
            </div>

        </div>
    </div>

    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <!-- Tabs filters by order status  -->
                <ul class="nav nav-tabs">
                    <li ng-repeat="item in ctrl.order_status_plural">
                        <a href="#"
                           data-toggle="tab"
                           translate="{{ item.value }}"
                           ng-click="ctrl.filterByStatus(item.key)"></a>
                    </li>
                    <li class="active">
                        <a href="#"
                           data-toggle="tab"
                           translate="general.all"
                           ng-click="ctrl.filterByStatus()"></a>
                    </li>
                </ul>

                <div class="table-responsive">
                    <table class="table table-bordered table-middle table-striped table-condensed">
                        <thead>
                            <tr>
                                <th translate="orders.attribute.label.id"
                                    style="min-width: 100px;"></th>
                                <th translate="orders.attribute.label.photo"
                                    style="min-width: 61px;"></th>
                                <th style="min-width: 80px;">
                                    <span translate="orders.attribute.label.sku"></span> /
                                    <span translate="orders.attribute.label.size"></span> /
                                    <span translate="orders.attribute.label.quantity"></span>
                                </th>
                                <th style="min-width: 120px;">
                                    <span translate="orders.attribute.label.full_name"></span> /
                                    <span translate="orders.attribute.label.phone"></span> /
                                    <span translate="orders.attribute.label.address"></span>
                                </th>
                                <th translate="orders.attribute.label.delivery"
                                    style="min-width: 175px;"></th>
                                <th translate="orders.attribute.label.date"
                                    style="min-width: 90px;"></th>
                                <th style="min-width: 95px;">
                                    <span translate="orders.attribute.label.manager"></span> /
                                    <span translate="orders.attribute.label.nick"></span>
                                </th>
                                <th>
                                    <span translate="orders.attribute.label.payment"></span> /
                                    <span translate="orders.attribute.label.price"></span>
                                </th>
                                <th translate="orders.attribute.label.order_payment"></th>
                                <th translate="orders.attribute.label.order_status"></th>
                                <th ng-hide="!$root.perms['orders.payments.manage']"
                                    translate="orders.attribute.label.money"
                                    style="min-width: 115px;"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text"
                                           id="id"
                                           class="form-control input-sm"
                                           name="id"
                                           title="{{:: 'products.attribute.title.id' | translate }}"
                                           ng-model="ctrl.searchForm.id"
                                           ng-model-options="{ debounce: 500 }"
                                           ng-change="ctrl.processSearch()"/>
                                </td>
                                <td></td>
                                <td>
                                    <input type="text"
                                           id="sku"
                                           class="form-control input-sm"
                                           name="product"
                                           title="{{:: 'products.attribute.title.sku' | translate }}"
                                           ng-model="ctrl.searchForm.product"
                                           ng-model-options="{ debounce: 500 }"
                                           ng-change="ctrl.processSearch()"/>
                                </td>
                                <td>
                                    <input type="text"
                                           id="customer"
                                           class="form-control input-sm"
                                           name="customer"
                                           title="{{:: 'products.attribute.title.name' | translate }}"
                                           ng-model="ctrl.searchForm.customer"
                                           ng-model-options="{ debounce: 500 }"
                                           ng-change="ctrl.processSearch()"/>
                                </td>
                                <td>
                                    <div class="selectbox">
                                        <select class="form-control input-sm"
                                                name="delivery_method"
                                                ng-options="opt.key as opt.value | translate for opt in ctrl.delivery_methods"
                                                ng-model="ctrl.searchForm.delivery_method"
                                                ng-model-options="{ debounce: 500 }"
                                                ng-change="ctrl.processSearch()"
                                        >
                                            <option value="">- {{ 'general.all' | translate }} -</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <input date-range-picker
                                           class="form-control input-sm date-picker"
                                           type="text"
                                           ng-model="ctrl.searchForm.date"
                                           options="ctrl.dateRangeOptions">
                                </td>
                                <td>
                                    <div class="selectbox">
                                        <select class="form-control input-sm"
                                                name="manager_id"
                                                ng-options="opt.id as opt.full_name for opt in ctrl.users"
                                                ng-model="ctrl.searchForm.manager_id"
                                                ng-model-options="{ debounce: 500 }"
                                                ng-change="ctrl.processSearch()">
                                            <option value="">- {{ 'general.all' | translate }} -</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="selectbox">
                                        <select class="form-control input-sm"
                                                name="payment_method"
                                                ng-model="ctrl.searchForm.payment_method"
                                                ng-model-options="{ debounce: 500 }"
                                                ng-options="opt.key as opt.value | translate for opt in ctrl.payment_methods"
                                                ng-change="ctrl.processSearch()">
                                            <option value="">- {{ 'general.all' | translate }} -</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="selectbox">
                                        <select class="form-control input-sm"
                                                name="payment_status"
                                                ng-model="ctrl.searchForm.payment_status"
                                                ng-model-options="{ debounce: 500 }"
                                                ng-options="opt.key as opt.value | translate for opt in ctrl.payment_status"
                                                ng-change="ctrl.processSearch()">
                                            <option value="">- {{ 'general.all' | translate }} -</option>
                                        </select>
                                    </div>
                                </td>
                                <td></td>
                                <td ng-hide="!$root.perms['orders.payments.manage']">
                                    <div class="selectbox">
                                        <select class="form-control input-sm"
                                                name="is_withdrawn"
                                                ng-model="ctrl.searchForm.is_withdrawn"
                                                ng-model-options="{ debounce: 500 }"
                                                ng-options="opt.key as opt.value | translate for opt in ctrl.historyPaymentList"
                                                ng-change="ctrl.processSearch()">
                                            <option value="">- {{ 'general.all' | translate }} -</option>
                                        </select>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr ng-repeat="item in ctrl.list.data">
                                <td>
                                    <a ui-sref="orders.edit({ id: item.id })"
                                       ng-show="item.status == 'new' || ($root.currentUser.user.id == item.manager.id || $root.currentUser.user.role_name == 'admin' || $root.currentUser.user.id != item.manager.id)">
                                        {{ item.id }}
                                    </a>
<!--                                    <span ng-show="item.status != 'new' && ($root.currentUser.user.id != item.manager.id && $root.currentUser.user.role_name != 'admin')">{{ item.id }}</span>-->
                                </td>
                                <td class="grid-thumbnail">
                                    <a href
                                       ng-show="item.status == 'new' || ($root.currentUser.user.id == item.manager.id || $root.currentUser.user.role_name == 'admin' || $root.currentUser.user.id != item.manager.id)"
                                       ui-sref="orders.edit({ id: item.id })">
                                        <img class=img-thumbnail"
                                            ng-src="{{ item.products[0].thumbnail.url || '/assets/images/dashboard/no-image.png' }}"/>
                                    </a>
<!--                                    <img class=img-thumbnail"-->
<!--                                         ng-show="item.status != 'new' && ($root.currentUser.user.id != item.manager.id && $root.currentUser.user.role_name != 'admin')"-->
<!--                                         ng-src="{{ item.products[0].thumbnail.url || '/assets/images/dashboard/no-image.png' }}"/>-->
                                </td>
                                <td>
                                    <div ng-if="item.products[0].sku" class="nowrap">
                                        <strong>Артикул:</strong> {{ item.products[0].sku }}
                                    </div>
                                    <div ng-if="item.products[0].sizes.items[0].values[0].title" class="nowrap">
                                        <strong>Розмір:</strong>
                                        <span ng-bind="item.products[0].sizes.items[0].values[0].title"></span>
                                        <span> - </span>
                                        <span ng-bind="item.products[0].sizes.items[0].values[0].value"></span>
                                    </div>
                                    <div ng-if="item.products[0].sizes.items[0].quantity" class="nowrap">
                                        <strong>Кількість: </strong>
                                        <span ng-bind="item.products[0].sizes.items[0].quantity"></span>
                                        <span class="text-muted" translate="products.general.piece"></span>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="item.customer.first_name && item.customer.last_name"
                                         ng-bind="item.customer.first_name +' '+ item.customer.last_name"></div>
                                    <div ng-if="item.customer.first_name && !item.customer.last_name"
                                         ng-bind="item.customer.first_name"></div>
                                    <div ng-if="!item.customer.first_name && item.customer.last_name"
                                         ng-bind="item.customer.last_name"></div>

                                    <div ng-if="item.customer.phone"
                                         ng-bind="item.customer.phone"></div>
                                    <div ng-if="item.customer.address"
                                         ng-bind="item.customer.address | characters: 20"></div>
                                </td>
                                <td>
                                    <div class="delivery-block">
                                        <span class="delivery-method" ng-bind="ctrl.showDeliveryMethod(item.delivery.method || ctrl.searchForm.delivery_method) | translate"></span>
                                        <a
                                            class="btn btn-warning cancel-delivery-button"
                                            ng-class="{'active': item.no_declaration}"
                                            ng-if="(item.status == 'accepted' && item.delivery.method && item.delivery.method == 'new_post') || item.showButton"
                                            ng-hide="$root.currentUser.user.id != item.manager.id && $root.currentUser.user.role_name != 'admin'"
                                            tooltip="{{ !item.no_declaration ? ('orders.button.cancel_declaration' | translate) : ('З доставкою') }}"
                                            ng-click="ctrl.cancelDeclaration(item)">
                                            <i ng-if="!item.no_declaration" class="fa fa-ban"></i>
                                            <i ng-if="item.no_declaration" class="fa fa-refresh"></i>
                                        </a>
                                    </div>
                                    <div
                                        class="declaration-label"
                                        ng-if="item.delivery.method == 'new_post'"
                                    >TTH:</div>
                                    <input type="text"
                                           ng-if="item.delivery.method == 'new_post'"
                                           class="form-control input-sm declaration-input"
                                           name="declaration"
                                           maxlength="14"
                                           mask="99999999999999"
                                           limit="false"
                                           ng-model="item.delivery.declaration"
                                           restrict="reject"
                                           ng-disabled="item.status != 'accepted' || item.no_declaration == true"/>

                                </td>
                                <td>
                                    <span ng-bind="item.created_at | momentDate: 'DD-MM-YYYY HH:mm'"></span>
                                </td>
                                <td>
                                    <div>{{ item.manager.full_name }}</div>
                                    <div ng-if="item.manager.nickname">
                                        <strong>({{ item.manager.nickname }})</strong>
                                    </div>
                                </td>
                                <td>
                                    <span ng-bind="ctrl.showPayment(item.payment.method) | translate"></span> <br />
                                    <strong ng-if="item.total_price.value">
                                        <span ng-bind="item.total_price.value | rounded"></span>
                                        <currency-title item="item.total_price.currency_id"></currency-title>
                                    </strong>
                                </td>
                                <td>
                                    <span class="label label-danger" ng-if="item.payment.status == 'not_paid'">{{ ctrl.showPaymentStatus(item.payment.status) | translate }}</span>
                                    <span class="label label-warning" ng-if="item.payment.status == 'partially_paid'">{{ ctrl.showPaymentStatus(item.payment.status) | translate }}</span>
                                    <span class="label label-success" ng-if="item.payment.status == 'paid'">{{ ctrl.showPaymentStatus(item.payment.status) | translate }}</span>
                                </td>
                                <td>
                                    <span class="label label-primary" ng-if="item.status == 'new'">{{ ctrl.showOrderStatus(item.status) | translate }}</span>
                                    <span class="label label-primary" ng-if="item.status == 'accepted'">{{ ctrl.showOrderStatus(item.status) | translate }}</span>
                                    <span class="label label-primary" ng-if="item.status == 'sent'">{{ ctrl.showOrderStatus(item.status) | translate }}</span>
                                    <span class="label label-success" ng-if="item.status == 'completed'">{{ ctrl.showOrderStatus(item.status) | translate }}</span>
                                    <span class="label label-danger" ng-if="item.status == 'refunded'">{{ ctrl.showOrderStatus(item.status) | translate }}</span>
                                    <span class="label label-warning" ng-if="item.status == 'partially_refunded'">{{ ctrl.showOrderStatus(item.status) | translate }}</span>
                                    <span class="label label-warning" ng-if="item.status == 'canceled'">{{ ctrl.showOrderStatus(item.status) | translate }}</span>
                                </td>
                                <td class="text-nowrap"
                                    ng-hide="!$root.perms['orders.payments.manage']">
                                    <div ng-repeat="elem in item.payments" ng-if="elem.withdrawn_at" class="nowrap">
                                        <span ng-bind="elem.value | rounded"></span>
                                        <currency-title item="elem.currency_id"></currency-title>
                                        <span ng-if="elem.withdrawn_at">
                                            (<span class="text-muted" ng-bind="elem.withdrawn_at | momentDate: 'DD.MM.YY'"></span>)
                                        </span>
                                    </div>

                                    <div ng-if="item.residual_payments_rate.value > 0" class="nowrap">
                                        <span ng-bind="item.residual_payments_rate.value | rounded"></span>
                                        <currency-title item="item.residual_payments_rate.currency_id"></currency-title>
                                        <span class="text-muted" ng-if="item.currentDate">
                                            (<span ng-bind="item.currentDate | momentDate: 'DD.MM.YY'"></span>)
                                        </span>
                                    </div>

                                    <div ng-if="item.residual_price.value > 0" class="text-red">
                                        {{ item.residual_price.value | rounded }}
                                        <currency-title item="item.residual_price.currency_id"></currency-title>
                                    </div>
                                </td>
                                <td class="grid-actions text-right">
                                    <a class="btn btn-sm btn-warning"
                                       ng-if="item.residual_payments_rate.value > 0 && item.status != 'refunded' && item.status != 'canceled'"
                                       ng-hide="!$root.perms['orders.payments.manage'] || ($root.currentUser.user.id != item.manager.id && $root.currentUser.user.role_name != 'admin') || item.currentDate"
                                       ng-click="ctrl.withDrawPayment(item)"
                                       tooltip="{{ 'orders.button.withrawn' | translate }}">
                                        <i class="fa fa-money"></i>
                                    </a>
                                    <a class="btn btn-sm btn-primary"
                                       ng-if="item.status == 'new'"
                                       ng-click="ctrl.updateOrderStatus(item)"
                                       ng-hide="!$root.perms['orders.manage']"
                                       tooltip="{{ 'orders.button.accept' | translate }}">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <a class="btn btn-sm btn-primary"
                                       ng-if="item.status == 'accepted' && item.delivery.method && item.delivery.method == 'new_post'"
                                       ng-click="ctrl.updateOrderStatus(item)"
                                       ng-class="{ 'disabled': !(item.delivery.declaration.length == 11 || item.delivery.declaration.length == 14 || item.no_declaration == true) && item.delivery.method == 'new_post' }"
                                       tooltip="{{ 'orders.button.send' | translate }}">
                                        <i class="fa fa-truck"></i>
                                    </a>
                                    <a class="btn btn-sm btn-primary"
                                       ng-class="{ 'disabled': item.payment.status != 'paid' }"
                                       ng-if="item.status == 'sent' || (item.status == 'accepted' && (!item.delivery.method || item.delivery.method != 'new_post'))"
                                       ng-hide="!$root.perms['orders.manage'] ||  ($root.currentUser.user.id != item.manager.id && $root.currentUser.user.role_name != 'admin')"
                                       ng-click="ctrl.updateOrderStatus(item)"
                                       tooltip="{{ 'orders.button.complete' | translate }}">
                                        <i class="fa fa-check"></i>
                                    </a>
                                    <a class="btn btn-sm btn-warning"
                                       ng-click="ctrl.printOrder(item)"
                                       tooltip="{{ 'orders.button.print_order' | translate }}">
                                        <i class="fa fa-print"></i>
                                    </a>
                                    <a class="btn btn-sm btn-default"
                                       ui-sref="orders.edit({ id: item.id })"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       ng-hide="!$root.perms['orders.manage']"
                                       tooltip="{{ 'general.edit' | translate }}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row" ng-if="!ctrl.list.data.length">
            <div class="col-sm-12" translate="general.no_items"></div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-1">
                <div class="selectbox">
                    <select class="form-control input-sm"
                            name="limit"
                            ng-options="opt.key as opt.value | translate for opt in ctrl.listPerPage"
                            ng-model="ctrl.searchForm.limit"
                            ng-model-options="{ debounce: 500 }"
                            ng-change="ctrl.processSearch()"
                    >
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pagination-info">
                    <span translate="orders.general.pagination"
                          translate-values="{ from: ctrl.list.from || 0, to: ctrl.list.to || 0, total: ctrl.list.total }"></span>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="text-right" ng-if="ctrl.list.total > ctrl.list.per_page">
                    <pagination
                        boundary-link-numbers="true"
                        force-ellipses="true"
                        ng-change="ctrl.changePage()"
                        total-items="ctrl.list.total"
                        ng-model="ctrl.list.current_page"
                        items-per-page="ctrl.list.per_page"
                        max-size="5"
                        boundary-links="true"></pagination>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row" ng-hide="!$root.perms['orders.payments.manage']">
            <div class="col-sm-12" ng-if="ctrl.totalWithDrownSum.value">
                <div class="text-right take-money">
                    <div style="margin-right: 5px;"><b>Разом:</b> <span ng-bind="ctrl.totalWithDrownSum.value | rounded"></span>
                        <currency-title item="$root.defaultCurrencyId"></currency-title>

                        <a class="btn btn-sm btn-warning" style="margin-left: 5px;" ng-click="ctrl.withdrawAllOrders()" translate="orders.button.gather_all_money"></a>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.box-body -->
</div><!-- /.box -->