<template lang="pug">
    b-pagination-nav(
        v-if="hasMorePages"
        :value="page"
        :number-of-pages="orders.last_page"
        :link-gen="linkGen"
        use-router
        @input="setPerPage"
        @click.native="clickHandler"
    )
</template>

<script>
    // TODO: doesn't dispatched any events when click on text in the buttons.
    export default {
        props: {
            orders: Object
        },
        computed: {

            /**
             * Fetch current page.
             *
             * @return String|Number
             */
            page() {
                return this.$store.state.orders.query.page;
            },

            /**
             * Determine if total orders greater than per page selector.
             *
             * @return Boolean
             */
            hasMorePages() {
                return this.orders.total > this.orders.per_page;
            }
        },
        methods: {

            /**
             * Generate pagination link.
             *
             * @param pageNum
             * @return Object{to: string, query: {page: *}}
             */
            linkGen(pageNum) {
                return {
                    to: 'profile.orders.index',
                    query: { page: pageNum }
                };
            },

            /**
             * Set page to store query.
             *
             * @param page
             */
            async setPerPage(page) {

                // Start preloader
                this.$nuxt.$loading.start();

                await this.$store.dispatch('orders/setQuery', { page });

                // Finish preloader
                this.$nuxt.$loading.finish();
            },

            /**
             * FIXME: Solution for bug of original library.
             *
             * @param e
             */
            clickHandler(e) {
                if (e.target.tagName == 'SPAN') {
                    e.target.parentNode.click();
                }
            }
        }
    }
</script>