<div class="modal-content" press-enter="confirm()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeThisDialog()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 ng-if="!ngDialogData.title" class="modal-title">Are you sure you want to do this?</h4>
        <h4 ng-if="ngDialogData.title" class="modal-title">{{ngDialogData.title|translate}}</h4>
    </div>
    <div class="modal-footer">
        <div class="text-left">
            <button type="button" class="btn btn-default btn-sm" ng-click="closeThisDialog()">
                <span ng-if="ngDialogData.data.btnCancelTitle">{{ngDialogData.data.btnCancelTitle|translate}}</span>
                <span ng-if="!ngDialogData.data.btnCancelTitle">{{'general.no'|translate}}</span>
            </button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="confirm()">
                <span ng-if="ngDialogData.data.btnConfirmTitle">{{ngDialogData.data.btnConfirmTitle|translate}}</span>
                <span ng-if="!ngDialogData.data.btnConfirmTitle">{{'general.yes'|translate}}</span>
            </button>
        </div>
    </div>
</div><!-- /.modal-content -->
