<div>
    <style>
        .image-cropper {
            position: relative;
            overflow: hidden;
        }

        .image-cropper img {
            position: relative;
        }

        .bg {
            //background: #E4E4E4;
        }

        .cropArea {
            //background: #E4E4E4;
            margin: 0 auto;
            overflow: hidden;
            width: 500px;
            max-width: 100%;
            height: 350px;
        }
    </style>
    <div class="modal-content add-product-modal">
        <div class="modal-header">
            <h4 class="modal-title">Вікно завантаження зображення</h4>
        </div>

        <div class="modal-body">

            <div class="row">

                <div class="col-md-12 bg">
<!--init-max-area="true"-->
                    <div class="cropArea">
                        <ui-cropper
                            image="myImage"
                            result-image="myCroppedImage"
                            area-type="rectangle"
                            cropject="cropper"
                            aspect-ratio="aspectRatio"
                            result-image-size="'max'"
                            area-min-relative-size="areaminrelativesize"
                        ></ui-cropper>
                    </div>
                </div><!-- /.col -->

            </div><!-- /.row -->

        </div><!-- /.modal-body -->

        <div class="modal-footer">
            <button type="button"
                    class="btn btn-default btn-sm pull-left"
                    ng-click="closeThisDialog()"
                    translate="general.close"
                    data-dismiss="modal"></button>
            <button type="submit"
                    class="btn btn-success btn-sm"
                    ng-click="updateImage(cropper, myCroppedImage)"
                    translate="general.save"></button>
        </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->