<div>
    <div class="btn-group-xs">
        <button type="button" class="btn btn-default btn-flatm btn-xs">
            <a ui-sref="tables.edit({ id: group.id })" target="_blank">{{ (elem.values | getIsDefaultFirst).title }} - {{ (elem.values | getIsDefaultFirst).value }}</a>
        </button>
        <button type="button" class="btn btn-default btn-flat btn-xs dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu view-sizes" role="menu">
            <li ng-repeat="el in elem.values | isDefaultFirst">
                {{ el.title }} - {{ el.value }}
            </li>
        </ul>
    </div>
</div>