<div class="form-group" ng-class="{ 'has-error': errors.media_id || errors.media || errors.favicon_id && temp == 'favicon' || errors.logo_id && temp != 'favicon' }">
    <label for="file-upload">
        <span ng-if="!name">
            {{ 'categories.attribute.label.media' | translate }}
        </span>
        <span ng-if="name">
            {{name}}
        </span>
        <span ng-hide="isrequired == 'false'" class="text-danger">*</span></label>
    <div class="thumbnail-container" ng-style="{ width: width }">
        <img class="img-thumbnail" ng-src="{{ media.url || defaultImage }}"/>
        <input type="file"
               id="file-upload"
               class="upload {{ temp }}"
               name="media_id"
               nv-file-select=""
               options="{ url: '{{ uploadUrl }}', removeAfterUpload: true }"
               uploader="upload">
        <div class="thumbnail-overlay">
            <div class="thumbnail-actions">
                <a href
                   class="btn btn-sm btn-primary"
                   ng-click="uploadImage(media)"><span class="fa fa-upload"></span>
                </a>
                <a href
                   class="btn btn-sm btn-danger"
                   ng-click="deleteImage(media)"
                   ng-show="media.id"><span class="fa fa-trash-o"></span>
                </a>
            </div>
        </div>
    </div>
    <span class="text-danger" ng-bind="errors.media_id[0]" ng-if="errors.media_id"></span>
    <span class="text-danger" ng-bind="errors.media[0]" ng-if="errors.media"></span>

    <span class="text-danger" ng-bind="errors.favicon_id[0]" ng-if="errors.favicon_id && temp == 'favicon'"></span>
    <span class="text-danger" ng-bind="errors.logo_id[0]" ng-if="errors.logo_id && temp != 'favicon'"></span>
</div>