<template lang="pug">
    div(class="uniform-models p-l-25")
        button(
            v-for="item in items"
            :key="item"
            :class="{'is-active': current === item }"
            type="button"
            class="m-button-default-24 m-tabs__link c-tabs-nav__link"
            @click.prevent="setCurrentModel(item)"
        ) {{ item }}
</template>

<script>
    export default {
        props: {
            items: Array,
            current: String
        },
        methods: {
            setCurrentModel(value) {
                this.$emit('update', value);
            }
        }
    };
</script>
