<template lang="pug">
    div(v-if="loading" class="preloader")
        div(class="preloader__wheel")
</template>

<script>
    export default {
        data() {
            return {
                loading: false
            };
        },
        methods: {
            start() {
                this.loading = true;
            },
            finish() {
                this.loading = false;
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../assets/scss/utilities/variables";

    .preloader {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 20;
    }

    .preloader__wheel {
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 20px;
        left: 20px;

        border: 5px solid $color-default;
        border-radius: 50%;
        border-left-color: transparent;
        border-right-color: transparent;

        animation: cssload-spin 1s infinite linear;
    }

    @keyframes cssload-spin {
        100% {
            transform: rotate(360deg)
        }
    }
</style>