<template lang="pug">
    div
        // Title
        h1(class="h1") {{ title }}

        // Auth links (login, registration)
        auth-links(v-if="!isAuthenticated")

        // Form
        b-form(class="p2 m-form" @submit.prevent="submit")

            // Customer info
            customer-fieldset(required)

            // Comment
            comment

            // Payment methods
            payment-method-input

            div(class="row")
                div(class="col-xs-24 col-md-16")

                    // Delivery methods
                    delivery-method-input

            div(class="row m-t-20")
                div(class="col-xs-24 col-sm-12" style="align-self: flex-end;")
                    div
                        span(class="required") *
                        | поля обов’язкові для заповнення

                // Actions
                div(class="col-xs-24 col-sm-12")
                    div(class="checkout-btn-wrap")
                        button(type="submit" class="m-button-default-44 button-blue") Оформити
                        router-link(:to="{ name: 'cart.index' }" class="m-button-default-44 button-dark") Відмінити
</template>

<script>
    import { mapGetters } from 'vuex';
    import api from '@/api';
    import AuthLinks from './AuthLinks/AuthLinks';
    import Comment from './Comment/Comment';
    import CustomerFieldset from '@/components/CustomerFieldset/CustomerFieldset';
    import DeliveryMethodInput from '@/components/DeliveryMethodInput/DeliveryMethodInput';
    import PaymentMethodInput from '@/components/PaymentMethodInput/PaymentMethodInput';

    export default {
        components: {
            AuthLinks,
            Comment,
            CustomerFieldset,
            DeliveryMethodInput,
            PaymentMethodInput
        },
        data() {
            return {
                title: 'Оформлення замовлення'
            };
        },
        computed: {
            ...mapGetters('checkout', [
                'formData'
            ]),
            isAuthenticated() {
                return this.$auth.loggedIn;
            }
        },
        methods: {

            /**
             * Collect all data and send the request to create order.
             */
            submit() {

                // Start preloader
                this.$nuxt.$loading.start();

                // Create order.
                api.orders.create(this, this.formData)
                    .then(() => {

                        // Clear all checkout data
                        this.$store.dispatch('checkout/clearData');

                        // Clear cart
                        this.$store.dispatch('cart/clearCart');

                        // Show success message
                        this.$toast.success('Замовлення створено успішно');

                        // Redirect to success page
                        this.$router.push({ name: 'checkout.index', query: { success: true } });
                    })
                    .catch(({ response }) => {
                        if (response.status === 422) {
                            const { errors } = response.data;

                            this.$store.dispatch('checkout/setErrors', errors);

                            Object.keys(errors).forEach(key => {
                                const sizesErrors = {};

                                if (key.match(/products\.\d+/)) {
                                    sizesErrors[errors[key][0].id] = errors[key][0].quantity;
                                }

                                if (Object.keys(sizesErrors).length) {
                                    this.$store.dispatch('cart/setErrors', sizesErrors);

                                    this.$router.push({ name: 'cart.index' });
                                }
                            });
                        }
                    })
                    // Finish preloader
                    .finally(() => {
                        this.$nuxt.$loading.finish();
                    });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .checkout-btn-wrap {
        text-align: right;

        @media (max-width: 767px) {
            text-align: center;

            .m-button-default-44 {
                font-size: 17px;
            }
        }
    }
</style>