<template lang="pug">
    img(
        :src="(store && store.logo) ? store.logo.url : './logo.png'"
        :alt="store.title"
        class="u-block"
    )
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        computed: mapState('config', {
            store: state => state.all.store
        })
    }
</script>
