<template lang="pug">
    no-ssr
        div(class="l-cart")
            div(class="container")

                div(class="u-align-items-center")
                    div(class="u-flex-between u-align-items-center p2")

                        // Title
                        h1(class="h1")
                            span Корзина &nbsp;
                            span.hidden-xs покупок

                        // "Delete all products" button
                        button(
                            v-if="!isEmpty"
                            type="button"
                            class="m-button-transparent__danger"
                            @click.prevent="clearCart"
                        )
                            i(class="icon-sport_shop_icons-31")
                            span Видалити всі &nbsp;
                            span.hidden-xs  товари

                // Product list
                product-list

                // Total price, "Checkout" button.
                total-bar(v-if="!isEmpty && (!isAuthenticated || !isCanManageOrders)")

                // Checkout form for managers
                checkout-form(v-if="!isEmpty && isCanManageOrders")
</template>

<script>
    import { mapGetters } from 'vuex';
    import NoSSR from 'vue-no-ssr';
    import CheckoutForm from './CheckoutForm/CheckoutForm';
    import ProductList from './ProductList/ProductList';
    import TotalBar from './TotalBar/TotalBar';

    export default {
        components: {
            NoSSR,
            CheckoutForm,
            ProductList,
            TotalBar
        },
        head() {
            return {
                title: this.title
            };
        },
        computed: {
            ...mapGetters('cart', [
                'isEmpty'
            ]),
            isAuthenticated() {
                return this.$auth.loggedIn;
            },
            isCanManageOrders() {
                if (!this.isAuthenticated) {
                    return false;
                }

                return !!this.$auth.user.permissions.find(item => item === 'orders.manage');
            }
        },

        // Set breadcrumbs.
        beforeMount() {
            this.$store.dispatch('breadcrumbs/setItems', [{ title: this.title }]);

            if (this.isCanManageOrders) {
                this.$store.dispatch('checkout/setWebStore', false);
            }
        },

        // Clear errors.
        destroyed() {
            this.$store.dispatch('cart/clearErrors');
        },
        methods: {

            /**
             * Remove all products from cart.
             */
            clearCart() {
                this.$store.dispatch('cart/clearCart');
            }
        }
    }
</script>