<template lang="pug">
    div(class="tabs-nav u-textCenter")
        button(
            v-for="item in categories"
            :key="item.id"
            :class="{'is-active': item.id == currentCategory.id }"
            class="m-button-default-sm button-simple"
            @click="setCategory(item)"
        ) {{ item.name }}
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: mapGetters('featureProducts', [
            'categories',
            'currentCategory'
        ]),
        methods: {

            /**
             * Update "currentCategory" on store.
             *
             * @param category
             */
            setCategory(category) {
                this.$store.dispatch('featureProducts/setCategory', category);
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../../assets/scss/utilities/variables";

    .tabs-nav {
        margin-bottom: 30px;

        .m-button-default-sm.is-active {
            color: $white;
        }

        .m-button-default-sm {
            height: 29px;
            line-height: 29px;
            font-size: 15px;
            padding-left: 0;
            padding-right: 0;
            font-weight: normal;
            color: #000000;

            &:before {
                border-bottom-width: 29px;
            }

            &:after {
                border-top-width: 29px;
            }

            &:hover {
                &:before {
                    border-bottom-width: 29px;
                }

                &:after {
                    border-top-width: 29px;
                }
            }
        }
    }
</style>
