<template lang="pug">
    vue-autosuggest(
        :suggestions="[{ data: cities }]"
        :input-props="inputProps"
        :get-suggestion-value="getSuggestionValue"
        :render-suggestion="renderSuggestion"
        :on-selected="selectHandler"
    )
</template>

<script>
    import NovaPoshta from 'novaposhta';
    import { VueAutosuggest } from 'vue-autosuggest';

    const $api = new NovaPoshta({ apiKey: process.env.NEW_POST_API_KEY });

    /**
     * TODO: Make a library as vue plugin.
     */
    export default {
        components: {
            VueAutosuggest
        },
        data() {
            return {
                cities: [],
                inputProps: {
                    id: 'autosuggest__input',
                    onInputChange: this.onInputChange,
                    placeholder: 'Місто'
                }
            };
        },
        methods: {

            /**
             * Retrieve cities from api.
             *
             * @param value
             * @return Promise<void>
             */
            async onInputChange(value) {
                if (value) {
                    const { data } = await $api.address.searchSettlements({ CityName: value });

                    let cities = data[0].Addresses;
                    cities = cities.filter((item) => {
                        if (item.Warehouses) return item;
                    });

                    this.cities = cities;
                } else {
                    this.cities = [];
                }
            },

            /**
             * Retrieve warehouses from api by selected city.
             * Emit event "selected" with selected city and warehouses.
             *
             * @param cityItem
             * @returns {Promise<void>}
             */
            async selectHandler(cityItem) {
                const departments = [{ value: null, text: '- Відділення -' }];

                const { data } = await $api.address.getWarehouses({ CityRef: cityItem.item.DeliveryCity });

                data.forEach((item) => {
                    departments.push({
                        value: item.Description,
                        text: item.Description
                    });
                });

                this.$emit('selected', {
                    city: cityItem.item.Present,
                    departments: departments
                });
            },
            renderSuggestion(suggestion) {
                return suggestion.item.Present;
            },
            getSuggestionValue(suggestion) {
                return suggestion.item.Present;
            }
        }
    }
</script>