<template lang="pug">
    div(
        :style="`background-image: url('${item.image.url}')`"
        class="swiper-slide"
    )
        div(v-if="item.title || item.price" class="slider__info u-textRight")

            // Title
            div(
                v-if="item.title"
                class="u-inlineBlock slide__name m-button-default-lg button-dark no-hover"
            ) {{ item.title }}

            // Price
            div(
                v-if="item.price"
                class="u-inlineBlock m-button-default-lg button-white no-hover"
            ) {{ price }}

            // Link
            a(
                v-if="item.url"
                :href="item.url"
                class="m-button-default-lg button-blue"
                target="_blank"
            ) Купити

        // Image
        img(:src="item.image.url" :alt="item.title" class="u-full-width")
</template>

<script>
    export default {
        props: {
            item: Object
        },
        computed: {

            /**
             * Get banner price.
             *
             * @return String
             */
            price() {
                if (!this.item.price) return null;

                const price = this.$fetchDefaultCurrency(this.item.price);

                return `${price.value} ${price.symbol}`
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";
    @import "../../../assets/scss/utilities/u-tools";

    .slider__info {
        position: absolute;
        right: 25px;
        bottom: 40px;
        text-align: right;
    }

    .swiper-slide {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    img {
        display: block;
    }

    @media screen and (max-width: $screen-md-max) {
        .slider__info {
            right: 15px;
            bottom: 25px;
        }
    }

    @media screen and (max-width: $screen-sm-max) {
        .slider__info {
            right: 0;
            bottom: 0;
            width: 100%;
            margin: 0;
            padding: 20px 0;
        }
    }

    @media screen and (max-width: $screen-xs-max) {
        .swiper-slide {
            height: 225px;

            img {
                display: none;
            }
        }
    }

    @media screen and (max-width: $screen-xs-min) {
        .swiper-slide {
            height: 180px;
        }

        .m-button {
            margin: 0 5px;
        }

        .m-button-default-lg {
            font-size: 18px;
        }
    }
</style>
