<template lang="pug">
    div(class="slider-container container")
        div(class="main-slider")
            div(v-swiper:Slider="swiperOptionsTop")

                // Banners
                div(class="swiper-wrapper")
                    banner-item(
                        v-for="(item, index) in items"
                        v-show="item.image"
                        :key="index"
                        :item="item"
                    )

                // Slider pagination, navigation
                div(v-if="items.length > 1")
                    div(id="mainSwiperPagination" class="swiper-pagination-top")
                    div(id="bannerNext" class="swiper-button-next swiper-button-white")
                    div(id="bannerPrev" class="swiper-button-prev swiper-button-white")
</template>

<script>
    import BannerItem from './BannerItem';

    export default {
        components: {
            BannerItem
        },
        props: {
            items: Array
        },
        data() {
            return {
                swiperOptionsTop: {
                    effect: 'fade',
                    loop: true,
                    navigation: {
                        nextEl: '#bannerNext',
                        prevEl: '#bannerPrev'
                    },
                    pagination: {
                        el: '#mainSwiperPagination',
                        clickable: true
                    }
                }
            };
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";
    @import "../../../assets/scss/utilities/u-tools";

    /deep/{
        .main-slider,
        .swiper-container {
            @extend .u-fillWidth;

            position: relative;
            overflow: hidden;
        }

        .swiper-pagination-bullets {
            position: absolute;
            bottom: 35px;
            left: 32px;
            width: auto;
            z-index: 7;
        }

        .swiper-button-next {
            right: 33px;
        }

        .swiper-button-prev {
            left: 33px;
        }

        .swiper-pagination {
            width: auto;
        }

        .swiper-pagination-bullet {
            @extend .u-bg-white, .u-transition-04;
            margin-right: 5px;
            width: 14px;
            height: 14px;
            &:not(.swiper-pagination-bullet-active) {
                opacity: 0.8;
            }
            &:hover {
                opacity: 1;
            }
            &.swiper-pagination-bullet-active {
                @extend .u-bg-default;
                &:hover {
                    opacity: 0.8;
                }
            }
        }

        @media all and (max-width: $screen-md-max) {
            .swiper-pagination-bullets {
                bottom: 32px;
                left: 20px;
            }

            .swiper-button-next {
                right: 20px;
            }

            .swiper-button-prev {
                left: 20px;
            }
        }

        @media screen and (max-width: $screen-sm-max) {
            .swiper-pagination {
                display: none;
            }
        }

        @media all and (max-width: $screen-xs-max) {
            .slider-container {
                padding: 0 !important;
            }

            .swiper-button-prev,
            .swiper-button-next {
                display: none;
            }
        }
    }
</style>
