<p class="login-box-msg" translate="auth.title.log_in"></p>

<!-- Errors -->
<div class="alert alert-danger login-error" ng-if="loginCtrl.errorText" translate="{{ loginCtrl.errorText }}"></div>

<form name="form">

    <!-- Email -->
    <div class="form-group has-feedback" ng-class="{'has-danger': loginCtrl.errors.email}">
        <input type="email"
               id="email"
               class="form-control"
               name="email"
               title="{{ 'auth.attribute.title.email' | translate }}"
               placeholder="{{ 'auth.attribute.label.email' | translate }}"
               ng-model="loginCtrl.email"/>
        <span class="fa fa-envelope form-control-feedback"></span>
        <span class="text-danger" ng-if="loginCtrl.errors.email" ng-bind="loginCtrl.errors.email[0]"></span>
    </div><!-- /.form-group -->

    <!-- Password -->
    <div class="form-group has-feedback" ng-class="{'has-danger': loginCtrl.errors.password}">
        <input type="password"
               id="password"
               class="form-control"
               name="password"
               title="{{ 'auth.attribute.title.password' | translate }}"
               placeholder="{{ 'auth.attribute.label.password' | translate }}"
               ng-model="loginCtrl.password"/>
        <span class="fa fa-lock form-control-feedback"></span>
        <span class="text-danger" ng-if="loginCtrl.errors.password" ng-bind="loginCtrl.errors.password[0]"></span>
    </div><!-- /.form-group -->

    <div class="row">
        <div class="col-xs-8">
            <a ui-sref="auth.reset" translate="auth.button.forgot_password"></a>
        </div>
        <div class="col-xs-4">
            <button type="submit"
                    class="btn btn-primary btn-block btn-flat"
                    ng-click="loginCtrl.login()"
                    translate="auth.button.log_in"></button>
        </div><!-- /.col -->
    </div><!-- /.row -->

</form>