<p class="login-box-msg" translate="auth.title.sign_up"></p>

<form name="form">

    <!-- First name -->
    <div class="form-group" ng-class="{'has-danger': registrationCtrl.errors.first_name}">
        <input type="text"
               id="first_name"
               class="form-control"
               name="first_name"
               title="{{ 'auth.attribute.title.first_name' | translate }}"
               placeholder="{{ 'auth.attribute.label.first_name' | translate }}"
               ng-model="registrationCtrl.first_name"/>
        <span class="text-danger" ng-if="registrationCtrl.errors.first_name" ng-bind="registrationCtrl.errors.first_name[0]"></span>
    </div><!-- /.form-group -->

    <!-- Last name -->
    <div class="form-group" ng-class="{'has-danger': registrationCtrl.errors.last_name}">
        <input type="text"
               id="last_name"
               class="form-control"
               name="last_name"
               title="{{ 'auth.attribute.title.last_name' | translate }}"
               placeholder="{{ 'auth.attribute.label.last_name' | translate }}"
               ng-model="registrationCtrl.last_name"/>
        <span class="text-danger" ng-if="registrationCtrl.errors.last_name" ng-bind="registrationCtrl.errors.last_name[0]"></span>
    </div><!-- /.form-group -->

    <!-- Password -->
    <div class="form-group" ng-class="{'has-danger': registrationCtrl.errors.password}">
        <input type="password"
               id="password"
               class="form-control"
               name="password"
               title="{{ 'auth.attribute.title.password' | translate }}"
               placeholder="{{ 'auth.attribute.label.password' | translate }}"
               ng-model="registrationCtrl.password"/>
        <span class="text-danger" ng-if="registrationCtrl.errors.password" ng-bind="registrationCtrl.errors.password[0]"></span>
    </div><!-- /.form-group -->

    <!-- Confirm Password -->
    <div class="form-group" ng-class="{'has-danger': registrationCtrl.errors.password_confirmation}">
        <input type="password"
               id="password_confirmation"
               class="form-control"
               name="password_confirmation"
               title="{{ 'auth.attribute.title.password_confirmation' | translate }}"
               placeholder="{{ 'auth.attribute.label.password_confirmation' | translate }}"
               ng-model="registrationCtrl.password_confirmation"/>
        <span class="text-danger" ng-if="registrationCtrl.errors.password_confirmation" ng-bind="registrationCtrl.errors.password_confirmation[0]"></span>
    </div><!-- /.form-group -->

    <!-- Email -->
    <div class="form-group" ng-class="{'has-danger': registrationCtrl.errors.email}">
        <input type="email"
               id="email"
               class="form-control"
               name="email"
               title="{{ 'auth.attribute.title.email' | translate }}"
               placeholder="{{ 'auth.attribute.label.email' | translate }}"
               ng-model="registrationCtrl.email"/>
        <span class="text-danger" ng-if="registrationCtrl.errors.email" ng-bind="registrationCtrl.errors.email[0]"></span>
    </div><!-- /.form-group -->

    <!-- Phone -->
    <div class="form-group" ng-class="{'has-danger': registrationCtrl.errors.phone}">
        <input type="text"
               id="phone"
               class="form-control"
               name="phone"
               title="{{ 'auth.attribute.title.phone' | translate }}"
               placeholder="{{ 'auth.attribute.label.phone' | translate }}"
               ng-model="registrationCtrl.phone"/>
        <span class="text-danger" ng-if="registrationCtrl.errors.phone" ng-bind="registrationCtrl.errors.phone[0]"></span>
    </div><!-- /.form-group -->

    <!-- Agree -->
    <div class="form-group" ng-class="{'has-danger': registrationCtrl.errors.agree}">
        <div class="checkbox">
            <label for="agree" title="agree">
            <input  id="agree"
                    type="checkbox"
                    name="agree"
                    ng-model="registrationCtrl.agree"
                    ng-true-value="true"
                    ng-false-value="false"/>
                {{'auth.general.i_agree' | translate}}
            </label>
        </div>
        <span class="text-danger" ng-if="registrationCtrl.errors.agree" ng-bind="registrationCtrl.errors.agree[0]"></span>
    </div><!-- /.form-group -->

    <button class="btn btn-primary btn-flat" ng-click="registrationCtrl.register()" translate="auth.button.sign_up"></button>

</form>