<p class="login-box-msg" translate="auth.title.reset"></p>

<!-- Errors -->
<div class="alert alert-danger" ng-if="resetConfirmCtrl.error_message">{{resetConfirmCtrl.error_message}}</div>

<!-- Success message -->
<div ng-if="resetConfirmCtrl.success_message">{{resetConfirmCtrl.success_message|translate}}</div>

<form name="form" ng-if="!resetConfirmCtrl.success_message">

    <!-- Password -->
    <div class="form-group" ng-class="{'has-danger': resetConfirmCtrl.errors.password}">
        <input type="password"
               id="password"
               class="form-control"
               name="password"
               title="{{ 'auth.attribute.title.password' | translate }}"
               placeholder="{{ 'auth.attribute.label.password' | translate }}"
               ng-model="resetConfirmCtrl.password"/>
        <span class="text-danger" ng-if="resetConfirmCtrl.errors.password" ng-bind="resetConfirmCtrl.errors.password[0]"></span>
    </div><!-- /.form-group -->

    <!-- Confirm Password -->
    <div class="form-group" ng-class="{'has-danger': resetConfirmCtrl.errors.password_confirmation}">
        <input type="password"
               id="password_confirmation"
               class="form-control"
               name="password_confirmation"
               title="{{ 'auth.attribute.title.password_confirmation' | translate }}"
               placeholder="{{ 'auth.attribute.label.password_confirmation' | translate }}"
               ng-model="resetConfirmCtrl.password_confirmation"/>
        <span class="text-danger" ng-if="resetConfirmCtrl.errors.password_confirmation" ng-bind="resetConfirmCtrl.errors.password_confirmation[0]"></span>
    </div><!-- /.form-group -->

    <div class="row">
        <div class="col-xs-7">
            <a ui-sref="auth.login" translate="auth.button.log_in"></a>
        </div>
        <div class="col-xs-5">
            <button type="submit"
                    class="btn btn-primary btn-block btn-flat"
                    ng-click="resetConfirmCtrl.confirm()"
                    translate="auth.button.send"></button>
        </div><!-- /.col -->
    </div><!-- /.row -->

</form>