<p class="login-box-msg" translate="auth.title.reset"></p>

<!-- Errors -->
<div class="alert alert-danger" ng-if="resetPassCtrl.server_message" translate="reset.server_message"></div>

<!-- Success message -->
<div ng-if="resetPassCtrl.success_message">{{resetPassCtrl.success_message|translate}}</div>

<form name="form" ng-if="!resetPassCtrl.success_message">

    <!-- Email -->
    <div class="form-group has-feedback" ng-class="{'has-danger': resetPassCtrl.errors.email}">
        <input type="email"
               id="email"
               class="form-control"
               name="email"
               title="{{ 'auth.attribute.title.email' | translate }}"
               placeholder="{{ 'auth.attribute.label.email' | translate }}"
               ng-model="resetPassCtrl.email"/>
        <span class="fa fa-envelope form-control-feedback"></span>
        <span class="text-danger" ng-if="resetPassCtrl.errors.email" ng-bind="resetPassCtrl.errors.email[0]"></span>
    </div><!-- /.form-group -->

    <div class="row">
        <div class="col-xs-7">
            <a ui-sref="auth.login" translate="auth.button.log_in"></a>
        </div>
        <div class="col-xs-5">
            <button type="submit"
                    class="btn btn-primary btn-block btn-flat"
                    ng-click="resetPassCtrl.reset()"
                    translate="auth.button.send"></button>
        </div><!-- /.col -->
    </div><!-- /.row -->

</form>