<template lang="pug">
    div(class="l-header__basket u-inlineBlock u-alignMiddle")
        nuxt-link(:to="{ name: 'cart.index' }")

            // Icon
            i(class="icon-sport_shop_icons-53 m-r-5 u-fz-20 u-alignMiddle")

            // Products quantity
            span(class="basket__count u-alignMiddle hidden-xs")
                | {{ quantity }} товарів |&nbsp;

            // Sum
            span(class="basket__total u-fw700 u-alignMiddle")
                | {{ price.value }} {{ price.symbol }} &nbsp;&nbsp;
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters('cart', [
                'quantity',
                'price'
            ]),
            ...mapGetters('discounts', {
                discount: 'current'
            })
        },
        watch: {

            /**
             * Re-fetch cart products when selected discount.
             */
            discount() {
                this.$store.dispatch('cart/fetchProducts');
            },

            /**
             * Re-fetch cart products when user has logged in.
             */
            ['$auth.loggedIn']() {
                setTimeout(() => {
                    this.$store.dispatch('cart/fetchProducts');
                });
            }
        }
    };
</script>
