/*
===========================
	All The States styles

	Using prefix .is-*
===========================
*/

input,
select,
textarea {
	&.ng-pristine.ng-invalid {
		box-shadow: none;
	}
}

.is-error {

}

.is-loading {

}

.is-success {

}


@include keyframes(spin) {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}