#gmap_canvas img {
    max-width: none !important;
    background: none !important;
    width: 100%;
}

/* white background and box outline */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div {
    /* we have to use !important because we are overwritng inline styles */
    background-color: transparent !important;
    box-shadow: none !important;
    width: auto !important;
    height: auto !important;
    opacity: 0;
}

/* arrow colour */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div > div > div {
    background-color: #003366 !important;
}

/* close button */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child {
    margin-right: 5px;
    margin-top: 5px;
}

/* image icon inside close button */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child > img {
    display: none;
}

.gm-style-iw {
    top: 32px !important;
    left: 22px !important;
    color: white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#location {
    z-index: -1;
}

//.m-preloader {
//    position: relative;
//    z-index: 999999;
//    background: rgba(255, 255, 255, 0.8);
//
//    &:after {
//        content: '';
//        position: absolute;
//        height: 115px;
//        width: 115px;
//        background: url('/assets/images/spinner.gif') no-repeat;
//        background-size: cover;
//        top: 50%;
//        left: 50%;
//        transform: translate3d(-50%, -50%, 0);
//
//    }
//}