<form role="form" ng-submit="ctrl.saveDiscounts()">
    <div class="form-group">
        <button type="button"
                class="btn btn-success btn-sm"
                ng-click="ctrl.addDiscount()">
            <i class="fa fa-plus"></i>
            <span translate="general.add"></span></button>
    </div><!-- /.form-group -->

    <div class="table-responsive">
        <table class="table no-margin" style="min-width:450px">
            <thead>
                <tr>
                    <th class="col-sm-3" translate="settings.attribute.label.name"></th>
                    <th class="col-sm-2"
                        style="min-width: 75px"
                        translate="settings.attribute.label.type"></th>
                    <th class="col-sm-2" translate="settings.attribute.label.value"></th>
                    <th class="col-sm-2" translate="settings.attribute.label.sale_value"></th>
                    <th class="col-sm-2" translate="settings.attribute.label.for_registration"></th>
                    <th class="col-sm-1" translate="general.actions"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrl.discounts">
                    <td class="form-group"
                        ng-class="{ 'has-error': ctrl.discountsErrors['discounts.{{ $index }}.title'] }">
                        <input type="text"
                               class="form-control"
                               name="discounts.{{ $index }}.title"
                               placeholder="{{ 'settings.attribute.placeholder.name' | translate }}"
                               maxlength="30"
                               ng-model="ctrl.discounts[$index]['title']"/>
                        <span class="text-danger"
                              ng-bind="ctrl.discountsErrors['discounts.' + $index + '.title'][0]"
                              ng-if="ctrl.discountsErrors['discounts.' + $index + '.title']"></span>
                    </td>
                    <td class="form-group">
                        <select class="form-control text-bold"
                                name="discounts.{{ $index }}.is_increase"
                                ng-options="opt.key as opt.value for opt in ctrl.DiscountsType"
                                ng-model="ctrl.discounts[$index]['is_increase']">
                        </select>
                    </td>
                    <td>
                        <div class="input-group"
                             ng-class="{ 'has-error': ctrl.discountsErrors['discounts.{{ $index }}.value'] }">
                            <input type="text"
                                   class="form-control"
                                   name="discounts.{{ $index }}.value"
                                   placeholder="{{ 'settings.attribute.placeholder.value' | translate }}"
                                   maxlength="10"
                                   ng-model="ctrl.discounts[$index]['value']"/>
                            <span class="input-group-addon">%</span>
                        </div>
                        <span class="text-danger"
                              ng-bind="ctrl.discountsErrors['discounts.' + $index + '.value'][0]"
                              ng-if="ctrl.discountsErrors['discounts.' + $index + '.value']" ></span>
                    </td>
                    <td>
                        <div class="input-group"
                             ng-class="{ 'has-error': ctrl.discountsErrors['discounts.{{ $index }}.sale_value'] }">
                            <input type="text"
                                   class="form-control"
                                   name="discounts.{{ $index }}.sale_value"
                                   placeholder="{{ 'settings.attribute.placeholder.sale_value' | translate }}"
                                   maxlength="5"
                                   ng-model="ctrl.discounts[$index]['sale_value']"/>
                            <span class="input-group-addon">%</span>
                        </div>
                        <span class="text-danger"
                              ng-bind="ctrl.discountsErrors['discounts.' + $index + '.sale_value'][0]"
                              ng-if="ctrl.discountsErrors['discounts.' + $index + '.sale_value']"></span>
                    </td>

                    <td>
                        <div class="input-group default-discount"
                             ng-class="{ 'has-error': ctrl.discountsErrors['discounts.{{ $index }}.is_default'] }">
                            <input type="radio"
                                   class="form-control"
                                   title="{{ 'tables.attribute.title.default'|translate }}"
                                   name="is_default"
                                   ng-value="$index"
                                   ng-model="ctrl.discount_is_default"
                                   ng-checked="item.is_default == true"
                                   icheck/>
                        </div>
                        <span class="text-danger"
                              ng-bind="ctrl.discountsErrors['discounts.' + $index + '.is_default'][0]"
                              ng-if="ctrl.discountsErrors['discounts.' + $index + '.is_default']"></span>
                    </td>

                    <td>
                        <button type="button"
                                class="btn btn-danger"
                                ng-click="ctrl.deleteDiscount($index)">
                            <i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div><!-- /.table-responsive -->

    <div class="box-footer">
        <button type="submit" class="btn btn-primary btn-sm">
            <span translate="general.save"></span>
        </button>
    </div><!-- /.box-footer -->
</form>