<template lang="pug">
    div(
        :class="{ rotated: !isOpened }"
        class="header-menu-icon"
        @click.stop="toggle"
    )
        i(class="fa fa-bars m-r-5")
        span(class="icon-text") menu
</template>

<script type="text/babel">
    import { mapActions, mapState } from 'vuex';

    export default {
        computed: mapState('menu', [
            'isOpened'
        ]),
        methods: {
            ...mapActions('menu', [
                'toggle'
            ])
        }
    };
</script>

<style lang="scss" scoped>
    .header-menu-icon {
        color: #ffffff;
        font-size: 17px;

        .icon-text {
            text-transform: uppercase;
            font-family: Exo\ 2, sans-serif !important;
        }

        i {
            transition: transform 0.3s;
        }

        &:hover {
            cursor: pointer;

            i {
                transform: rotate(90deg);
            }
        }

        @media (min-width: 992px) {
            display: none;
        }

        @media (max-width: 767px) {
            font-size: 17px;
        }

        @media (max-width: 480px) {
            font-size: 15px;
        }
    }
</style>
