<template lang="pug">
    div(class="advantages container hidden-xs")
        div(class="row")
            div(
                v-for="(item, index) in items"
                :key="index"
                class="col-xs-24 col-sm-8"
            )
                div(:class="`advantage__item advantage__${item.class}`")

                    // Icon
                    div(class="advantage__icon")
                        i(:class="item.icon")

                    // Name & Description
                    div(class="advantage__info")
                        div(class="advantage__name") {{ item.title }}
                        div(class="advantage__description") {{ item.description }}
</template>

<script>
    import items from './data.json';

    export default {
        data() {
            return {
                items
            };
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/scss/utilities/variables";

    .advantages {
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .advantage__item {
        position: relative;
        padding: 20px;
        min-height: 140px;
        width: 100%;
        display: flex;
        align-items: center;
        flex: 1 0 auto;

        border: 2px solid transparent;
        border-radius: 2px;

        color: $white;
    }

    i {
        font-size: 3.125rem;
    }

    .advantage__green {
        border-color: #3ea19c;
        i {
            color: #3ea19c;
        }
    }
    .advantage__green-lite {
        border-color: #8fbd4b;
        i {
            color: #8fbd4b;
        }
    }
    .advantage__orange {
        border-color: #fb9424;
        i {
            color: #fb9424;
        }
    }
    .advantage__info {
        calc: ('width', ' 100% - 60px');
        padding-left: 20px;
    }

    .advantage__name {
        text-transform: uppercase;
        font-weight: 700;
    }

    .advantage__icon {
        flex: 0 0 50px;
    }

    @media all and (max-width: $screen-md-max) {
        .advantage__item {
            padding: 15px;
        }

        .advantage__info {
            padding-left: 15px;
        }
    }

    @media all and (max-width: $screen-sm-max) {
        .advantage__item {
            margin: 10px 0;
            flex-direction: column;
        }

        .advantage__info {
            padding-left: 0;
        }

        .advantage__icon {
            margin-bottom: 10px;
        }
    }
</style>
