<form role="form" ng-submit="ctrl.saveSettings()">
    <div class="box-body">
        <!-- system_email -->
        <div class="form-group"
             ng-class="{ 'has-error': ctrl.settinsErrors['system_email'] }"
         >
            <label for="system_email">
                <span>System email</span> <span class="text-danger">*</span></label>
            <input type="email"
                   id="system_email"
                   class="form-control"
                   name="'system_email'"
                   ng-model="ctrl.settings.system_email"/>
            <span class="text-danger"
                  ng-bind="ctrl.settinsErrors['system_email'][0]"
                  ng-if="ctrl.settinsErrors['system_email']"></span>
        </div><!-- /.form-group -->

        <!-- support_email -->
        <div class="form-group"
             ng-class="{ 'has-error': ctrl.settinsErrors['support_email'] }"
        >
            <label for="support_email">
                <span>Support email</span> <span class="text-danger">*</span></label>
            <input type="email"
                   id="support_email"
                   class="form-control"
                   name="'support_email'"
                   ng-model="ctrl.settings.support_email"/>
            <span class="text-danger"
                  ng-bind="ctrl.settinsErrors['support_email'][0]"
                  ng-if="ctrl.settinsErrors['support_email']"></span>
        </div><!-- /.form-group -->

        <!-- social_facebook -->
        <div class="form-group"
             ng-class="{ 'has-error': ctrl.settinsErrors['social_facebook'] }"
        >
            <label for="social_facebook">
                <span>Facebook url</span> <span class="text-danger">*</span></label>
            <input type="text"
                   id="social_facebook"
                   class="form-control"
                   name="'social_facebook'"
                   ng-model="ctrl.settings.social_facebook"/>
            <span class="text-danger"
                  ng-bind="ctrl.settinsErrors['social_facebook'][0]"
                  ng-if="ctrl.settinsErrors['social_facebook']"></span>
        </div><!-- /.form-group -->

        <!-- social_instagram -->
        <div class="form-group"
             ng-class="{ 'has-error': ctrl.settinsErrors['social_instagram'] }"
        >
            <label for="social_instagram">
                <span>Instagram url</span> <span class="text-danger">*</span></label>
            <input type="text"
                   id="social_instagram"
                   class="form-control"
                   name="'social_instagram'"
                   ng-model="ctrl.settings.social_instagram"/>
            <span class="text-danger"
                  ng-bind="ctrl.settinsErrors['social_instagram'][0]"
                  ng-if="ctrl.settinsErrors['social_instagram']"></span>
        </div><!-- /.form-group -->

        <!-- phones -->
        <div class="form-group"
             ng-class="{ 'has-error': ctrl.settinsErrors['phones'] }"
        >
            <label for="phones">
                <span>Phones</span> <span class="text-danger">*</span></label>
            <input type="text"
                   id="phones"
                   class="form-control"
                   name="'phones'"
                   ng-model="ctrl.settings.phones"/>
            <span class="text-danger"
                  ng-bind="ctrl.settinsErrors['phones'][0]"
                  ng-if="ctrl.settinsErrors['phones']"></span>
        </div><!-- /.form-group -->

        <!-- markup -->
        <div class="form-group"
             ng-class="{ 'has-error': ctrl.settinsErrors['markup'] }"
        >
            <label for="markup">
                <span>Націнка</span> <span class="text-danger">*</span></label>
            <input type="text"
                   id="markup"
                   class="form-control"
                   name="'markup'"
                   ng-model="ctrl.settings.markup"/>
            <span class="text-danger"
                  ng-bind="ctrl.settinsErrors['markup'][0]"
                  ng-if="ctrl.settinsErrors['markup']"></span>
        </div><!-- /.form-group -->

        <!-- discount_sale -->
        <div class="form-group"
             ng-class="{ 'has-error': ctrl.settinsErrors['discount_sale'] }"
        >
            <label for="discount_sale">
                <span>Sale знижка</span> <span class="text-danger">*</span></label>
            <input type="text"
                   id="discount_sale"
                   class="form-control"
                   name="'discount_sale'"
                   ng-model="ctrl.settings.discount_sale"/>
            <span class="text-danger"
                  ng-bind="ctrl.settinsErrors['discount_sale'][0]"
                  ng-if="ctrl.settinsErrors['discount_sale']"></span>
        </div><!-- /.form-group -->

        <!-- discount_max_sale -->
        <div class="form-group"
             ng-class="{ 'has-error': ctrl.settinsErrors['discount_max_sale'] }"
        >
            <label for="discount_max_sale">
                <span>Max sale знижка</span> <span class="text-danger">*</span></label>
            <input type="text"
                   id="discount_max_sale"
                   class="form-control"
                   name="'discount_max_sale'"
                   ng-model="ctrl.settings.discount_max_sale"/>
            <span class="text-danger"
                  ng-bind="ctrl.settinsErrors['discount_max_sale'][0]"
                  ng-if="ctrl.settinsErrors['discount_max_sale']"></span>
        </div><!-- /.form-group -->
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button type="submit" class="btn btn-primary btn-sm">
            <span translate="general.save"></span>
        </button>
    </div><!-- /.box-footer -->
</form>