<!-- Logo -->
<thumbnail media="ctrl.item.logo"
           id="ctrl.item.logo_id"
           errors="ctrl.errors"
           isrequired="true"
           width="'275px'"
           name="'Логотип'"
           url="'/stores/upload-logo'"></thumbnail>

<!-- Favicon -->
<thumbnail media="ctrl.item.favicon"
           id="ctrl.item.favicon_id"
           errors="ctrl.errors"
           isrequired="true"
           temp="'favicon'"
           width="'140px'"
           name="'Іконка'"
           url="'/stores/upload-favicon'"></thumbnail>


<!--<button type="button"-->
        <!--class="btn btn-success btn-sm"-->
        <!--ng-click="ctrl.uploadGalleryImage()"><i class="fa fa-upload"></i>-->
    <!--{{ 'general.upload' | translate }}-->
<!--</button>-->

<!--<input  type="file"-->
        <!--id="files-upload"-->
        <!--class="upload hidden"-->
        <!--name="additional_media"-->
        <!--ng-model="ctrl.item.additional_media.id"-->
        <!--nv-file-select=""-->
        <!--onclick="this.value=null"-->
        <!--options="{ url: '{{ ctrl.uploadUrl }}', removeAfterUpload: true }"-->
        <!--uploader="ctrl.uploadAdditionalImages"/>-->

<!--<div class="row gallery-container">-->
    <!--<div class="col-md-12 gallery-item">-->
        <!--<div class="thumbnail-container">-->
            <!--<img class="img-thumbnail" ng-src="{{ ctrl.item.additional_media.url || '/assets/images/dashboard/no-image.png' }}"/>-->

            <!--<div class="thumbnail-overlay">-->
                <!--<div class="thumbnail-actions">-->
                    <!--<a href class="btn btn-danger" ng-click="ctrl.deleteGalleryImage(item.additional_media, $index)" ng-show="ctrl.item.additional_media.id">-->
                        <!--<span class="fa fa-trash-o"></span>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.row &ndash;&gt;-->