<form name="form" ng-submit="ctrl.save()">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="box box-primary">
                <div class="box-body">

                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors.name }">
                        <label for="name">{{ 'stores.attribute.label.name' | translate }}
                            <span class="text-danger">*</span></label>
                        <input type="text"
                               id="name"
                               class="form-control"
                               title="{{ 'stores.attribute.title.name' | translate }}"
                               name="name"
                               ng-model="ctrl.item.name"/>
                        <span class="text-danger" ng-if="ctrl.errors.name" ng-bind="ctrl.errors.name[0]"></span>
                    </div><!-- /.form-group -->

                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors.address }">
                        <label for="address">{{ 'stores.attribute.label.address' | translate }}
                            <span class="text-danger">*</span></label>
                        <input type="text"
                               id="address"
                               class="form-control"
                               title="{{ 'stores.attribute.title.address' | translate }}"
                               name="address"
                               ng-model="ctrl.item.address"/>
                        <span class="text-danger" ng-if="ctrl.errors.address" ng-bind="ctrl.errors.address[0]"></span>
                    </div><!-- /.form-group -->

                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors.website_name }">
                        <label for="website_name">{{ 'stores.attribute.label.website_name' | translate }}</label>
                        <input type="text"
                               id="website_name"
                               class="form-control"
                               title="{{ 'stores.attribute.title.website_name' | translate }}"
                               name="website_name"
                               ng-model="ctrl.item.website_name" />
                        <span class="text-danger" ng-if="ctrl.errors.website_name" ng-bind="ctrl.errors.website_name[0]"></span>
                    </div><!-- /.form-group -->

                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors.url }">
                        <label for="url">{{ 'stores.attribute.label.url' | translate}}</label>
                        <input type="text"
                               id="url"
                               class="form-control"
                               title="{{ 'stores.attribute.title.url' | translate }}"
                               name="url"
                               ng-model="ctrl.item.url" />
                        <span class="text-danger" ng-if="ctrl.errors.url" ng-bind="ctrl.errors.url[0]"></span>
                    </div><!-- /.form-group -->

                    <!-- Theme -->
                    <div class="form-group">
                        <label for="theme">
                            {{ 'stores.attribute.label.theme' | translate }}
                        </label>
                        <div class="selectbox">
                            <select id="theme"
                                    class="form-control"
                                    name="theme"
                                    ng-options="opt.key as opt.value | translate for opt in ctrl.themes"
                                    ng-model="ctrl.item.theme">
                            </select>
                        </div>
                    </div><!-- /.form-group -->

                </div><!-- /.box-body -->


            </div><!-- /.box box-primary -->
        </div><!-- /.col -->

        <div class="col-sm-12 main-sidebar-right">
            <div class="box box-primary">
                <div class="box-body">
                    <div ui-view="sidebar"></div>
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit"
                            class="btn btn-primary btn-sm"
                            ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                            translate="general.save"></button>
                </div>
            </div><!-- /.box -->
        </div><!-- /.main-sidebar-right -->
    </div><!-- /.row -->
</form>