<div class="box box-primary">
    <div class="box-header">
        <a class="btn btn-sm btn-primary"
           ui-sref="stores.create"
           ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
           translate="general.create"
        ></a>
    </div><!-- /.box-header-->

    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-middle table-striped">
                        <thead>
                            <tr>
                                <th translate="orders.attribute.label.photo"
                                    style="min-width: 61px;"></th>
                                <th translate="stores.general.name"></th>
                                <th translate="stores.general.website_name"></th>
                                <th translate="stores.general.url"></th>
                                <th translate="stores.general.address"></th>
                                <th
                                    translate="general.actions"
                                    ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                                ></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in $root.globalStores">
                                <td class="grid-thumbnail">
                                    <img class=img-thumbnail"
                                         ng-src="{{ item.favicon.url || '/assets/images/dashboard/no-image.png' }}"/>
                                </td>
                                <td>
                                    <span>{{ item.name }}</span>
                                </td>
                                <td>{{ item.website_name }}</td>
                                <td>{{ item.url }}</td>
                                <td>{{ item.address }}</td>
                                <td
                                    class="grid-actions"
                                    ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                                >
                                    <a class="btn btn-sm btn-default"
                                       ui-sref="stores.edit({id: item.id})"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       tooltip="{{ 'general.edit' | translate }}">
                                        <i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-sm btn-danger"
                                       ng-click="ctrl.remove(item)"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       tooltip="{{ 'general.remove' | translate }}">
                                        <i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row" ng-if="!ctrl.list.length">
            <div class="col-sm-12" translate="general.no_items"></div>
        </div><!-- /.row -->

        <div class="row" ng-hide="true">
            <div class="col-sm-5">
                <div class="pagination-info" ng-if="ctrl.list.total > 0">
                    <span translate="stores.general.pagination"
                          translate-values="{ from: ctrl.list.from || 0, to: ctrl.list.to || 0, total: ctrl.list.total }"></span>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-7">
                <div class="text-right" ng-if="ctrl.list.total > ctrl.list.per_page">
                    <pagination
                            boundary-link-numbers="true"
                            force-ellipses="true"
                            ng-change="ctrl.changePage()"
                            total-items="ctrl.list.total"
                            ng-model="ctrl.list.current_page"
                            items-per-page="ctrl.list.per_page"
                            class="pagination-sm"
                            max-size="5"
                            boundary-links="true"></pagination>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->