<template lang="pug">
    div(class="row")
        div(
            v-for="(category, index) in categories"
            :key="index"
            class="col-xs-12 col-sm-8"
        )
            category-item(:category="category")
</template>

<script>
    import CategoryItem from './CategoryItem';

    export default {
        components: {
            CategoryItem
        },
        computed: {
            categories() {
                return this.$store.state.categories.all;
            }
        }
    }
</script>