<template lang="pug">
    ul(class="m-footer__sitemap")

        // Main category
        li
            nuxt-link(:to="buildRoute(category)") {{ category.name }}

        // Subcategories
        template()
            li(
                v-if="subCategories && subCategories.length"
                v-for="(category, index) in subCategories"
                :key="index"
            )
                nuxt-link(:to="buildRoute(category)") {{ category.name }}
</template>

<script>
    export default {
        props: {
            category: Object
        },
        computed: {
            subCategories() {
                return this.category.children;
            }
        },
        methods: {
            buildRoute(category) {
                return {
                    name: 'products.index',
                    params: { category_slug: category.slug }
                };
            }
        }
    };
</script>