<template lang="pug">
    div(class="container")

        // Size values modal
        sizes-modal(
            ref="modal"
            :brand="selectedSize.brand"
            :sizeGroup="selectedSize.sizeGroup"
        )

        // Title
        h1(class="h1") {{ title }}

        // Types
        div(class="tabs-nav u-textCenter")
            nuxt-link(
                v-for="type in types"
                :key="type.key"
                :to="{ name: 'sizes.index', query: { type: type.key } }"
                :class="{'is-active': type.key === currentTypeKey }"
                class="m-button-default-sm button-simple"
            ) {{ type.value }}

        div(v-if="brands.length" class="row m-b-20")

            // Brand list
            div(
                v-for="brand in brands"
                :key="brand.id"
                class="u-flex col-md-6 col-sm-8"
            )
                div(class="l-sizes__item")

                    // Brand image
                    img(v-if="brand.thumbnail" :src="brand.thumbnail.url" :alt="brand.name")

                    // Size group list
                    div(class="u-textLeft m-t-15")
                        b-link(
                            v-for="group in brand.size_groups"
                            :key="group.id"
                            class="l-item__link"
                            @click="showSize(brand, group)"
                        ) {{ group.name }}
</template>

<script>
    import api from '@/api';
    import SizesModal from '@/components/SizesModal/SizesModal';

    const types = [
        { key: 'shoes', value: 'Взуття' },
        { key: 'clothes', value: 'Одяг' }
    ];

    export default {
        watchQuery: ['type'],
        components: {
            SizesModal
        },
        head() {
            return {
                title: this.title
            };
        },
        data() {
            return {
                title: 'Розмірні таблиці',
                types,
                showModal: false,
                selectedSize: {
                    brand: {},
                    sizeGroup: {}
                }
            };
        },
        computed: {
            currentTypeKey() {
                return this.$route.query.type || this.types[0].key;
            }
        },

        // Fetch api data.
        async asyncData({ app, route }) {
            const type = route.query.type || types[0].key;

            const { data } = await api.sizes.findAll(app, { type });

            return { brands: data };
        },

        // Set breadcrumbs.
        beforeMount() {
            this.$store.dispatch('breadcrumbs/setItems', [{ title: this.title }]);
        },

        methods: {

            // Show size group modal.
            showSize(brand, sizeGroup) {
                this.selectedSize = { brand, sizeGroup };

                this.$refs.modal.show();
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../assets/scss/utilities/variables";
    @import "../../assets/scss/utilities/u-tools";

    .l-sizes__item {
        flex: 1 0 auto;

        border: 1px solid white;
        border-radius: 2px;
        padding: 20px;
        margin: 15px 0;
        text-align: center;
        max-width: 100%;
    }

    .l-item__link {
        @extend .u-link-hover;

        display: block;
    }

    img {
        max-width: 100%;
        border-radius: 2px;
        background: #ffffff;
    }

    @media (max-width: $screen-xs-max) {
        max-width: 290px;
    }
</style>
