<form name="form" novalidate>
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors.name }">
                        <label>{{ 'attributes.attribute.label.name' | translate }} <span class="text-danger">*</span></label>
                        <input type="text"
                               class="form-control"
                               name="name"
                               title="{{ 'attributes.attribute.title.name' | translate }}"
                               ng-model="ctrl.item.name" required/>
                        <span class="text-danger" ng-bind="ctrl.errors.name[0]" ng-if="ctrl.errors.name"></span>
                    </div><!-- /.form-group -->
                </div><!-- /.col -->

                <div class="col-xs-6 col-sm-6 col-md-6">
                    <button type="button"
                            class="btn btn-success btn-sm btn-add-property"
                            ng-click="ctrl.addAttribute()"
                            ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                            translate="attributes.button.add"></button>
                </div>
            </div><!-- /.row -->

        </div><!--/.box-body -->

        <div class="box-body">
            <div class="row" ng-repeat-start="elem in ctrl.item.attributes" ng-init="attributeIndex=$index">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h5><b>Атрибут:</b></h5>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors['attributes.'+ $index +'.name'] }">
                        <input type="text"
                               class="form-control"
                               id="{{ 'attributes.'+ $index +'.name' }}"
                               name="attributes.$index.name"
                               title="{{ 'attributes.attribute.title.attribute' | translate }}"
                               maxlength="60"
                               ng-model="elem.name"
                               required/>

                        <span class="text-danger"
                              ng-bind="ctrl.errors['attributes.'+ $index +'.name'][0]"
                              ng-if="ctrl.errors['attributes.'+ $index +'.name']"></span>

                        <span class="text-danger"
                              ng-bind="ctrl.errors['attributes.'+ $index +'.values'][0]"
                              ng-if="ctrl.errors['attributes.'+ $index +'.values']"></span>
                    </div>
                </div><!-- /.col -->

                <div class="col-xs-4 col-sm-4 col-md-2">
                    <button type="button"
                            class="btn btn-success btn-sm"
                            data-toggle="tooltip"
                            data-placement="top"
                            ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                            tooltip="{{ 'attributes.button.add_property' | translate }}"
                            ng-click="ctrl.addProperty($index)">
                        <i class="fa fa-plus-square"></i>
                    </button>

                    <button type="button"
                            class="btn btn-danger btn-sm"
                            ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                            ng-click="ctrl.removeAttribute($index)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row" ng-if="elem.values.length">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h5><b>Список значень:</b></h5>
                </div>
            </div>
            <div class="row" ng-repeat="prop in elem.values">

                <div class="col-xs-5 col-sm-5 col-md-5">
                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors['attributes.'+ attributeIndex +'.values.'+ $index +'.value'] }">
                        <input type="text"
                               class="form-control"
                               id="{{ 'values.'+ $index +'.value' }}"
                               name="attributes.{{ attributeIndex }}.values.$index.value"
                               title="{{ 'attributes.attribute.title.property' | translate }}"
                               maxlength="60"
                               ng-model="prop.value"
                               required/>

                        <span class="text-danger"
                              ng-bind="ctrl.errors['attributes.'+ attributeIndex +'.values.'+ $index +'.value'][0]"
                              ng-if="ctrl.errors['attributes.'+ attributeIndex +'.values.'+ $index +'.value']"></span>
                    </div>
                </div><!-- /.col -->

                <div class="col-xs-2 col-sm-2 col-md-2">
                    <button type="button"
                            class="btn btn-danger btn-sm"
                            ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                            ng-click="ctrl.removeProperty($parent.$index, $index)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row" ng-repeat-end>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <hr ng-hide="ctrl.item.attributes.length == attributeIndex + 1">
                    <!--<br/>-->
                </div><!-- /.col -->
            </div><!-- /.row -->

        </div><!-- /.box-body -->

        <div class="box-footer">
            <button type="submit"
                    class="btn btn-primary btn-sm"
                    ng-click="ctrl.save()"
                    ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                    translate="general.save"></button>
        </div><!-- /.box-footer -->
    </div><!-- /.box -->
</form>