<template lang="pug">
    div
        div(class="u-color-white u-fz-22 m-t-30")
            | {{ title }}
            span(class="required") *

        b-form-feedback(v-if="errors['payment.method']") {{ errors['payment.method'][0] }}

        div(class="process-client-info m-b-15 row")
            div(
                v-for="(method, index) in methods"
                :key="index"
                class="form-group col-xs-24 col-sm-8"
            )

                // Radio button
                input(
                    :id="method.id"
                    :value="method.value"
                    :checked="!index"
                    type="radio"
                    name="payment-method"
                    @input="setPaymentMethod"
                )

                // Label
                label(:for="method.id")
                    span(class="u-alignMiddle") {{ method.label }}
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        data() {
            return {
                title: 'Виберіть спосіб оплати',
                methods: [
                    { id: 'payment-overdraft', value: 'cod', label: 'Наложений платіж' },
                    { id: 'payment-privatbank', value: 'card', label: 'Карта Приват' }
                ]
            };
        },
        computed: mapState('checkout', [
            'errors'
        ]),
        methods: {

            /**
             * Set payment method to store.
             *
             * @param e
             */
            setPaymentMethod(e) {
                this.$store.dispatch('checkout/setPaymentMethod', e.target.value);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .process-client-info {
        font-size: 19px;
        font-weight: 400;
    }
</style>