<template lang="pug">
    div(class="inner__left-block u-inlineBlock u-alignTop")
        b-dropdown(
            :text="current.title"
            variant="link"
            class="fa fa-tags"
        )
            b-dropdown-item(
                v-for="(item, index) in all"
                v-show="item !== current"
                :key="index"
                @click.prevent="setCurrent(item)"
            ) {{ item.title }}
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters('discounts', [
                'all',
                'current'
            ])
        },
        methods: {
            setCurrent(value) {
                this.$store.dispatch('discounts/setCurrent', value);
            }
        }
    };
</script>

<style lang="scss" scoped>
    /deep/ {
        .b-dropdown {
            font-size: 15px;
            margin-left: 10px;
        }

        .dropdown-toggle {
            font-family: Exo\ 2, sans-serif;
            padding-left: 5px;
            font-size: 14px;
        }

        .dropdown-menu {
            font-family: Exo\ 2, sans-serif;
        }
    }
</style>