<template lang="pug">
    div(class="discount-badge" v-if="!isAuthenticated")
        span Знижка 3% при рєєстраціі!
</template>

<script>
    export default {
        computed: {
            isAuthenticated() {
                return this.$auth.loggedIn;
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";

    .discount-badge {
        position: relative;
        display: inline-block;
        margin: 5px 16px 0;
        padding: 5px 10px 7px;
        border: 1px dashed $white;
        border-radius: 4px;
        background-color: $color-default;
        color: $white;
        font-size: 11px;
        line-height: 1;

        &:before {
            content: '\e905';
            position: absolute;
            left: -10px;
            top: 3px;
            font-family: 'sport_shop_icons_font' !important;
            font-size: 17px;
            transform: rotate(180deg);
        }

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -6px;
            width: 10px;
            height: 10px;
            border-right: 1px dashed $white;
            border-bottom: 1px dashed $white;
            background-color: inherit;
            transform: translate3d(-50%, 0, 0) rotate(45deg);
        }
    }
</style>