<template lang="pug">
    div

        // Title
        h3(class="h3 m-b-20 m-t-20") {{ title }}

        // Form
        b-form(class="m-form" @submit.prevent="submit")

            // Name
            b-form-group(label="Ваше ім’я")
                b-form-input(v-model="formData.name" type="text")
                b-form-feedback(v-if="errors.name") {{ errors.name[0] }}

            // Email
            b-form-group(label="Ваш email")
                b-form-input(v-model="formData.email" type="email")
                b-form-feedback(v-if="errors.email") {{ errors.email[0] }}

            // Phone
            b-form-group(label="Ваш телефон")
                b-form-input(v-model="formData.phone" type="tel" placeholder="(___) ___-__-__")
                b-form-feedback(v-if="errors.phone") {{ errors.phone[0] }}

            // Message
            b-form-group(label="Ваше повідомлення")
                b-form-textarea(v-model="formData.message" :rows="3" :max-rows="6")
                b-form-feedback(v-if="errors.message") {{ errors.message[0] }}

            // Submit button
            div(class="btn-wrap")
                button(type="submit" class="btn btn-send") Відправити повідомлення
</template>

<script>
    import VueScrollTo from 'vue-scrollto';
    import api from '@/api';

    export default {
        data() {
            return {
                title: 'Зворотній зв’язок',
                formData: {},
                errors: {}
            }
        },
        computed: {
            isScroll() {
                return this.$store.state.contactForm.isScroll;
            }
        },
        watch: {
            isScroll(isScroll) {
                if (isScroll) this.scroll();
            }
        },
        methods: {

            /**
             * Send message.
             */
            submit() {

                // Start preloader
                this.$nuxt.$loading.start();

                api.contact.send(this, this.formData)
                    .then(() => {
                        this.clearForm();
                        this.clearErrors();

                        this.$toast.success('Повідомлення відправлено');
                    })
                    .catch((error) => {
                        this.clearErrors();

                        if (error.response && error.response.status === 422) {
                            this.errors = error.response.data.errors;
                        } else {
                            this.$toast.error('Невідома помилка. Спробуйте пізніше.');
                        }
                    })
                    // Finish preloader
                    .finally(() => {
                        this.$nuxt.$loading.finish();
                    });
            },

            /**
             * Scroll to form.
             */
            scroll() {
                const scrollOptions = {
                    easing: 'ease-in'
                };

                // Scroll to form
                VueScrollTo.scrollTo(this.$el, 500, scrollOptions);

                // Set focus to first input
                this.$el.querySelector('input').focus();

                this.$store.dispatch('contactForm/scroll', false);
            },

            /**
             * Clear form.
             */
            clearForm() {
                this.formData = {};
            },

            /**
             * Clear errors.
             */
            clearErrors() {
                this.errors = {};
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";

    .btn {
        width: 100%;
    }

    @media (max-width: 767px) {
        .m-form {
            margin-bottom: 20px;
        }
    }
</style>