<template lang="pug">
    modal(:name="modalName" class="auth-modal")

        // Header
        template(slot="modal-header")
            h2(class="h1 u-textCenter") {{ title }}

        // Footer
        template(slot="modal-footer")
            div(class="u-flex-between l-auth__bottom-block")
                div(class="u-color-dark-grey") Вже маєте акаунт?
                div
                    button(
                        type="button"
                        class="u-link-hover--default"
                        @click="showSignInModal"
                    ) Увійти

        div(class="l-auth")
            div(class="l-auth__block")

                // Form
                b-form(class="m-form" @submit.prevent="submit")

                    // First Name
                    b-form-group(label="Ім’я")
                        b-form-input(v-model="formData.first_name" type="text")
                        b-form-feedback(v-if="errors.first_name") {{ errors.first_name[0] }}

                    // Last Name
                    b-form-group(label="Прізвище")
                        b-form-input(v-model="formData.last_name" type="text")
                        b-form-feedback(v-if="errors.last_name") {{ errors.last_name[0] }}

                    // Email
                    b-form-group(label="Ел. пошта")
                        b-form-input(v-model="formData.email" type="email")
                        b-form-feedback(v-if="errors.email") {{ errors.email[0] }}

                    // Password
                    b-form-group(label="Пароль")
                        b-form-input(v-model="formData.password" type="password")
                        b-form-feedback(v-if="errors.password") {{ errors.password[0] }}

                    // Password Confirmation
                    b-form-group(label="Підтвердження пароля")
                        b-form-input(v-model="formData.password_confirmation" type="password")
                        b-form-feedback(v-if="errors.password_confirmation") {{ errors.password_confirmation[0] }}

                    // Phone
                    b-form-group(label="Ваш телефон")
                        b-form-input(v-model="formData.phone" type="tel" placeholder="(___) ___-__-__")
                        b-form-feedback(v-if="errors.phone") {{ errors.phone[0] }}

                    // Submit button
                    button(type="submit" class="m-button__bordered-white u-fillWidth") Зареєструватися

                    // Social Media links
                    social-media-links

                    // Agreement link
                    div(class="u-textCenter u-color-white p1")
                        | При реєстрації ви погоджуєтесь на&nbsp;
                        a(href="") правила
</template>

<script>
    import api from '@/api';
    import Modal from '@/components/Modal/Modal';
    import SocialMediaLinks from '../SocialMediaLinks/SocialMediaLinks';

    export default {
        components: {
            Modal,
            SocialMediaLinks
        },
        data() {
            return {
                title: 'Рєєстрація',
                modalName: 'sign-up',
                formData: {
                    first_name: null,
                    last_name: null,
                    email: null,
                    password: null,
                    password_confirmation: null,
                    phone: null,
                    agree: true
                },
                errors: {}
            };
        },
        methods: {

            // Register into app.
            submit() {

                // Start preloader
                this.$nuxt.$loading.start();

                api.auth.register(this, this.formData)
                    .then(() => {
                        this.resetForm();

                        this.hideModal();

                        this.$toast.success('Ви успішно зареєструвались');
                    })
                    .catch(error => {
                        this.resetForm();

                        const { response } = error;

                        if (response.status === 422) {
                            this.errors = response.data.errors;
                        } else {
                            this.$toast.error('Невідома помилка. Спробуйте пізніше.');
                        }
                    })
                    // Finish preloader
                    .finally(() => {
                        this.$nuxt.$loading.finish();
                    });
            },

            // Clear form.
            resetForm() {
                this.formData = {
                    first_name: null,
                    last_name: null,
                    email: null,
                    password: null,
                    password_confirmation: null,
                    phone: null,
                    agree: true
                };
                this.errors = {};
            },

            // Show "Sign In" modal.
            showSignInModal() {
                this.$store.dispatch('modals/show', 'sign-in');
            },

            // Hide "Sign In" modal.
            hideModal() {
                this.$store.dispatch('modals/hide', this.modalName);
            }
        }
    };
</script>