<template lang="pug">
    div(class="container")

        // Title
        h1(class="h1") {{ title }}

        // Disqus
        div(id="disqus_thread")
        script
            | (function() {
            | var d = document, s = d.createElement('script');
            | s.src = 'https://sportshop-1.disqus.com/embed.js';
            | s.setAttribute('data-timestamp', +new Date());
            | (d.head || d.body).appendChild(s);
            | })();
</template>

<script>
    export default {
        head() {
            return {
                title: this.title
            };
        },
        data() {
            return {
                title: 'Відгуки'
            }
        },

        // Set breadcrumbs.
        beforeMount() {
            this.$store.dispatch('breadcrumbs/setItems', [{ title: 'Розмірні таблиці' }]);
        }
    };
</script>