<template lang="pug">
    modal(:name="modalName" size="sm" hide-footer)

        // Header
        template(slot="modal-header")
            h2(class="h2") Замовити дзвінок

        // Form
        b-form(class="m-form" @submit.prevent="submit")

            // Full Name
            b-form-group(label="Телефон")
                b-form-input(v-model="formData.phone" type="text" placeholder="(___) ___-__-__")
                b-form-feedback(v-if="errors.phone") {{ errors.phone[0] }}

            // Submit button
            b-form-group.u-textRight
                button(type="submit" class="m-button__bordered-white") Відправити
</template>

<script>
    import api   from '@/api';
    import Modal from '@/components/Modal/Modal';

    export default {
        components: {
            Modal
        },
        props: {
            productId: Number
        },
        data() {
            return {
                modalName: 'call',
                formData: {
                    phone: ''
                },
                errors: {}
            }
        },
        methods: {

            /**
             * Send message.
             */
            submit() {

                // Start preloader
                this.$nuxt.$loading.start();

                api.products.requestCall(this, this.productId, this.formData)
                    .then(() => {
                        this.hideModal();
                        this.clearForm();
                        this.clearErrors();
                        this.$toast.success('Повідомлення успішно відправлено');
                    })
                    .catch(error => {
                        this.clearErrors();

                        const { response } = error;

                        if (response.status === 401) {
                            this.errors.email = [response.data.message];
                        } else if (response.status === 422) {
                            this.errors = response.data.errors;
                        } else {
                            this.$toast.error('Невідома помилка. Спробуйте пізніше.');
                        }
                    })
                    // Finish preloader
                    .finally(() => {
                        this.$nuxt.$loading.finish();
                    });
            },

            /**
             * Clear form.
             */
            clearForm() {
                this.formData = {};
            },

            /**
             * Clear errors.
             */
            clearErrors() {
                this.errors = {};
            },

            /**
             * Hide modal.
             */
            hideModal() {
                this.$store.dispatch('modals/hide', this.modalName);
            }
        }
    };
</script>