@mixin calc-width($size) {
	$default-size: ($size/1140*100%);
	width: $default-size - (20/1140*100%/3) ;
	@media screen and (max-width: $screen-md-max) {
		width: $default-size - (20/940*100%/3) ;
	}
	@media screen and (max-width: $screen-sm-max) {
		width: $default-size - (20.5/720*100%/3);
	}
}