@mixin default-btn-color($color-bg, $color-font,$size) {
	background: $color-bg;
	color: $color-font;
	&:before {
		@include triangle(down-right, $size, $size, $color-bg);
		margin-left: -$size;
	}

	&:after {
		@include triangle(up-left, $size, $size, $color-bg);
		margin-right: -$size;
	}

	&:not(.no-hover):hover, &.active, &.is-active{
		background: lighten($color-bg, 10%);
		&:before {
			@include triangle(down-right, $size, $size, lighten($color-bg, 10%));
		}
		&:after {
			@include triangle(up-left, $size, $size, lighten($color-bg, 10%));
		}
	}
}
@mixin simple-btn($color-bg, $color-font,$size) {
	background: $color-bg;
	color: $color-font;
	transition: background 0.285s !important;
	&:before {
		@include triangle(down-right, $size, $size, $color-bg);
		margin-left: -$size;
	}
	&:after {
		@include triangle(up-left, $size, $size, $color-bg);
		margin-right: -$size;
	}
	&:not(.no-hover):hover , &.active, &.is-active {
		color: $white;
		background: $color-default;
		&:before {
			@include triangle(down-right, $size, $size, $color-default);
		}
		&:after {
			@include triangle(up-left, $size, $size, $color-default);
		}
	}
}
@mixin dual-color-btn($color-bg-default, $color-bg-hover,  $color-font, $size) {
	background: $color-bg-default;
	color: $color-font;
	&:before {
		content: '';
		transition: border-color 0.285s;
		@extend .u-top-left;
	}
	&:after {
		content: '';
		transition: border-color 0.285s;
		@extend .u-top-right;
	}
	transition: background 0.285s !important;
	height: $size;
	&:before {
		@include triangle(down-right, $size, $size, $color-bg-default);
		margin-left: -$size;
	}
	&:after {
		@include triangle(up-left, $size, $size, $color-bg-default);
		margin-right: -$size;
	}
	&:not(.no-hover):hover , &.active, &.is-active {
		color: $white;
		background:  $color-bg-hover;
		&:before {
			@include triangle(down-right, $size, $size, $color-bg-hover);
		}
		&:after {
			@include triangle(up-left, $size, $size, $color-bg-hover);
		}
	}
}
@mixin default-btn($size, $font-size) {
	@extend .u-posRelative, .u-fw700, .p-r-5,.p-l-5 ;
	font-size: $font-size;
	height: $size;
	line-height: $size - 2px;
	margin-right: $size + 4px;

	&:before {
		content: '';
		transition: border-color 0.285s;
		@extend .u-top-left;
	}
	&:after {
		content: '';
		transition: border-color 0.285s;
		@extend .u-top-right;
	}

	&.button-white {
		@include default-btn-color($white, $color-default, $size)
	}

	&.button-dark {
		@include default-btn-color($color-button-dark, $white, $size)
	}

	&.button-grey {
		@include default-btn-color($color-dark-grey, $white, $size)
	}

	&.button-blue {
		@include default-btn-color($color-default, $white, $size)
	}

	&.button-simple {
		@include simple-btn($white, $color-default, $size)
	}

	@media all and (max-width: $screen-sm-max) {
		font-weight: 400;
		padding: 0 10px;
		$sm-size: $size;
		height: $sm-size;
		line-height: $sm-size - 2px;
		margin-right: $sm-size + 4px;
		&.button-white {
			@include default-btn-color($white, $color-default, $sm-size)
		}

		&.button-dark {
			@include default-btn-color($color-button-dark, $white, $sm-size)
		}

		&.button-grey {
			@include default-btn-color($color-dark-grey, $white, $sm-size)
		}


		&.button-blue {
			@include default-btn-color($color-default, $white, $sm-size)
		}

		&.button-simple {
			@include simple-btn($white, $color-default, $sm-size)
		}
	}
}