@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}
@include keyframes(animate-grid) {
	0%{
		transform: translate3d(0,-100px,0);
		opacity: 0 !important;
		transform: scale(0.4);
	}
	30% {
		transform: translate3d(0,0,0);
		opacity: 0.6 !important;
		transform: scale(0.8);
	}
	100% {
		opacity: 1 !important;
		transform: scale(1);
		transform: translate3d(0,0,0);
	}
}