<template lang="pug">
    div(
        :class="{ active: hasQuantity }"
        class="m-item__size size__empty"
    )
        // Size value
        div(class="size__number") {{ size.value }}

        div(class="size__counter")

            // Current quantity
            div(class="size__counter-value")
                input(
                    :value="value"
                    type="text"
                    class="sizeCounter"
                    @keypress.stop.prevent="onKeyPress"
                )
                div шт

            // Increase, descrease buttons
            div(class="size__counter-arrow")
                span(class="fa fa-caret-up" @click.prevent="increase")
                span(class="fa fa-caret-down" @click.prevent="decrease")

            // Total quantity
            div(class="size__counter-value m-l-10" v-if="canSeeTotalQuantity")
                div {{ size.quantity }}
                div макс
</template>

<script>
    export default {
        props: {
            size: Object
        },
        computed: {
            value() {
                return this.size.selected_quantity || 0;
            },
            hasQuantity() {
                return this.value > 0;
            },
            canSeeTotalQuantity() {
                return (
                    this.$auth.user &&
                    (
                        this.$auth.user.role_name !== 'member'
                        || (this.$auth.user.data && this.$auth.user.data.is_show_sizes)
                    )
                );
            }
        },
        methods: {

            /**
             * Update quantity by key-press event.
             *
             * @param event
             */
            onKeyPress(event) {
                let value;

                if (event.target.value !== 0) {
                    value = event.target.value;
                }

                value += event.key;

                this.updateQuantity(+value);
            },

            /**
             * Increase size quantity.
             */
            increase() {
                this.updateQuantity(+this.value + 1);
            },

            /**
             * Decrease size quantity.
             */
            decrease() {
                this.updateQuantity(this.value - 1);
            },

            /**
             * Emit "updateQuantity" event.
             *
             * @param value|false
             */
            updateQuantity(value) {
                if (value < 0 || value > this.size.quantity) {
                    return false;
                }

                this.$emit('updateQuantity', this.size.id, value);
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../assets/scss/utilities/variables";
    @import "../../assets/scss/utilities/u-tools";
    @import "../../assets/scss/utilities/u-tools-custom";
    @import "../../assets/scss/utilities/mixins";

    .m-item__size {
        position: relative;
        display: inline-block;
        height: 70px;
        margin: 7px 7px 20px;
        color: $white;

        .size__number {
            background-color: #3C76BF;

            font-size: 1.125rem;
            font-weight: 700;

            text-align: center;
        }

        &.size__empty {
            border-color: $color-dark-grey;

            .size__number {
                background-color: $color-dark-grey;
            }
        }

        &.active {
            .size__number {
                background-color: #3C76BF;
            }

            .sizeCounter {
                font-weight: bold;
            }
        }

        input {
            text-align: center;
            background: transparent;
            border: none;
            max-width: 45px;
            height: 20px;

            appearance: none;

            @media screen and (max-width: $screen-md-max) {
                max-width: 25px;
            }
        }
    }

    .size__counter {
        text-align: center;
        border: 1px solid #757575;
        background: #111419;

        @extend .u-flex-between;

        padding: 0 8px;

        a {
            display: inline-block;
            font-size: 20px;

            transition: 0.3s;

            &:not(.disabled):hover {
                opacity: 0.5;
                color: $color-default;
            }

            &.disabled {
                opacity: 0.6;
            }
        }
    }

    .size__delete {
        position: absolute;
        top: -8px;
        right: -8px;
        @include round-block(16px);

        background-color: $color-dark-grey;

        color: $white;
        font-size: 12px;

        transition: all .3s;

        &:hover {
            background-color: $color-red;
        }
    }

    .size__counter-value,
    .size__counter-arrow {
        flex: 1 1 50%;
    }

    .size__counter-arrow {
        span {
            width: 100%;
        }
    }

    .m-item__size.active {
        .size__counter {
            border-color: #3C76BF;
        }
    }

    .size-list tbody td {
        padding: 5px 5px;
        border-right: 1px solid #FFFFFF;
        font-size: 16px;
    }

    .size-list-description {
        max-width: 500px;
    }

    @media (max-width: $screen-md-max) {
        .m-item__size {
            width: 101px;
        }
    }

    @media (max-width: $screen-sm-max) {
        .m-button-default-44 {
            font-size: 23px;
        }
    }

    @media screen and (max-width: $screen-xs-max) {
        .m-item__size {
            margin: 7px 4px;
        }

        .sizeCounter {
            font-size: 12px;
        }
    }

    .l-item__info {
        .m-item__size {
            @media (max-width: 1199px) {
                width: 101px;
            }
        }

        @media (max-width: 991px) {
            .m-button-default-44 {
                font-size: 23px;
            }
        }
    }
</style>
