<template lang="pug">
    div(class="l-item__gallery")
        div(class="visible-xs price") {{ price }}

        // Big images
        div(v-swiper:mainImages="swiperOptions" class="gallery-top")
            div(class="swiper-wrapper")
                div(
                    v-for="(item, i) in product.media"
                    :key="i"
                    class="swiper-slide"
                )
                    img(
                        :src="item.url"
                        :alt="product.name"
                        class="u-imgResponsive"
                        @click="index = i"
                    )

            // Slider navigation
            div(v-if="product.media.length > 4")
                div(slot="button-next" class="swiper-button-next swiper-button-white")
                div(slot="button-prev" class="swiper-button-prev swiper-button-white")

        // Thumbnails
        div(
            v-swiper:additionalImages="swiperAdditionalOptions"
            v-if="product.media.length > 1"
            class="gallery-thumbs hidden-xs"
        )
            div(class="swiper-wrapper")
                div(
                    v-for="(item, i) in product.media"
                    :key="i"
                    class="swiper-slide"
                )
                    img(
                        :alt="product.name"
                        :src="item.url"
                        class="u-imgResponsive"
                    )

        // Slideshow images
        no-ssr
            vue-gallery-slideshow(
                :images="slideshowImages"
                :index="index"
                @close="index = null"
            )
</template>

<script>
    import NoSSR from 'vue-no-ssr';
    import VueGallerySlideshow from 'vue-gallery-slideshow';

    export default {
        components: {
            NoSSR,
            VueGallerySlideshow
        },
        props: {
            product: Object
        },
        data() {
            return {
                swiperOptions: {
                    loop: true,
                    loopedSlides: 3,
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    }
                },
                swiperAdditionalOptions: {
                    spaceBetween: 10,
                    slidesPerView: 3,
                    touchRatio: 0.2,
                    loop: true,
                    loopedSlides: 3,
                    slideToClickedSlide: true
                },
                index: null
            };
        },
        computed: {

            /**
             * Fetch product price.
             *
             * @return String
             */
            price() {
                const price = this.$fetchDefaultCurrency(this.product.sale_price);

                return `${price.value} ${price.symbol}`;
            },
            slideshowImages() {
                return this.product.media.map(item => item.url);
            }
        },
        mounted() {
            this.mainImages.controller.control = this.additionalImages;

            if (this.additionalImages) {
                this.additionalImages.controller.control = this.mainImages;
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";

    .l-item-gallery {
        position: relative;
    }

    .swiper-slide-active {
        margin-bottom: 10px;

        @media (max-width: 767px) {
            img {
                width: 100%;
            }
        }
    }
    .gallery-thumbs {
        .swiper-slide {
            opacity: 0.6;
        }
        .swiper-slide-active {
            opacity: 1;
        }
    }
    .swiper-button-next {
        right: 25px;
    }
    .swiper-button-prev {
        left: 25px;
    }

    .price {
        position: absolute;
        bottom: 10px;
        right: 15px;
        padding: 5px 10px;
        z-index: 2;

        background-color: $color-default;

        font-size: 20px;
        color: $white;
        text-transform: uppercase;
    }
</style>