<template lang="pug">
    ul(class="m-footer__sitemap")
        li(v-for="(item, index) in list" :key="index")
            nuxt-link(:to="item.route") {{ item.title }}
</template>

<script>
    export default {
        data() {
            return {
                list: [
                    { route: '/', title: 'Joma.if.ua' },
                    { route: { name: 'pages.view', params: { slug: 'payment-and-delivery' } }, title: 'Оплата і доставка' },
                    { route: { name: 'reviews.index' }, title: 'Відгуки' },
                    { route: { name: 'sizes.index' }, title: 'Розміри' },
                    { route: { name: 'products.index', query: { type: 'sale' } }, title: 'Sale' },
                    { route: { name: 'products.index', query: { type: 'max-sale' } }, title: 'Max Sale' }
                ]
            };
        }
    }
</script>