<template lang="pug">
    div(class="row p2 u-align-items-center u-textRight")

        // Link to products page.
        div(class="col-sm-12 col-md-8 m-b-10")
            div(class="u-textLeft")
                nuxt-link(:to="{ name: 'products.index' }" class="u-color-default u-fz-22 u-fw700")
                    i(class="icon-sport_shop_icons-53 m-r-10")
                    span Продовжити покупки

        // Total price
        div(v-show="!isEmpty" class="col-md-10 m-b-10 hidden-sm hidden-xs")
            div(class="u-color-white u-fz-24 u-fw600")
                span Загальна вартість:&nbsp;
                span {{ price.value }} {{ price.symbol }}

        // Make a Checkout" button
        div(class="col-sm-12 col-md-6 m-b-10")
            div
                nuxt-link(
                    :class="{ 'button-blue': !isEmpty && price.value }"
                    :to="{ name: 'checkout.index' }"
                    :disabled="isEmpty || !price.value"
                    tag="button"
                    class="m-button-default-44 button-grey"
                ) Оформити
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: mapGetters('cart', [
            'isEmpty',
            'price'
        ])
    };
</script>