<ol class="breadcrumb" ng-loading-content>
	<li ng-repeat="item in items" ng-class="{ active: $root.state.includes('{{item.state}}')}">
		<a ng-if="item.state" ui-sref="{{:: item.state }}" translate="{{ item.label }}"></a>
		<span ng-if="!item.state" class="active" translate="{{ item.label }}"></span>
	</li>
</ol>