<div class="placeholders-no-items">
	<svg enable-background="new 0 0 512 512" height="96px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="96px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M492.924,443.732c0,34.171-27.702,61.872-61.873,61.872H81.308c-34.171,0-61.874-27.701-61.874-61.872  V93.987c0-34.171,27.703-61.873,61.874-61.873h349.743c34.171,0,61.873,27.701,61.873,61.873V443.732z" fill="#0A5772"/><path d="M492.924,418.988c0,34.172-27.702,61.873-61.873,61.873H81.308c-34.171,0-61.874-27.701-61.874-61.873  V69.243c0-34.17,27.703-61.872,61.874-61.872h349.743c34.171,0,61.873,27.702,61.873,61.872V418.988z" fill="#0083BE"/><g><path d="M492.924,318.597c-2.75-2.718-6.287-6.213-6.151-6.074c2.708,2.676,4.71,4.653,6.151,6.076V318.597z" fill="#828282"/><path d="M492.924,319.104c-1.967-2.271-4.015-4.47-6.151-6.581c-16.564-16.76-33.228-33.447-50-50   c-16.564-16.76-33.228-33.448-50-50c-16.524-16.719-33.177-33.329-49.875-49.876c-14.832-14.696-33.614-25.238-53.925-30.116   c-19.207-4.613-39.577-4.163-58.556,1.313c-16.976,4.897-32.719,13.787-45.735,25.727c-12.962,11.892-23.15,26.737-29.518,43.136   c-6.907,17.788-9.225,37.25-6.784,56.171c2.694,20.88,11.264,40.813,24.485,57.19c3.323,4.117,6.965,7.922,10.722,11.642   c4.142,4.19,8.332,8.336,12.499,12.501c8.335,8.332,16.666,16.668,25,25c16.67,16.664,33.331,33.336,50,50s33.33,33.336,50,50   c5.322,5.32,10.552,10.709,16.191,15.65h99.773c34.171,0,61.873-27.701,61.873-61.873V319.104z" fill="#0064A2"/></g><g><path d="M225.579,221.168c12.656,0,22.953-10.295,22.953-22.951c0-12.652-10.297-22.949-22.953-22.949   c-12.65,0-22.947,10.297-22.947,22.949C202.632,210.873,212.929,221.168,225.579,221.168z" fill="#FFFFFF"/><path d="M286.781,221.168c12.652,0,22.949-10.295,22.949-22.951c0-12.652-10.297-22.949-22.949-22.949   c-12.656,0-22.953,10.297-22.953,22.949C263.827,210.873,274.124,221.168,286.781,221.168z" fill="#FFFFFF"/><path d="M256.183,129.371c-63.271,0-114.748,51.476-114.748,114.748c0,63.267,51.477,114.742,114.748,114.742   c63.268,0,114.742-51.475,114.742-114.742C370.925,180.847,319.45,129.371,256.183,129.371z M256.183,343.56   c-54.838,0-99.449-44.609-99.449-99.441c0-54.836,44.611-99.449,99.449-99.449c54.832,0,99.443,44.613,99.443,99.449   C355.626,298.951,311.015,343.56,256.183,343.56z" fill="#FFFFFF"/></g><g><path d="M202.968,294.353c0.498-24.621,33.881-33.012,53.212-33.186c19.326-0.174,52.719,8.804,53.212,33.186   c0.183,9.016,14.183,9.033,14,0c-0.67-33.119-39.53-46.936-67.212-47.186c-27.68-0.25-66.549,14.42-67.212,47.186   C188.785,303.386,202.786,303.369,202.968,294.353L202.968,294.353z" fill="#FFFFFF"/></g></svg>
	<div>
		<h2>{{ label }}</h2>
	</div>

	<div class="m-t-10" ng-if="btnurl">
		<a class="m-btn btn-default" ui-sref="{{ btnurl }}">&plus; {{ btnname }}</a>
	</div>
</div>