<template lang="pug">
    div(class="item")
        div(class="item-container")

            // Thumbnail
            div(class="item-img")
                img(:src="product.thumbnail.url" :alt="product.name")

            div(class="item-content")

                // Name, Sku
                h4(class="item-title") {{ product.name }}
                    span(class="item-series") &nbsp;{{ product.sku }}

                // Price
                div(class="item-price") {{ price.value }} {{ price.symbol }}

        // Arrow
        i(class="item-arrow fa fa-angle-right" aria-hidden="true")
</template>

<script>
    export default {
        props: {
            product: Object
        },
        computed: {
            price() {
                return this.$fetchDefaultCurrency(this.product.sale_price);
            }
        }
    };
</script>

<style lang="scss" scoped>
    $color-default: #000000;
    $color-default-second: #ffffff;
    $color-base: #f5f5f5;
    $color-base-second: #e5e5e5;
    $color-base-third: #9e9e9e;
    $color-brand: #3c76bf;

    .item {
        padding: 10px 10px;
        border-bottom: 1px solid $color-base-second;
        background-color: $color-default-second;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: inset 0 -1px 1px 1px rgba($color-default, 0.1);
        }
        &:nth-child(even) {
            background: $color-base;
        }
    }
    .item-container {
        display: flex;
    }
    .item-img {
        width: 50px;
        height: 50px;
        padding: 5px;
        margin-right: 10px;
        border: 1px solid $color-base-second;
        flex: 0 0 auto;

        img {
            width: 100%;
            height: 100%;
        }
    }
    .item-content {
        position: relative;
    }
    .item-title {
        color: $color-default;
        text-transform: inherit;
        font-size: 12px;
        line-height: 1.2;
        margin-bottom: 5px;
    }
    .item-series {
        color: $color-base-third;
    }
    .item-price {
        color: $color-brand;
        font-size: 14px;
        font-weight: bold;
    }
    .item-arrow {
        color: $color-base-third;
        font-size: 20px;
        font-weight: bold;
    }
</style>
