<template lang="pug">
    form(class="m-form__search")
        div(class="u-posRelative u-inlineBlock")
            label(for="header-search")
                i(class="icon-sport_shop_icons-43 icon-left" aria-hidden="true")
                i(
                    v-if="$refs.search && $refs.search.value"
                    class="icon-sport_shop_icons-28 icon-right"
                    aria-hidden="true"
                    @click="clearSearch"
                )
                vue-autosuggest(
                    :suggestions="[{ data: products }]"
                    :input-props="inputProps"
                    :on-selected="selectHandler"
                    :section-configs="sectionConfigs"
                    component-attr-class-autosuggest-results="search-result"
                    class="search-input b-rad-xs b-a u-fz-12"
                    @keyup.enter="keyHandler"
                    ref="search"
                )
                    // Product list
                    template(slot-scope="{suggestion}")
                        product(:product="suggestion.item")

                    template(slot="footer")

                        // "Show All" button
                        div(
                            v-if="products.length > 1"
                            class="items-all-link"
                            @mouseup="showAll"
                        ) Усі результати пошуку

                        // Empty products
                        div(v-if="!products.length" class="empty") Нічого не знайдено.

</template>

<script>
    import _ from 'lodash';
    import { VueAutosuggest } from 'vue-autosuggest';
    import axios from 'axios';
    import Product from './ProductItem';

    const CancelToken = axios.CancelToken;
    let cancel;

    export default {
        components: {
            VueAutosuggest,
            Product
        },
        data() {
            return {
                products: [],
                inputProps: {
                    id: 'header-search',
                    onInputChange: this.onInputChange,
                    placeholder: 'назва або артикул',
                    initialValue: this.$route.query.search
                },
                sectionConfigs: {
                    default: {
                        limit: 5
                    }
                },
                valueLength: 2,
                timeout: null
            };
        },
        methods: {

            /**
             * Retrieve products from api.
             *
             * @param value
             * @return Promise<void>|void
             */
            onInputChange(value) {
                if (!value || value.length < this.valueLength) {
                    this.products = [];
                    return;
                }

                clearTimeout(this.timeout);

                this.timeout = setTimeout(async () => {

                    // Collect request params
                    const params = {
                        search: value
                    };

                    if (cancel) {
                        cancel();
                    }

                    // Fetch products
                    const { data } = await this.$axios.get('/products', {
                        params,
                        cancelToken: new CancelToken(function executor(c) {
                            cancel = c;
                        })
                    });

                    this.products = data.products;
                }, 500);
            },

            /**
             * Redirect to product detail page.
             *
             * @param item
             */
            selectHandler(item) {
                if (!item) return;

                // Get product default category
                const category = _.find(item.item.categories, { is_default: true });

                // Collect route
                const route = {
                    name: 'products.view',
                    params: {
                        category_slug: category.slug,
                        slug: item.item.slug
                    }
                };

                // Redirect to product page
                this.$router.push(route);
            },

            /**
             * Redirect to products page.
             *
             * @param e
             */
            keyHandler(e) {

                // Collect route
                const route = {
                    name: 'products.index',
                    query: {
                        search: e.target.value
                    }
                };

                // Redirect to products search page
                this.$router.push(route);
            },

            /**
             * Redirect to products page.
             */
            showAll() {
                this.$router.push({ name: 'products.index', query: { search: this.$refs.search.searchInput } });
            },

            /**
             * Clear search input.
             */
            clearSearch() {
                this.$refs.search.searchInput = null;
            }
        }
    };
</script>

<style lang="scss" scoped>
    $color-default: #000000;
    $color-default-second: #ffffff;
    $color-base: #f5f5f5;
    $color-base-second: #e5e5e5;
    $color-base-third: #9e9e9e;
    $color-brand: #3c76bf;

    /deep/ ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    /deep/ input {
        border: 0
    }

    /deep/ .search-result {
        position: relative;
        z-index: 999;
        overflow-y: auto;
        margin-top: 5px;
        max-height: 240px;
        background: $color-default-second;
        border-radius: 0 0 2px 2px;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar {
            width: 8px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: $color-brand;
        }
    }

    .items-all-link {
        padding: 10px 10px 15px;
        font-size: 13px;
        color: $color-brand;
        transition: all 0.3s ease;
        cursor: pointer;

        &:after {
            content: '\f061';
            font-family: "FontAwesome";
            font-size: 14px;
            padding-left: 10px;
        }

        &:hover {
            opacity: 0.7;
        }
    }
    .empty {
        padding: 10px;
        font-size: 13px;
        color: $color-brand;
        transition: all 0.3s ease;
    }

    .icon-left,
    .icon-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .icon-left {
        left: 3px;
    }

    .icon-right {
        right: 3px;
    }

    .mobileSerach {
        background-color: transparent;
    }


</style>
