<template lang="pug">
    div(class="row")
        div(class="col-xs-24 col-sm-8")

            // First Name
            b-form-group(:label="`Ім’я ${ required ? '<span class=\"required\">*</span>' : '' }`")
                b-form-input(
                    :value="customer.first_name"
                    type="text"
                    name="first_name"
                    @input.native="updateCustomer"
                )
                b-form-feedback(v-if="errors['customer.first_name']") {{ errors['customer.first_name'][0] }}

            // Last Name
            b-form-group(:label="`Прізвище ${ required ? '<span class=\"required\">*</span>' : '' }`")
                b-form-input(
                    :value="customer.last_name"
                    type="text"
                    name="last_name"
                    @input.native="updateCustomer"
                )
                b-form-feedback(v-if="errors['customer.last_name']") {{ errors['customer.last_name'][0] }}

        div(class="col-xs-24 col-sm-8")

            // Phone
            b-form-group(:label="`Телефон ${ required ? '<span class=\"required\">*</span>' : '' }`")
                b-form-input(
                    :value="customer.phone"
                    type="text"
                    name="phone"
                    @input.native="updateCustomer"
                )
                b-form-feedback(v-if="errors['customer.phone']") {{ errors['customer.phone'][0] }}

            // Email
            b-form-group(label="Ел. пошта")
                b-form-input(
                    :value="customer.email"
                    type="email"
                    name="email"
                    @input.native="updateCustomer"
                )
                b-form-feedback(v-if="errors['customer.email']") {{ errors['customer.email'][0] }}
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        props: {
            required: Boolean
        },
        computed: mapState('checkout', [
            'customer',
            'errors'
        ]),
        methods: {

            /**
             * Update customer data to store.
             *
             * @param e
             */
            updateCustomer(e) {
                this.$store.dispatch('checkout/setCustomer', { [e.target.name]: e.target.value })
            }
        }
    }
</script>