<template lang="pug">
    div
        // Title
        div(class="u-color-white u-fz-22 m-t-30")
            | {{ title }}
            span(class="required") *

        // Customer types
        div(class="row")
            div(
                v-for="(type, index) in types"
                :key="index"
                class="form-group col-xs-24 col-sm-8"
            )

                // Radio button
                input(
                    :id="type.id"
                    :value="type.value"
                    :checked="type == currentType"
                    type="radio"
                    name="customer"
                    @input="setType(type)"
                )

                // Label
                label(:for="type.id")
                    span(class="u-alignMiddle") {{ type.label }}

        // "New Customer" fieldset
        customer-fieldset(v-if="currentType.value == 'new'" :required="isWebStore")

        // "Exist Customer" fieldset
        customer-search(v-if="currentType.value == 'exist'")
</template>

<script>
    import { mapState } from 'vuex';
    import { VueAutosuggest } from 'vue-autosuggest';
    import CustomerFieldset from '@/components/CustomerFieldset/CustomerFieldset';
    import CustomerSearch from './CustomerSearch';

    const types = [
        { id: 'customer-new', value: 'new', label: 'Новий' },
        { id: 'customer-exist', value: 'exist', label: 'Існуючий' }
    ];

    export default {
        components: {
            CustomerFieldset,
            CustomerSearch,
            VueAutosuggest
        },
        props: {
            isWebStore: Boolean
        },
        data() {
            return {
                title: 'Інформація про клієнта',
                types,
                currentType: types[0],
                discount: {}
            };
        },
        computed: mapState('checkout', [
            'errors'
        ]),
        methods: {

            /**
             * Set customer type.
             *
             * @param type
             */
            setType(type) {
                this.currentType = type;
                this.$store.dispatch('checkout/clearCustomer');
            }
        }
    }
</script>