<template lang="pug">
    div(class="row")
        div(class="col-xs-24 col-sm-16 m-b-20")
            vue-autosuggest(
                :suggestions="[{ data: items }]"
                :input-props="inputProps"
                :on-selected="selectHandler"
                :get-suggestion-value="getSuggestionValue"
                ref="search"
            )
                // Item list
                template(slot-scope="{suggestion}")
                    div(class="item")
                        | {{ suggestion.item.first_name }} {{ suggestion.item.last_name }}
                        span(class="item-series") &nbsp;{{ suggestion.item.email }}

            // Selected customer info.
            div(
                v-if="customer.id"
                class="result"
            )
                div(v-if="customer.first_name")
                    strong Імя:&nbsp;
                    | {{ customer.first_name }}

                div(v-if="customer.last_name")
                    strong Прізвище:&nbsp;
                    | {{ customer.last_name }}

                div(v-if="customer.email")
                    strong Email:&nbsp;
                    | {{ customer.email }}

                div(v-if="customer.phone")
                    strong Телефон:&nbsp;
                    | {{ customer.phone }}
</template>

<script>
    import { mapState, mapGetters } from 'vuex';
    import { VueAutosuggest } from 'vue-autosuggest';
    import api from '@/api';

    export default {
        components: {
            VueAutosuggest
        },
        props: {
            isWebStore: Boolean
        },
        data() {
            return {
                items: [],
                inputProps: {
                    id: 'customer-search',
                    onInputChange: this.onInputChange,
                    placeholder: 'імя користувача або email'
                },
                valueLength: 2,
                timeout: null
            };
        },
        computed: {
            ...mapState('checkout', [
                'customer'
            ]),
            ...mapGetters('discounts', {
                discounts: 'all'
            })
        },
        methods: {

            /**
             * Retrieve users from api.
             *
             * @param value
             * @return Promise<void>|void
             */
            onInputChange(value) {
                if (!value || value.length < this.valueLength) {
                    this.items = [];
                    return;
                }

                clearTimeout(this.timeout);

                this.timeout = setTimeout(async () => {

                    // Collect request params
                    const params = {
                        role: 'member',
                        name: value
                    };

                    // Fetch users
                    const { data } = await api.users.findAll(this, params);

                    this.items = data;
                }, 500);
            },

            /**
             * Update customer data to store.
             *
             * @param item
             */
            selectHandler(item) {
                if (!item) return;

                this.$store.dispatch('checkout/setCustomer', item.item);

                if (item.item.discount) {
                    this.$store.dispatch('discounts/setCurrentById', item.item.discount.id);
                }
            },

            getSuggestionValue(suggestion) {
                let result = '';

                if (suggestion.first_name) {
                    result += `${suggestion.first_name}$nbsp`;
                }
                if (suggestion.last_name) {
                    result += suggestion.last_name;
                }

                return result;
            },
        }
    }
</script>

<style lang="scss" scoped>
    .result {
        margin: 20px 0;
        padding: 15px 10px;

        border: 1px solid white;

        color: white;
        text-align: left;
    }
</style>