<form role="form">
    <div class="form-group">
        <button type="button"
                class="btn btn-success btn-sm"
                ng-click="ctrl.addColor()">
            <i class="fa fa-plus"></i>
            <span translate="general.add"></span></button>
    </div><!-- /.form-group -->

    <div class="table-responsive">
         <span class="text-danger"
               ng-bind="ctrl.colorsErrors['colors'][0]"
               ng-if="ctrl.colorsErrors['colors']"></span>
        <table class="table no-margin" style="min-width:300px" ng-if="ctrl.colors.length">
            <thead>
                <tr>
                    <th class="col-sm-2"
                        style="min-width: 100px"
                        translate="settings.attribute.label.name"></th>
                    <th class="col-sm-2" translate="settings.attribute.label.code"></th>
                    <th class="col-sm-2">Перегляд</th>
                    <th class="col-sm-4" translate="general.actions"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrl.colors">
                    <td class="form-group"
                        ng-class="{ 'has-error': ctrl.colorsErrors['colors.{{ $index }}.name'] }">
                        <input type="text"
                               class="form-control"
                               name="color.{{ $index }}.name"
                               maxlength="100"
                               ng-model="ctrl.colors[$index]['name']"/>
                        <span class="text-danger"
                              ng-bind="ctrl.colorsErrors['colors.' + $index + '.name'][0]"
                              ng-if="ctrl.colorsErrors['colors.' + $index + '.name']"></span>
                    </td>
                    <td class="form-group"
                        ng-class="{ 'has-error': ctrl.colorsErrors['colors.{{ $index }}.hex'] }">
                        <input type="text"
                               colorpicker="hex"
                               class="form-control"
                               name="colors.{{ $index }}.hex"
                               maxlength="20"
                               ng-model="ctrl.colors[$index]['hex']"/>
                        <span class="text-danger"
                              ng-bind="ctrl.colorsErrors['colors.' + $index + '.hex'][0]"
                              ng-if="ctrl.colorsErrors['colors.' + $index + '.hex']"></span>
                    </td>
                    <td>
                        <div class="color-palette-set">
                            <div class="color-palette" ng-style="{'background': ctrl.colors[$index]['hex'], 'height': '34px'}"></div>
                        </div>
                    </td>
                    <td>
                        <button type="button"
                                class="btn btn-danger"
                                ng-click="ctrl.deleteColor($index)">
                            <i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div ng-show="!ctrl.colors.length">
            Список порожній
        </div>
    </div><!-- /.table-responsive -->

    <div class="box-footer">
        <button type="submit" class="btn btn-primary btn-sm" ng-click="ctrl.saveColors()">
            <span translate="general.save"></span>
        </button>
    </div><!-- /.box-footer -->
</form>