<template lang="pug">
    div(class="uniform-collection-wrap")
        div(
            v-for="(item, index) in items"
            :key="index"
            :class="{'active': currentProduct.id === item.id}"
            class="uniform-collection-item"
            @click="slideTo(index)"
        )
            div(class="collection-img")
                img(:src="item.thumbnail.url" :alt="item.name")
</template>

<script>
    export default {
        props: {
            items: Array,
            currentProduct: Object,
            sliderName: String
        },
        methods: {

            /**
             * Slide to product by given index.
             *
             * @param index
             */
            slideTo(index) {
                this.$emit('slideTo', index);
            }
        }
    };
</script>

<style lang="scss" scoped>
    .uniform-collection-wrap {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .uniform-collection-item {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 1px;
        border-radius: 2px;
        background: #ffffff;

        transition: opacity 0.3s;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }

        &.active {
            .collection-img {
                border-radius: 2px;
                border: 2px solid #3c76bf;
            }
        }
    }
    .collection-img {
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }
</style>