<template lang="pug">
    div(class="u-textCenter p2")
        nuxt-link(
            v-for="item in links"
            :key="item.name"
            :to="{ name: item.name }"
            :exact="!routeExact(item.name)"
            active-class="active"
            class="m-button-default-sm button-simple"
        ) {{ item.title }}
</template>

<script>
    export default {
        data() {
            return {
                links: [
                    { name: 'profile.orders', title: 'Замовлення' },
                    { name: 'profile.index', title: 'Особисті дані' }
                ]
            };
        },
        methods: {
            routeExact(name) {
                return name == 'profile.orders' || this.$route.name != 'profile.orders';
            }
        }
    };
</script>
