//
// Scaffolding
// --------------------------------------------------

* {
    @include box-sizing(border-box);
    //background-color: rgba(55,150,55, 0.1);
}

*:before,
*:after {
    @include box-sizing(border-box);
}

* {
    outline: none !important;
    -webkit-overflow-scrolling: touch;
}

html, body {
    width: 100%;
    font-family: $font-family-base;
    font-size: $em-base;
    line-height: $line-height-base;
    padding: 0;
    @media all and (max-width: $screen-sm-max) {
        font-size: 15px;
    }
    @media all and (max-width: $screen-xs-max) {
        font-size: 14px;
    }
    //@media all and (max-width: $screen-sm-max) {
    //	font-size: 10px;
    //}

}

.page-container-wrapper {
    @media all and (max-width: $screen-sm-max) {

        padding-top: 60px;
    }
}

// Body reset

body {
    color: $black;
    padding: 0;

    font-weight: 400;
    min-width: 320px;
    position: relative;
    background: url('~/assets/images/shop-main-bg.png');

    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;

    overflow-x: hidden;
    overflow-y: scroll;

    line-height: $line-height-base;

    @media all and (max-width: $screen-sm-max) {

    }

}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

// Links

a {
    cursor: pointer;
    outline: medium none;
    color: $white;
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
        opacity: 1;
        color: $white;
        text-decoration: none;
    }

    transition: color 0.2s ease 0s;
}

#__nuxt {
    height: 100%;
}