
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	@extend .u-textUpper;
	::selection {
		background-color: $black;
		color: $white;
	}
	font-weight: 300;
}

p {
	::selection {
		background-color: $black;
		color: $white;
	}
}

h1, .h1 {
	font-size: 2.25rem;
	position: relative;

	@media all and (max-width: $screen-xs-max) {
		font-size: 1.875rem
	}
}

.h1 {
	font-weight: bold;
	color: $white;
	text-transform: none;
}

.h1, .h2, .h3 {
	@extend .u-color-white, .u-fw700;
	&.default-font {
		color: $color-default
	}
	&.black-font {
		color: $color-dark;
	}

}

h2, .h2, h3, .h3 {
	@extend .u-fz-30;
	@media all and (max-width: $screen-xs-max) {
		font-size: 1.5rem
	}

}
h4, .h4 {
	font-size: rem(20);
	@extend .u-textUpper, .u-fw400;
	@media all and (max-width: $screen-xs-max) {
		font-size: 1.125rem
	}
}

h5, .h5 {
	font-size: .875rem
}

h6, .h6 {
	font-size: .75rem
}

// для телефонів
@include respond-to(handhelds) {

}

// для телефонів із широким дисплеєм
@include respond-to(wide-handhelds) {

}

// для планшетів
@include respond-to(tablets) {

}

