<template lang="pug">
    b-form(class="cart-process-wrap m-form m-t-25" @submit.prevent="submit")

        // Title
        h2(class="cart-process-title") {{ title }}

        // "webStore" attribute selector
        tabs

        // Payment status selector
        payment-status(v-if="!isWebStore")

        // Payment method selector
        payment-method-input(v-if="isWebStore")

        // Customer info
        customer(:is-web-store="isWebStore")

        // Delivery methods
        div(class="row")
            div(class="col-xs-24 col-sm-16")
                delivery-method-input(v-if="isWebStore")

        // Total bar
        total

        // Submit button
        button(type="submit" class="m-button-default-44 button-blue m-l-35") Оформити
</template>

<script>
    import { mapGetters } from 'vuex';
    import api from '@/api';
    import DeliveryMethodInput from '@/components/DeliveryMethodInput/DeliveryMethodInput';
    import PaymentMethodInput from '@/components/PaymentMethodInput/PaymentMethodInput';
    import Customer from './Customer/Customer';
    import PaymentStatus from './PaymentStatus/PaymentStatus';
    import Tabs from './Tabs/Tabs';
    import Total from './Total/Total';

    export default {
        components: {
            Customer,
            DeliveryMethodInput,
            PaymentMethodInput,
            PaymentStatus,
            Tabs,
            Total
        },
        data() {
            return {
                title: 'Оформлення замовлення менеджером'
            };
        },
        computed: mapGetters('checkout', [
            'isWebStore',
            'formData'
        ]),
        methods: {

            /**
             * Collect all data and send the request to create order.
             */
            submit() {

                // Check if user selected some product sizes (quantity).
                if (!this.formData.products.length) {
                    this.$toast.error('Виберіть розмір');
                    return;
                }

                // Start preloader
                this.$nuxt.$loading.start();

                // Create order.
                api.orders.create(this, this.formData)
                    .then(() => {

                        // Clear all checkout data
                        this.$store.dispatch('checkout/clearData');

                        // Clear cart
                        this.$store.dispatch('cart/clearCart');

                        // Unset current discount
                        this.$store.dispatch('discounts/unsetCurrent');

                        // Show success message
                        this.$toast.success('Замовлення створено успішно');
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.$store.dispatch('checkout/setErrors', error.response.data.errors);
                        }
                    })
                    // Finish preloader
                    .finally(() => {
                        this.$nuxt.$loading.finish();
                    });
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";

    .cart-admin__form {
        border: 1px solid $white;
        padding: 30px 40px;
    }

    .cart-process-wrap {
        max-width: 735px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 15px 50px;
        border: 1px solid #ffffff;
        text-align: center;
        background-color: #111419;
    }

    /deep/ {
        .cart-process-title {
            font-size: 22px;
            color: #ffffff;
            font-weight: bold;
            text-transform: none;

            @media (max-width: 767px) {
                font-size: 20px;
            }
        }

        .row {
            justify-content: center;
        }

        .delivery-method {
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            color: #ffffff;
            border-bottom: 1px solid #ffffff;
            padding-bottom: 10px;
            margin-bottom: 20px;

            @media (max-width: 767px) {
                max-width: none;
            }
        }

        .payment-desc {
            cursor: pointer;
        }

        .payment-input {
            width: 100%;
            display: inline-block;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #ffffff;
            color: #ffffff;
            padding-bottom: 5px;
            padding-right: 30px;

            &:hover {
                background-color: transparent;
                outline: none
            }

            &:focus {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #ffffff;
            }
        }

    }
</style>