<!-- Meta title -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.meta_title }">
    <label for="meta_title" translate="pages.attribute.label.meta_title"></label>
    <input  type="text"
            id="meta_title"
            class="form-control"
            title="{{ 'pages.attribute.title.meta_title' | translate }}"
            name="meta_title"
            maxlength="90"
            ng-model="ctrl.item.meta_title"/>
    <span class="text-danger" ng-bind="ctrl.errors.meta_title[0]" ng-if="ctrl.errors.meta_title"></span>
</div><!-- /.form-group -->

<!-- Meta Description -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.meta_description }">
    <label for="meta_description" translate="pages.attribute.label.meta_description"></label>
    <textarea id="meta_description"
              class="form-control"
              title="{{ 'pages.attribute.title.meta_description' | translate }}"
              name="meta_description"
              maxlength="255"
              ng-model="ctrl.item.meta_description"></textarea>
    <span class="text-danger" ng-bind="ctrl.errors.meta_description[0]" ng-if="ctrl.errors.meta_description"></span>
</div><!-- /.form-group -->