<div class="box box-primary">
    <div class="box-body">
        <div class="row" ng-if="ctrl.list.data.length">
            <div class="col-sm-12">
                <table class="table table-striped dataTable">
                    <thead>
                        <th translate="form_builder.general.name"></th>
                        <th translate="general.actions"></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ctrl.list.data">
                            <td ng-bind=":: item.title"></td>
                            <td class="grid-actions">
                                <a class="btn btn-sm btn-default"
                                   ui-sref="form_builder.edit({ id: item.id })"><i class="fa fa-pencil"></i></a>
                                <a href
                                   class="btn btn-sm btn-danger"
                                   ng-click="ctrl.remove(item)"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row" ng-if="!ctrl.list.data.length">
            <div class="col-sm-12" translate="general.no_items"></div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-sm-5">
                <div class="pagination-info">
                    <span translate="pages.general.pagination"
                          translate-values="{ from: list.from || 0, to: list.to || 0, total: list.total }"></span>
                </div>
            </div>
            <div class="col-sm-7" ng-if="ctrl.list.total > ctrl.list.per_page">
                <pagination
                        boundary-link-numbers="true"
                        force-ellipses="true"
                        ng-change="ctrl.changePage()"
                        total-items="ctrl.list.total"
                        ng-model="ctrl.list.current_page"
                        items-per-page="ctrl.list.per_page"
                        class="pagination-sm"
                        max-size="5"
                        boundary-links="true"></pagination>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.box-body -->

    <div class="box-footer">
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-sm btn-primary"
                   ui-sref="form_builder.create"
                   translate="general.create"></a>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.box-footer -->
</div><!-- /.box -->