<template lang="pug">
    div(class="col-xs-24 col-sm-24 col-md-13 col-lg-14")

        // SKU
        div(class="info__sku") Артикул: {{ product.sku }}

        // Attributes
        div(class="info__sub-title") Характеристики
        table
            tbody

                // Brand
                tr
                    td Бренд:
                    td {{ product.brand.name }}

                // Another attributes
                tr(v-for="(attr, index) in additionalAttrs" :key="index")
                    td {{ attr.name }}:
                    td {{ attr.value }}

                // Colors
                tr(v-if="product.colors.length")
                    td Колір:
                    td
                        div(
                            class="product-color"
                            v-for="(color, index) in product.colors"
                            :key="index"
                            :style="{ 'background-color': color.hex }"
                        )
</template>

<script>
    export default {
        props: {
            product: Object
        },
        computed: {
            additionalAttrs() {
                const attrs = this.product.attributes || [];

                if (!attrs.items) return attrs;

                return attrs.items.map(item => {
                    item.value = item.values.map(item => item.value).join(', ');

                    return item;
                });
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";
    @import "../../../assets/scss/utilities/u-tools";

    .info__sku {
        color: $color-dark-default;
        font-size: 1.125rem;
    }

    .info__sub-title {
        font-weight: 700;
        font-size: 1.25rem;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    table {
        td {
            font-size: 0.875rem;
            &:first-child {
                padding-right: 10px;
            }
        }
    }

    .product-color {
        transform: skewX(-50deg);
        display: inline-block;
        margin: 2px;
        width: 28px;
        height: 12px;
    }
</style>