<template lang="pug">
    div
        // Title
        h1(class="h1") {{ title }}

        // Form
        b-form(class="row cabinet-content-wrap" @submit.prevent="submit")
            div(class="col-xs-24 col-sm-12 col-md-10")
                div(class="m-form" @submit.prevent="submit")

                    // First Name
                    b-form-group(label="Ім’я")
                        b-form-input(v-model="formData.first_name" type="text")
                        b-form-feedback(v-if="errors.first_name") {{ errors.first_name[0] }}

                    // Last Name
                    b-form-group(label="Прізвище")
                        b-form-input(v-model="formData.last_name" type="text")
                        b-form-feedback(v-if="errors.last_name") {{ errors.last_name[0] }}

                    // Email
                    b-form-group(label="Email")
                        b-form-input(v-model="formData.email" type="email")
                        b-form-feedback(v-if="errors.email") {{ errors.email[0] }}

                    // Current Password
                    b-form-group(label="Пароль")
                        b-form-input(v-model="formData.current_password" type="password")
                        b-form-feedback(v-if="errors.current_password") {{ errors.current_password[0] }}

                    // Phone
                    b-form-group(label="Телефон")
                        b-form-input(v-model="formData.phone" type="text")
                        b-form-feedback(v-if="errors.phone") {{ errors.phone[0] }}

                    // Address
                    b-form-group(label="Адреса доставки")
                        b-form-input(v-model="formData.address" type="text")
                        b-form-feedback(v-if="errors.address") {{ errors.address[0] }}

            div(class="col-xs-24")
                div(class="cabinet-btn-wrap")

                    // Submit button
                    button(class="m-button m-button-default-50 button-blue u-textUpper" type="submit") Зберегти

                    // Cancel button
                    nuxt-link(:to="{ name: 'profile.index' }" class="m-button m-button-default-50 button-grey u-textUpper") Скасувати
</template>

<script>
    import api from '@/api';

    export default {
        head() {
            return {
                title: this.title
            };
        },
        data() {
            return {
                title: 'Редагування особистих данних',
                errors: {}
            };
        },
        computed: {
            formData() {
                return this.$auth.user;
            }
        },

        // Set breadcrumbs.
        beforeMount() {
            this.$store.dispatch('breadcrumbs/setItems', [
                { route: { name: 'profile.index' }, title: 'Кабінет' },
                { title: 'Редагування' }
            ]);
        },
        methods: {

            // Save user data.
            submit() {

                // Start preloader
                this.$nuxt.$loading.start();

                api.profile.update(this, this.formData)
                    .then(() => {
                        this.resetForm();
                        this.$router.push({ name: 'profile.index' });
                        this.$toast.success('Дані збережено успішно');
                    })
                    .catch(error => {
                        this.resetForm();

                        const { response } = error;

                        if (response.status === 422) {
                            this.errors = response.data.errors;
                        } else {
                            this.$toast.error('Невідома помилка. Спробуйте пізніше.');
                        }
                    })
                    // Finish preloader
                    .finally(() => {
                        this.$nuxt.$loading.finish();
                    });
            },

            // Clear form.
            resetForm() {
                this.errors = {};
            }
        }
    };
</script>