.auth-modal {
    .modal-dialog {
        max-width: 430px;
    }
    .modal-body {
        padding: 5px 30px 15px;
    }

    .m-button__bordered-white {
        margin: 0 !important;
    }

    label {
        color: $white;
    }

    input[type="checkbox"] + label {
        &:before,
        &:after {
            border-color: $white;

            color: $white;
        }
    }
}

.l-auth__bottom-block {
    padding: 15px 30px;

    background-color: $white;

    font-size: 0.75rem;
}

@media screen and (max-width: $screen-xs-max) {
    .l-auth__bottom-block,
    .l-auth__block {
        padding: 15px 10px;
    }
}