.l-item__gallery {
	position: relative;
	.swiper-container {
		width: 100%;
		height: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.swiper-slide {
		background-size: cover;
		background-position: center;
	}
	.gallery-top {
		height: 80%;
		width: 100%;
	}
	.gallery-thumbs {
		height: 20%;
		box-sizing: border-box;
		padding: 10px 0;
	}
	.gallery-thumbs .swiper-slide {
		width: 25%;
		height: 100%;
		opacity: 0.4;
	}
	.gallery-thumbs .swiper-slide-active {
		opacity: 1;
	}

	.gallery__item-price {
		@extend .u-top-right;
		display: none;
		background-color: $color-default;
		padding: 0.6rem 1.6rem;
		font-size: 1.375rem;
		color: $white;
		z-index: 10;
	}

	@media screen and (max-width: $screen-md-max){
		.gallery__item-price {
			display: block;
		}
	}
}