<template lang="pug">
    div(class="l-orders-list")

        // Title
        h1(class="h1 u-align-items-center") {{ title }}

        div(class="row u-align-items-center")
            div(class="col-xs-24 col-sm-12")

                // Per page select
                per-page-select

            div(class="col-xs-24 col-sm-12 hidden-xs u-textRight")

                // Download button
                download-btn

        // Orders
        div(class="list-table")
            div(class="table-responsive")
                table(class="table order-main")

                    // Filter bar
                    filter-bar

                    // Order list
                    order-item(
                        v-if="!ordersIsEmpty"
                        v-for="order in orders.data"
                        :key="order.id"
                        :order="order"
                    )

                    // Empty orders
                    tbody(v-if="ordersIsEmpty")
                        tr
                            td(colspan="8")
                                div(class="empty") Замовлення відсутні

        // Pagination
        pagination(:orders="orders")
</template>

<script>
    import { mapState } from 'vuex';
    import DownloadBtn from './DownloadBtn/DownloadBtn';
    import FilterBar from './Filter/Filter';
    import OrderItem from './OrderItem/OrderItem';
    import Pagination from './Pagination/Pagination';
    import PerPageSelect from './PerPageSelect/PerPageSelect';

    export default {
        components: {
            DownloadBtn,
            FilterBar,
            OrderItem,
            Pagination,
            PerPageSelect
        },
        head() {
            return {
                title: this.title
            };
        },
        data() {
            return {
                title: 'Список замовлень'
            };
        },
        computed: {
            ...mapState('orders', [
                'orders',
                'queryParams',
                'perPage'
            ]),

            /**
             * Determine if orders is empty.
             *
             * @returns {boolean}
             */
            ordersIsEmpty() {
                return !this.orders.total;
            }
        },

        /**
         * Fetch orders data from API and set to store.
         *
         * @param store
         * @param route
         * @returns {Promise<void>}
         */
        async fetch({ store, route }) {
            const params = { page: Number(route.query.page) || 1 };

            await store.dispatch('orders/setQuery', params);
        },

        // Set breadcrumbs.
        beforeMount() {
            this.$store.dispatch('breadcrumbs/setItems', [
                { route: { name: 'profile.index' }, title: 'Кабінет' },
                { title: 'Список замовлень' }
            ]);
        },

        /**
         * Clear store query before destroyed component.
         */
        destroyed() {
            this.$store.dispatch('orders/clearQuery');
        }
    };
</script>

<style lang="scss" scoped>
    /deep/ .product-sort-wrap {
        margin-top: 10px;

        .item {
            float: left;
            padding-right: 20px;

            &:not(:first-child) {
                padding-left: 12px;
            }
        }
        .title {
            float: left;
            padding-right: 5px;
            color: #fff;
            line-height: 38px;
        }
        .dropdown {
            float: left;
        }
        .btn-link {
            padding-top: 0.65rem;
            font-weight: bold;
            color: lighten(#3c76bf, 10%);
        }
    }

    .empty {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.2rem;
    }
</style>