<template lang="pug">
    div(class="container")

        // Product name
        h1(class="h1 m-b-20") {{ product.name }}

        div(class="row")

            // Gallery
            div(class="col-xs-24 col-sm-11")
                product-gallery(:product="product")

            // Info
            div(class="col-xs-24 col-sm-13")
                div(class="l-item__info")
                    div(class="row")

                        // Attributes
                        product-attributes(:product="product")

                        div(class="col-xs-24 col-sm-24 col-md-11 col-lg-10 u-textRight")

                            // Price
                            div(class="info__price hidden-xs")
                                button(
                                    class="m-button m-button-default-50 button-blue no-hover m-l-45 m-t-10 u-textNoWrap"
                                ) {{ price }}

                            div(class="u-inlineblock u-textLeft m-t-15 m-b-10")

                                // "Ask a question" button
                                button(type="button" class="info__help-links m-r-10" @click="showModal('feedback')")
                                    i(class="icon-sport_shop_icons-47")
                                    span Задати питання

                                // "Request a call" button
                                button(type="button" class="info__help-links m-r-10" @click="showModal('call')")
                                    i(class="icon-sport_shop_icons-40")
                                    span Замовити дзвінок

                                // "Sizes" button
                                button(type="button" class="info__help-links" @click.prevent="showModal('sizes')")
                                    i(class="icon-sport_shop_icons-12")
                                    span Таблиця розмірів

                        // Size list
                        div(class="col-xs-24")
                            product-sizes(:sizes="product.sizes.items" @updateQuantity="updateQuantity")

                        div(class="col-xs-24 u-textRight m-t-20 hidden-xs")
                            div
                                // "Quick buy" button
                                button(type="button" class="m-button-default-44 button-blue" @click="addToCart(true)") купити

                                // "Add to cart" button
                                button(type="button" class="m-button-default-44 button-dark" @click="addToCart()") в корзину

                        div(class="info__fixed-buttons visible-xs")
                            div

                                // "Quick buy" button
                                div
                                    button(type="button" class="fixed-buttons__buy m-button;" @click="addToCart(true)") купити

                                // "Add to cart" button
                                div
                                    button(type="button" class="fixed-buttons__cart m-button;" @click="addToCart()") в корзину

                        // Social Sharing
                        no-ssr
                            product-social-sharing(
                                :title="product.name"
                                :description="product.description"
                            )

        div(class="row p3")

            // Disqus
            div(class="col-xs-24 col-sm-12")
                div(id="disqus_thread")
                script
                    | (function() {
                    | var d = document, s = d.createElement('script');
                    | s.src = 'https://sportshop-1.disqus.com/embed.js';
                    | s.setAttribute('data-timestamp', +new Date());
                    | (d.head || d.body).appendChild(s);
                    | })();

            // Description
            div(class="col-xs-24 col-sm-12 u-color-white")
                h3(class="h3") Опис
                div(class="product-description") {{ product.description }}

        // Related products slider
        related-product-list(v-if="relatedProducts.length" :products="relatedProducts")

        // Modals
        product-call-modal(:product-id="product.id")
        product-feedback-modal(:product-id="product.id")
        sizes-modal(:brand="product.brand" :size-group="brandSizeGroup")
</template>

<script>
    import { mapState, mapGetters } from 'vuex';
    import _ from 'lodash';
    import NoSSR from 'vue-no-ssr';
    import SizesModal from '@/components/SizesModal/SizesModal';
    import ProductAttributes from './ProductAttributes/ProductAttributes';
    import ProductCallModal from './ProductCallModal/ProductCallModal';
    import ProductFeedbackModal from './ProductFeedbackModal/ProductFeedbackModal';
    import ProductGallery from './ProductGallery/ProductGallery';
    import ProductSizes from './ProductSizes/ProductSizes';
    import ProductSocialSharing from './ProductSocialSharing/ProductSocialSharing';
    import RelatedProductList from './RelatedProductList/RelatedProductList';

    export default {
        components: {
            NoSSR,
            ProductAttributes,
            ProductCallModal,
            ProductFeedbackModal,
            ProductGallery,
            ProductSizes,
            ProductSocialSharing,
            RelatedProductList,
            SizesModal
        },
        head() {
            return {
                title: this.product.name,
                meta: [
                    { property: 'og:title', content: this.product.name },
                    { property: 'og:description', content: this.product.description },
                    { property: 'og:image', content: this.product.thumbnail.url }
                ]
            };
        },
        computed: {
            ...mapState('product', [
                'product',
                'relatedProducts'
            ]),
            ...mapGetters('discounts', {
                discount: 'current'
            }),

            /**
             * Product name.
             *
             * @return string
             */
            title() {
                return this.product.name;
            },

            /**
             * Retrieve product main category.
             *
             * @return Object
             */
            category() {
                return _.find(this.product.categories, { is_default: true });
            },

            /**
             * Fetch product price.
             *
             * @return String
             */
            price() {
                const price = this.$fetchDefaultCurrency(this.product.sale_price);

                return `${price.value} ${price.symbol}`;
            },

            /**
             * Retrieve size group with transformed sizes.
             *
             * @return Object
             */
            brandSizeGroup() {
                let sizes = [];

                const groupId = this.product.sizes.group.id;
                const group = _.find(this.product.brand.size_groups, { id: groupId });

                if (!group) {
                    return {};
                }

                group.sizes.forEach(size => {
                    size.values.forEach(value => {
                        if (!sizes[value.title]) {
                            sizes = { ...sizes, [value.title]: [] };
                        }

                        sizes[value.title].push({
                            id: size.id,
                            title: value.title,
                            size: value.value
                        });
                    });
                });

                return { ...group, sizes };
            }
        },

        /**
         * Fetch product data from API.
         *
         * @param route
         * @param store
         * @returns {Promise<{product: *, sizeGroup: *}>}
         */
        async fetch({ route, store }) {
            const { category_slug, slug } = route.params;

            await store.dispatch('product/fetch', { category_slug, slug });
        },
        watch: {

            /**
             * Re-fetch product when selected discount.
             */
            discount() {
                const { category_slug, slug } = this.$route.params;

                this.$store.dispatch('product/fetch', { category_slug, slug });
            },

            /**
             * Re-fetch product when user has logged in.
             */
            ['$auth.loggedIn']() {
                setTimeout(() => {
                    const { category_slug, slug } = this.$route.params;

                    this.$store.dispatch('product/fetch', { category_slug, slug });
                });
            }
        },
        beforeMount() {
            this.buildBreadcrumbs();
            this.checkSelectedSizes();
        },
        methods: {

            /**
             * Build breadcrumbs.
             */
            buildBreadcrumbs() {
                this.$store.dispatch('breadcrumbs/setItems', [
                    {
                        title: this.category.name,
                        route: { name: 'products.index', params: { category_slug: this.category.slug } }
                    },
                    { title: this.title }
                ]);
            },

            /**
             * Set "selected_quantity" by cart's sizes.
             */
            checkSelectedSizes() {
                const cartProduct = _.find(this.$store.state.cart.products, { id: this.product.id });

                if (!cartProduct) return;

                cartProduct.sizes.items.forEach(cartProductSize => {
                    const sizeIndex = _.findIndex(this.product.sizes.items, { id: cartProductSize.id });

                    if (this.product.sizes.items[sizeIndex]) {
                        this.product.sizes.items[sizeIndex].selected_quantity = cartProductSize.selected_quantity;
                    }
                });
            },

            /**
             * Show modal.
             *
             * @param name
             */
            showModal(name) {
                this.$store.dispatch('modals/show', name);
            },

            /**
             * Update size selected quantity.
             *
             * @param id
             * @param quantity
             */
            updateQuantity(id, quantity) {
                const sizes = { ...this.product.sizes };

                sizes.items = sizes.items.map(item => {
                    if (item.id == id) {
                        item.selected_quantity = quantity;
                    }

                    return item;
                });

                this.product.sizes = sizes;
            },

            /**
             * Add product to cart in store.
             *
             * @param redirect
             */
            addToCart(redirect) {
                this.$store.dispatch('cart/addProduct', this.product);

                if (redirect) {
                    this.$router.push({ name: 'cart.index' });
                }
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../assets/scss/utilities/variables";
    @import "../../assets/scss/utilities/u-tools";

    .l-item__gallery {
        overflow: hidden;
    }
    .product-modal-wrap {
        .m-button__bordered-white {
            margin: 0 !important;
        }
    }
    .product-description {
        white-space: pre-wrap;
    }

    .l-item__info {
        color: $white;
    }

    .info__help-links {
        display: inline-block;
        color: $white;
        font-size: 1rem;
        font-weight: 700;

        * {
            vertical-align: middle;
        }

        i {
            margin-right: 10px;
            font-size: 1.375rem;
            transition: color 0.3s;
        }

        &:hover {
            i {
                color: $color-default;
            }
        }
    }

    .info__price {
        font-size: 1.5rem;
    }

    .info__fixed-buttons {

        position: fixed;
        width: 100%;
        bottom: 0;
        right: 0;
        z-index: 99;

        > div {
            display: flex;

            > div {
                flex: 1 1 50%;
            }
        }

        button {
            width: 100%;
            margin: 0 !important;
            font-size: 1.375rem;
            text-transform: uppercase;
            padding: 5px;
        }

        .fixed-buttons {
            &__buy {
                background-color: $color-default;
            }
            &__cart {
                background-color: $color-dark-grey;
            }
        }
    }

    .sizes__types {
        font-size: 0;

        button {
            width: 25%;
            &:not(:last-child) {
                border-right: 1px solid rgba($white, 0.4);
            }
        }
    }

    .m-item__size {
        margin: 7px 14px 7px 0;
    }

    @media screen and (max-width: $screen-sm-max) {
        .info__help-links {
            display: block;
        }
    }

    @media screen and (max-width: $screen-xs-max) {
        margin-top: 20px;
        padding: 0;

        .info__fixed-buttons {
            display: block;
        }
    }
</style>