<template lang="pug">
    div(class="footer-phone" v-if="phones")
        i(class="fa fa-phone m-r-5" aria-hidden="true")

        a(
            v-for="(item, index) in phones"
            :key="index"
            :href="`tel:${item}`"
            :class="{ 'm-r-5 u-inlineBlock': index }"
        ) {{ `${item} ${!index ? '&nbsp;|&nbsp;' : ''}` }}
</template>

<script>
    export default {
        computed: {
            phones() {
                return this.$store.state.config.all.phones;
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";

    @media screen and (max-width: $screen-xs-max) {
        .footer-phone {
            margin-top: 20px;
            text-align: center;
        }
    }
</style>