<template lang="pug">
    div
        // Title
        h1(class="h1") {{ title }}

        // Form
        b-form(class="row cabinet-content-wrap" @submit.prevent="submit")
            div(class="col-xs-24 col-sm-12 col-md-10")
                div(class="m-form" @submit.prevent="submit")

                    // Current Password
                    b-form-group(v-if="hasPassword" label="Пароль")
                        b-form-input(v-model="formData.current_password" type="password")
                        b-form-feedback(v-if="errors.current_password") {{ errors.current_password[0] }}

                    // New password
                    b-form-group(label="Новий пароль")
                        b-form-input(v-model="formData.password" type="password")
                        b-form-feedback(v-if="errors.password") {{ errors.password[0] }}

                    // Password confirmation
                    b-form-group(label="Підтвердіть пароль")
                        b-form-input(v-model="formData.password_confirmation" type="password")
                        b-form-feedback(v-if="errors.password_confirmation") {{ errors.password_confirmation[0] }}

            div(class="col-xs-24")
                div(class="cabinet-btn-wrap")

                    // Submit button
                    button(class="m-button m-button-default-50 button-blue u-textUpper" type="submit") Зберегти

                    // Cancel button
                    nuxt-link(:to="{ name: 'profile.index' }" class="m-button m-button-default-50 button-grey u-textUpper") Скасувати
</template>

<script>
    import api from '@/api';

    export default {
        head() {
            return {
                title: this.title
            };
        },
        data() {
            return {
                title: 'Зміна паролю',
                formData: {},
                errors: {}
            };
        },
        computed: {

            /**
             * Determine if password exists.
             *
             * @return default.computed.hasPassword
             */
            hasPassword() {
                return this.$auth.user.hasPassword;
            }
        },

        // Set breadcrumbs.
        beforeMount() {
            this.$store.dispatch('breadcrumbs/setItems', [
                { route: { name: 'profile.index' }, title: 'Кабінет' },
                { title: 'Зміна паролю' }
            ]);
        },
        methods: {

            // Update password.
            submit() {

                // Start preloader
                this.$nuxt.$loading.start();

                api.profile.updatePassword(this, this.formData)
                    .then(() => {
                        this.resetForm();
                        this.$router.push({ name: 'profile.index' });
                        this.$toast.success('Пароль змінено');
                    })
                    .catch(error => {
                        this.resetForm();

                        const { response } = error;

                        if (response.status === 422) {
                            this.errors = response.data.errors;
                        } else {
                            this.$toast.error('Невідома помилка. Спробуйте пізніше.');
                        }
                    })
                    // Finish preloader
                    .finally(() => {
                        this.$nuxt.$loading.finish();
                    });
            },

            // Clear form.
            resetForm() {
                this.errors = {};
            }
        }
    };
</script>