<template lang="pug">
    div(class="row u-align-items-center p2")
        div(class="col-xs-24 col-sm-12")
            div(class="u-color-white")

                // "Sign In" button
                | Ви можете&nbsp;
                button(
                    type="button"
                    class="u-link-hover u-color-default"
                    @click.prevent="showSignInModal"
                ) увійти
                | &nbsp;або&nbsp;

                // "Sign Un" button
                button(
                    type="button"
                    class="u-link-hover u-color-default"
                    @click.prevent="showSignUpModal"
                ) зареєструватися
                |.
                | Або просто оформити замовлення, вказавши ваші контактні дані нижче:

        // Discount badge
        div(class="col-xs-24 col-sm-12")
            div
                i(class="icon-sport_shop_icons-86 u-color-default u-fz-50 u-alignMiddle")
                div(class="u-inlineBlock u-alignMiddle m-l-10")
                    div(class="u-color-default u-fz-25 u-fw700") {{ discount }}%
                    div при рєєстрації
</template>

<script>
    export default {
        data() {
            return {
                discount: -3
            };
        },
        methods: {

            /**
             * Show "Sign In" form.
             */
            showSignInModal() {
                this.$store.dispatch('modals/show', 'sign-in');
            },

            /**
             * Show "Sign Up" form.
             */
            showSignUpModal() {
                this.$store.dispatch('modals/show', 'sign-up');
            }
        }
    };
</script>