<!-- Company name -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors['data.company_name'] }">
    <label for="company_name">
        {{ 'users.attribute.label.company_name' | translate }} <span class="text-danger">*</span>
    </label>
    <input type="text"
           id="company_name"
           class="form-control input-sm"
           name="data.company_name"
           title="{{ 'users.attribute.title.company_name' | translate }}"
           ng-model="ctrl.item.data.company_name"/>
    <span class="text-danger"
          ng-if="ctrl.errors['data.company_name']"
          ng-bind="ctrl.errors['data.company_name'][0]"></span>
</div><!-- /.form-group -->

<!-- First name -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.first_name }">
    <label for="first_name">
        {{ 'users.attribute.label.first_name' | translate }} <span class="text-danger">*</span>
    </label>
    <input type="text"
           id="first_name"
           class="form-control input-sm"
           name="first_name"
           title="{{ 'users.attribute.title.first_name' | translate }}"
           ng-model="ctrl.item.first_name"/>
    <span class="text-danger"
          ng-if="ctrl.errors.first_name"
          ng-bind="ctrl.errors.first_name[0]"></span>
</div><!-- /.form-group -->

<!-- Last name -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.last_name }">
    <label for="last_name">
        {{ 'users.attribute.label.last_name' | translate }} <span class="text-danger">*</span>
    </label>
    <input type="text"
           id="last_name"
           class="form-control input-sm"
           name="last_name"
           title="{{ 'users.attribute.title.last_name' | translate }}"
           ng-model="ctrl.item.last_name"/>
    <span class="text-danger"
          ng-if="ctrl.errors.last_name"
          ng-bind="ctrl.errors.last_name[0]"></span>
</div><!-- /.form-group -->

<!-- Phone -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.phone }">
    <label for="phone">
        {{ 'users.attribute.label.phone' | translate }}
    </label>
    <input type="text"
           id="phone"
           class="form-control input-sm"
           name="phone"
           title="{{ 'users.attribute.title.phone' | translate }}"
           mask="(999)-999-99-99"
           clean="true"
           placeholder="(XXX)-XXX-XX-XX"
           restrict="reject"
           ng-model="ctrl.item.phone"/>
    <span class="text-danger"
          ng-if="ctrl.errors.phone"
          ng-bind="ctrl.errors.phone[0]"></span>
</div><!-- /.form-group -->

<!-- Nickname -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.nickname }">
    <label for="nickname">
        {{ 'users.attribute.label.nickname' | translate }}
    </label>
    <input type="text"
           id="nickname"
           class="form-control input-sm"
           name="nickname"
           title="{{ 'users.attribute.title.nickname' | translate }}"
           ng-model="ctrl.item.nickname"/>
    <span class="text-danger"
          ng-if="ctrl.errors.nickname"
          ng-bind="ctrl.errors.nickname[0]"></span>
</div><!-- /.form-group -->

<!-- Email -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.email }">
    <label for="email">
        {{ 'users.attribute.label.email' | translate }} <span class="text-danger">*</span>
    </label>
    <input type="email"
           id="email"
           class="form-control input-sm"
           name="email"
           title="{{ 'users.attribute.title.email' | translate }}"
           ng-model="ctrl.item.email"/>
    <span class="text-danger"
          ng-if="ctrl.errors.email"
          ng-bind="ctrl.errors.email[0]"></span>
</div><!-- /.form-group -->

<!-- Address -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.address }">
    <label for="address">
        {{ 'users.attribute.label.address' | translate }} <span class="text-danger">*</span>
    </label>
    <input type="text"
           id="address"
           class="form-control input-sm"
           name="address"
           title="{{ 'users.attribute.title.address' | translate }}"
           ng-model="ctrl.item.address"/>
    <span class="text-danger"
          ng-if="ctrl.errors.address"
          ng-bind="ctrl.errors.address[0]"></span>
</div><!-- /.form-group -->

<!-- Store number -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors['data.store_number'] }">
    <label for="store_number">
        {{ 'users.attribute.label.store_number' | translate }} <span class="text-danger">*</span>
    </label>
    <input type="text"
           id="store_number"
           class="form-control input-sm"
           name="data.store_number"
           title="{{ 'users.attribute.title.store_number' | translate }}"
           ng-model="ctrl.item.data.store_number"/>
    <span class="text-danger"
          ng-if="ctrl.errors['data.store_number']"
          ng-bind="ctrl.errors['data.store_number'][0]"></span>
</div><!-- /.form-group -->