<!-- Role -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors['role_name'] }">
    <label class="control-label">Роль</label>
    <div>
        <label class="radio-inline">
            <input type="radio"
                   name="role_name"
                   title="{{ 'users.attribute.title.client' | translate }}"
                   ng-value="'member'"
                   ng-model="ctrl.item.role_name"
                   icheck />
            {{ 'users.attribute.label.client' | translate }}
        </label><!-- /.radio-inline -->

        <label class="radio-inline">
            <input type="radio"
                   name="role_name"
                   title="{{ 'users.attribute.title.manager' | translate }}"
                   ng-value="'manager'"
                   ng-model="ctrl.item.role_name"
                   icheck />
            {{ 'users.attribute.label.manager' | translate }}
        </label><!-- /.radio-inline -->

        <p class="text-danger"
           ng-if="ctrl.errors['role_name']"
           ng-bind="ctrl.errors['role_name'][0]"></p>
    </div><!-- /.row -->
</div><!-- /.form-group -->

<!-- Customer Settings -->
<div ng-show="ctrl.item.role_name == 'member'">
    <!-- Discount type -->
    <div class="form-group" ng-class="{ 'has-error': ctrl.errors['data.discount_id'] }">
        <label class="control-label">{{ 'users.attribute.label.discount_type' | translate }}</label>
        <div class="row">
            <div class="col-md-12">
                <label class="radio-inline" ng-repeat="discount in ctrl.discounts">
                    <input type="radio"
                           title="{{ 'users.attribute.title.discount' | translate }} {{:: discount.title }}"
                           name="data.discount_id"
                           ng-value="discount.id"
                           ng-model="ctrl.item.data.discount_id"
                           icheck />
                    {{ 'users.attribute.label.discount' | translate }} {{:: discount.title }}
                </label>
            </div><!-- /.row -->
        </div>

        <span class="text-danger"
              ng-if="ctrl.errors.discount_type"
              ng-bind="ctrl.errors.discount_type[0]"></span>

        <span class="text-danger"
              ng-if="ctrl.errors['data.discount_id']"
              ng-bind="ctrl.errors['data.discount_id'][0]"></span>
    </div><!-- /.form-group -->

    <!-- is_show_sizes -->
    <div class="form-group"
         ng-class="{ 'has-error': ctrl.errors['data.is_show_sizes'] }">
        <div class="checkbox">
            <label for="is_show_sizes">
                <input type="checkbox"
                       id="is_show_sizes"
                       name="data.is_show_sizes"
                       ng-model="ctrl.item.data.is_show_sizes"
                       ng-true-value="true"
                       ng-false-value="false" icheck/>
                {{ 'users.attribute.label.is_show_sizes' | translate }}
            </label>
        </div>
        <span class="text-danger" ng-if="ctrl.errors['data.is_show_sizes']" ng-bind="ctrl.errors['data.is_show_sizes'][0]"></span>
    </div><!-- /.form-group -->
</div>

<!-- Manager Settings -->
<div ng-show="ctrl.item.role_name == 'manager'">
    <!-- Manager Access Type -->
    <div class="form-group">
        <label class="control-label">{{ 'users.attribute.label.manager_access_type' | translate }}</label>
        <div class="row">
            <div class="col-md-12">
                <label class="radio-inline">
                    <input type="radio"
                           title="{{ 'users.attribute.title.manager_access_1' | translate }}"
                           name="manager_access_type"
                           icheck
                           ng-value="'manager'"
                           ng-model="ctrl.item.manager_access_type"
                           ng-checked="ctrl.item.role_name == 'manager'"/>
                    {{ 'users.attribute.label.manager_access_1' | translate }}
                </label><!-- /.radio-inline -->

                <label class="radio-inline">
                    <input type="radio"
                           title="{{ 'users.attribute.title.manager_access_2' | translate }}"
                           name="manager_access_type"
                           icheck
                           ng-value="'limited_manager'"
                           ng-model="ctrl.item.manager_access_type"/>
                    {{ 'users.attribute.label.manager_access_2' | translate }}
                </label><!-- /.radio-inline -->
            </div>
        </div><!-- /.row -->

        <span class="text-danger"
              ng-if="ctrl.errors.manager_access_type"
              ng-bind="ctrl.errors.manager_access_type[0]"></span>
    </div><!-- /.form-group -->

    <!-- Rate -->
    <div class="form-group" ng-class="{ 'has-error': ctrl.errors['data.rate.value'] }">
        <label for="rate_value" class="control-label">
            {{ 'users.attribute.label.rate' | translate }} <span class="text-danger">*</span>
        </label>
        <div class="form-inline">
            <div class="form-group">
                <input type="text"
                       id="rate_value"
                       class="form-control input-sm"
                       title="{{ 'users.attribute.title.rate' | translate }}"
                       name="data.rate.value"
                       ng-model="ctrl.item.data.rate.value"/>
            </div><!-- /.form-group -->
            <div class="form-group">
                <select class="form-control input-sm"
                        id="rate_currency_id"
                        name="data.rate.currency_id"
                        ng-model="ctrl.item.data.rate.currency_id"
                        ng-options="opt.id as opt.name for opt in ctrl.currencies">
                </select>
            </div><!-- /.form-group -->
            <div class="form-group">
                <select class="form-control input-sm"
                        id="rate_by_date"
                        name="data.rate_type"
                        ng-model="ctrl.item.data.rate_type">
                    <option ng-repeat="item in ctrl.options_rate_by_date" value="{{:: item.key }}">
                        {{ item.value | translate }}
                    </option>
                </select>
            </div><!-- /.form-group -->
        </div><!-- /.form-inline -->

        <div class="text-danger"
             ng-if="ctrl.errors['data.rate.currency_id']"
             ng-bind="ctrl.errors['data.rate.currency_id'][0]"></div>

        <div class="text-danger"
             ng-if="ctrl.errors['data.rate_type']"
             ng-bind="ctrl.errors['data.rate_type'][0]"></div>

        <div class="text-danger"
             ng-if="ctrl.errors['data.rate.value']"
             ng-bind="ctrl.errors['data.rate.value'][0]"></div>
    </div><!-- /.form-group -->

    <!-- Sales percentages -->
    <div>
        <h4>{{ 'users.attribute.label.sales_percent' | translate }}</h4>

        <span class="text-danger"
              ng-if="ctrl.errors['sale_percentages']"
              ng-bind="ctrl.errors['sale_percentages'][0]"></span>

        <div class="form-inline">
            <div class="form-group"
                 style="margin-right: 10px;"
                 ng-class="{ 'has-error': ctrl.errors['sale_percentages.'+ $index +'.value'] }"
                 ng-repeat="discount in ctrl.item.sale_percentages">
                <br ng-if="index==0" />
                <label for="discount_{{ $index }}">
                    {{ 'users.attribute.label.discount' | translate }}
                    {{ discount.title || ('users.attribute.title.discount_store' | translate) }}
                </label>
                <input type="text"
                       id="discount_{{ $index }}"
                       class="form-control input-sm"
                       title="{{ 'users.attribute.title.discount' | translate }} {{:: discount.title }}"
                       name="sale_percentages.{{ $index }}.value"
                       ng-model="discount.value" size="3" />
                <span class="text-danger"
                      ng-if="ctrl.errors['sale_percentages.'+ $index +'.value']"
                      ng-bind="ctrl.errors['sale_percentages.'+ $index +'.value'][0]"></span>
            </div><!-- /.form-group -->
        </div><!-- /.form-inline -->
    </div>
</div>