<div class="box box-primary">
    <div class="box-header">
        <a class="btn btn-sm btn-primary"
           ui-sref="users.create"
           ng-hide="!$root.perms['users.manage']"
           translate="general.create"></a>
    </div>

    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-middle table-striped table-condensed">
                        <thead>
                            <tr>
                                <th translate="users.general.id"
                                    style="min-width: 40px;"></th>
                                <th translate="users.general.name"
                                    style="min-width: 200px;"></th>
                                <th translate="users.general.type"
                                    style="min-width: 120px;"></th>
                                <th translate="users.general.discount"
                                    style="min-width: 90px;"></th>
                                <th translate="users.general.date"
                                    ng-hide="!$root.perms['users.created_at.view']"
                                    style="min-width: 120px;"></th>
                                <th translate="users.general.total" colspan="2"
                                    ng-hide="!$root.perms['users.purchase_amount.view']"
                                    style="min-width: 140px;"></th>
                                <th translate="general.actions"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="text"
                                           id="name"
                                           class="form-control input-sm"
                                           name="name"
                                           ng-model="ctrl.searchForm.name"
                                           ng-model-options="{ debounce: 500 }"
                                           ng-change="ctrl.processSearch()"/>
                                </td>
                                <td>
                                    <div class="selectbox">
                                        <select class="form-control input-sm"
                                                name="role"
                                                ng-options="opt.role as opt.title for opt in ctrl.roles"
                                                ng-model="ctrl.searchForm.role"
                                                ng-model-options="{ debounce: 500 }"
                                                ng-change="ctrl.processSearch()">
                                            <option value="">- {{ 'general.all' | translate }} -</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="selectbox">
                                        <select class="form-control input-sm"
                                                name="role"
                                                ng-options="opt.id as opt.name for opt in ctrl.discounts"
                                                ng-model="ctrl.searchForm.discount_id"
                                                ng-model-options="{ debounce: 500 }"
                                                ng-change="ctrl.processSearch()">
                                            <option value="">- {{ 'general.all' | translate }} -</option>
                                        </select>
                                    </div>
                                </td>
                                <td ng-hide="!$root.perms['users.created_at.view']">
                                    <div class="dropdown">
                                        <a href=""
                                           id="dropdown2"
                                           class="dropdown-toggle"
                                           role="button"
                                           data-toggle="dropdown"
                                           data-target="">
                                            <div class="input-group">
                                                <input type="text"
                                                       class="form-control input-sm"
                                                       data-ng-model="ctrl.searchForm.created_at"
                                                       ng-model-options="{ debounce: 500 }"
                                                       ng-change="ctrl.processSearch()"/>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker
                                                    data-ng-model="ctrl.searchForm.created_at"
                                                    ng-model-options="{ debounce: 500 }"
                                                    ng-change="ctrl.processSearch()"
                                                    data-datetimepicker-config="{
                                                    dropdownSelector: '#dropdown2',
                                                    minView: 'day',
                                                    modelType: 'YYYY-MM-DD'
                                                    }"/>
                                        </ul>
                                    </div>
                                </td>
                                <td ng-hide="!$root.perms['users.purchase_amount.view']">
                                    <input type="text"
                                           id="sum_min"
                                           class="form-control input-sm"
                                           name="total_min"
                                           placeholder="{{ 'users.general.from' | translate }}"
                                           ng-model="ctrl.searchForm.purchased_orders_price_min"
                                           ng-model-options="{ debounce: 500 }"
                                           ng-change="ctrl.processSearch()"/>
                                </td>
                                <td ng-hide="!$root.perms['users.purchase_amount.view']">
                                    <input type="text"
                                           id="sum_max"
                                           class="form-control input-sm"
                                           name="total_max"
                                           placeholder="{{ 'users.general.to' | translate }}"
                                           ng-model="ctrl.searchForm.purchased_orders_price_max"
                                           ng-model-options="{ debounce: 500 }"
                                           ng-change="ctrl.processSearch()"/>
                                </td>
                                <td></td>
                            </tr>
                            <tr ng-repeat="item in ctrl.list.data">
                                <td>{{:: (ctrl.list.current_page - 1)*15 + $index+1 }}</td>
                                <td>
                                    <span ng-if="item.nickname">{{:: item.nickname }} - </span>
                                     {{:: item.full_name }}
                                    <span ng-if="item.data.company_name">({{:: item.data.company_name }})</span>
                                </td>
                                <td>{{:: ctrl.showRole(item.role_name) }}</td>
                                <td>{{:: item.discount.title || '-' }}</td>
                                <td ng-hide="!$root.perms['users.created_at.view']">
                                    {{:: item.created_at | momentDate:'D MMM YYYY' }}
                                </td>
                                <td ng-hide="!$root.perms['users.purchase_amount.view']"
                                    colspan="2">
                                    {{ (item.purchased_orders_price.value | amountWithoutZero) || '-' }}
                                    <currency-title
                                        ng-if="item.purchased_orders_price.value"
                                        item="item.purchased_orders_price.currency_id || $root.defaultCurrencyId"></currency-title>
                                </td>
                                <td class="grid-actions">
                                    <a class="btn btn-sm btn-default"
                                       ui-sref="users.edit({ id: item.id })"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       ng-hide="!$root.perms['users.manage']"
                                       tooltip="{{ 'general.edit' | translate }}">
                                        <i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-sm btn-danger"
                                       ng-click="ctrl.remove(item)"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       ng-hide="!$root.perms['users.delete']"
                                       tooltip="{{ 'general.remove' | translate }}">
                                        <i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row" ng-if="!ctrl.list.data.length">
            <div class="col-sm-12" translate="general.no_items"></div>
        </div>

        <div class="row">
            <div class="col-sm-1">
                <div class="selectbox">
                    <select class="form-control input-sm"
                            name="limit"
                            ng-options="opt.key as opt.value | translate for opt in ctrl.listPerPage"
                            ng-model="ctrl.searchForm.limit"
                            ng-model-options="{ debounce: 500 }"
                            ng-change="ctrl.processSearch()"
                    >
                    </select>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="pagination-info" ng-if="ctrl.list.total > 0">
                    <span translate="users.general.pagination"
                          translate-values="{ from: ctrl.list.from || 0, to: ctrl.list.to || 0, total: ctrl.list.total }"></span>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="text-right" ng-if="ctrl.list.total > ctrl.list.per_page">
                    <pagination
                            boundary-link-numbers="true"
                            force-ellipses="true"
                            ng-change="ctrl.changePage()"
                            total-items="ctrl.list.total"
                            ng-model="ctrl.list.current_page"
                            items-per-page="ctrl.list.per_page"
                            class="pagination-sm"
                            max-size="5"
                            boundary-links="true"></pagination>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.box-body -->
</div><!-- /.box -->