<template lang="pug">
    div(class="header__registration u-inlineBlock u-alignMiddle b-r b-l b-white-opacity-06")

        // Guest
        template(v-if="!isAuthenticated")
            button(type="button" class="u-link-hover" @click="showSignInModal") Увійти
            span &nbsp|&nbsp
            button(type="button" class="u-link-hover" @click="showSignUpModal") Рєєстрація

        // Authenticated user
        template(v-if="isAuthenticated")
            nuxt-link(:to="{ name: 'profile.orders' }" class="u-link-hover") Кабінет
            span &nbsp|&nbsp
            button(type="button" class="u-link-hover" @click="logout") Вихід

        // Sign In modal
        sign-in-modal

        // Sign Up modal
        sign-up-modal

        // Password Reset modal
        password-reset-modal

        // Password Confirm modal
        password-confirm-modal
</template>

<script>
    import SignInModal from './SignInModal/SignInModal';
    import SignUpModal from './SignUpModal/SignUpModal';
    import PasswordResetModal from './PasswordResetModal/PasswordResetModal';
    import PasswordConfirmModal from './PasswordConfirmModal/PasswordConfirmModal';

    export default {
        components: {
            SignInModal,
            SignUpModal,
            PasswordResetModal,
            PasswordConfirmModal
        },
        computed: {
            isAuthenticated() {
                return this.$auth.loggedIn;
            }
        },
        methods: {
            async logout() {

                // Start preloader
                this.$nuxt.$loading.start();

                await this.$auth.logout();

                // Finish preloader
                this.$nuxt.$loading.finish();
            },
            showSignInModal() {
                this.$store.dispatch('modals/show', 'sign-in');
            },
            showSignUpModal() {
                this.$store.dispatch('modals/show', 'sign-up');
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";

    .header__registration {
        padding: 24px 25px;
    }

    @media (max-width: $screen-sm-max) {
        .header__registration {
            border: none;
            margin: 0;
            padding: 0;
        }

        /deep/ {
            .u-link-hover {
                margin: 10px 5px 0 0;
                padding: 0 5px 0 0;
                border-right: 1px solid $white;
                font-size: 14px;
                color: $white !important;

                transition: all 0s ease !important;

                &:last-child {
                    margin-right: 0;
                    border-right: none;
                    padding-right: 0;
                }

                &:hover {
                    border-width: 0 1px 0 0;
                    border-color: transparent $white transparent transparent;
                    text-decoration: underline !important;
                }
            }

            span {
                display: none;
            }
        }
    }

</style>
