<form role="form" ng-submit="ctrl.saveHomeNavigation()">
    <div class="box-body">
        <!-- Categories -->
        <div class="form-group" ng-class="{ 'has-error': ctrl.settinsErrors['feature_categories'] }">
            <label>{{ 'settings.attribute.label.show_on_main' | translate }}:</label>

            <ui-select multiple ng-model="ctrl.item.categories" name="feature_categories">
                <ui-select-match placeholder="{{ 'products.general.select_categories' | translate }}">
                    {{ $item.name }}
                </ui-select-match>
                <ui-select-choices  ui-disable-choice="ctrl.item.categories.length >= 4" repeat="category.id as category in ctrl.categories">
                    <div ng-bind-html="category.depth_name"></div>
                </ui-select-choices>
                <ui-select-no-choice>
                    {{ 'products.general.no_categories' | translate }}
                </ui-select-no-choice>
            </ui-select>

            <span class="text-danger"
                  ng-bind="ctrl.settinsErrors['feature_categories'][0]"
                  ng-if="ctrl.settinsErrors['feature_categories']"></span>
        </div><!-- /.form-group -->
        <span class="text-muted">(Можна вибрати максимум 4 категорії)</span>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button type="submit" class="btn btn-primary btn-sm">
            <span translate="general.save"></span>
        </button>
    </div><!-- /.box-footer -->
</form>