<template lang="pug">
    div(class="uniform-builder")
        div(class="container")

            // Title
            h1(class="h1") Конструктор футбольних форм

            // Types
            div(class="u-textCenter m-t-20 m-b-50")
                nuxt-link(
                    v-for="type in types"
                    :key="type.key"
                    :to="{ name: 'uniforms.index', query: { type: type.key } }"
                    :class="{'is-active': currentTypeKey === type.key }"
                    class="m-button-default-sm button-simple"
                ) {{ type.value }}

            // Products slider section
            uniforms-section(
                v-for="item in productGroups"
                :key="item.position"
                :position="item.position"
                :items="item.items"
            )

            // Prices, "Add to cart" button
            total-bar(v-if="!isEmpty")

            // Empty products
            div(v-if="isEmpty") Товари відсутні
</template>

<script>
    import { mapGetters } from 'vuex';
    import UniformsSection from './UniformsSection/UniformsSection';
    import TotalBar from './TotalBar/TotalBar';

    export default {
        watchQuery: ['type'],
        components: {
            UniformsSection,
            TotalBar
        },
        head() {
            return {
                title: this.title
            }
        },
        data() {
            return {
                title: 'Конструктор футбольних форм'
            };
        },
        computed: {
            ...mapGetters('uniforms', {
                productGroups: 'products',
                types: 'types'
            }),
            currentTypeKey() {
                return this.$route.query.type || this.types[0].key;
            },
            isEmpty() {
                return !this.productGroups.length;
            }
        },

        // Set breadcrumbs.
        beforeMount() {
            this.$store.dispatch('breadcrumbs/setItems', [{ title: this.title }]);
        },

        /**
         * Fetch products from api and set to store.
         *
         * @param store
         * @param route
         * @returns {Promise<void>}
         */
        async fetch({ store, route }) {
            const type = route.query.type || store.state.uniforms.types[0].key;

            await store.dispatch('uniforms/fetchAll', type);
        }
    };
</script>

<style lang="scss" scoped>
    /deep/ .m-button-default-24 {
        margin-bottom: 3px;
    }
    .uniform-builder {
        @media (max-width: 767px) {
            .m-tabs__nav {
                flex-wrap: wrap;
                justify-content: center;

                margin-top: 10px;
                margin-bottom: 10px;

                &:not(.no-lines)>button {
                    flex: none;
                }
            }
        }
    }
</style>