<template lang="pug">
    div(class="m-product-card")
        nuxt-link(:to="route" class="u-inlineBlock")

            // Type badge
            div(v-if="!hideBadge" class="card__markers")
                div(class="m-button-default-xs button-blue u-inlineBlock") {{ type }}

            // Thumbnail
            div(class="card__image")
                img(:src="product.thumbnail.url" :alt="product.name")
                div(class="card__image-link") Швидкий перегляд

        div(class="card__info")

            // Category name
            div(class="card__category") {{ mainCategory.name }}

            // Product name
            div(class="card__name") {{ product.name }}

            // Price
            div(class="card__price") {{ price }}

            // "Add to cart" button
            div(class="card__add-cart")
                no-ssr
                    button(
                        v-if="!isThereProductInCart"
                        class="m-button__simple"
                        @click="addToCart"
                    ) Додати у кошик
                    span(v-else) Товар у кошику
</template>

<script>
    import _ from 'lodash';
    import NoSSR from 'vue-no-ssr';

    export default {
        components: {
            NoSSR
        },
        props: {
            product: Object,
            hideBadge: Boolean
        },
        computed: {

            /**
             * Get main category.
             *
             * @return Object
             */
            mainCategory() {
                return _.find(this.product.categories, { is_default: true });
            },

            /**
             * Collect product route.
             *
             * @return String
             */
            route() {
                return {
                    name: 'products.view',
                    params: {
                        category_slug: this.mainCategory.slug,
                        slug: this.product.slug
                    }
                };
            },

            price() {
                const price = this.$fetchDefaultCurrency(this.product.sale_price);

                if (!price) return null;

                return `${price.value} ${price.symbol}`;
            },

            /**
             * Get human-friendly product type.
             *
             * @returns string
             */
            type() {
                const types = this.$store.state.products.types;

                return _.find(types, { key: this.product.type }).value;
            },

            /**
             * Determine if product is
             */
            isThereProductInCart() {
                return !!_.find(this.$store.state.cart.products, { id: this.product.id });
            }
        },
        methods: {

            /**
             * Add product to cart in store.
             */
            addToCart() {
                this.$store.dispatch('cart/addProduct', this.product);
            }
        }
    };
</script>
