.l-items-list__filter {
	border-radius: 3px;
	background-color: $color-overlay;
	border-top: 3px solid $color-dark-grey;
	color: $white;
	i {
		margin-right: 5px;
	}
	.filter {
		&__title {
			padding: 12px 10px;
			font-size: 1rem;
			text-transform: uppercase;
			i {
				font-size: 1.375rem;
			}
		}
		&__color {
			@include dual-color-btn($color-default, $color-default, 2px, 14px);
			position: relative;
			display: inline-block;
			margin-left: 16px;
			margin-bottom: 2px;
			width: 25px;
			&:hover {
				opacity: 0.8;
			}
		}
		&__subcatogories	{
			font-size: 1rem;
			padding:  10px;
		}
		&__block {
			margin-bottom: 2px;
		}
		&__subcatogories-active {
			font-weight: bold;
			padding:  10px;
			background-color: $color-default;
			i {
				font-size: 1.5rem;
			}
		}
	}
	.plus {
		display: inline-block;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 10px;
		right: 10px;
		vertical-align: top;
		margin-top: 4px;

		div {
			width: 16px;
			height: 2px;
			background: $white;
			position: absolute;
			top: 7px;
			transition: all 0.8s ease 0s;
			&.vertical {
				transition: 0.3s;
				transform: rotate(90deg);
			}
		}
		&.active {
			div {
				background: $white;
			}
			div.vertical {
				transform: rotate(0deg);
			}
		}
	}
	dl,
	dt, .filterToggle {
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
	}

	.filterToggle {
		cursor: pointer;
		padding: 10px;
		background-color: $color-dark-grey;
		margin: 0;
		position: relative;
		font-weight: 700;
		display: block;
	}

	dt {
		position: relative;
		transition: height 0.8s ease 0s;
		margin: 0;
	}
	.filter__scroll {
		position: relative;
		padding: 15px 10px;

		.swiper-slide {
			height: auto;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		.swiper-scrollbar {
			background: $color-grey;
			//border-radius: 0px;
		}
	}
	@media all and (max-width: $screen-sm-max){
		position: fixed;
		top:0;
		left: 0;
		height: 100%;
		z-index:9;
		background-color: $color-dark;
		transition: transform 0.4s;
		transform: translate3d(-100%,0,0);
	}

}
body.open-filter {
	overflow: hidden;
}
.open-filter {
	&.l-items-list__filter {
		overflow-y: auto;
		transform: translate3d(0,0,0);
	}
	.filter__button-open {
		transform: translate3d(0,0,0);
		.filter__icon-close {
			display: block;
		}
		.filter__icon-open {
			display: none;
		}
	}

}
.open-filter__overlay {
	position: fixed;
	top:0;
	left:0;
	width: 0;
	height: 100%;
	background-color: $color-dark-opacity;
	transform: scale(0);
	transition: 0.4s;
}
.open-filter  .open-filter__overlay {
	width: 100%;
	transform: translate3d(0,0,0);
}
.filter__button-open {
	position: fixed;
	bottom:0;
	right: 0;
	width: 50px;
	height: 50px;
	padding: 0;
	color: $white;
	background-color: $color-default;
	border:none;
	text-align: center;
	font-size: 22px;
	z-index: 9;
	line-height: 1;
	transition: transform 0.3s;
	transform: translate3d(100%, 0, 0);
	.filter__icon-close {
		display: none;
	}
	i {
		margin: 0;
	}
}
@media all and (max-width: $screen-xs-max){
	.filter__button-open {
		height: 45px;
		width: 45px;
	}
}
.menu-open .filter__button-open {
	 transform: translate3d(0, 100%, 0);

 }

// TODO: zhopofix
dd {
	margin: 0;
}
