.l-items-list {
	.m-product-card {
		width: 100%;
		margin: 15px auto;

		img {
			margin: 0 auto;
		}

		@media (max-width: $screen-xs-max) {
			width: 220px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.l-items-list.container {
	@media (min-width: 768px) {
		width: 750px;
	}

	@media (min-width: 992px) {
		width: 970px;
	}

	@media (min-width: 1200px) {
		width: 1170px;
	}
}
.product-empty {
	color: #ffffff;
	font-size: 20px;
	margin-top: 15px;
}

.m-product-card {
	position: relative;
	width: 200px;
	height: 340px;
	margin: 15px auto;
	overflow: hidden;
	background-color: $white;
	text-align: left;
	cursor: pointer;

	.card__markers {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;

		text-align: right;
		height: 40px;

		transition: all 0.3s ease;

		> div {
			margin-top: 5px;
		}
	}

	a {
		width: 100%;
	}

	.card__info {
		padding: 10px 15px;
	}

	.card__category {
		color: $color-dark-grey;
		font-size: 12px;
		text-transform: uppercase;
	}

	.card__name {
		color: $color-dark;
		height: 44px;
		line-height: 22px;
		overflow: hidden;
	}

	.card__add-cart {
		padding-top: 50px;
		overflow: hidden;
		transition: all 0.3s ease;
	}

	.card__price {
		color: $color-default;
		font-size: 1.125rem;
		font-weight: 700;
		margin-bottom: 10px;
	}

	.card__price,
	.card__markers {
		transition: height 0.3s;
		overflow: hidden;
	}

	.card__image {
		overflow: hidden;
		width: 100%;
		height: 220px;
		padding-top: 40px;
		position: relative;

		transition: height 0.3s;

		&:before {
			content: '';
			@extend .u-fill, .u-top-left;
			transition: background-color 0.3s;
		}
	}

	img {
		width: 100%;
	}

	.card__image-link {
		position: absolute;
		white-space: nowrap;
		border: 1px solid #ffffff;
		padding: 3px 12px;
		border-radius: 2px;
		color: #ffffff;
		top: 50%;
		left: 50%;
		opacity: 0;

		transform: translate3d(-50%, -50%, 0);
		transition: all 0.3s ease;
	}
}

.touchevents .m-product-card {
	height: 370px;

	.card__add-cart {
		padding-top: 0;
	}
}

.no-touchevents .m-product-card {
	&:hover {
		cursor: default;

		.card__markers {
			height: 0;
		}

		.card__add-cart {
			padding-top: 0;
		}

		.card__image {
			cursor: pointer;
			height: 170px;
			transition: height 0.3s;

			&:before {
				background-color: rgba(#3c76bf, 0.8);
			}
		}

		.card__image-link {
			opacity: 1;
		}
	}
}