<!-- Title -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors['title'] }">
    <label for="title">
        <span translate="slides.attribute.label.name"></span>
    </label>
    <input  type="text"
            id="title"
            class="form-control"
            title="{{ 'slides.attribute.title.name' | translate }}"
            name="title"
            maxlength="90"
            ng-model="ctrl.item.title"/>
    <span class="text-danger" ng-bind="ctrl.errors['title'][0]" ng-if="ctrl.errors['title']"></span>
</div><!-- /.form-group -->

<!-- Url -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors['url'] }">
    <label for="slug">
        <span translate="slides.attribute.label.url"></span>
    </label>
    <input type="text"
           id="slug"
           class="form-control"
           title="{{ 'slides.attribute.title.url' | translate }}"
           name="url"
           maxlength="255"
           ng-model="ctrl.item.url"/>
    <span class="text-danger" ng-bind="ctrl.errors['url'][0]" ng-if="ctrl.errors['url']"></span>
</div><!-- /.form-group -->

<!-- Price and Currency-->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors['price.value'] }">
    <label for="value">
        <span translate="products.general.price"></span>
    </label>
    <div class="input-group">
        <input type="text"
               id="value"
               class="form-control input-sm"
               name="price.value"
               ng-model="ctrl.item.price.value"/>

        <div class="input-group-btn">
            <select class="form-control input-sm"
                    title="{{:: currency.name }}"
                    name="{{ price.currency_id }}"
                    ng-model="ctrl.item.price.currency_id"
                    ng-options="opt.id as opt.name for opt in ctrl.currencies">
                <option value="">- {{ 'general.select' | translate }} -</option>
            </select>
        </div><!-- /.input-group-btn -->
    </div><!-- /.input-group -->
    <span class="text-danger" ng-bind="ctrl.errors['price.value'][0]" ng-if="ctrl.errors['price.value']"></span>
    <span class="text-danger" ng-bind="ctrl.errors['price.currency_id'][0]" ng-if="ctrl.errors['price.currency_id']"></span>
</div><!-- /.form-group -->