<!-- Thumbnail -->
<thumbnail media="ctrl.item.image"
           isrequired="true"
           aspectratio="2.85"
           id="ctrl.item.image_id"
           errors="ctrl.errors"
           areaminrelativesize={w:1140,h:400}
           url="'/banners/upload-media'"></thumbnail>

<!-- Status -->
<div class="form-group">
    <label for="is_active">
        {{ 'categories.attribute.label.status' | translate }}
        <span class="text-danger">*</span></label>
    <div class="selectbox">
        <select id="is_active"
                class="form-control"
                name="is_active"
                ng-options="opt.key as opt.value | translate for opt in ctrl.statuses"
                ng-model="ctrl.item.is_active">
        </select>
    </div>
</div><!-- /.form-group -->