<form name="form">
    <div class="row">
        <div class="col-sm-12 col-dynamic">
            <div class="box box-primary">
                <div class="box-body">
                    <div ui-view="general"></div>
                </div><!-- /.tab-pane -->

                <div class="box-footer">
                    <button type="submit"
                            class="btn btn-primary btn-sm"
                            ng-click="ctrl.save()"
                            translate="general.save"></button>
                </div>
            </div><!-- /.tab-content -->
        </div><!-- /.col -->

        <div class="col-sm-12 main-sidebar-right">
            <div class="box box-primary">
                <div class="box-body">
                    <div ui-view="sidebar"></div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.main-sidebar-right -->
    </div><!-- /.row -->
</form>