<div class="box box-primary">
    <div class="box-header">
        <a
            ui-sref="slides.create"
            translate="general.create"
            class="btn btn-sm btn-primary"
        ></a>
    </div>

    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-middle table-striped table-condensed">
                        <thead>
                            <th translate="general.photo"></th>
                            <th translate="slides.general.name"></th>
                            <th translate="general.status"></th>
                            <th
                                translate="general.actions"
                            ></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ctrl.list">
                                <td class="grid-thumbnail">
                                    <img class=img-thumbnail"
                                         ng-src="{{ item.image.url || '/assets/images/dashboard/no-banner-image.png' }}"/>
                                </td>
                                <td>
                                    <span>{{ item.title || 'general.no_name' | translate }}</span>
                                </td>
                                <td width="140" class="text-nowrap">
                                     <span class="label label-success"
                                           ng-if="item.is_active"
                                           translate="general.active"></span>
                                    <span class="label label-danger"
                                          ng-if="!item.is_active"
                                          translate="general.not_active"></span>
                                </td>
                                <td
                                    class="grid-actions"
                                >
                                    <a class="btn btn-sm btn-default"
                                       ui-sref="slides.edit({ id: item.id })"
                                       tooltip="{{ 'general.edit' | translate }}"><i class="fa fa-pencil"></i></a>
                                    <a href
                                       class="btn btn-sm btn-danger"
                                       ng-click="ctrl.remove(item)"
                                       tooltip="{{ 'general.remove' | translate }}"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row" ng-if="!ctrl.list.length">
            <div class="col-sm-12" translate="general.no_items"></div>
        </div><!-- /.row -->

        <div class="row" ng-if="ctrl.list.length">
            <div class="col-sm-5">
                <div class="pagination-info">
                    <span translate="slides.general.pagination"
                          translate-values="{ from: 1, to: ctrl.list.length || 0, total: ctrl.list.length }"></span>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-7" ng-if="ctrl.list.total > ctrl.list.per_page">
                <pagination
                        boundary-link-numbers="true"
                        force-ellipses="true"
                        ng-change="ctrl.changePage()"
                        total-items="ctrl.list.total"
                        ng-model="ctrl.list.current_page"
                        items-per-page="ctrl.list.per_page"
                        class="pagination-sm"
                        max-size="5"
                        boundary-links="true"></pagination>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->