<template lang="pug">
    div(class="row m-b-20")
        div(class="col-xs-24 col-sm-6 col-lg-6")

            // Categories
            categories(
                :items="categories"
                :current="currentCategory"
                @update="setCurrentCategory"
            )

            // Models
            models(
                :items="models"
                :current="currentModel"
                @update="setCurrentModel"
            )

        // Product slider
        product-slider(
            :position="position"
            :items="products"
            :sliderName="sliderName"
            :slideIndex="slideIndex"
            @update="setCurrentProduct"
        )

        div(class="col-xs-24 col-sm-13 col-lg-12")

            // Current vilible product info
            product-info(:product="currentProduct")

            // Products thumbnail list
            product-list(
                :items="products"
                :currentProduct="currentProduct"
                :sliderName="sliderName"
                @slideTo="setSlideIndex"
            )
</template>

<script>
    import _ from 'lodash';
    import Categories from './Categories/Categories';
    import Models from './Models/Models';
    import ProductInfo from './ProductInfo/ProductInfo';
    import ProductList from './ProductList/ProductList';
    import ProductSlider from './ProductSlider/ProductSlider';

    export default {
        components: {
            Categories,
            Models,
            ProductInfo,
            ProductList,
            ProductSlider
        },
        props: {
            position: String,
            items: Array
        },
        data() {
            return {
                _currentCategory: null,
                _currentModel: null,
                _currentProduct: {},
                sliderName: `uniform${this.position}`,
                slideIndex: 0
            };
        },
        computed: {

            /**
             * Get categories.
             *
             * @return Array
             */
            categories() {
                return this.items.map(item => item.category);
            },

            /**
             * Current category getter, setter.
             *
             * @return String
             */
            currentCategory: {
                get() {
                    return this.$data._currentCategory || this.items[0].category;
                },
                set(value) {
                    this.$data._currentCategory = value;
                }
            },

            /**
             * Get models by selected category.
             *
             * @return Array
             */
            models() {
                const models = _.find(this.items, { category: this.currentCategory });
                if (!models) return [];

                return models.items.map(item => item.model);
            },

            /**
             * Current model getter, setter.
             *
             * @return String
             */
            currentModel: {
                get() {
                    return this.$data._currentModel || this.items[0].items[0].model;
                },
                set(value) {
                    this.$data._currentModel = value;
                }
            },

            /**
             * Get products by selected category and model.
             *
             * @return Array
             */
            products() {
                const models = _.find(this.items, { category: this.currentCategory });
                if (!models) return [];

                const products = _.find(models.items, { model: this.currentModel });
                if (!products) return [];

                return products.items;
            },

            /**
             * Current product getter, setter.
             *
             * @return String
             */
            currentProduct: {
                get() {
                    if (!_.isEmpty(this.$data._currentProduct)) {
                        return this.$data._currentProduct;
                    }

                    return this.items[0].items[0].items[0];
                },
                set(value) {
                    this.$data._currentProduct = value;
                }
            }
        },
        watch: {

            /**
             * Update current product when current category was updated.
             */
            currentCategory(value) {
                const models = _.find(this.items, { category: value }).items;

                this.setCurrentModel(models[0].model);
                this.setCurrentProduct(models[0].items[0]);
                this.setSlideIndex(0);
            },

            /**
             * Update current product when current model was updated.
             */
            currentModel(value) {
                const models = _.find(this.items, { category: this.currentCategory }).items;
                const products = _.find(models, { model: value }).items;

                this.setCurrentProduct(products[0]);
                this.setSlideIndex(0);
            },

            /**
             * Set selected product to store.
             */
            currentProduct(value) {
                this.$store.dispatch('uniforms/setSelectedProduct', { key: this.position, value });
            }
        },
        methods: {

            /**
             * Set current (selected) category.
             *
             * @param value
             */
            setCurrentCategory(value) {
                this.currentCategory = value;
            },

            /**
             * Set current (selected) model.
             *
             * @param value
             */
            setCurrentModel(value) {
                this.currentModel = value;
            },

            /**
             * Set current (visible) product.
             *
             * @param value
             */
            setCurrentProduct(value) {
                this.currentProduct = value;
            },

            /**
             * Set slide index.
             *
             * @param index
             */
            setSlideIndex(index) {
                this.slideIndex = index;
            }
        }
    };
</script>