<div>
    <div class="modal-content add-product-modal">
        <div class="modal-header">
            <h4 class="modal-title" translate="orders.attribute.label.add_product"></h4>
        </div>

        <div class="modal-body">

            <div class="row">
                <div class="col-sm-12">
                    <div angucomplete-alt
                         id="product_search"
                         placeholder="{{ 'orders.attribute.placeholder.search_product' | translate }}"
                         pause="500"
                         selected-object="selectProductChanged"
                         remote-api-handler="remoteUrlRequest"
                         remote-url-response-formatter="modifyResponse"
                         remote-url-data-field="data"
                         search-fields="name,sku"
                         title-field="name"
                         description-field="sku"
                         image-field="thumbnail.url"
                         minlength="2"
                         focus-in="focusInProduct()"
                         input-class="form-control form-control-small input-sm"
                         match-class="highlight">
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->

            <br />
            <div class="row" ng-if="error">
                <div class="col-sm-12 text-danger text-center">{{ error | translate }}</div>
            </div>
            <br />

            <div>


                <div class="table-responsive" ng-if="item.sizes.items.length">
                    <table class="table table-bordered table-middle table-striped">
                        <thead>
                            <tr>
                                <th translate="orders.attribute.label.photo"
                                    style="min-width: 60px;"></th>
                                <th>Назва, артикул</th>
                                <th translate="orders.attribute.label.price"
                                    style="min-width: 130px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <td class="grid-thumbnail">
                                <a href ui-sref="products.edit({ id: item.id })" target="_blank">
                                    <img class=img-thumbnail" ng-src="{{ item.thumbnail.url || '/assets/images/dashboard/no-image.png' }}"/>
                                </a>
                            </td>
                            <td>{{ item.name }}, {{ item.sku }}</td>
                            <td>
                                {{ item.sale_price.value | rounded }}
                                {{ item.sale_price.symbol }}
                            </td>
                        </tbody>
                    </table>
                </div>

                <div class="row" ng-if="item.sizes.items.length">
                    <div class="col-sm-4 col-xs-8">{{ 'products.general.size' | translate }}</div>
                    <div class="col-sm-4 col-xs-4">{{ 'products.general.quantity' | translate }}</div>
                </div>

                <div class="row" ng-if="!item.sizes.items.length">
                    <div class="col-sm-12 text-center">{{ 'general.no_items' | translate }}</div>
                </div>

                <div class="row" ng-repeat="elem in item.sizes.items">
                    <div class="col-sm-4 col-xs-8">
                        <sizes-dropdown-buttton-in-dialog elem="elem" group="item.sizes.group"></sizes-dropdown-buttton-in-dialog>
                    </div><!-- /.col -->
                    <div class="col-sm-4 col-xs-4">
                        <!-- Quantity -->
                        <div class="form-group" ng-class="{ 'has-error': ctrl.errors['quantity.'+$index] }">
                            <div class="input-group input-group-half">
                                <input type="number"
                                       class="form-control input-xs"
                                       name="quantity.{{$index}}"
                                       maxlength="3"
                                       ng-change="maxValue(elem)"
                                       ng-model="elem.quantity"/>
                                <input type="number"
                                       class="form-control input-xs"
                                       name="quantity.{{$index}}"
                                       maxlength="3"
                                       min="0"
                                       ng-change="maxValue(elem)"
                                       disabled
                                       ng-model="elem.available_quantity"/>
                            </div><!-- /.input-group -->
                            <span class="text-danger" ng-bind="ctrl.errors['quantity.'+$index][0]" ng-if="ctrl.errors['quantity.'+$index]"></span>
                        </div><!-- /.form-group -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>

        </div><!-- /.modal-body -->

        <div class="modal-footer">
            <button type="button"
                    class="btn btn-default btn-sm pull-left"
                    ng-click="closeThisDialog()"
                    translate="general.close"
                    data-dismiss="modal"></button>
            <button type="submit"
                    class="btn btn-success btn-sm"
                    ng-click="addProduct()"
                    ng-disabled="!item.id"
                    translate="general.add"></button>
        </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->