<template lang="pug">
    modal(:name="modalName" class="auth-modal")

        // Header
        template(slot="modal-header")
            h2(class="h1 u-textCenter") {{ title }}

        // Footer
        template(slot="modal-footer")
            div(class="u-flex-between l-auth__bottom-block")

                // "Sign In" modal
                div
                    button(
                        type="button"
                        class="u-link-hover--default"
                        @click="showSignInModal"
                    ) Увійти

        // Success message
        div(v-if="success")
            | Новий пароль успішно збережено.

        // Form
        div(v-if="!success" class="l-auth")
            div(class="l-auth__block")
                b-form(class="m-form" @submit.prevent="submit")

                    // Subtitle
                    div(class="u-color-white p1 u-textCenter") {{ description }}

                    // Password
                    b-form-group(label="Пароль")
                        b-form-input(v-model="formData.password" type="password")
                        b-form-feedback(v-if="errors.password") {{ errors.password[0] }}

                    // Confirm Password
                    b-form-group(label="Пароль")
                        b-form-input(v-model="formData.password_confirmation" type="password")
                        b-form-feedback(v-if="errors.password_confirmation") {{ errors.password_confirmation[0] }}

                    // Submit button
                    button(type="submit" class="m-button__bordered-white u-fillWidth") Зберегти
</template>

<script>
    import api from '@/api';
    import Modal from '@/components/Modal/Modal';

    export default {
        components: {
            Modal
        },
        data() {
            return {
                title: 'Новий пароль',
                description: 'Будь-ласка, введіть новий пароль',
                modalName: 'password-confirm',
                formData: {
                    password: null,
                    password_confirmation: null
                },
                errors: {},
                success: false
            };
        },
        methods: {

            // Send password to email.
            submit() {

                // Start preloader
                this.$nuxt.$loading.start();

                this.formData.email = this.$route.query.email;
                this.formData.token = this.$route.query.token;

                api.auth.passwordReset(this, this.formData)
                    .then(() => {
                        this.resetForm();

                        this.$router.push('/');

                        this.success = true;
                    })
                    .catch(error => {
                        this.resetForm();

                        const { response } = error;

                        if (response && response.status === 422) {
                            this.errors = response.data.errors;

                            if (this.errors.token || this.errors.email) {
                                this.$toast.error('Будь-ласка, скористайтеся формою відновлення паролю ще раз.');
                            }
                        } else {
                            this.$toast.error('Невідома помилка. Спробуйте пізніше.');
                        }
                    })
                    // Finish preloader
                    .finally(() => {
                        this.$nuxt.$loading.finish();
                    });
            },

            // Clear form.
            resetForm() {
                this.formData = {
                    password: null,
                    password_confirmation: null
                };
                this.errors = {};
            },

            // Show "Sign In" modal.
            showSignInModal() {
                this.$store.dispatch('modals/show', 'sign-in');
            }
        }
    };
</script>