<!-- Title -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.title }">
    <label for="title">
        <span translate="pages.attribute.label.name"></span>
        <span class="text-danger">*</span></label>
    <input  type="text"
            id="title"
            class="form-control"
            title="{{ 'pages.attribute.title.name' | translate }}"
            name="title"
            maxlength="90"
            ng-model="ctrl.item.title"/>
    <span class="text-danger" ng-bind="ctrl.errors.title[0]" ng-if="ctrl.errors.title"></span>
</div><!-- /.form-group -->

<!-- Slug -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.slug }">
    <label for="slug">
        <span translate="products.attribute.label.slug"></span>
        <span class="text-danger">*</span></label>
    <input type="text"
           id="slug"
           class="form-control"
           title="{{ 'products.attribute.title.slug' | translate }}"
           name="slug"
           maxlength="255"
           ng-model="ctrl.item.slug"/>
    <span class="text-danger" ng-bind="ctrl.errors.slug[0]" ng-if="ctrl.errors.slug"></span>
</div><!-- /.form-group -->

<!-- Description -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.description }">
    <label for="description">
        <span translate="pages.attribute.label.description"></span>
        <span class="text-danger">*</span></label>
    <textarea id="description"
              name="description"
              ng-model="ctrl.item.description"
              redactor></textarea>
    <span class="text-danger" ng-bind="ctrl.errors.description[0]" ng-if="ctrl.errors.description"></span>
</div><!-- /.form-group -->