<!-- Status -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.is_active }">
    <label for="is_active">
        <span translate="pages.attribute.label.status"></span>
        <span class="text-danger">*</span></label>
    <div class="selectbox">
        <select id="is_active"
                class="form-control"
                name="is_active"
                ng-options="opt.key as opt.value | translate for opt in ctrl.statusList"
                ng-model="ctrl.item.is_active">
        </select>
    </div><!-- /.selectbox -->
    <span class="text-danger" ng-bind="ctrl.errors.is_active[0]" ng-if="ctrl.errors.is_active"></span>
</div><!-- /.form-group -->