<div class="box box-primary">
    <div class="box-header">
        <a
            ui-sref="pages.create"
            translate="general.create"
            ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
            class="btn btn-sm btn-primary"
        ></a>
    </div><!-- /.box-header -->

    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-middle table-striped table-condensed">
                        <thead>
                            <tr>
                                <th translate="pages.general.name"></th>
                                <th translate="pages.general.status"></th>
                                <th
                                    translate="pages.general.actions"
                                    ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                                ></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ctrl.list.data">
                                <td ng-bind="item.title"></td>
                                <td>
                                    <span class="label label-success"
                                          translate="pages.general.status_active"
                                          ng-if="item.is_active"></span>
                                    <span class="label label-danger"
                                          translate="pages.general.status_inactive"
                                          ng-if="!item.is_active"></span>
                                </td>
                                <td
                                    class="grid-actions"
                                    ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                                >
                                    <a class="btn btn-sm btn-default"
                                       ui-sref="pages.edit({ id: item.id })"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       tooltip="{{ 'general.edit' | translate }}">
                                        <i class="fa fa-pencil"></i></a>
                                    <a href
                                       class="btn btn-sm btn-danger"
                                       ng-click="ctrl.remove(item)"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       tooltip="{{ 'general.remove' | translate }}"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row" ng-if="!ctrl.list.data.length">
            <div class="col-sm-12" translate="general.no_items"></div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-sm-5">
                <div class="pagination-info" ng-if="ctrl.list.total > 0">
                    <span translate="pages.general.pagination"
                          translate-values="
                              { from: ctrl.list.from || 0, to: ctrl.list.to || 0, total: ctrl.list.total }"></span>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-7">
                <div class="text-right" ng-if="ctrl.list.total > ctrl.list.per_page">
                    <pagination
                            boundary-link-numbers="true"
                            force-ellipses="true"
                            ng-change="ctrl.changePage()"
                            total-items="ctrl.list.total"
                            ng-model="ctrl.list.current_page"
                            items-per-page="ctrl.list.per_page"
                            class="pagination-sm"
                            max-size="5"
                            boundary-links="true"></pagination>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->