<template lang="pug">
    div(class="top__inner")
        template(v-for="(item) in list")

            nuxt-link(v-if="!item.isContactUsLink" :to="item.route") {{ item.title }}

            // Contact us link
            a(v-if="item.isContactUsLink" :href="item.url" @click.stop="scrollToContactUs") {{ item.title }}
</template>

<script>
    export default {
        data: () => ({
            list: [
                { route: { name: 'pages.view', params: { slug: 'about' } }, title: 'Про нас' },
                { route: '#contact-us-form', title: 'Контакти', isContactUsLink: true },
                { route: { name: 'pages.view', params: { slug: 'payment-and-delivery' } }, title: 'Оплата і доставка' },
                { route: { name: 'reviews.index' }, title: 'Відгуки' },
                { route: { name: 'sizes.index' }, title: 'Розміри' }
            ]
        }),
        methods: {
            scrollToContactUs() {
                this.$store.dispatch('contactForm/scroll', true);
            }
        }
    };
</script>

<style lang="scss" scoped>
    a {
        margin: 0 18px 4px 0;

        border-bottom: 1px solid transparent;

        font-weight: 400;
        color: white;

        transition: 0.4s;

        &:hover,
        &.router-link-exact-active {
            border-bottom: 1px solid white;
        }
    }
</style>