<form role="form" ng-submit="ctrl.saveCurrencies()">
    <div class="form-group">
        <button type="button"
                class="btn btn-success btn-sm"
                ng-click="ctrl.addCurrency()">
            <i class="fa fa-plus"></i>
            <span translate="general.add"></span></button>
    </div><!-- /.form-group -->

    <div class="table-responsive">
        <table class="table no-margin" style="min-width:400px">
            <thead>
                <tr>
                    <th class="col-sm-4"
                        style="min-width: 100px"
                        translate="settings.attribute.label.name"></th>
                    <th class="col-sm-3" translate="settings.attribute.label.code"></th>
                    <th class="col-sm-4" translate="settings.attribute.label.symbol"></th>
                    <th class="col-sm-4" translate="settings.attribute.label.value"></th>
                    <th class="col-sm-1" translate="general.actions"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrl.currencies">
                    <td class="form-group"
                        ng-class="{ 'has-error': ctrl.currenciesErrors['currencies.{{ $index }}.name'] }">
                        <input type="text"
                               class="form-control"
                               name="currencies.{{ $index }}.name"
                               placeholder="{{ 'settings.attribute.placeholder.name' | translate }}"
                               maxlength="30"
                               ng-model="ctrl.currencies[$index]['name']"/>
                        <span class="text-danger"
                              ng-bind="ctrl.currenciesErrors['currencies.' + $index + '.name'][0]"
                              ng-if="ctrl.currenciesErrors['currencies.' + $index + '.name']"></span>
                    </td>
                    <td class="form-group"
                        ng-class="{ 'has-error': ctrl.currenciesErrors['currencies.{{ $index }}.code'] }">
                        <input type="text"
                               class="form-control"
                               name="currencies.{{ $index }}.code"
                               placeholder="{{ 'settings.attribute.placeholder.code' | translate }}"
                               maxlength="20"
                               ng-model="ctrl.currencies[$index]['code']"/>
                        <span class="text-danger"
                              ng-bind="ctrl.currenciesErrors['currencies.' + $index + '.code'][0]"
                              ng-if="ctrl.currenciesErrors['currencies.' + $index + '.code']"></span>
                    </td>
                    <td class="form-group"
                        ng-class="{ 'has-error': ctrl.currenciesErrors['currencies.{{ $index }}.symbol'] }">
                        <input type="text"
                               class="form-control"
                               name="currencies.{{ $index }}.symbol"
                               placeholder="{{ 'settings.attribute.placeholder.symbol' | translate }}"
                               maxlength="10"
                               ng-model="ctrl.currencies[$index]['symbol']"/>
                        <span class="text-danger"
                              ng-bind="ctrl.currenciesErrors['currencies.' + $index + '.symbol'][0]"
                              ng-if="ctrl.currenciesErrors['currencies.' + $index + '.symbol']"></span>
                    </td>
                    <td class="form-group"
                        ng-class="{ 'has-error': ctrl.currenciesErrors['currencies.{{ $index }}.value'] }">
                        <input type="text"
                               class="form-control"
                               name="currencies.{{ $index }}.value"
                               placeholder="{{ 'settings.attribute.placeholder.value' | translate }}"
                               maxlength="10"
                               ng-disabled="ctrl.currencies[$index]['is_default']"
                               ng-model="ctrl.currencies[$index]['value']"/>
                        <span class="text-danger"
                              ng-bind="ctrl.currenciesErrors['currencies.' + $index + '.value'][0]"
                              ng-if="ctrl.currenciesErrors['currencies.' + $index + '.value']"></span>
                    </td>
                    <td>
                        <button type="button"
                                class="btn btn-danger"
                                ng-click="ctrl.deleteCurrency($index)">
                            <i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div><!-- /.table-responsive -->

    <div class="box-footer">
        <button type="submit" class="btn btn-primary btn-sm">
            <span translate="general.save"></span>
        </button>
    </div><!-- /.box-footer -->
</form>