.btn-group-radio,
.btn-group-checkbox {
    .btn:focus,
    .btn:active,
    .btn.active {
        outline: 0;
        box-shadow: none;

        &.btn-primary {
            background-color: #337ab7;
            border-color: #2e6da4;
        }
        &.btn-warning {
            background-color: #f0ad4e;
            border-color: #eea236;
        }
        &.btn-danger {
            background-color: #dd4b39;
            border-color: #d73925;
        }
        &.btn-success {
            background-color: #5cb85c;
            border-color: #4cae4c;
        }
    }
}

.btn-group-radio {
    .btn.active {
        padding: 4px 8px;
        box-shadow: 0 0 1px #aaa;
    }
}
.btn-group-checkbox {
    .btn:not(.btn-no-action) {
        opacity: .4;
    }
    .btn.active {
        opacity: 1;
    }
    .btn.disabled {
        opacity: 1;
    }
}

@media (max-width: 767px) {
    .btn-process {
        padding-top: 13px !important;
    }
}

.btn-save-order {
    position: absolute;
    top: -27px;
    left: 370px;
}

@media (max-width: 1095px) and (min-width: 992px) {
    .btn-save-order {
        top: -27px;
        left: 350px;
    }
}

@media (max-width: 991px) and (min-width: 466px) {
    .btn-save-order {
        top: -69px;
        left: 370px;
    }
}

@media (max-width: 465px) and (min-width: 353px) {
    .btn-save-order {
        display: none;
    }
}

@media (max-width: 352px) {
    .btn-save-order {
        top: -95px;
        left: 195px;
    }
}

.btn-print-order {
    position: absolute;
    top: -27px;
    left: 450px;
}

@media (max-width: 1095px) and (min-width: 992px) {
    .btn-print-order {
        top: -27px;
        left: 440px;
    }
}

@media (max-width: 991px) and (min-width: 466px) {
    .btn-print-order {
        top: -69px;
        left: 430px;
    }
}

.btn-add-property {
    margin-top: 25px;
}