html, body {
    height: 100% !important;
}

.main-wrapper {
    display: flex;
    min-height: 100%;
    overflow: auto;

    .content-wrapper {
        flex-grow: 1;
        overflow: hidden;

        > .content {
            position: relative;
            animation-duration: .7s;
            animation-name: opacity;

            @keyframes opacity {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }
    }
}

.content {
    min-height: 0;
}

.login-page {
    width: 100%;
}


// Fix bug
.ui-select-dropdown { opacity: 1 !important; }
.ui-select-container .ui-select-search { width: 100% !important; }
.ui-select-container .ui-select-match { position: absolute; top: 3px; left: 3px; }


.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-between {
    justify-content: space-between;
}

@media (max-width: 991px) and (min-width: 543px) {
    .content-wrapper, .right-side, .main-footer {
        margin-left: 0;
    }
    .fixed .content-wrapper, .fixed .right-side {
        padding-top: 100px;
    }
}

@media (max-width: 542px) {
    .content-wrapper, .right-side, .main-footer {
        margin-left: 0;
    }
}

.u-textNoWrap {
    white-space: nowrap !important
}