.input-group-addon {
    padding: 6px;
}

.radio-inline,
.checkbox-inline {
    margin-left: 10px;
    margin-bottom: 10px;
}
.checkbox .icheckbox_square-blue,
.checkbox .icheckbox_square-green,
.radio .iradio_square-blue,
.radio .iradio_square-green {
    margin-top: -1px;
    margin-left: -20px;
}

.input-group-btn,
.input-group-btn .form-control {
    width: auto;
}

.input-group.input-group-half input {
    width: 50%;
}

.input-xs {
    padding: 2px 5px;
    height: 24px;
    font-size: 12px;
    line-height: 1.5;
}

.table .form-group {
    margin-bottom: 0;
}

.form-inline  .form-group {
    margin-bottom: 3px;
}

#settings-tab {
    .radio-inline,
    .checkbox-inline {
        margin-left: 0;
        padding-left: 0;
    }
}

#customer-info {
    .radio-inline,
    .checkbox-inline {
        margin-left: 0;
        //padding-left: 0;
    }
}

.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 280px;
}

#settings-tab .radio-inline {
    margin-right: 10px;
}

.login-error {
    padding: 10px;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: center;
}

.default-discount {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.glyphicon-remove {
    top: 4px;
}