aside {
    overflow-y: auto;
    height: 100%;
}

.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
    width: auto;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
    max-height: none;
}

.navbar-buttons {
    margin-right: 10px;
    margin-left: 0px;
    padding: 10px 0;
    text-align: right;
}

.navbar-nav > li {
    display: inline-block;
}

.navbar-nav li {
    &:first-child {
        padding-left: 5px;
    }
    &:last-child {
        padding-right: 10px;
    }
}

.store-list {
    padding: 10px 0;
}

@media (max-width: 991px) {
    .main-header .logo, .main-header .navbar {
        width: 100%;
        float: none;
        margin: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav {
        margin: 4.5px -10px;
    }

    .store-select {
        margin-left: 10px;
        padding: 10px 0;
        display: inline-block;
        vertical-align: middle;
    }

    .store-item {
        color: #000000 !important;
    }
}

.btn-active-store {
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 374px) {
    .btn-active-store {
        width: 120px;
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    .btn-active-store {
        width: 170px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .btn-active-store {
        width: 220px;
    }
}

@media (min-width: 769px) {
    .btn-active-store {
        width: 180px;
    }
}

@media (min-width: 425px) and (max-width: 991px) {
    .sidebar-collapse .main-sidebar, .sidebar-collapse .left-side {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .sidebar-collapse .content-wrapper, .sidebar-collapse .right-side, .sidebar-collapse .main-footer {
        margin-left: 230px;
    }
}