@media (min-width: 1200px) {
    .col-dynamic {
        margin-right: -350px;
        padding-right: 350px;
    }
    .main-sidebar-right {
        width: 350px;
    }
}

@media (max-width: 991px) {
    .main-sidebar, .left-side {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0);
    }
    .main-sidebar, .left-side {
        padding-top: 100px;
    }
    .sidebar-open .main-sidebar, .sidebar-open .left-side {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}
