.grid-thumbnail {
    width: 1px;
    text-align: center;

    img {
        max-height: 50px;
    }
}
.grid-actions {
    width: 1px;
    white-space: nowrap;
}
.table.table-middle tbody th, .table.table-middle tbody td {
    vertical-align: middle;
}
.table-auto {
    width: auto;
    min-width: 25%;
}

.table-responsive {
    overflow-x: auto;
    //overflow-x: inherit;

    &.order-status {
        overflow-x: auto;
    }
}