.skin-green {
    .nav-tabs-custom > .nav-tabs > li.active {
        border-top-color: $green-theme;
    }

    .box.box-primary {
        border-top-color: $green-theme;
    }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: $green-theme;
    }

    .start-process {
        background-color: #008F23;
    }
}