<template lang="pug">
    div
        // Banners
        banners(:items="banners")

        // Feature categories with additional links
        navigation(:categories="categories")

        // Feature products
        products
</template>

<script>
    import api from '@/api';
    import Banners from './Banners/Banners';
    import Navigation from './Navigation/Navigation';
    import Products from './Products/Products';

    export default {
        components: {
            Banners,
            Navigation,
            Products
        },
        head() {
            return {
                title: 'Головна'
            };
        },

        /**
         * Fetch banners, feature categories from API.
         *
         * @param app
         * @return {Promise<{banners: *, categories: *}>}
         */
        async asyncData({ app }) {
            const responses = await Promise.all([
                api.banners.findAll(app),
                api.categories.findAll(app, { type: 'feature' })
            ]);
            const bannersResponse = responses[0].data;
            const categoriesResponse = responses[1].data;

            return {
                banners: bannersResponse,
                categories: categoriesResponse
            };
        },

        /**
         * Fetch feature products from API and set to store.
         *
         * @param store
         * @returns {Promise<void>}
         */
        async fetch({ store }) {
            store.dispatch('breadcrumbs/clear');
            store.dispatch('featureProducts/fetchAll');
        },
        watch: {

            /**
             * Re-fetch feature products when selected discount.
             */
            discount() {
                this.$store.dispatch('featureProducts/fetchAll');
            },

            /**
             * Re-fetch feature products when user has logged in.
             */
            ['$auth.loggedIn']() {
                setTimeout(() => {
                    this.$store.dispatch('featureProducts/fetchAll');
                });
            }
        },
        mounted() {
            if (this.$route.query['auth-provider'] && !this.$auth.loggedIn) {
                this.loginByProvider(this.$route.query['auth-provider'], this.$route.query.code);
            }
            if (this.$route.query.modal) {
                if (this.$route.query.modal == 'reset-password') {
                    this.$store.dispatch('modals/show', 'password-confirm');
                } else if (this.$route.query.modal == 'sign-in') {
                    this.$store.dispatch('modals/show', 'sign-in');
                }
            }
        },
        methods: {

            /**
             * Login by social provider.
             *
             * @param provider
             * @param code
             */
            loginByProvider(provider, code) {
                setTimeout(() => {

                    // Start preloader
                    this.$nuxt.$loading.start();

                    api.auth.loginByProvider(this, provider, { code })
                        .then(async ({ data }) => {
                            this.$auth.setToken('local', `Bearer ${data.access_token}`);

                            await this.$auth.setStrategy('local');
                        })
                        // Finish preloader and clear url
                        .finally(() => {
                            this.$router.push('/');

                            this.$nuxt.$loading.finish();
                        });
                });
            }
        }
    };
</script>
