<template lang="pug">
    div(class="col-xs-24 col-sm-5 col-lg-6")
        div(class="swiper uniform-preview")

            // Images
            div(
                v-swiper="swiperOptions"
                :instanceName="sliderName"
                @slideChange="update"
            )
                div(class="swiper-wrapper")
                    div(
                        v-for="item in items"
                        :key="item.id"
                        class="swiper-slide"
                    )
                        div(class="uniform-preview-img")
                            img(:src="item.thumbnail.url" :alt="item.name")

            // Slider navigation
            div(v-if="items.length > 1")
                div(class="uniform-btn next" @click="slideNext")
                div(class="uniform-btn prev" @click="slidePrev")
</template>

<script>
    export default {
        props: {
            position: String,
            items: Array,
            sliderName: String,
            slideIndex: Number
        },
        data() {
            return {
                swiperOptions: {}
            };
        },
        watch: {
            slideIndex(value) {
                this.slideTo(value);
            }
        },
        mounted() {
            this.update();
        },
        methods: {

            /**
             * Emit update event with product data.
             */
            update() {
                const index = this[this.sliderName].activeIndex;
                const product = this.items[index];

                this.$emit('update', product);
            },

            /**
             * Slide next.
             */
            slideNext() {
                this[this.sliderName].slideNext();
            },

            /**
             * Slide prev.
             */
            slidePrev() {
                this[this.sliderName].slidePrev();
            },

            /**
             * Slide to given index.
             *
             * @param index
             */
            slideTo(index) {
                this[this.sliderName].slideTo(index);
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../../assets/scss/utilities/variables";

    .uniform-preview {
        position: relative;
        width: 100%;
        background: #ffffff;
        padding: 1px;
        border-radius: 2px;

        @media (max-width: 767px) {
            margin-left: auto;
            margin-right: auto;
        }

        .swiper-slide {
            width: 100% !important;
        }
    }
    .uniform-preview-img {
        position: relative;
        border: 2px solid #000000;
        height: 100%;
        border-radius: 2px;
        z-index: 2;

        img {
            width: 100%;
            height: 100%;
        }
    }
    .uniform-btn {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 50%;
        background: $color-default;
        z-index: 0;
        transform: rotate(45deg) translate3d(0, -50%, 0);
        transition: opacity 0.3s;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
        &:before {
            content: '';
            width: 12px;
            height: 12px;
            position: absolute;
            background: #3c76bf;
            border-width: 1px 1px 0 0;
            border-color: #ffffff;
            border-style: solid;
            transform-origin: center;
        }
        &.next {
            right: -3px;

            &:before {
                left: 10px;
                top: 3px;
            }
        }
        &.prev {
            left: -20px;

            &:before {
                left: 3px;
                top: 10px;

                transform: rotate(180deg);
            }
        }
    }
</style>
