<!-- Name -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.name }">
    <label for="name">
        {{ 'categories.attribute.label.name' | translate }}
        <span class="text-danger">*</span></label>
    <input type="text"
           id="name"
           class="form-control"
           title="{{ 'categories.attribute.title.name' | translate }}"
           name="name"
           maxlength="80"
           ng-model="ctrl.item.name"/>
    <span class="text-danger" ng-bind="ctrl.errors.name[0]" ng-if="ctrl.errors.name"></span>
</div><!-- /.form-group -->

<!-- Slug -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.slug }">
    <label for="slug">
        {{ 'products.attribute.label.slug' | translate }}
        <span class="text-danger">*</span></label>
    <input type="text"
           id="slug"
           class="form-control"
           title="{{ 'products.attribute.title.slug' | translate }}"
           name="slug"
           maxlength="80"
           ng-model="ctrl.item.slug"/>
    <span class="text-danger" ng-bind="ctrl.errors.slug[0]" ng-if="ctrl.errors.slug"></span>
</div><!-- /.form-group -->

<!-- Subcategory -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.parent_id }">
    <label for="parent_id">{{ 'categories.attribute.label.sub_category' | translate }}</label>
    <div class="selectbox">
        <select id="parent_id"
                class="form-control"
                name="parent_id"
                ng-options="opt.id as opt.depth_name for opt in ctrl.options_categories"
                ng-model="ctrl.item.parent_id">
            <option value="">- {{ 'categories.general.sub_category' | translate }} -</option>
        </select>
    </div>
    <span class="text-danger" ng-bind="ctrl.errors.parent_id[0]" ng-if="ctrl.errors.parent_id"></span>
</div><!-- /.form-group -->

<!-- Description -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.description }">
    <label for="description">
        {{ 'categories.attribute.label.description' | translate }}
        <span class="text-danger">*</span></label>
    <textarea id="description"
              class="form-control"
              title="{{ 'categories.attribute.title.description' | translate }}"
              rows="5"
              maxlength="500"
              name="description"
              ng-model="ctrl.item.description"></textarea>
    <span class="text-danger" ng-bind="ctrl.errors.description[0]" ng-if="ctrl.errors.description"></span>
</div><!-- /.form-group -->