<!-- Meta title -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.meta_title }">
    <label for="meta_title">{{ 'categories.attribute.label.meta_title' | translate }}</label>
    <input type="text"
           id="meta_title"
           class="form-control"
           title="{{ 'categories.attribute.title.meta_title' | translate }}"
           name="meta_title"
           maxlength="80"
           ng-model="ctrl.item.meta_title"/>
    <span class="text-danger" ng-bind="ctrl.errors.meta_title[0]" ng-if="ctrl.errors.meta_title.errors"></span>
</div><!-- /.form-group -->

<!-- Meta description -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.meta_description }">
    <label>{{ 'categories.attribute.label.meta_description' | translate }}</label>
    <textarea id="description"
              class="form-control"
              title="{{ 'categories.attribute.title.meta_description' | translate }}"
              rows="5"
              name="meta_description"
              maxlength="255"
              ng-model="ctrl.item.meta_description"></textarea>
    <span class="text-danger" ng-bind="ctrl.errors.meta_description[0]" ng-if="ctrl.errors.meta_description.errors"></span>
</div><!-- /.form-group -->