<!-- Thumbnail -->
<thumbnail media="ctrl.item.thumbnail"
           id="ctrl.item.thumbnail_id"
           errors="generalErrors"
           isrequired="false"
           aspectratio="1"
           areaminrelativesize={w:300,h:300}
           url="'/categories/upload-media'"></thumbnail>

<!-- Icon -->
<div class="form-group" ng-class="{ 'has-error': ctrl.errors.icon }" style="min-height: 70px;">
    <label>{{ 'categories.attribute.label.icon' | translate }}</label>

    <ui-select
        ng-model="ctrl.item.icon"
    >
        <ui-select-match placeholder="Виберіть іконку" style="width:99%" allow-clear="true">
            <i class="{{ 'icon-sport_shop_'+  $select.selected.key }}" style="vertical-align: super;"></i>
            <span ng-bind-html="$select.selected.value" style="padding-left:5px"></span>
        </ui-select-match>
        <ui-select-choices repeat="opt.key as opt in ctrl.icons">
            <i class="{{ 'icon-sport_shop_'+  opt.key }}"></i>
            <span ng-bind-html="opt.value" style="padding-left:5px"></span>
        </ui-select-choices>
        <ui-select-no-choice>
            Немає іконок
        </ui-select-no-choice>
    </ui-select>
    <span class="text-danger" ng-bind="ctrl.errors.icon[0]" ng-if="ctrl.errors.icon"></span>
</div><!-- /.form-group -->

<!-- Status -->
<div class="form-group">
    <label for="is_active">
        {{ 'categories.attribute.label.status' | translate }}
        <span class="text-danger">*</span></label>
    <div class="selectbox">
        <select id="is_active"
                class="form-control"
                name="is_active"
                ng-options="opt.key as opt.value | translate for opt in ctrl.statuses"
                ng-model="ctrl.item.is_active">
        </select>
    </div>
</div><!-- /.form-group -->