<form name="form">
    <div class="row">
        <div class="col-sm-12 col-dynamic">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active" ng-class="{ 'has-error': ctrl.errors }">
                        <a href="#general-tab"
                           data-toggle="tab"
                           translate="categories.general.general"></a>
                    </li>
                    <li>
                        <a href="#seo-tab"
                           data-toggle="tab"
                           translate="categories.general.seo"></a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="general-tab">
                        <div ui-view="general"></div>
                    </div><!-- /.tab-pane -->

                    <div class="tab-pane fade" id="seo-tab">
                        <div ui-view="seo"></div>
                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
            </div><!-- /.nav-tabs-custom -->
        </div><!-- /.col -->

        <div class="col-sm-12 main-sidebar-right">
            <div class="box box-primary">
                <div class="box-body">
                    <div ui-view="sidebar"></div>
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit"
                            class="btn btn-sm btn-primary"
                            ng-click="ctrl.save()"
                            translate="general.save"></button>
                </div>
            </div><!-- /.box -->
        </div><!-- /.main-sidebar-right -->
    </div><!-- /.row -->
</form>