<div class="box box-primary">
    <div class="box-header">
        <a
            class="btn btn-sm btn-primary"
            ui-sref="categories.create"
            translate="general.create"
        ></a>
    </div>

    <div class="box-body">
        <div class="row" ng-if="ctrl.list.length">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-middle table-striped table-condensed">
                        <thead>
                            <tr>
                                <th translate="products.general.name"></th>
                                <th
                                    translate="general.actions"
                                    ng-show="$root.currentUser.user.role_name != 'limited_manager'"
                                ></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in $root.globalCategoriesFlatList">
                                <td>
                                    <a ui-sref="categories.edit({ id: item.id })" ng-hide="$root.currentUser.user.role_name == 'limited_manager'">
                                        <i class="{{ 'icon-sport_shop_'+ item.icon }}"></i>
                                        {{ item.depth_name }}
                                    </a>
                                    <span ng-show="$root.currentUser.user.role_name == 'limited_manager'">{{ item.depth_name }}</span>
                                </td>
                                <td
                                    class="grid-actions"
                                    ng-show="$root.currentUser.user.role_name != 'limited_manager'"
                                >
                                    <a class="btn btn-sm btn-default"
                                       ui-sref="categories.edit({ id: item.id })"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       tooltip="{{ 'general.edit' | translate }}">
                                        <i class="fa fa-pencil"></i></a>
                                    <a href
                                       class="btn btn-sm btn-danger"
                                       ng-click="ctrl.removeItem(item)"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       tooltip="{{ 'general.remove' | translate }}">
                                        <i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row" ng-if="!ctrl.list.length">
            <div class="col-sm-12" translate="general.no_items"></div>
        </div><!-- /.row -->

        <div class="row" ng-if="ctrl.list.length">
            <div class="col-sm-5">
                <div class="pagination-info">
                    <span translate="categories.general.pagination"
                          translate-values="{ from: 1, to: ctrl.list.length || 0, total: ctrl.list.length }"></span>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-7" ng-if="ctrl.list.total > ctrl.list.per_page">
                <pagination
                        boundary-link-numbers="true"
                        force-ellipses="true"
                        ng-change="ctrl.changePage()"
                        total-items="ctrl.list.total"
                        ng-model="ctrl.list.current_page"
                        items-per-page="ctrl.list.per_page"
                        class="pagination-sm"
                        max-size="5"
                        boundary-links="true"></pagination>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->