<template lang="pug">
    div(class="form__total cart-process-result")

        // Total price without discount
        div(class="result-wrap")
            div(class="result-label") Вартість:
            div(class="result-value") {{ price.value }} {{ price.symbol }}

        // Discount
        div(class="result-wrap")
            div(class="result-label") Знижка:
            div(class="payment-input-wrap")
                b-form-input(
                    :value="discount"
                    type="text"
                    name="discount"
                    placeholder="%"
                    class="payment-input"
                    @input="setDiscount"
                    @keypress.native="onKeyPress"
                )

        // Total price with discount
        div(class="result-wrap")
            div(class="result-total-label") Разом:
            div(class="result-total-value") {{ priceWithDiscount.value }} {{ priceWithDiscount.symbol }}
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: mapGetters('cart', [
            'price',
            'discount',
            'priceWithDiscount'
        ]),
        methods: {

            /**
             * Filter discount value.
             */
            onKeyPress(e) {
                if (
                    !Number.isInteger(Number.parseInt(e.key))
                    || (this.discount + e.key) > 100
                ) {
                    e.preventDefault();
                }
            },

            /**
             * Set discount to store.
             *
             * @param discount
             */
            setDiscount(discount) {
                this.$store.dispatch('cart/setDiscount', discount)
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../../assets/scss/utilities/variables";

    .cart-process-result {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        font-size: 1.375rem;
        text-align: left;
    }

    .payment-input-wrap {
        position: relative;
        width: 135px;
        display: inline-block;
    }

    .payment-value {
        display: flex;
        align-items: center;
    }

    .result-wrap {
        color: #ffffff;
        margin-bottom: 15px;
        white-space: nowrap;
    }

    .result-label {
        display: inline-block;
        font-size: 22px;
        margin-right: 40px;
    }

    .result-value {
        display: inline-block;
        font-size: 24px;
    }

    .result-total-label {
        display: inline-block;
        font-size: 30px;
        font-weight: bold;
        margin-right: 40px;
    }

    .result-total-value {
        display: inline-block;
        font-size: 32px;
        font-weight: bold;
    }

    @media screen and (max-width: $screen-xs-max) {
        .payment-value {
            margin-top: 15px;
        }

        .result-wrap {
            white-space: normal;
        }

        .result-label {
            font-size: 20px;
        }

        .result-total-label {
            font-size: 28px;
        }

        .result-total-value {
            font-size: 26px;
        }
    }
</style>