.l-orders-list {

	.list-table {
		background-color: transparent;

		.list__item {
			background-color: rgba($color-default, 0.1);
		}
	}

	.list__item {
		padding: 5px 0;

		font-size: 12px;

		.item__id {
			font-size: 1.25rem;
			font-weight: 700;
			text-align: center;
		}

		.item__sku {
			font-size: 1rem;
			font-weight: 700;
		}

		.item__track {
			font-size: 0.875rem;
			font-weight: 700;
		}

		.item__separator {
			height: 1px;
			width: 100%;
			background-color: $color-default;
		}
	}

	@media screen and (max-width: $screen-sm-max) {
		.list__item {
			font-weight: 400;

			.row {
				padding: 5px;
			}

			.item__id,
			.item__sku,
			.item__track {
				font-weight: 400;
			}
		}
	}

	.table {
		background-color: $white;

		tbody,
		td {
			border-top: none !important;
		}

		thead tr td {
			font-weight: 700;
			font-size: 12px;
			white-space: nowrap;
		}

		tbody tr {
			td {
				vertical-align: middle;
				font-size: 14px;

				&:first-child {
					text-align: center;
				}
			}

			td:nth-child(2) {
				max-width: 100px;
			}
		}

		caption {
			background: #ffffff;
			caption-side: bottom;

			.collapse-btn {
				font-size: 24px;
			}
		}

		.collapse-wrap {
			background: #ffffff !important;

			> td {
				padding: 0;
			}
		}

		&.order-main {
			margin-bottom: 0;

			thead {
				background: #ffffff;
			}

			> tbody {
				border-bottom: 1px solid #dddddd !important;
				background-color: rgba($color-default, 0.1);
			}

			.img-wrap {
				max-width: 60px;

				img {
					width: 100%;
				}
			}

			.date-create {
				min-width: 88px;
			}
		}

		&.order-list {
			margin-bottom: 0;
			//padding-left: 30px;

			thead {
				background: #fafafa !important;

				td {
					font-size: 12px;
					color: #444444;
					padding: 4px;
					vertical-align: top;
				}
			}

			> tbody {
				border-top: 1px solid #dddddd !important;
			}

			tbody tr {
				background-color: #ffffff;
			}

			thead td,
			tbody td {
				text-align: left;
			}

			img {
				max-width: 50px;
			}
		}

		.print-wrap {
			min-width: 50px;
			text-align: center;

			i {
				font-size: 20px;
				margin-right: 0;
			}
		}

		// Search
		.search-elem {
			margin-top: 5px;
			margin-bottom: 5px;
		}

		.search-input {
			display: inline-block;
			position: relative;
			width: 100px;

			input {
				width: 100%;
				padding-left: 17px;
				border: none;
				border-bottom: 1px solid ;
			}
		}

		.search-label {
			position: absolute;
			left: 0;
			bottom: 5px;
			color: #888888;
		}

		// Select
		.select-elem {
			margin-top: 5px;

			.btn {
				background-color: transparent !important;
				border: none !important;
				color: #000000;
				padding: 0;
			}
		}

		// Date filter
		.date-filter {
			margin-top: 5px;
		}
		
		.date-icon {
			font-size: 18px;
			color: #888888;
		}
	}

	.order__item {
		.item__number {
			font-size: 1rem;
			font-weight: 700;
		}

		.item__name {
			font-size: 0.875rem;
			font-weight: 700;
		}

		.item__img {
			width: 40px;
		}
	}
}
