<template lang="pug">
    div(class="footer")
        div(class="container")
            div(class="row")

                // Contact form
                div(class="col-xs-24 col-sm-10 col-lg-7")
                    contact-form

                div(class="col-xs-24 col-sm-14 col-lg-17")

                    // Main menu title
                    h3(class="h3 m-b-20 m-t-20 hidden-xs") {{ navigationTitle }}

                    div(class="row hidden-xs")

                        // Main menu
                        div(class="col-xs-12 col-sm-6")
                            navigation

                        // Categories
                        div(class="col-xs-24 col-sm-18")
                            categories

                        // Divider
                        div(class="col-xs-24")
                            div(class="b-b b-white-opacity p-b-30 m-b-20")

                    // Contacts title
                    h3(class="h3 m-b-20 hidden-xs") {{ contactsTitle }}

                    div(class="row u-flex-center")
                        div(class="col-xs-24 col-md-15")

                            // Phones
                            phones

                            // Support email
                            support-email

                        // Social links
                        div(class="col-xs-24 col-md-9 m-t-5")
                            social-links
</template>

<script>
    import Categories  from './Categories/Categories';
    import ContactForm  from './ContactForm/ContactForm';
    import Navigation from './Nav/Nav';
    import Phones from './Phones/Phones';
    import SocialLinks from './SocialLinks/SocialLinks';
    import SupportEmail from './SupportEmail/SupportEmail';

    export default {
        components: {
            Categories,
            ContactForm,
            Navigation,
            Phones,
            SocialLinks,
            SupportEmail
        },
        data() {
            return {
                navigationTitle: 'Карта сайту',
                contactsTitle: 'Контакти'
            };
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/scss/utilities/variables";

    .footer {
        background: $gradient-default;
        padding-top: 25px;
        padding-bottom: 85px;
        color: $white;
    }

    @media screen and (max-width: $screen-xs-max) {
        .footer {
            padding-bottom: 55px;
        }
    }
</style>