<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-4">
        <div class="form-group">
            <div class="selectbox">
                <label translate="statistics.attribute.label.date"></label>
                <select
                    class="form-control input-sm"
                    name="date_filter"
                    ng-model="ctrl.searchForm.date"
                    ng-model-options="{ debounce: 500 }"
                    ng-change="ctrl.processSearch()"
                >
                    <option value="">- {{ 'general.select' | translate }} -</option>
                    <optgroup ng-repeat="opt in ctrl.dateOptions" label="{{ opt.name }}">
                        <option ng-repeat="item in opt.groups" value="{{ item.key }}">{{ item.value }}</option>
                    </optgroup>
                </select>
            </div><!-- /.selectbox -->
        </div><!-- /.form-group -->
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box" style="background-color: #eee;">
            <span class="info-box-icon bg-maroon"><i class="fa fa-dot-circle-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" translate="statistics.cost_types.development"></span>
                <span class="info-box-number">
                    <span ng-bind="ctrl.totalDevelopmentData | rounded"></span>
                    <currency-icon item="$root.defaultCurrencyId"></currency-icon></span>
                </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col-md-4 -->

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box" style="background-color: #eee;">
            <span class="info-box-icon bg-blue"><i class="fa fa-dot-circle-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" translate="statistics.cost_types.utilities"></span>
                <span class="info-box-number">
                    <span ng-bind="ctrl.totalUtilitiesData | rounded"></span>
                    <currency-icon item="$root.defaultCurrencyId"></currency-icon></span>
                </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col-md-4 -->

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box" style="background-color: #eee;">
            <span class="info-box-icon bg-green"><i class="fa fa-dot-circle-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" translate="statistics.cost_types.tax"></span>
                <span class="info-box-number">
                    <span ng-bind="ctrl.totalTaxData | rounded"></span>
                    <currency-icon item="$root.defaultCurrencyId"></currency-icon></span>
                </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col-md-4 -->

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box" style="background-color: #eee;">
            <span class="info-box-icon bg-aqua"><i class="fa fa-dot-circle-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" translate="statistics.cost_types.add"></span>
                <span class="info-box-number">
                    <span ng-bind="ctrl.totalAddData | rounded"></span>
                    <currency-icon item="$root.defaultCurrencyId"></currency-icon></span>
                </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col-md-4 -->

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box" style="background-color: #eee;">
            <span class="info-box-icon bg-yellow"><i class="fa fa-dot-circle-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" translate="statistics.cost_types.hosting"></span>
                <span class="info-box-number">
                    <span ng-bind="ctrl.totalHostingData | rounded"></span>
                    <currency-icon item="$root.defaultCurrencyId"></currency-icon></span>
                </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col-md-4 -->

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box" style="background-color: #eee;">
            <span class="info-box-icon bg-teal"><i class="fa fa-dot-circle-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" translate="statistics.cost_types.delivery"></span>
                <span class="info-box-number">
                    <span ng-bind="ctrl.totalDeliveryData | rounded"></span>
                    <currency-icon item="$root.defaultCurrencyId"></currency-icon></span>
                </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col-md-4 -->

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box" style="background-color: #eee;">
            <span class="info-box-icon bg-lime"><i class="fa fa-tasks"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" translate="statistics.attribute.label.total_costs"></span>
                <span class="info-box-number">
                    <span ng-bind="ctrl.totalData | rounded"></span>
                    <currency-icon item="$root.defaultCurrencyId"></currency-icon></span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col-md-4 -->

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box" style="background-color: #eee;">
            <span class="info-box-icon bg-red"><i class="fa fa-tasks"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" translate="statistics.cost_types.other"></span>
                <span class="info-box-number">
                    <span ng-bind="ctrl.totalOtherData | rounded"></span>
                    <currency-icon item="$root.defaultCurrencyId"></currency-icon></span>
                </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col-md-4 -->
</div>

<div class="row" ng-if="ctrl.labels.length">
    <div class="col-sm-10 col-sm-offset-1">
        <h3 class="text-center" translate="statistics.title.costs_chart"></h3>

        <canvas id="bar"
                class="chart chart-bar"
                chart-data="ctrl.data"
                chart-labels="ctrl.labels"
                chart-colors="['#f39c12', '#00a65a', '#0073b7', '#00c0ef', '#39cccc', '#d81b60', '#dd4b39']"
                chart-legend="true"
                chart-options="ctrl.options"
                chart-series="ctrl.series">
        </canvas>

        <!--<canvas id="pie" class="chart chart-pie"-->
                <!--chart-data="data" chart-labels="labels" chart-options="options">-->
        <!--</canvas>-->
    </div><!-- /.col -->
</div><!-- /.row -->