<div class="row">
    <div class="col-sm-12" style="margin-bottom: 10px; text-align: right;">
        <a class="btn btn-sm btn-warning"
           ng-click="ctrl.print()"
        >
            <span translate="orders.button.print_list"></span>
        </a>
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="table-responsive">
    <table class="table table-bordered table-middle table-striped">
        <thead>
            <tr>
                <th translate="statistics.attribute.label.action_type"></th>
                <th translate="statistics.attribute.label.from_store"></th>
                <th translate="statistics.attribute.label.to_store"></th>
                <th translate="orders.attribute.label.manager"></th>
                <th translate="orders.attribute.label.date"
                    style="min-width: 130px"></th>
                <th translate="statistics.attribute.label.product_name"></th>
                <th translate="orders.attribute.label.sku"></th>
                <th translate="orders.attribute.label.size"
                    class="u-textNoWrap"
                ></th>
                <th translate="orders.attribute.label.quantity"
                    style="width: 65px"></th>
                <th style="width: 85px">
                    <span translate="statistics.attribute.label.amount"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="selectbox">
                        <select class="form-control input-sm"
                                id="search-type"
                                name="action"
                                ng-options="opt.key as opt.value | translate for opt in ctrl.actionTypes"
                                ng-model="ctrl.searchForm.action"
                                ng-model-options="{ debounce: 500 }"
                                ng-change="ctrl.processSearch()">
                            <option value="">- {{ 'general.all' | translate }} -</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="selectbox">
                        <select class="form-control input-sm"
                                name="store_id_from"
                                ng-model="ctrl.searchForm.store_id_from"
                                ng-model-options="{ debounce: 500 }"
                                ng-options="opt.id as opt.name for opt in $root.storesList"
                                ng-change="ctrl.processSearch()">
                            <option value="">- {{ 'general.all' | translate }} -</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="selectbox">
                        <select class="form-control input-sm"
                                name="store_id_to"
                                ng-model="ctrl.searchForm.store_id_to"
                                ng-model-options="{ debounce: 500 }"
                                ng-options="opt.id as opt.name for opt in $root.storesList"
                                ng-change="ctrl.processSearch()">
                            <option value="">- {{ 'general.all' | translate }} -</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="selectbox">
                        <select class="form-control input-sm"
                                name="manager_id"
                                ng-options="opt.id as opt.full_name for opt in ctrl.users"
                                ng-model="ctrl.searchForm.manager_id"
                                ng-model-options="{ debounce: 500 }"
                                ng-change="ctrl.processSearch()">
                            <option value="">- {{ 'general.all' | translate }} -</option>
                        </select>
                    </div>
                </td>
                <td>
                    <input date-range-picker
                           id="single-date-picker"
                           class="form-control input-sm date-picker"
                           type="text"
                           ng-model="ctrl.searchForm.date"
                           options="ctrl.dateRangeOptions">
                </td>
                <td>
                    <input type="text"
                           id="name"
                           class="form-control input-sm"
                           name="name"
                           title="{{ 'statistics.attribute.label.product_name' | translate }}"
                           ng-model="ctrl.searchForm.name"
                           ng-model-options="{ debounce: 500 }"
                           ng-change="ctrl.processSearch()"/>
                </td>
                <td>
                    <input type="text"
                           id="sku"
                           class="form-control input-sm"
                           name="sku"
                           title="{{ 'products.attribute.title.sku' | translate }}"
                           ng-model="ctrl.searchForm.sku"
                           ng-model-options="{ debounce: 500 }"
                           ng-change="ctrl.processSearch()"/>
                </td>
                <td class="u-textNoWrap">
                    <input type="text"
                           id="size"
                           class="form-control input-sm"
                           name="size"
                           title="{{ 'products.attribute.title.size' | translate }}"
                           ng-model="ctrl.searchForm.size"
                           ng-model-options="{ debounce: 500 }"
                           ng-change="ctrl.processSearch()"/>
                </td>
                <td>
                    <input type="text"
                           id="quantity"
                           class="form-control input-sm"
                           name="quantity"
                           title="{{ 'products.attribute.title.quantity' | translate }}"
                           ng-model="ctrl.searchForm.quantity"
                           ng-model-options="{ debounce: 500 }"
                           ng-change="ctrl.processSearch()"/>
                </td>

                <td>&nbsp;</td>
            </tr>
            <tr ng-repeat="item in ctrl.list.items.data">
                <td>{{ (ctrl.showActionType(item.action) | translate) }}</td>
                <td>{{ item.from_store.name || '-' }}</td>
                <td>{{ item.to_store.name || '-' }}</td>
                <td>{{ item.user.full_name }}</td>
                <td>{{ item.created_at | momentDate:'DD-MM-YY HH:mm' }}</td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.sku }}</td>
                <td class="u-textNoWrap">
                    <div class="col-xs-12">
                        <sizes-dropdown-buttton
                                elem="item.product.size.size"
                                group="item.product.size.group"
                        ></sizes-dropdown-buttton>
                    </div>
                </td>
                <td>{{ item.quantity }}</td>
                <td>
                    <span ng-if="(item.price | defaultCurrency) > 0">
                        {{ (item.price | defaultCurrency) }} <currency-title item="$root.defaultCurrencyId"></currency-title>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div><!-- /.table-responsive -->

<div ng-if="!ctrl.list.items.data.length" translate="general.no_items"></div>

<div class="row" style="margin-top: 10px;">
    <div class="col-sm-1">
        <div class="selectbox">
            <select class="form-control input-sm"
                    name="limit"
                    ng-options="opt.key as opt.value | translate for opt in ctrl.listPerPage"
                    ng-model="ctrl.searchForm.limit"
                    ng-model-options="{ debounce: 500 }"
                    ng-change="ctrl.processSearch()"
            >
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="pagination-info">
                    <span translate="statistics.general.products_pagination"
                          translate-values="{ from: ctrl.list.items.from || 0, to: ctrl.list.items.to || 0, total: ctrl.list.items.total }"></span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="text-left" ng-if="ctrl.list.items.total > ctrl.list.items.per_page">
            <pagination
                boundary-link-numbers="true"
                force-ellipses="true"
                ng-change="ctrl.changePage()"
                total-items="ctrl.list.items.total"
                ng-model="ctrl.list.items.current_page"
                items-per-page="ctrl.list.items.per_page"
                class="pagination-sm"
                max-size="5"
                boundary-links="true"></pagination>
        </div>
    </div><!-- /.col -->

    <div class="col-sm-4" ng-if="ctrl.list.quantity">
        <div class="text-right take-money">
            <div style="margin-right: 5px;"><b>Разом:</b> <span ng-bind="(ctrl.list.price | defaultCurrency) || 0"></span>
                <currency-title item="$root.defaultCurrencyId"></currency-title>
                (<span translate="statistics.general.total_quantity"></span>: <span ng-bind="ctrl.list.quantity"></span>)
            </div>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->