<div class="row">
    <div class="col-sm-12">
        <div>
            <table class="table table-bordered table-middle table-striped">
                <thead class="bg-gray color-palette">
                    <tr>
                        <td translate="statistics.attribute.label.manager"></td>
                        <td translate="statistics.attribute.label.customer"></td>
                        <td translate="statistics.attribute.label.date"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <!-- Manager -->
                            <div class="selectbox">
                                <select class="form-control input-sm"
                                        name="manager_id"
                                        ng-options="opt.id as opt.full_name for opt in ctrl.users"
                                        ng-model="ctrl.searchForm.manager_id"
                                        ng-model-options="{ debounce: 500 }"
                                        ng-change="ctrl.processSearch()">
                                    <option value="">- {{ 'general.all' | translate }} -</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <!-- Customer -->
                            <div class="selectbox">
                                <select class="form-control input-sm"
                                        name="customer_id"
                                        ng-options="opt.id as opt.full_name for opt in ctrl.customers"
                                        ng-model="ctrl.searchForm.customer_id"
                                        ng-model-options="{ debounce: 500 }"
                                        ng-change="ctrl.processSearch()">
                                    <option value="">- {{ 'general.all' | translate }} -</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="selectbox">
                                <select
                                    class="form-control input-sm"
                                    name="date_filter"
                                    ng-model="ctrl.searchForm.date"
                                    ng-model-options="{ debounce: 500 }"
                                    ng-change="ctrl.processSearch()"
                                >
                                    <option value="">- {{ 'general.select' | translate }} -</option>
                                    <optgroup ng-repeat="opt in ctrl.dateOptions" label="{{ opt.name }}">
                                        <option ng-repeat="item in opt.groups" value="{{ item.key }}">{{ item.value }}</option>
                                    </optgroup>
                                </select>
                            </div><!-- /.selectbox -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-gray color-palette">
            <span class="info-box-icon bg-red"><i class="fa fa-dot-circle-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" translate="statistics.attribute.label.not_paid"></span>
                <span class="info-box-number">
                    <span ng-bind="ctrl.totalNotPaidData"></span>
                    <small translate="general.pieces"></small></span>
            </div>
            <!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-gray color-palette">
            <span class="info-box-icon bg-yellow"><i class="fa fa-dot-circle-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" translate="statistics.attribute.label.partly_paid"></span>
                <span class="info-box-number">
                    <span ng-bind="ctrl.totalPartlyPaidData"></span>
                   <small translate="general.pieces"></small>
                </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-gray color-palette">
            <span class="info-box-icon bg-green"><i class="fa fa-dot-circle-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" translate="statistics.attribute.label.cod"></span>
                <span class="info-box-number">
                    <span ng-bind="ctrl.totalCodData"></span>
                    <small translate="general.pieces"></small>
                </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
</div><!-- /.row -->


<!--<div class="row" ng-show="ctrl.labels.length">-->
    <!--<div class="col-sm-10 col-sm-offset-1">-->
        <!--<h3 class="text-center" translate="statistics.title.pending_orders_chart"></h3>-->

        <!--<canvas id="line"-->
                <!--class="chart chart-line"-->
                <!--chart-data="ctrl.data"-->
                <!--chart-labels="ctrl.labels"-->
                <!--chart-colors="['#dd4b39', '#f39c12', '#00a65a']"-->
                <!--chart-legend="true"-->
                <!--chart-options="ctrl.options"-->
                <!--chart-series="ctrl.series">-->
        <!--</canvas>-->
    <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.row &ndash;&gt;-->