<div class="row">
    <div class="col-sm-12">
        <div>
            <table class="table table-bordered table-middle table-striped">
                <thead>
                    <tr>
                        <td translate="statistics.attribute.label.manager"></td>
                        <td translate="statistics.attribute.label.date"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <!-- Manager -->
                            <div class="selectbox">
                                <select class="form-control input-sm"
                                        name="manager_id"
                                        ng-options="opt.id as opt.full_name for opt in ctrl.users"
                                        ng-model="ctrl.searchForm.manager_id"
                                        ng-model-options="{ debounce: 500 }"
                                        ng-change="ctrl.processSearch()">
                                    <option value="">- {{ 'general.all' | translate }} -</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="selectbox">
                                <select
                                    class="form-control input-sm"
                                    name="date_filter"
                                    ng-model="ctrl.searchForm.date"
                                    ng-model-options="{ debounce: 500 }"
                                    ng-change="ctrl.processSearch()"
                                >
                                    <option value="">- {{ 'general.select' | translate }} -</option>
                                    <optgroup ng-repeat="opt in ctrl.dateOptions" label="{{ opt.name }}">
                                        <option ng-repeat="item in opt.groups" value="{{ item.key }}">{{ item.value }}</option>
                                    </optgroup>
                                </select>
                            </div><!-- /.selectbox -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box" style="background-color: #eee;">
            <span class="info-box-icon bg-red"><i class="fa fa-tasks"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" translate="statistics.attribute.label.salary"></span>
                <span class="info-box-number">
                    <span ng-bind="(ctrl.total.salary | amount) || 0"></span>
                    <currency-icon item="$root.defaultCurrencyId"></currency-icon></span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col-md-4 -->

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box" style="background-color: #eee;">
            <span class="info-box-icon bg-yellow"><i class="fa fa-dot-circle-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" translate="statistics.attribute.label.rate"></span>
                <span class="info-box-number">
                    <span ng-bind="(ctrl.total.salary_rate | amount) || 0"></span>
                    <currency-icon item="$root.defaultCurrencyId"></currency-icon></span>
                </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col-md-4 -->

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box" style="background-color: #eee;">
            <span class="info-box-icon bg-green"><i class="fa fa-dot-circle-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" translate="statistics.attribute.label.percentage"></span>
                <span class="info-box-number">
                    <span ng-bind="(ctrl.total.sales | amount) || 0"></span>
                    <currency-icon item="$root.defaultCurrencyId"></currency-icon>
                    <!--<small>%</small>-->
                </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col-md-4 -->
</div><!-- /.row -->

<div class="row" ng-if="ctrl.labels.length">
    <div class="col-sm-10 col-sm-offset-1">
        <h3 class="text-center" translate="statistics.title.salaries_chart"></h3>

        <canvas id="bar"
                class="chart chart-bar"
                chart-data="ctrl.data"
                chart-labels="ctrl.labels"
                chart-colors="['#dd4b39', '#f39c12', '#00a65a']"
                chart-legend="true"
                chart-options="ctrl.options"
                chart-series="ctrl.series">
        </canvas>
    </div><!-- /.col -->
</div><!-- /.row -->