<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-bordered table-middle table-striped">
                <thead>
                    <tr>
                        <th translate="statistics.attribute.label.type"></th>
                        <th translate="statistics.attribute.label.manager"></th>
                        <th translate="statistics.attribute.label.customer"></th>
                        <th translate="statistics.attribute.label.date"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-nowrap">
                            <div class="btn-group-xs btn-group-radio">
                                <button type="button" class="btn btn-primary"
                                        ng-model="ctrl.searchForm.type"
                                        ng-change="ctrl.processSearch()"
                                        translate="statistics.button.orders_amount"
                                        btn-radio="'orders'"></button>
                                <button type="button" class="btn btn-danger"
                                        ng-model="ctrl.searchForm.type"
                                        ng-change="ctrl.processSearch()"
                                        translate="statistics.button.products_amount"
                                        btn-radio="'products'"></button>
                            </div>
                        </td>
                        <td>
                            <!-- Manager -->
                            <div class="selectbox">
                                <select class="form-control input-sm"
                                        name="manager_id"
                                        ng-options="opt.id as opt.full_name for opt in ctrl.users"
                                        ng-model="ctrl.searchForm.manager_id"
                                        ng-model-options="{ debounce: 500 }"
                                        ng-change="ctrl.processSearch()">
                                    <option value="">- {{ 'general.all' | translate }} -</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <!-- customer_id -->
                            <div class="selectbox">
                                <select class="form-control input-sm"
                                        name="customer_id"
                                        ng-options="opt.id as opt.full_name for opt in ctrl.customers"
                                        ng-model="ctrl.searchForm.customer_id"
                                        ng-model-options="{ debounce: 500 }"
                                        ng-change="ctrl.processSearch()">
                                    <option value="">- {{ 'general.all' | translate }} -</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="selectbox">
                                <select
                                    class="form-control input-sm"
                                    name="date_filter"
                                    ng-model="ctrl.searchForm.date"
                                    ng-model-options="{ debounce: 500 }"
                                    ng-change="ctrl.processSearch()"
                                >
                                    <option value="">- {{ 'general.select' | translate }} -</option>
                                    <optgroup ng-repeat="opt in ctrl.dateOptions" label="{{ opt.name }}">
                                        <option ng-repeat="item in opt.groups" value="{{ item.key }}">{{ item.value }}</option>
                                    </optgroup>
                                </select>
                            </div><!-- /.selectbox -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box" style="background-color: #eee;">
            <span class="info-box-icon bg-red"><i class="fa fa-tasks"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" translate="statistics.attribute.label.total_amount"></span>
                <span class="info-box-number">
                    <span ng-bind="ctrl.totalData"></span>
                    <small ng-if="ctrl.searchForm.type == 'orders'"
                           translate="general.orders"></small>
                    <small ng-if="ctrl.searchForm.type == 'products'"
                           translate="general.pieces"></small></span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col-md-4 -->

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box" style="background-color: #eee;">
            <span class="info-box-icon bg-yellow"><i class="fa fa-dot-circle-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" translate="statistics.attribute.label.store"></span>
                <span class="info-box-number">
                    <span ng-bind="ctrl.totalStoreData"></span>
                    <small ng-if="ctrl.searchForm.type == 'orders'"
                            translate="general.orders"></small>
                    <small ng-if="ctrl.searchForm.type == 'products'"
                            translate="general.pieces"></small>
                </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col-md-4 -->

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box" style="background-color: #eee;">
            <span class="info-box-icon bg-green"><i class="fa fa-dot-circle-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" translate="statistics.attribute.label.internet_store"></span>
                <span class="info-box-number">
                    <span ng-bind="ctrl.totalInternetStoreData"></span>
                    <small ng-if="ctrl.searchForm.type == 'orders'"
                           translate="general.orders"></small>
                    <small ng-if="ctrl.searchForm.type == 'products'"
                       translate="general.pieces"></small>
                </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col-md-4 -->
</div><!-- /.row -->

<div class="row" ng-if="ctrl.labels.length">
    <div class="col-sm-10 col-sm-offset-1">
        <h3 class="text-center" translate="statistics.title.sales_chart"></h3>

        <canvas id="bar"
                class="chart chart-bar"
                chart-data="ctrl.data"
                chart-labels="ctrl.labels"
                chart-colors="['#f39c12', '#00a65a']"
                chart-legend="true"
                chart-options="ctrl.options"
                chart-series="ctrl.series">
        </canvas>
    </div><!-- /.col -->
</div><!-- /.row -->