<form role="form" ng-submit="ctrl.save()">
    <div class="row">
        <div class="col-sm-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li ng-class="{'active': state.includes('statistics.costs')}">
                        <a href="#"
                           ng-click="goTo('statistics.costs')"
                           translate="statistics.title.costs"
                           ng-hide="!$root.perms['statistic.costs.view']"
                           data-toggle="tab"></a>
                    </li>
                    <li ng-class="{'active': state.includes('statistics.sales')}">
                        <a href="#"
                           ng-click="goTo('statistics.sales')"
                           translate="statistics.title.sales"
                           ng-hide="!$root.perms['statistic.sales.view'] || ($root.currentUser.user.role_name == 'manager' || $root.currentUser.user.role_name == 'limited_manager')"
                           data-toggle="tab"></a>
                    </li>
                    <li ng-class="{'active': state.includes('statistics.salary')}">
                        <a href="#"
                           ng-click="goTo('statistics.salary')"
                           translate="statistics.title.salaries"
                           ng-hide="!$root.perms['statistic.wage.view']"
                           data-toggle="tab"></a>
                    </li>
                    <li ng-class="{'active': state.includes('statistics.earnings')}">
                        <a href="#"
                           ng-click="goTo('statistics.earnings')"
                           translate="statistics.title.earnings"
                           ng-hide="!$root.perms['statistic.store_income.view']"
                           data-toggle="tab"></a>
                    </li>
                    <li ng-class="{'active': state.includes('statistics.pending_orders')}">
                        <a href="#"
                           ng-click="goTo('statistics.pending_orders')"
                           translate="statistics.title.pending_orders"
                            ng-hide="!$root.perms['statistic.incomplete_orders.view']"
                           data-toggle="tab"></a>
                    </li>
                    <li ng-class="{'active': state.includes('statistics.moving_products')}">
                        <a href="#"
                           ng-click="goTo('statistics.moving_products')"
                           translate="statistics.title.moving_products"
                           ng-hide="!$root.perms['statistic.transfers.view']"
                           data-toggle="tab"></a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        <div ui-view="sales"></div>
                        <div ui-view="salary"></div>
                        <div ui-view="earnings"></div>
                        <div ui-view="pending_orders"></div>
                        <div ui-view="moving_products"></div>
                        <div ui-view="costs"></div>
                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->

                <div class="box-footer">

                </div><!-- /.box-footer -->
            </div><!-- /.nav-tabs-custom -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</form>