<template lang="pug">
    div(class="footer__social")
        a(
            v-for="(item, index) in items"
            :key="index"
            :href="item"
            target="_blank"
            class="m-social__item m-r-5"
        )
            i(:class="`fa fa-${index}`" aria-hidden="true")
</template>

<script>
    export default {
        computed: {
            items() {
                const config = this.$store.state.config.all;

                return {
                    facebook: config.social_facebook,
                    instagram: config.social_instagram
                };
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";
    @import "../../../assets/scss/utilities/mixins";

    .footer__social {
        text-align: right;
    }

    .m-social__item {
        @include round-block(40px);

        display: inline-block;
        position: relative;
        margin-right: 5px;
        background-color: $white;
        transition: 0.4s;

        i {
            @include round-block(40px);

            font-size: 26px;
            color: $color-default-social;
            transition: 0.4s;
        }

        &:hover {
            background-color: rgba($white, 0.9);

            .fa-facebook {
                color: $color-face;
            }

            .fa-instagram {
                color: $color-instagram;
            }
        }
    }

    @media (max-width: $screen-sm-max) {
        .footer__social {
            text-align: left;
        }
    }

    @media (max-width: $screen-xs-max) {
        .footer__social {
            text-align: center;
        }
    }
</style>