<template lang="pug">
    div(class="container")

        // Nav buttons
        navigation

        // Router
        div(class="l-cabinet__data")
            nuxt-child
</template>

<script>
    import Navigation from './Nav/Nav';

    export default {
        layout: 'simple',
        middleware: 'auth',
        head() {
            return {
                title: 'Кабінет'
            };
        },
        components: {
            Navigation
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../assets/scss/utilities/variables";
    @import "../../assets/scss/utilities/u-tools";

    /deep/ {
        .cabinet-content-wrap {
            padding: 20px 0 50px;
        }

        .cabinet-btn-wrap {
            margin-top: 20px;
            margin-left: 50px;
        }

        .l-cabinet__data {
            padding: 30px 0;
            font-size: 1.25rem;
        }

        .data__item {
            color: $white;

            > div:first-child {
                color: $color-dark-grey;
            }
        }

        .m-selectBox * {
            font-size: 1.25rem;
        }

        .data__controls {
            height: 100%;
            padding-left: 30px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;

            border-left: 1px solid $color-dark-grey;

            a {
                transition: color 0.3s;

                &:hover {
                    color: $color-default;
                }

                i {
                    margin-right: 10px;
                }
            }

            > div:last-child a {
                color: $color-red;

                &:hover {
                    color: darken($color-red, 10%);
                }
            }
        }

        @media screen and (max-width: $screen-md-max) {
            .data__controls {
                padding-left: 0;
                padding-top: 1rem;
                margin-top: 1rem;

                border-top: 1px solid $color-dark-grey;
                border-left-color: transparent;
            }

            .m-button {
                font-size: 24px;
            }
        }

        @media screen and (max-width: $screen-xs-max) {
            .cabinet-content-wrap {
                padding-bottom: 40px;
            }

            .cabinet-btn-wrap {
                margin-left: 0;
                text-align: center;
            }

            .l-cabinet__data {
                padding: 20px 0;
            }

            .data__item {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .m-button {
                font-size: 20px;
                padding: 10px 16px;
                height: auto;
                line-height: 1;
            }
        }

        .btn-secondary {
            text-align: left;
            min-width: 160px;
        }
    }
</style>
