<template lang="pug">
    div(class="row")
        div(class="col-xs-24 col-sm-16")
            b-form-group(label="Залиште відгук")
                b-form-textarea(
                    :value="comment"
                    type="text"
                    name="comment"
                    @input="setComment"
                )
                b-form-feedback(v-if="errors['customer.comment']") {{ errors['customer.comment'][0] }}
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        computed: mapState('checkout', [
            'comment',
            'errors'
        ]),
        methods: {

            /**
             * Set comment to store.
             *
             * @param value
             */
            setComment(value) {
                this.$store.dispatch('checkout/setComment', value)
            }
        }
    }
</script>