<form name="form" novalidate>
    <div class="box box-primary">
        <div class="box-body">

            <div class="form-group" ng-class="{ 'has-error': ctrl.errors.name }">
                <label>{{ 'attributes.attribute.label.name' | translate }} <span class="text-danger">*</span></label>
                <input type="text"
                       class="form-control"
                       name="name"
                       title="{{ 'attributes.attribute.title.name' | translate }}"
                       ng-model="ctrl.item.name" required/>
                <span class="text-danger" ng-bind="ctrl.errors.name[0]" ng-if="ctrl.errors.name"></span>
            </div><!-- /.form-group -->

            <!-- Thumbnail -->
            <thumbnail media="ctrl.item.thumbnail"
                       isrequired="false"
                       id="ctrl.item.thumbnail_id"
                       aspectratio="1"
                       errors="ctrl.errors"
                       areaminrelativesize={w:600,h:600}
                       url="'/brands/upload-media'"></thumbnail>

        </div><!-- /.box-body -->

        <div class="box-footer">
            <button type="submit"
                    class="btn btn-primary btn-sm"
                    ng-click="ctrl.save()"
                    translate="general.save"></button>
        </div>

    </div><!-- /.box -->
</form>