<div class="box box-primary">
    <div class="box-header">
        <a
            class="btn btn-sm btn-primary"
            ui-sref="brands.create"
            ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
            translate="general.create"
        ></a>
    </div>

    <div class="box-body">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-6" ng-repeat="item in $root.globalBrands">
                <div class="thumbnail-container" style="margin-bottom: 15px;">
                    <span class="thumbnail-title">{{ item.name }}</span>
                    <img class="img-thumbnail" ng-src="{{ item.thumbnail.url || '/assets/images/dashboard/no-image.png' }}"/>
                    <div class="thumbnail-overlay">
                        <div class="thumbnail-actions">
                            <a class="btn btn-sm btn-default"
                               ui-sref="brands.edit({ id: item.id })"
                               data-toggle="tooltip"
                               data-placement="top"
                               ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                               tooltip="{{ 'general.edit' | translate }}">
                                <i class="fa fa-pencil"></i></a>
                            <a class="btn btn-sm btn-danger"
                               ng-click="ctrl.remove(item)"
                               data-toggle="tooltip"
                               ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                               data-placement="top"
                               tooltip="{{ 'general.remove' | translate }}">
                                <span class="fa fa-trash-o"></span></a>
                        </div><!-- /.thumbnail-actions -->
                    </div><!-- /.thumbnail-overlay -->
                </div><!-- /.thumbnail-containe -->
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row" ng-if="!ctrl.list.length">
            <div class="col-sm-12" translate="general.no_items"></div>
        </div><!-- /.row -->

        <div class="row" ng-if="ctrl.list.length">
            <div class="col-sm-5">
                <div class="pagination-info">
                    <span translate="brands.general.pagination"
                          translate-values="{ from: 1, to: ctrl.list.length || 0, total: ctrl.list.length }"></span>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-7" ng-if="ctrl.list.total > ctrl.list.per_page">
                <pagination
                        boundary-link-numbers="true"
                        force-ellipses="true"
                        ng-change="ctrl.changePage()"
                        total-items="ctrl.list.total"
                        ng-model="ctrl.list.current_page"
                        items-per-page="ctrl.list.per_page"
                        class="pagination-sm"
                        max-size="5"
                        boundary-links="true"></pagination>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->