<template lang="pug">
    div(class="process-payment-wrap")
        div(class="payment-process")

            // Status selector
            div(
                v-for="status in paymentStatuses"
                :key="status.key"
                :class="[{'selected': isCurrentPaymentStatus(status) }]"
                class="payment-desc"
                @click="setCurrent(status)"
            )
                i(:class="status.icon")
                | {{ status.value }}

            // Amount input (only for "partially_paid" status)
            div(v-if="currentStatus.key === 'partially_paid'" class="payment-input-wrap")
                input(
                    v-model="amount"
                    type="text"
                    class="payment-input"
                    placeholder="Сума сплати"
                    @keypress="onKeyPress"
                )
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        data() {
            return {
                currentStatus: {}
            }
        },
        computed: {
            ...mapState('checkout', [
                'paymentStatuses'
            ]),
            amount: {
                get() {
                    return this.$store.state.checkout.payment.amount;
                },
                set(value) {
                    this.$store.dispatch('checkout/setPaymentAmount', value)
                }
            }
        },
        created() {
            this.currentStatus = this.paymentStatuses[0];
        },
        methods: {

            /**
             * Set current payment status.
             */
            setCurrent(status) {
                this.currentStatus = status;

                this.$store.dispatch('checkout/setPaymentStatus', status.key);
            },

            /**
             * Determine if current payment status equal given status.
             *
             * @param status
             * @return Boolean
             */
            isCurrentPaymentStatus(status) {
                return this.currentStatus == status;
            },

            /**
             * Filter only integer value.
             */
            onKeyPress(e) {
                if (!Number.isInteger(Number.parseInt(e.key))) {
                    e.preventDefault();
                }
            },
        }
    }
</script>

<style lang="scss" scoped>
    .process-payment-wrap {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .payment-desc {
        font-size: 18px;
        display: inline-block;
        padding: 2px 8px;
        color: #f44336;

        &.selected {
            border: 1px solid #fff;
            color: #4caf50;

            &.selected {
                border: 1px solid #4caf50;
            }
        }
    }

    .payment-input-wrap {
        position: relative;
        width: 135px;
        display: inline-block;
    }

    .payment-value {
        display: flex;
        align-items: center;

        @media (max-width: 767px) {
            margin-top: 15px;
        }
    }

    .payment-input {
        width: 100%;
        display: inline-block;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ffffff;
        color: #ffffff;
        padding-bottom: 5px;
        padding-right: 30px;
    }

    .payment-submit {
        position: absolute;
        top: -3px;
        right: 0;
        padding: 2px 5px;
        display: inline-block;
        border-radius: 2px;
        background: rgba(#3c76bf, 50%);

        transition: all 0.3s ease;

        &:hover {
            opacity: 0.7;
        }
    }
</style>