<template lang="pug">
    b-pagination-nav(
        v-if="hasMorePages"
        :value="page"
        :number-of-pages="products.last_page"
        :link-gen="linkGen"
        use-router
        @input="setPerPage"
        @click.native="clickHandler"
    )
</template>

<script>
    export default {
        props: {
            products: Object
        },
        computed: {

            /**
             * Fetch current page.
             *
             * @return String|Number
             */
            page() {
                return this.$store.getters['products/page'];
            },

            /**
             * Determine if total products greater than per page selector.
             *
             * @return Boolean
             */
            hasMorePages() {
                return this.products.total > this.products.per_page;
            }
        },
        methods: {

            /**
             * Generate pagination link.
             *
             * @param pageNum
             * @return Object{to: string, query: {page: *}}
             */
            linkGen(pageNum) {
                return {
                    to: 'profile.products.index',
                    query: {
                        page: pageNum,
                        type: this.$route.query.type
                    }
                };
            },

            /**
             * Set page to store query.
             *
             * @param page
             */
            async setPerPage(page) {

                // Start preloader
                this.$nuxt.$loading.start();

                await this.$store.dispatch('products/setQuery', { page });

                // Finish preloader
                this.$nuxt.$loading.finish();
            },

            /**
             * FIXME: Solution for bug of original library.
             *
             * @param e
             */
            clickHandler(e) {
                if (e.target.tagName == 'SPAN') {
                    e.target.parentNode.click();
                }
            }
        }
    }
</script>