@font-face {
  font-family: 'sport_shop_icons_font';
  src: url('../font/fontello.eot?7298121');
  src: url('../font/fontello.eot?7298121#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?7298121') format('woff2'),
       url('../font/fontello.woff?7298121') format('woff'),
       url('../font/fontello.ttf?7298121') format('truetype'),
       url('../font/fontello.svg?7298121#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?7298121#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "sport_shop_icons_font";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-nova_poshta_logo:before { content: '\e857'; } /* '' */
.icon-sport_shop_icons-01:before { content: '\e900'; } /* '' */
.icon-sport_shop_icons-02:before { content: '\e901'; } /* '' */
.icon-sport_shop_icons-03:before { content: '\e902'; } /* '' */
.icon-sport_shop_icons-04:before { content: '\e903'; } /* '' */
.icon-sport_shop_icons-05:before { content: '\e904'; } /* '' */
.icon-sport_shop_icons-06:before { content: '\e905'; } /* '' */
.icon-sport_shop_icons-07:before { content: '\e906'; } /* '' */
.icon-sport_shop_icons-08:before { content: '\e907'; } /* '' */
.icon-sport_shop_icons-09:before { content: '\e908'; } /* '' */
.icon-sport_shop_icons-10:before { content: '\e909'; } /* '' */
.icon-sport_shop_icons-11:before { content: '\e90a'; } /* '' */
.icon-sport_shop_icons-12:before { content: '\e90b'; } /* '' */
.icon-sport_shop_icons-13:before { content: '\e90c'; } /* '' */
.icon-sport_shop_icons-14:before { content: '\e90d'; } /* '' */
.icon-sport_shop_icons-15:before { content: '\e90e'; } /* '' */
.icon-sport_shop_icons-16:before { content: '\e90f'; } /* '' */
.icon-sport_shop_icons-17:before { content: '\e910'; } /* '' */
.icon-sport_shop_icons-18:before { content: '\e911'; } /* '' */
.icon-sport_shop_icons-19:before { content: '\e912'; } /* '' */
.icon-sport_shop_icons-20:before { content: '\e913'; } /* '' */
.icon-sport_shop_icons-21:before { content: '\e914'; } /* '' */
.icon-sport_shop_icons-22:before { content: '\e915'; } /* '' */
.icon-sport_shop_icons-23:before { content: '\e916'; } /* '' */
.icon-sport_shop_icons-24:before { content: '\e917'; } /* '' */
.icon-sport_shop_icons-25:before { content: '\e918'; } /* '' */
.icon-sport_shop_icons-26:before { content: '\e919'; } /* '' */
.icon-sport_shop_icons-27:before { content: '\e91a'; } /* '' */
.icon-sport_shop_icons-28:before { content: '\e91b'; } /* '' */
.icon-sport_shop_icons-29:before { content: '\e91c'; } /* '' */
.icon-sport_shop_icons-30:before { content: '\e91d'; } /* '' */
.icon-sport_shop_icons-31:before { content: '\e91e'; } /* '' */
.icon-sport_shop_icons-32:before { content: '\e91f'; } /* '' */
.icon-sport_shop_icons-33:before { content: '\e920'; } /* '' */
.icon-sport_shop_icons-34:before { content: '\e921'; } /* '' */
.icon-sport_shop_icons-35:before { content: '\e922'; } /* '' */
.icon-sport_shop_icons-36:before { content: '\e923'; } /* '' */
.icon-sport_shop_icons-37:before { content: '\e924'; } /* '' */
.icon-sport_shop_icons-38:before { content: '\e925'; } /* '' */
.icon-sport_shop_icons-39:before { content: '\e926'; } /* '' */
.icon-sport_shop_icons-40:before { content: '\e927'; } /* '' */
.icon-sport_shop_icons-41:before { content: '\e928'; } /* '' */
.icon-sport_shop_icons-42:before { content: '\e929'; } /* '' */
.icon-sport_shop_icons-43:before { content: '\e92a'; } /* '' */
.icon-sport_shop_icons-44:before { content: '\e92b'; } /* '' */
.icon-sport_shop_icons-45:before { content: '\e92c'; } /* '' */
.icon-sport_shop_icons-46:before { content: '\e92d'; } /* '' */
.icon-sport_shop_icons-47:before { content: '\e92e'; } /* '' */
.icon-sport_shop_icons-48:before { content: '\e92f'; } /* '' */
.icon-sport_shop_icons-49:before { content: '\e930'; } /* '' */
.icon-sport_shop_icons-50:before { content: '\e931'; } /* '' */
.icon-sport_shop_icons-51:before { content: '\e932'; } /* '' */
.icon-sport_shop_icons-52:before { content: '\e933'; } /* '' */
.icon-sport_shop_icons-53:before { content: '\e934'; } /* '' */
.icon-sport_shop_icons-54:before { content: '\e935'; } /* '' */
.icon-sport_shop_icons-56:before { content: '\e937'; } /* '' */
.icon-sport_shop_icons-57:before { content: '\e938'; } /* '' */
.icon-sport_shop_icons-58:before { content: '\e939'; } /* '' */
.icon-sport_shop_icons-59:before { content: '\e93a'; } /* '' */
.icon-sport_shop_icons-60:before { content: '\e93b'; } /* '' */
.icon-sport_shop_icons-61:before { content: '\e93c'; } /* '' */
.icon-sport_shop_icons-62:before { content: '\e93d'; } /* '' */
.icon-sport_shop_icons-63:before { content: '\e93e'; } /* '' */
.icon-sport_shop_icons-64:before { content: '\e93f'; } /* '' */
.icon-sport_shop_icons-65:before { content: '\e940'; } /* '' */
.icon-sport_shop_icons-67:before { content: '\e942'; } /* '' */
.icon-sport_shop_icons-68:before { content: '\e943'; } /* '' */
.icon-sport_shop_icons-69:before { content: '\e944'; } /* '' */
.icon-sport_shop_icons-70:before { content: '\e945'; } /* '' */
.icon-sport_shop_icons-71:before { content: '\e946'; } /* '' */
.icon-sport_shop_icons-72:before { content: '\e947'; } /* '' */
.icon-sport_shop_icons-73:before { content: '\e948'; } /* '' */
.icon-sport_shop_icons-74:before { content: '\e949'; } /* '' */
.icon-sport_shop_icons-75:before { content: '\e94a'; } /* '' */
.icon-sport_shop_icons-76:before { content: '\e94b'; } /* '' */
.icon-sport_shop_icons-77:before { content: '\e94c'; } /* '' */
.icon-sport_shop_icons-78:before { content: '\e94d'; } /* '' */
.icon-sport_shop_icons-79:before { content: '\e94e'; } /* '' */
.icon-sport_shop_icons-80:before { content: '\e94f'; } /* '' */
.icon-sport_shop_icons-81:before { content: '\e950'; } /* '' */
.icon-sport_shop_icons-82:before { content: '\e951'; } /* '' */
.icon-sport_shop_icons-83:before { content: '\e952'; } /* '' */
.icon-sport_shop_icons-84:before { content: '\e953'; } /* '' */
.icon-sport_shop_icons-86:before { content: '\e955'; } /* '' */
.icon-sport_shop_icons-87:before { content: '\e956'; } /* '' */
.icon-sport_shop_icons-88:before { content: '\e957'; } /* '' */