<template lang="pug">
    div(class="bottom-slider")
        div(class="container")

            // Type list
            product-types

            // Category list
            product-categories

            // Product list
            div(class="swiper")
                div(v-swiper:featureProducts="swiperOptions")
                    div(class="swiper-wrapper")
                        div(
                            v-for="(item, index) in products"
                            :key="index"
                            class="swiper-slide"
                        )
                            product-item(:product="item" hide-badge)

                // Slider navigation
                div(v-show="products.length > 5")
                    div(id="featureSwiperNext" class="swiper-button-next swiper-button-white")
                    div(id="featureSwiperPrev" class="swiper-button-prev swiper-button-white")

                // Slider pagination
                div(
                    v-show="products.length > 5"
                    id="featureSwiperPagination"
                    class="swiper-pagination"
                )
</template>

<script>
    import { mapGetters } from 'vuex';
    import ProductItem from '@/components/ProductItem/ProductItem';
    import ProductCategories from './ProductCategories/ProductCategories';
    import ProductTypes from './ProductTypes/ProductTypes';

    export default {
        components: {
            ProductCategories,
            ProductItem,
            ProductTypes
        },
        data() {
            return {
                swiperOptions: {
                    slidesPerView: 5,
                    slidesPerGroup: 5,
                    spaceBetween: 20,
                    navigation: {
                        nextEl: '#featureSwiperNext',
                        prevEl: '#featureSwiperPrev'
                    },
                    pagination: {
                        el: '#featureSwiperPagination',
                        clickable: true
                    },
                    breakpoints: {
                        1199: { slidesPerView: 4 },
                        991: { slidesPerView: 3 },
                        767: { slidesPerView: 2 },
                        440: { slidesPerView: 1 }
                    }
                }
            };
        },
        computed: {
            ...mapGetters('discounts', {
                discount: 'current'
            }),

            /**
             * Fetch products of current category.
             *
             * @returns {*}
             */
            products() {
                return this.$store.getters['featureProducts/products'];
            }
        },
        watch: {

            /**
             * Re-fetch cart products when selected discount.
             */
            discount() {
                this.$store.dispatch('featureProducts/fetchAll');
            },

            /**
             * Re-fetch cart products when user has logged in.
             */
            ['$auth.loggedIn']() {
                setTimeout(() => {
                    this.$store.dispatch('featureProducts/fetchAll');
                });
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";

    .bottom-slider {
        margin-top: 40px;
        padding-top: 35px;
        padding-bottom: 35px;
        background: url("/assets/images/home-product-bg.png") no-repeat;
        background-size: cover;
    }

    .swiper {
        position: relative;
    }

    .swiper-button-next {
        right: -40px;
    }

    .swiper-button-prev {
        left: -40px;
    }

    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
        pointer-events: all;
    }

    /deep/{
        .swiper-pagination {
            position: relative;
            margin-top: 30px;

            .swiper-pagination-bullet {
                width: 14px;
                height: 14px;
                background: $white;
                opacity: 0.7;
                margin-right: 5px;

                &.swiper-pagination-bullet-active {
                    background: $color-default;
                }
            }
        }
    }

    @media all and (max-width: $screen-sm-max) {
        .bottom-slider {
            margin-top: 20px;
        }
    }
</style>
