<form name="form" ng-submit="ctrl.save()">
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <fieldset class="box box-primary">

                <div class="box-body">

                    <!-- First name -->
                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors['first_name'] }">
                        <label for="first_name">
                            {{ 'users.attribute.label.first_name' | translate }} <span class="text-danger">*</span>
                        </label>
                        <input type="text"
                               id="first_name"
                               class="form-control"
                               title="{{ 'users.attribute.title.first_name' | translate }}"
                               name="first_name"
                               ng-model="ctrl.item.first_name"/>
                        <span class="text-danger" ng-if="ctrl.errors['first_name']" ng-bind="ctrl.errors['first_name'][0]"></span>
                    </div><!-- /.form-group -->

                    <!-- Last name -->
                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors['last_name'] }">
                        <label for="last_name">
                            {{ 'users.attribute.label.last_name' | translate }} <span class="text-danger">*</span>
                        </label>
                        <input type="text"
                               id="last_name"
                               class="form-control"
                               title="{{ 'users.attribute.title.last_name' | translate }}"
                               name="last_name"
                               ng-model="ctrl.item.last_name"/>
                        <span class="text-danger" ng-if="ctrl.errors['last_name']" ng-bind="ctrl.errors['last_name'][0]"></span>
                    </div><!-- /.form-group -->

                    <div ng-if="ctrl.item.role_name != 'admin'">
                        <!-- Company name -->
                        <div class="form-group" ng-class="{ 'has-error': ctrl.errors['data.company_name'] }">
                            <label for="company_name">
                                {{ 'users.attribute.label.company_name' | translate }} <span class="text-danger">*</span>
                            </label>
                            <input type="text"
                                   id="company_name"
                                   class="form-control"
                                   name="data.company_name"
                                   title="{{ 'users.attribute.title.company_name' | translate }}"
                                   ng-model="ctrl.item.data.company_name"/>
                            <span class="text-danger"
                                  ng-if="ctrl.errors['data.company_name']"
                                  ng-bind="ctrl.errors['data.company_name'][0]"></span>
                        </div><!-- /.form-group -->

                        <!-- Address -->
                        <div class="form-group" ng-class="{ 'has-error': ctrl.errors.address }">
                            <label for="address">
                                {{ 'users.attribute.label.address' | translate }} <span class="text-danger">*</span>
                            </label>
                            <input type="text"
                                   id="address"
                                   class="form-control"
                                   name="address"
                                   title="{{ 'users.attribute.title.address' | translate }}"
                                   ng-model="ctrl.item.address"/>
                            <span class="text-danger"
                                  ng-if="ctrl.errors.address"
                                  ng-bind="ctrl.errors.address[0]"></span>
                        </div><!-- /.form-group -->

                        <!-- Store number -->
                        <div class="form-group" ng-class="{ 'has-error': ctrl.errors['data.store_number'] }">
                            <label for="store_number">
                                {{ 'users.attribute.label.store_number' | translate }} <span class="text-danger">*</span>
                            </label>
                            <input type="text"
                                   id="store_number"
                                   class="form-control"
                                   name="data.store_number"
                                   title="{{ 'users.attribute.title.store_number' | translate }}"
                                   ng-model="ctrl.item.data.store_number"/>
                            <span class="text-danger"
                                  ng-if="ctrl.errors['data.store_number']"
                                  ng-bind="ctrl.errors['data.store_number'][0]"></span>
                        </div><!-- /.form-group -->
                    </div>

                    <!-- Email -->
                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors['email'] }">
                        <label for="email">
                            {{ 'users.attribute.label.email' | translate }} <span class="text-danger">*</span>
                        </label>
                        <input type="email"
                               id="email"
                               class="form-control"
                               title="{{ 'users.attribute.title.email' | translate }}"
                               name="email"
                               ng-model="ctrl.item.email"/>
                        <span class="text-danger" ng-if="ctrl.errors['email']" ng-bind="ctrl.errors['email'][0]"></span>
                    </div><!-- /.form-group -->

                    <!-- Phone -->
                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors['phone'] }">
                        <label for="phone">
                            {{ 'users.attribute.label.phone' | translate }}
                        </label>
                        <input type="text"
                               id="phone"
                               class="form-control"
                               title="{{ 'users.attribute.title.phone' | translate }}"
                               name="phone"
                               ng-model="ctrl.item.phone"/>
                        <span class="text-danger" ng-if="ctrl.errors['phone']" ng-bind="ctrl.errors['phone'][0]"></span>
                    </div><!-- /.form-group -->

                    <!-- Current Password -->
                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors['current_password'] }">
                        <label for="current_password">
                            {{ 'users.attribute.label.current_password' | translate }} <span class="text-danger">*</span>
                        </label>
                        <input type="password"
                               id="current_password"
                               class="form-control"
                               title="{{ 'users.attribute.title.current_password' | translate }}"
                               name="current_password"
                               ng-model="ctrl.item.current_password"/>
                        <span class="text-danger" ng-if="ctrl.errors['current_password']" ng-bind="ctrl.errors['current_password'][0]"></span>
                    </div><!-- /.form-group -->

                    <!-- Password -->
                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors['password'] }">
                        <label for="password">
                            {{ 'users.attribute.label.password' | translate }} <span class="text-danger">*</span>
                        </label>
                        <input type="password"
                               id="password"
                               class="form-control"
                               title="{{ 'users.attribute.title.password' | translate }}"
                               name="password"
                               ng-model="ctrl.item.password"/>
                        <span class="text-danger" ng-if="ctrl.errors['password']" ng-bind="ctrl.errors['password'][0]"></span>
                    </div><!-- /.form-group -->

                    <!-- Confirm Password -->
                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors['password_confirmation'] }">
                        <label for="password_confirmation">
                            {{ 'users.attribute.label.password_confirmation' | translate }} <span class="text-danger">*</span>
                        </label>
                        <input type="password"
                               id="password_confirmation"
                               class="form-control"
                               title="{{ 'users.attribute.title.password_confirmation' | translate }}"
                               name="password_confirmation"
                               ng-model="ctrl.item.password_confirmation"/>
                        <span class="text-danger" ng-if="ctrl.errors['password_confirmation']" ng-bind="ctrl.errors['password_confirmation'][0]"></span>
                    </div><!-- /.form-group -->

                </div><!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary btn-sm">{{ 'general.save' | translate }}</button>
                </div>
            </fieldset><!-- /.box -->

        </div><!-- /.col -->
    </div><!-- /.row -->
</form>