<template lang="pug">
    div(class="m-popup__danger size-list-description")
        i(class="icon-sport_shop_icons-01")
        div(class="danger__text") {{ description }}
</template>

<script>
    export default {
        data() {
            return {
                description: 'Японська міра довжини не завжди сходиться з реальною довжиною устілки в саниметрах'
            };
        }
    };
</script>

<style lang="scss" scoped>
    .size-list-description {
        display: flex;
        align-items: center;
        overflow-y: auto;
        padding: 20px;
        border-radius: 2px;
        color: #ffffff;
    }

    .icon-sport_shop_icons-01 {
        margin-right: 20px;
    }
</style>
