<template lang="pug">
    modal(:name="modalName" hide-footer)

        // Header
        template(slot="modal-header")
            h2(class="h2")
                span {{ title }}&nbsp;
                span {{ brand.name }}

        // Brand, Size group names.
        div(class="sub__title m-t-20") {{ sizeGroup.name }} {{ brand.name }}

        // Size values
        div(class="responsive size-list")
            table
                tbody
                    tr(v-for="(size, index) in sizeGroup.sizes" :key="index")
                        td {{ index }}
                        td(v-for="(value, index) in size" :key="index")
                            | {{ value.size }}

        // Description
        sizes-description
</template>

<script>
    import Modal from '@/components/Modal/Modal';
    import SizesDescription from './SizesDescription';

    export default {
        components: {
            Modal,
            SizesDescription
        },
        props: {
            brand: Object,
            sizeGroup: Object
        },
        data() {
            return {
                title: 'Таблиця розмірів',
                modalName: 'sizes'
            };
        },
        methods: {
            show() {
                this.$store.dispatch('modals/show', this.modalName);
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../assets/scss/utilities/variables";

    .size-list.responsive {
        overflow: auto;
    }

    .sub__title {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    table {
        width: 100%;
        border: 1px solid $white;
        text-align: center;
        background: transparent;
    }

    td {
        border: 1px solid $white;
        padding: 2px;
    }

    tr:nth-child(odd) td {

        background-color: lighten($color-default, 15%);
    }

    tr:nth-child(even) td {
        background-color: $color-default;
    }
</style>