<div class="row">
    <div class="col-md-10 col-lg-8">
        <div class="box box-primary">
            <form name="form" ng-submit="ctrl.save()">
                <div class="box-body">
                    <!-- Stores -->
                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors.store_id }">
                        <label>{{ 'costs.attribute.label.store' | translate }}
                            <span class="text-danger">*</span></label>
                        <div class="selectbox">
                            <select class="form-control"
                                    name="store_id"
                                    ng-model="ctrl.item.store_id"
                                    ng-options="store.id as store.name for store in ctrl.stores">
                                <option value="">- {{ 'general.select' | translate }} -</option>
                            </select>
                        </div>
                        <span class="text-danger"
                              ng-if="ctrl.errors.store.id"
                              ng-bind="ctrl.errors.store_id[0]"></span>
                    </div><!-- /.form-group -->

                    <!-- Costs types -->
                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors.type }">
                        <label>{{ 'costs.attribute.label.costs_type' | translate }}</label>
                        <div class="selectbox">
                            <select class="form-control"
                                    name="type"
                                    ng-model="ctrl.item.type"
                                    ng-options="cost.type as cost.name for cost in ctrl.costsTypes">
                                <option value="">- {{ 'general.select' | translate }} -</option>
                            </select>
                        </div>
                        <span class="text-danger"
                              ng-if="ctrl.errors.type_id"
                              ng-bind="ctrl.errors.type_id[0]"></span>
                    </div><!-- /.form-group -->

                    <!-- Price -->
                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors['rate.value'] || ctrl.errors['rate.currency_id'] }">
                        <label for="rate_value">
                            {{ 'costs.attribute.label.price' | translate }}
                            <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="text"
                                   id="rate_value"
                                   class="form-control"
                                   name="rate.value"
                                   ng-model="ctrl.item.rate.value"/>

                            <div class="input-group-btn">
                                <select id="rate_currency_id"
                                        class="form-control"
                                        name="rate.currency_id"
                                        ng-model="ctrl.item.rate.currency_id"
                                        ng-options="opt.id as opt.name for opt in ctrl.currencies">
                                    <option value="">- {{ 'general.select' | translate }} -</option>
                                </select>
                            </div>
                        </div><!-- /.input-group -->

                        <span class="text-danger"
                              ng-if="ctrl.errors['rate.value']"
                              ng-bind="ctrl.errors['rate.value'][0]"></span>
                        <span class="text-danger"
                              ng-if="ctrl.errors['rate.currency_id']"
                              ng-bind="ctrl.errors['rate.currency_id'][0]"></span>
                    </div>

                    <!-- Comment -->
                    <div class="form-group" ng-class="{ 'has-error': ctrl.errors.description }">
                        <label>{{ 'costs.attribute.label.comment' | translate }}</label>
                        <textarea class="form-control"
                                  name="description"
                                  ng-model="ctrl.item.description"></textarea>
                        <span class="text-danger"
                              ng-if="ctrl.errors.description"
                              ng-bind="ctrl.errors.description[0]"></span>
                    </div><!-- /.form-group -->
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary btn-sm" translate="general.save"></button>
                </div>
            </form>
        </div><!-- /.box box-primary -->
    </div><!-- /.col -->
</div><!-- /.row -->