<div class="box box-primary">
    <div class="box-header">
        <a class="btn btn-sm btn-primary" ui-sref="costs.create" translate="general.create"></a>
    </div>

    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-middle table-striped">
                        <thead>
                            <tr>
                                <th translate="costs.general.data" colspan="2"></th>
                                <th>Магазин</th>
                                <th translate="costs.general.costs_type"></th>
                                <th>Коментар</th>
                                <th translate="costs.general.total"></th>
                                <th translate="general.actions"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <select
                                        class="form-control input-sm"
                                        name="date_filter"
                                        ng-model="ctrl.searchForm.date"
                                        ng-model-options="{ debounce: 500 }"
                                        ng-change="ctrl.processSearch()"
                                    >
                                        <option value="">- {{ 'general.select' | translate }} -</option>
                                        <optgroup ng-repeat="opt in ctrl.dateOptions" label="{{ opt.name }}">
                                            <option ng-repeat="item in opt.groups" value="{{ item.key }}">{{ item.value }}</option>
                                        </optgroup>
                                    </select>
                                </td>
                                <td>
                                    <div class="selectbox">
                                        <select class="form-control input-sm"
                                                name="store_id"
                                                ng-model="ctrl.searchForm.store_id"
                                                ng-model-options="{ debounce: 500 }"
                                                ng-options="opt.id as opt.name for opt in $root.storesList"
                                                ng-change="ctrl.processSearch()">
                                            <option value="">- {{ 'general.all' | translate }} -</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control input-sm"
                                            name="type"
                                            ng-model="ctrl.searchForm.type"
                                            ng-options="item.type as item.name for item in ctrl.costsTypes"
                                            ng-model-options="{ debounce: 500 }"
                                            ng-change="ctrl.processSearch()">
                                        <option value="">- {{ 'general.all' | translate }} -</option>
                                    </select>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr ng-repeat="item in ctrl.list.data">
                                <td ng-bind=":: item.created_at | momentDate:'D MMM YYYY'" colspan="2"></td>
                                <td>
                                    {{ item.store.name || '-' }}
                                </td>
                                <td>
                                    <span ng-bind="ctrl.showType(item.type)"></span>
                                </td>
                                <td>
                                    {{ item.description || '-' }}
                                </td>
                                <td>
                                    <span ng-bind=":: item.rate.value || '0'"></span>
                                    <currency-icon item="item.rate.currency_id"></currency-icon>
                                </td>
                                <td class="grid-actions">
                                    <a class="btn btn-sm btn-default"
                                       ui-sref="costs.edit({ id: item.id })"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       tooltip="{{ 'general.edit' | translate }}">
                                        <i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-sm btn-danger"
                                       ng-click="ctrl.remove(item)"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       tooltip="{{ 'general.remove' | translate }}">
                                        <i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row" ng-if="!ctrl.list.data.length">
            <div class="col-sm-12" translate="general.no_items"></div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-sm-3">
                <div class="pagination-info">
                    <span translate="costs.general.pagination"
                          translate-values="{from: ctrl.list.from || 0, to: ctrl.list.to || 0, total: ctrl.list.total}"></span>
                </div>
            </div><!-- /.col -->

            <div class="col-sm-6">
                <div class="text-right" ng-if="ctrl.list.total > ctrl.list.per_page">
                    <pagination
                            boundary-link-numbers="true"
                            force-ellipses="true"
                            ng-change="ctrl.changePage()"
                            total-items="ctrl.list.total"
                            ng-model="ctrl.list.current_page"
                            items-per-page="ctrl.list.per_page"
                            class="pagination-sm"
                            max-size="5"
                            boundary-links="true"></pagination>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-3 text-right">
                <div style="margin-right: 5px;"><b>Разом:</b> <span ng-bind="ctrl.list.total_amount.value | rounded"></span>
                    <currency-title item="$root.defaultCurrencyId"></currency-title>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->