<template lang="pug">
    tr(class="collapse-wrap")
        td(colspan="8")
            b-collapse(
                v-model="isCollapsed"
                :id="`collapse-${order.id}`"
                class="table-responsive p-l-40"
            )
                table(class="table order-list")
                    thead
                        tr
                            td Фото
                            td Назва, Артикул
                            td Розмір / Кiлькiсть / Повернено
                            td Ціна
                            td Всього

                    tbody
                        product-item(
                            v-for="product in order.products"
                            :key="product.id"
                            :product="product"
                        )
</template>

<script>
    import ProductItem from './OrderItemProductItem.vue';

    export default {
        components: {
            ProductItem
        },
        props: {
            isCollapsed: Boolean,
            order: Object
        }
    };
</script>