<template lang="pug">
    tbody
        tr(class="order__item" @click="collapse")

            // Order ID
            td(class="item__number") {{ order.id }}

            // Product thumbnail
            td(class="img-wrap")
                img(
                    v-if="product.thumbnail"
                    :src="product.thumbnail.url"
                    class="u-imgResponsive"
                )

            // Product info
            td
                strong {{ product.name }},
                | &nbsp;{{ product.sku }}

                div {{ product.size.values[0].value }} розмір, {{ product.size.quantity }} шт.

            // Order status
            td
                div(:class="orderStatus.class") {{ orderStatus.value }}


            // Payment info
            td
                div
                    strong Сума:
                    | &nbsp;{{ totalPrice }}

                div
                    strong Статус:
                    span(:class="paymentStatus.class") &nbsp;{{ paymentStatus.value }}

                div
                    strong Метод:
                    | &nbsp;{{ paymentMethod }}

            // Delivery info
            td
                div(v-if="delivery")
                    div
                        strong Метод:
                        | &nbsp;{{ delivery.method }}

                    div(v-if="delivery.address")
                        strong Адреса:
                        | &nbsp;{{ delivery.address }}

                    div(v-if="delivery.declaration")
                        strong № декларація:
                        | &nbsp;{{ delivery.declaration }}

            // Date
            td(class="date-create") {{ date }}

            // Print button
            td(class="print-wrap")
                button(type="button" class="m-btn__print u-fw700" @click.stop="download(order.id)")
                    i(class="fa fa-print" aria-hidden="true")

        // Order products
        product-list(:order="order" :is-collapsed="isCollapsed")
</template>

<script>
    import { mapState } from 'vuex';
    import moment from 'moment';
    import _ from 'lodash';
    import api from '@/api';
    import ProductList from './OrderItemProductList';

    export default {
        components: {
            ProductList
        },
        props: {
            order: Object
        },
        data() {
            return {
                isCollapsed: false
            };
        },
        computed: {
            ...mapState('orders', [
                'orderStatuses',
                'paymentStatuses',
                'paymentMethods',
                'deliveryMethods'
            ]),

            /**
             * Fetch order created date.
             *
             * @return String
             */
            date() {
                const date = moment(this.order.created_at).format('D.MM.YYYY');
                const time = moment(this.order.created_at).format('HH:mm');

                return `${date} - ${time}`;
            },

            /**
             * Fetch first product from orders.
             *
             * @return Object
             */
            product() {
                const product = _.first(this.order.products);

                product.size = _.first(product.sizes.items);

                return product;
            },

            /**
             * Fetch delivery info.
             *
             * @return Object
             */
            delivery() {
                const orderDelivery = this.order.delivery;

                if (!orderDelivery) return null;

                const result = {
                    method: _.find(this.deliveryMethods, { key: orderDelivery.method }).value,
                    address: '',
                    declaration: orderDelivery.declaration
                };

                if (orderDelivery.city) {
                    result.address += orderDelivery.city;

                    if (orderDelivery.department) {
                        result.address += `, ${orderDelivery.department}`;
                    }
                    if (orderDelivery.address) {
                        result.address += `, ${orderDelivery.address}`;
                    }
                }

                return result;
            },

            /**
             * Fetch order status.
             *
             * @return Object
             */
            orderStatus() {
                return _.find(this.orderStatuses, { key: this.order.status });
            },

            /**
             * Fetch payment status.
             *
             * @return Object
             */
            paymentStatus() {
                return _.find(this.paymentStatuses, { key: this.order.payment.status });
            },

            /**
             * Fetch payment method.
             *
             * @return String
             */
            paymentMethod() {
                const method = _.find(this.paymentMethods, { key: this.order.payment.method });

                if (!method) return null;

                return method.value;
            },

            /**
             * Fetch order total price.
             *
             * @return String
             */
            totalPrice() {
                const price = this.$fetchDefaultCurrency(this.order.price);

                if (!price) return null;

                return `${price.value} ${price.symbol}`;
            }
        },
        methods: {

            /**
             * Collapse product list.
             */
            collapse() {
                this.isCollapsed = !this.isCollapsed;
            },

            /**
             * Download/print order.
             *
             * @param id
             */
            download(id) {

                // Start preloader
                this.$nuxt.$loading.start();

                api.orders.downloadOne(this, id).then(response => {
                    const blob = new Blob([response.data], { type: 'application/pdf;charset=utf-8' });
                    const link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = `order-${id}.pdf`;
                    link.click();

                    // Finish preloader
                    this.$nuxt.$loading.finish();
                });
            }
        }
    };
</script>

<style lang="scss" scoped>
    .img-wrap img {
        max-height: 100px;
        width: auto;
    }
    .list__item {
        color: #1d1e1f;
    }
    .primary {
        color: #1E90FF;
    }
    .warning {
        color: #FFA500;
    }
    .danger {
        color: #FF0000;
    }
    .success {
        color: #228B22;
    }
</style>