<template lang="pug">
    tr(class="order__item")

        // Thumbnail
        td(class="item__img")
            img(
                v-if="product.thumbnail"
                :src="product.thumbnail.url"
                class="u-imgResponsive"
            )

        // Name, SKU
        td
            span(class="item__name") {{ product.name }}
            |, {{ product.sku }}
            div(v-if="product.is_refunded" class="danger") Повернено

        // Size
        td
            span(v-for="(size, index) in product.sizes.items" :key="index")
                span(v-if="index") |
                span {{ size.values[0].value }} / {{ size.quantity }} шт. /
                span(v-if="size.refunded_quantity" class="danger") &nbsp;{{ size.refunded_quantity }} шт.

        // Price
        td {{ price }}

        // Total qnty, price
        td {{ totalQuantity }} шт. - {{ totalPrice }}
</template>

<script>
    import _ from 'lodash';

    export default {
        props: {
            product: Object
        },
        computed: {

            /**
             * Get product price.
             *
             * @return String
             */
            price() {
                const price = this.$fetchDefaultCurrency(this.product.sale_price);

                return `${price.value} ${price.symbol}`;
            },

            /**
             * Calculate total price.
             *
             * @return String
             */
            totalPrice() {
                const price = this.$fetchDefaultCurrency(this.product.sale_price);

                price.value *= this.totalQuantity;

                return `${price.value} ${price.symbol}`;
            },

            /**
             * Total quantity.
             *
             * @return Number
             */
            totalQuantity() {
                return _.sumBy(this.product.sizes.items, 'quantity');
            }
        }
    };
</script>

<style lang="scss" scoped>
    .total-quantity {
        margin-top: 5px;
    }

    .danger {
        color: red;
    }
</style>