$red: #ff1744;
$green: #4caf50;

body .theme-green {
    .u-bg-default { background-color: $green; }
    .u-color-default { color: $green; }
    .u-link-hover--default { border-bottom-color: $green; color: $green; }
    .data__controls a:hover { color: $green; }
    .m-btn__print:hover { color: $green; }

    // Buttons
    .button-simple,
    .m-button-default-24 {
        &.button-simple:not(.is-active):not(.active):not(:hover) { color: $green; }

        &:not(.no-hover):hover,
        &.active,
        &.is-active {
            background-color: $green;

            &:before { border-color: transparent transparent $green; }
            &:after { border-color: $green transparent transparent; }
        }
    }
    .button-blue {
        background-color: $green;

        &:before { border-color: transparent transparent $green; }
        &:after { border-color: $green transparent transparent; }
        &:not(.no-hover):hover, &.active, &.is-active {
            background-color: lighten($green, 10%);

            &:before { border-color: transparent transparent lighten($green, 10%); }
            &:after { border-color: lighten($green, 10%) transparent transparent; }
        }
    }
    .button-white { color: $green; }
    .m-button__simple { background-color: $green; }
    .btn-send:hover { background-color: $green; border-color: $green; }

    // Dropdown
    .dropdown-item:hover,
    .dropdown-item:focus,
    .dropdown-menu > a:hover { background-color: lighten($green, 5%); }

    // Input
    input[type="checkbox"]:focus + label:before,
    input[type="checkbox"]:hover + label:before,
    input[type="radio"]:focus + label:before,
    input[type="radio"]:hover + label:before { border-color: rgba($green, 0.8); }
    input[type="checkbox"]:checked + label span,
    input[type="checkbox"]:checked + label i { color: $green; }
    input[type="checkbox"] + label:after { border-color: $green; }
    .m-form :focus { border-color: $green }
    input[type="checkbox"] + label:after,
    input[type="radio"] + label:after { background-color: $green; }

    // Header
    .header {
        .discount-badge { background-color: $green; }
        .m-form__search input { background-color: rgba(0,0,0,0.7); }
        .submenu__link:hover i,
        .submenu__link.active i,
        .submenu__link:not(.l-header__logo).router-link-exact-active i { color: $green; }
        .search-result::-webkit-scrollbar-thumb { background-color: $green !important; }
    }

    .menu__item {
        &:hover,
        &.active {
            background: rgba(0, 0, 0, 0.4) !important;

        }

        &:not(.l-header__logo).router-link-exact-active,
        &.active-subcategory {
            .menu__link {
                background: rgba(0, 0, 0, 0.4) !important;
            }
        }
    }

    .menu__link {
        background: rgba(0, 0, 0, 0.2);
        text-shadow: 1px 1px $black;
        font-size: 18px;
    }

    //.bottom__menu {
    //    background-image: url("../images/grass-min.jpeg");
    //    background-repeat: repeat;
    //}

    // Footer
    .footer {
        background: linear-gradient(45deg, lighten($green, 10%) 0%, $green 100%);

        .m-social__item i { color: $green; }
    }

    // Breadcrumbs
    .breadcrumbs span { color: $green; }

    // Products
    .m-product-card .card__price { color: $green; }
    .m-product-card:hover .card__image:before { background-color: rgba($green, 0.8); }
    .product-sort-wrap .btn-link { color: lighten($green, 10%) }
    .info__help-links:hover i { color: $green }
    .m-social__item i { color: $green }

    // Sizes
    .m-item__size.active {
        .size__number { background-color: $green }
        .size__counter { border-color: $green }
    }

    // Search
    .item-price { color: $green }
    .items-all-link { color: $green }

    // Modal
    .modal-content { background: linear-gradient(210deg, $green 26%, lighten($green, 10%) 74%); }
    .modal tr:nth-child(odd) td { background-color: lighten($green, 15%) }
    .modal tr:nth-child(even) td { background-color: $green }

    .footer,
    .header__middle {
        background: url("../images/grass-min.jpeg");
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background: rgba(0, 0, 0, 0.25);
        }

        .container {
            position: relative;
        }

        .b-white-opacity {
            border-color: $white;
        }
    }

    .header__middle .l-header__basket span,
    .header__middle .header__registration button,
    .header__middle .header__registration span,
    .footer .h3,
    .footer li,
    .footer .col-form-label,
    .footer .btn-send,
    .footer .footer-phone a,
    .footer .footer-email a {
        text-shadow: 1px 1px $black;
    }


    //.button-blue {
    //    background: transparent;
    //    padding: 0 20px;
    //    z-index: 2;
    //
    //    &:not(.no-hover):hover:before,
    //    &:not(.no-hover):hover:after,
    //    &:before,
    //    &:after {
    //        border: 0;
    //        width: 100%;
    //        height: 100%;
    //        transform: skew(-46deg);
    //        left: 0;
    //        margin: 0;
    //        z-index: -1;
    //    }
    //
    //    &:before {
    //        background-color: rgba(0, 0, 0, 0.2);
    //    }
    //
    //    &:after {
    //        background: url("../images/grass-min.jpeg");
    //    }
    //
    //    &:not(.no-hover):hover {
    //        background: transparent;
    //        opacity: 0.8;
    //    }
    //
    //}
}
