.l-cart__item {
	margin: 10px 0;
	padding: 15px 0;

	border: 1px solid $white;
	border-radius: 3px;

	color: $white;

	.item__name {
		font-size: 1.25rem;
		color: $white;
	}

	.item__total {
		border-top: 1px solid $white;

		text-align: right;

		> div {
			display: inline-block;
			padding: 0 10px;

			text-align: left;
			span {
				font-size: 1.25rem;
			}
		}
	}
	@media screen and (max-width: $screen-xs-max) {
		.item__image {
			img {
				margin: 0 auto;
			}
		}

		.row {
			> div {
				margin-bottom: 10px;
			}
		}
	}
}