.l-cart {
	.l-cart__total-fixed {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		font-size: 0;
		z-index: 99;

		> div,
		button {
			display: inline-block;
			width: 50%;
			padding: 5px;
			vertical-align: bottom;

			background-color: $color-dark-grey;

			font-size: 1.375rem;
			text-transform: uppercase;
			text-align: center;
			color: $white;
		}

		button {
			@extend .m-button;
			background-color: $color-default;
		}
	}
}