.autosuggest__results {
    background-color: white;
    color: black;
    padding: 10px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left;

        li {
            padding: 5px;
            transition: color 0.3s;

            &:hover {
                color: $color-default;
                cursor: pointer;
            }

            &:not(:last-child) {
                border-bottom: 1px solid rgba($black, 0.1);
            }
        }
    }
}