.m-button {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none !important;
	transition: color 0.1s linear 0s, background-color 0.2s linear 0s, opacity 0.2s linear 0s !important;
	box-shadow: none;
	border: none;
	display: inline-block;

	@media all and (max-width: $screen-xs-max) {
		margin: 5px !important;

		&:before,
		&:after {
			display: none;
		}
	}
}

.m-button-transparent__danger {
	@extend .m-button;

	padding: 5px 10px;
	background-color: transparent;
	border: 1px solid $color-red;
	border-radius: 3px;
	color: $color-red;

	> * {
		vertical-align: middle;
	}
	&:hover {
		background-color: $color-red;
		color: $white;
	}

}

.m-button__form {
	@extend .m-button, .b-a, .b-white, .u-fz-20, .u-fw700, .u-textCenter, .u-bg-transparent, .b-rad-xs;
	padding: 7px 10px;
}

.m-button__bordered-white {
	@extend .m-button;
	padding: 5px 20px;
	border: 1px solid $white;
	border-radius: 3px;
	background-color: transparent;

	font-size: 1.25rem;
	font-weight: 700;
	color: $white;

	&:hover {
		background-color: rgba($white, 0.3);
	}
}

.m-button__request {
	@extend .m-button, .b-rad-xs;
	position: absolute;
	left: 50%;
	bottom: 100px;
	z-index: 5;
	width: 300px;
	margin-left: -150px;
	@media all and (max-width: $screen-xs-min) {
		bottom: 20px;
	}
}

.m-button__simple {
	font-size: 15px;
	width: 100%;
	background-color: $color-default;
	color: $white;
	text-align: center;
	padding: 5px 10px;
	font-weight: 700;
	transition: all 0.3s;
	border: none;
	-webkit-appearance: none;
	&:hover {
		background-color: rgba($color-default, 0.85);
	}
}

.m-button-default-dark {
	@extend .m-button;
	color: $white;
	background-color: $color-dark-grey;
	transition: background-color 0.3s;
	font-size: 1.375rem;
	padding: 5px;
	text-transform: uppercase;
	&:hover, &.active, &.is-active {
		background-color: $color-default;
		color: $white;
	}
}

.m-button-default-white {
	@extend .m-button-default-dark;
	background-color: $white;
	color: $color-dark-grey;
}

.m-button-default-24 {
	display: inline-block;
	text-transform: uppercase;
	@extend .m-button;

	@include simple-btn($color-dark-grey, $white, 24px);
	@include default-btn(24px, 13px);

}

.m-button-default-xs {
	@extend .m-button;
	@include default-btn(30px, 16px);
}

.m-button-default-sm {
	@extend .m-button;
	@include default-btn(34px, 16px);
}

.m-button-default-md {
	@extend .m-button;
	@include default-btn(38px, 20px);
}

.m-button-default-lg {
	@extend .m-button;
	@include default-btn(40px, 24px);
}

.m-button-default-44 {
	@extend .m-button;
	text-transform: uppercase;
	@include default-btn(44px, 24px);
}

.m-button-default-50 {
	@extend .m-button;
	@include default-btn(50px, 30px);
}

button:focus {
	outline: none !important;
}

.m-button-blue-grey {
	@extend .m-button-default-xs;
	font-weight: 400;
	@include dual-color-btn($color-dark-grey, $color-default, $white, 30px);
	margin: 1px 29px 1px 0;
}

.m-btn__print {
	display: inline-block;

	color: $color-red;
	font-weight: bold;
	font-size: 1rem;

	> * {
		vertical-align: middle;
	}

	i {
		margin-right: 10px;
	}

	&:hover {
		color: $color-default;
	}
}


.m-button--add {
	display: inline-block;
	margin-bottom: 10px;

	color: $color-dark-default;

	transition: color 0.3s;

	i {
		margin-right: 5px;
	}

	&:hover {
		color: $color-default;
	}
}

.no-hover {
	cursor: default;
}