// mixin
@mixin vh() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// custom checkbox/radios
$inputHeight: 16px;
$inputWidth: 16px;
$inputBorderWidth: 1px;
$inputActiveScale: 4px; // optimized for even numbers

input[type="checkbox"],
input[type="radio"] {
	@include vh();
	outline: none;
	&:focus,
	&:hover {
		outline: none;
		+ label {
			&:before {
				border-color: rgba($color-default, 0.8);
			}
		}
	}

	&:active {
		+ label {
			&:before {
				transition-duration: 0;
				brightness: 0.2;
			}
		}

	}

	+ label {
		position: relative;
		padding: 10px;
		padding-left: 1.7rem;
		vertical-align: middle;
		user-select: none;
		text-align: left;

		&:before {
			box-sizing: content-box;
			content: '';
			color: $color-dark-grey;
			position: absolute;
			top: 50%;
			left: 0;
			width: $inputWidth;
			height: $inputHeight;
			margin-top: -($inputHeight/2 + $inputBorderWidth);
			border: $inputBorderWidth solid $color-dark-grey;
			//font-size: 18px;
			text-align: center;
		}
		&:after {
			box-sizing: content-box;
			content: '';
			background-color: $color-default;
			position: absolute;
			top: 50%;
			left: $inputBorderWidth + $inputActiveScale/2;
			width: $inputWidth - $inputActiveScale;
			height: $inputHeight -$inputActiveScale;
			margin-top: -(($inputHeight - $inputActiveScale)/2);
			transform: scale(0);
			transform-origin: 50%;
			transition: transform 200ms ease-out;
		}
	}
}

input[type="checkbox"] {
	+ label {
		i {
			font-size: 1.25rem;
			margin-right: 5px;
			vertical-align: middle;
		}
		span {
			vertical-align: middle;
		}
		&:after {
			background-color: transparent;
			top: 50%;
			left: 4px;
			width: 18px;
			height: 6px;
			margin-top: -10px;
			border-style: solid;
			border-color: $color-default;
			border-width: 0 0 2px 2px;
			border-image: none;
			transform: rotate(-45deg) scale(0);
			transition: none;
		}
	}
	&:checked {

		+ label {
			&:after {
				content: ''; //\2713';

				transform: rotate(-45deg) scale(1);
				transition: transform 200ms ease-out;
			}
			span, i {
				color: $color-default;
			}
		}
	}
}

input[type="radio"] {
	&:checked {
		+ label {
			&:before {
				animation: borderscale 300ms ease-in;
				background-color: white;
			}
			&:after {
				transform: scale(1);
			}
		}
	}
	+ label {
		&:before,
		&:after {
			border-radius: 50%;
		}
	}
}

input[type="checkbox"] {
	&:checked {
		+ label {
			&:before {
				animation: borderscale 200ms ease-in;
			}
			&:after {
				transform: rotate(-45deg) scale(1);
			}
		}
	}
}

@include keyframes(borderscale) {
	50% {
		box-shadow: 0 0 0 2px $color-default;
	}
}

label {
	cursor: pointer;
	display: inline-block;
}
