$caret-width: .3em !default;
$zindex-dropdown-backdrop: 990 !default;
$zindex-dropdown: 1000 !default;

$black: #000000;
$gray-dark: #292b2c;
$gray-lightest: #f7f7f9;
$gray-light: #636c72 !default;

$border-radius: 1px;

$font-size-base: 1rem !default;
$font-size-sm: .875rem !default;

$dropdown-min-width: 10rem !default;
$dropdown-padding-y: .5rem !default;
$dropdown-margin-top: .125rem !default;
$dropdown-bg: #ffffff !default;
$dropdown-border-color: rgba(#000, .15) !default;
$dropdown-border-width: 1px !default;
$dropdown-divider-bg: lighten(#000000, 93.5%) !default;
$dropdown-box-shadow: 0 .5rem 1rem rgba($black, .175) !default;

$dropdown-link-color: $gray-dark !default;
$dropdown-link-hover-color: #ffffff !default;
$dropdown-link-hover-bg: lighten(#3c76bf, 7%) !default;

$dropdown-link-active-color: #ffffff !default;
$dropdown-link-active-bg: #666666 !default;

$dropdown-link-disabled-color: $gray-light !default;

$dropdown-item-padding-x: 1.5rem !default;

$dropdown-header-color: $gray-light !default;

// The dropdown wrapper (`<div>`)
.dropup,
.dropdown {
    position: relative;

    &.fa-phone {
        &:before {
            position: relative;
            top: 1px;
        }
    }
}

.dropdown-toggle {
    color: #ffffff;
    // Generate the caret automatically
    &::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: $caret-width;
        vertical-align: middle;
        content: "";
        border-top: $caret-width solid;
        border-right: $caret-width solid transparent;
        border-left: $caret-width solid transparent;
    }

    // Prevent the focus on the dropdown toggle when closing dropdowns
    &:focus {
        outline: 0;
    }
}

.dropup {
    .dropdown-toggle {
        &::after {
            border-top: 0;
            border-bottom: $caret-width solid;
        }
    }
}

// The dropdown menu
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $zindex-dropdown;
    display: none; // none by default, but block on "open" of the menu
    float: left;
    min-width: $dropdown-min-width;
    padding: 5px 5px;
    margin: 0 0 0 10px; // override default ul
    font-size: $font-size-base; // Redeclare because nesting can cause inheritance issues
    color: #ffffff;
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    list-style: none;
    background-color: $dropdown-bg;
    background-clip: padding-box;
    border: $dropdown-border-width solid $dropdown-border-color;

    .dropdown-item {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;

        transition: all 0.2s ease;
    }
}

// Links, buttons, and more within the dropdown menu
//
// `<button>`-specific styles are denoted with `// For <button>s`
.dropdown-item {
    display: block;
    width: 100%; // For `<button>`s
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    color: $dropdown-link-color;
    text-align: inherit; // For `<button>`s
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    background: none; // For `<button>`s
    border: 0; // For `<button>`s

    &:hover,
    &:focus {
        color: $dropdown-link-hover-color;
        text-decoration: none;
        background-color: $dropdown-link-hover-bg;
    }

    &.active,
    &:active {
        color: $dropdown-link-active-color;
        text-decoration: none;
        background-color: $dropdown-link-active-bg;
    }

    &.disabled,
    &:disabled {
        color: $dropdown-link-disabled-color;
        cursor: not-allowed;
        background-color: transparent;
    }
}

// Open state for the dropdown
.show {
    // Show the menu
    > .dropdown-menu {
        display: block;
    }

    // Remove the outline when :focus is triggered
    > a {
        outline: 0;
    }
}

// Menu positioning
//
// Add extra class to `.dropdown-menu` to flip the alignment of the dropdown
// menu with the parent.
.dropdown-menu-right {
    right: 0;
    left: auto; // Reset the default from `.dropdown-menu`
}

.dropdown-menu-left {
    right: auto;
    left: 0;
}

// Dropdown section headers
.dropdown-header {
    display: block;
    padding: $dropdown-padding-y $dropdown-item-padding-x;
    margin-bottom: 0; // for use with heading elements
    font-size: $font-size-sm;
    color: $dropdown-header-color;
    white-space: nowrap; // as with > li > a
}

// Backdrop to catch body clicks on mobile, etc.
.dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-dropdown-backdrop;
}

// Allow for dropdowns to go bottom up (aka, dropup-menu)
//
// Just add .dropup after the standard .dropdown class and you're set.

.dropup {
    // Different positioning for bottom up menu
    .dropdown-menu {
        top: auto;
        bottom: 100%;
        margin-bottom: $dropdown-margin-top;
    }
}
