
.m-error {
	color: $white !important;
	position: relative;
	text-align: center;
	&:before {
		content: ' ';
		@extend .u-fill;
		@extend .u-top-left;
		background: rgba($black, 0.4);
	}
	p {
		margin: 10px;
	}
	@include cover-background('/images/public/error/error-bg.png');
	.m-error__number {
		font-size: 5em;
		color: $white;
		margin: 10px;
	}
	.m-error__text {
		@extend .u-fw400;
		border-top: 1px solid rgba($white, 0.7);
		border-bottom: 1px solid rgba($white, 0.7);

		p:first-child {
			font-size: 2.25em;
		}
	}
	.m-error__buttons {
		a {
			min-width: 160px;
		}
	}
	@media all and (max-width: $screen-sm-max) {
		.m-error__buttons {
			a {
				margin: 10px;
			}
		}
	}
}