.m-form {
    label,
    .col-form-label {
        display: block;
        font-size: 0.975rem;
        font-weight: 4 00;
        color: $white;
        padding-bottom: 0;
    }

    #{$all-text-inputs},
    select,
    textarea {
        width: 100%;
        padding: 5px 10px;
        appearance: none;

        background-color: $white;
        border-radius: 2px;
        border: 1px solid $white;

        color: black;
        font-weight: 300;

        transition: 0.4s;

        ::placeholder {
            color: $color-dark-grey;
        }
    }

    #{$all-text-inputs-hover},
    select,
    textarea {
        background-color: rgba($white, 0.95);
    }

    #{$all-text-inputs-focus} {
        border: 1px solid $color-default;
        background-color: rgba($white, 0.9);
    }

    #{$all-text-inputs-active} {
    }

    textarea {
        resize: none;
    }

    .selectbox {
        position: relative;
        margin-bottom: 15px;

        &:before {
            content: '';
            @include triangle(down, 12px, 0, $color-default);
            position: absolute;
            top: 50%;
            margin-top: -3px;
            right: 12px;
        }

        color: #999999;
        font-weight: normal;

        .has-value {
            color: $text-color;
        }

        select {
            margin-bottom: 0;
        }
    }
}

.m-form__search {
    input {
        min-width: 255px;
        padding: 4px 5px 6px 30px;
        background: #558acd;

        &::placeholder {
            color: rgba($white, 0.8)
        }
    }
}

.m-form__delete {
    position: relative;

    .remove_field {
        position: absolute;
        top: 0;
        right: 0;

        font-size: 1.125rem;
        color: $color-red;

        transition: color 0.3s;

        &:hover {
            color: darken($color-red, 10%);
        }
    }
}

.form-group {
    margin-bottom: 15px;
}

.invalid-feedback {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 2px;
    line-height: 1;
    color: #bb2d20;
}

@media screen and (max-width: $screen-xs-max){
    .m-form__search input {
        width: auto;
    }
}
