.m-footer__sitemap {
    margin: 0;
    padding-left: 0;
    font-size: rem(14px);
    list-style: none outside none;

    li:first-child {
        font-weight: 700;
        margin-bottom: 10px;
        font-size: rem(16px);
    }

    a {
        border-bottom: 1px solid transparent;
        transition: 0.4s;

        &:hover,
        &.router-link-exact-active {
            border-bottom-color: rgba($white, 0.6);
        }
    }
}