.pagination {
    text-align: center;
    li {
        position: relative;
        display: inline-block;

        &.active {
           a {
               background: $color-default;
               pointer-events: none;

               &:before {
                   border-style: solid;
                   height: 0;
                   width: 0;
                   border-color: transparent transparent $color-default;
                   border-width: 0 0 24px 24px;
               }

               &:after {
                   border-style: solid;
                   height: 0;
                   width: 0;
                   border-color: $color-default transparent transparent;
                   border-width: 24px 24px 0 0;
               }
           }
        }

        &.page-item.disabled {
            opacity: 0.6;
            pointer-events: none;
        }
    }

    a, li>span {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        background: #757575;
        color: #ffffff;
        -webkit-transition: background 0.285s !important;
        transition: background 0.285s !important;
        font-size: 15px;
        height: 24px;
        line-height: 22px;
        margin-right: 28px;
        list-style: none;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: bold;
        outline: none;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-style: solid;
            height: 0;
            width: 0;
            border-color: transparent transparent #757575;
            border-width: 0 0 24px 24px;
            margin-left: -24px;
            transition: border-color 0.285s;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            border-style: solid;
            height: 0;
            width: 0;
            border-color: #757575 transparent transparent;
            border-width: 24px 24px 0 0;
            margin-right: -24px;
            transition: border-color 0.285s;
        }

        &:hover {
            cursor: pointer;
            background: $color-default;

            &:after {
                border-color: $color-default transparent transparent;
            }

            &:before {
                border-color: transparent transparent $color-default;
            }
        }
    }

    a.btn-primary,
    a.btn-primary.active {
        background-color: $color-default;
        box-shadow: none;

        &:focus {
            box-shadow: none;
        }

        &:hover {
            background-color: $color-default;
        }
    }
}