.m-popup {
	@extend .u-top-left;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: $color-overlay;
}
.m-popup__sizer {
	@media all and (max-width: $screen-xs-max) {
		position: fixed;
		top:0 ;
		left: 0;
		height: 100%;
		transform: translate3d(0,0,0);
		.m-popup__container {
			height: 100%;
		}
	}
}
.m-popup__container {
	@extend .u-default-gradient;
	padding-top:  1.6rem;
	padding-bottom:  1.6rem;
	color: $white;

	.container__inner {
		padding: 0 1.2rem;
	}
	.h2 {
		font-size: 36px;
		font-weight: 500;
		margin-bottom: 15px;
	}
	.sub__title {
		font-size: 22px;
		font-weight: 500;
		margin-bottom: 5px;
	}
	table {
		width: 100%;
		border: 1px solid white;
		text-align: center;
		background: transparent;

	}
	tr {
		td {
			text-align: center;
			&:not(:last-child){
				border-right: 1px solid $white;
			}
		}
		&:nth-child(odd) td {
			background-color: lighten($color-default, 15%) ;
		}
		&:nth-child(even) td {
			background-color: darken($color-default, 15%) ;
		}
	}

}
.m-popup__danger {
	border: 1px solid $white;
	background: $color-red;
	width: 80%;
	padding: 1.2rem 3rem;
	margin: 1.2rem auto;
	i {
		font-size: 40px;
	}
	.danger__text {
		calc: ('width', '100% - 55px');
	}
	@media screen and (max-width: $screen-xs-max) {
		width:100%;
		padding: 0.4rem;
		i {
			display: none;
		}
		.danger__text {
			width: 100%;
		}
	}
}
