.m-sidebar {
	@extend .u-posFixed, .u-top-0, .u-bg-overlay, .u-fill;

	background: rgba($black, 0.85);
	width: 100%;
	height: 100%;
	left: -100%;
	opacity: 0;
	&.active {
		left:0;
		opacity: 1;
	}
	.m-sidebar__inner {
		width: 100%;
		height: 100%;
		font-size: 0;
		a {
			display: inline-block;
			width: 50%;
			height: 33.33%;
			position: relative;
			line-height: 1;
			color: $color-default;
			font-size: 20px;
			text-align: center;
			i {
				height: 50px;
				line-height: 1;
				font-size: 50px;
				position: absolute;
				color: $color-dark-grey;
				left: 50% !important;
				top: 45% !important;
				transform: translate3d(-50%, -50%, 0);
			}
			p {

				position: absolute;
				left: 0;
				bottom: 5%;
				width: 100%;
			}
		}
		a:first-child,
		a:nth-child(2),
		a:nth-child(3),
		a:nth-child(4){
			border-bottom: 1px solid rgba($color-dark-grey, 0.56);
		}
		a:first-child,
		a:nth-child(3),
		a:nth-child(5){
			border-right: 1px solid rgba($color-dark-grey, 0.56);
		}
		&.horizontal {
			a {
				border: transparent;
				width: 33.33%;
				height: 50%;
			}
			a:first-child,
			a:nth-child(2),
			a:nth-child(3){
				border-bottom: 1px solid white;
			}
			a:first-child,
			a:nth-child(2),
			a:nth-child(4),
			a:nth-child(5){
				border-right: 1px solid white;
			}
		}
		.menu__close-btn {
			@extend .u-inlineBlock, .u-bg-dark-grey, .u-top-left;
			left:50%;
			margin-left: -50px;
			margin-top: -50px;
			@include round-block(100px);
			i {
				font-size: 30px;
				position: absolute;
				bottom: 0px;
				left: 50%;
				margin-left: -20px;
				margin-bottom: -20px;
			}
		}
	}
	@include backface-visibility(none);
	transition: 0.4s;
}