/* CUSTOM SELECT BOX */
.m-selectBox {
	@extend .u-inlineBlock, .u-posRelative, .u-color-white, .u-isActionable , .u-fz-14;
}
.selected {
@extend .padding-5;
}


.selectArrow:after {
	content: '▾';
	position: absolute;
	width: 37px;
	color: #999;
	font-weight: bold;
	font-size: 16px;
	left: 12px;
	top: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	pointer-events: none;
	z-index: 2;
}

.selectArrow:active {
	background-position: 6px 16px
}

.selectBoxTop {
	position: relative;
	z-index: 3
}

.selectOptions {
	position: absolute;
	background: #131313;
	border: 1px solid #000;
	left: 0;
	top: 25px;
	width: 100%;
	display: none;
	z-index: 9;
}

.selectOptions .selectOption {
	@extend .u-block, .padding-5
}

.selectOptions .selectOption:hover {
	background: #000;
	color: #fff;
	border-radius: 3px
}