$color-default-social:	$color-default;
$color-face-hover: rgba(68, 97, 157, 0.9);
$color-face: #366593;

$color-tw:#169fff;
$color-tw-hover: rgba(#169fff,0.9);

$color-in:#007bb6;
$color-in-hover: rgba(#007bb6, 0.9);
$color-vk: #55779b;
$color-instagram:#964B00;
$color-instagram-hover: rgba($color-instagram, 0.9);

$color-tube-hover: rgba(182, 32, 37, 0.8);
$color-tube: rgb(182, 32, 37);

$color-pin-hover: rgba(195, 12, 43, 0.8);
$color-pin: rgb(195, 12, 43);

$color-google-hover: rgba(220, 71, 58, 0.8);
$color-google: rgb(220, 71, 58);

$color-linkedin-hover: rgba(#007bb6, 0.9);
$color-linkedin: #007bb6;

.m-social__item {
    display: inline-block;
    position: relative;
    margin-right: 5px;

    background-color: $white;

    transition: 0.4s;

    @include round-block(40px);

    i {
        font-size: 24px;
        color: $color-default-social;

        transition: 0.4s;

        @include round-block(40px);
    }

    &:hover {
        cursor: pointer;

        i {
            opacity: 0.9;
            &.fa-google-plus {
                color: $color-google;
            }
            &.fa-facebook {
                color: $color-face;
            }
            &.fa-vk {
                color: $color-vk;
            }
            &.fa-telegram {
                color: #0088cc;
            }
        }
    }
}

@media screen and (max-width: $screen-xs-max) {
    .m-social__item {
        @include round-block(30px);

        i {
            font-size: 18px;

            @include round-block(30px);
        }
    }
}