.m-slider {
	.swiper-button-prev, .swiper-button-next {
		@extend .u-color-white, .u-transition-04;
		background-image: none;
		font-size: 40px;
		&:hover {
			@extend .u-color-red;
		}
	}
	a {
		border: 1px solid $white;
		i {
			@extend .u-bg-red, .u-color-white, .u-transition-04;
			@include round-block(60px);
			opacity: 0;
		}
		&:hover {
			i {
				opacity: 0.8;
			}
		}
	}
}
.m-slider__gallery {
	@extend .m-slider;
	.swiper-button-prev, .swiper-button-next {
		i {
			@extend .u-transition-04;
			@include round-block(68px);

			background: rgba($color-dark-grey, 0.8);
		}
		&:hover {
			color: $white;
			i {

				color: $white;
				background: rgba($color-default, 0.8);
			}
		}

	}
}