.m-tabs {

}
.m-tabs__block {
	display: none;
	&.is-active {
		display: block;
	}

	.m-tabs__content {
		@media screen and (max-width: $screen-xs-max) {
			text-align: center;
		}
	}
}
.m-tabs__nav {
	@media screen and (max-width: $screen-xs-max) {
		padding: 0;
		display: flex;
		flex-wrap: nowrap;
		&:not(.no-lines) > button {
			flex: 1;
			&:not(:last-child) {
				border-right: 1px solid rgba($color-dark-grey, 0.4);
			}
		}
	}
}