<template lang="pug">
    div(v-if="email" class="footer-email m-t-5")
        i(class="fa fa-envelope m-b-10 m-r-5" aria-hidden="true")
        a(:href="`mailto:${email}`") {{ email }}
    </div>
</template>

<script>
    export default {
        computed: {
            email() {
                return this.$store.state.config.all.support_email;
            }
        }
    };
</script>


<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";

    @media screen and (max-width: $screen-xs-max) {
        .footer-email {
            text-align: center;
        }
    }
</style>