<div class="row">
    <div class="col-lg-8">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active" ng-class="{ 'has-error': $root.currenciesErrors }">
                    <a href="#currencies-tab"
                       data-toggle="tab"
                       translate="settings.general.exchange_rate"></a>
                </li>

                <li ng-class="{ 'has-error': $root.discountsErrors }">
                    <a href="#discounts-tab"
                       data-toggle="tab"
                       translate="settings.general.own_discount"></a>
                </li>

                <li ng-class="{ 'has-error': $root.colorsErrors }">
                    <a href="#colors-tab"
                       data-toggle="tab">Кольори</a>
                </li>

                <li ng-class="{ 'has-error': $root.settinsErrors['feature_categories'] ||  ctrl.settinsErrors['feature_categories'] }">
                    <a href="#main-page-tab"
                       data-toggle="tab"
                       translate="settings.general.main_page"></a>
                </li>

                <li ng-class="{ 'has-error': ($root.settingsErrors && !$root.settingsErrors['feature_categories']) || (ctrl.settinsErrors && !ctrl.settinsErrors['feature_categories']) }">
                    <a href="#settings-tab"
                       data-toggle="tab"
                       translate="settings.general.settings"></a>
                </li>
            </ul><!-- /.nav -->

            <div class="tab-content">
                <div id="currencies-tab" class="tab-pane fade in active">
                    <div ui-view="currencies"></div>
                </div><!-- /.tab-pane -->

                <div id="discounts-tab" class="tab-pane fade">
                    <div ui-view="discounts"></div>
                </div><!-- /.tab-pane -->

                <div id="colors-tab" class="tab-pane fade">
                    <div ui-view="colors"></div>
                </div><!-- /.tab-pane -->

                <div id="settings-tab" class="tab-pane fade">
                    <div ui-view="settings"></div>
                </div><!-- /.tab-pane -->

                <div id="main-page-tab" class="tab-pane fade">
                    <div ui-view="main-page"></div>
                </div><!-- /.tab-pane -->
            </div><!-- /.tab-content -->
        </div><!-- /.nav-tabs-custom -->
    </div><!-- /.col -->
</div><!-- /.row -->