<template lang="pug">
    div(class="swiper")

        h3(class="h3") Схожі товари

        div(v-swiper:relatedProducts="swiperOptions")
            div(class="swiper-wrapper")
                div(
                    v-for="(item, index) in products"
                    :key="index"
                    class="swiper-slide"
                )
                    product-item(:product="item")


        // Slider navigation
        div(v-show="products.length > 5")
            div(id="relatedSwiperNext" class="swiper-button-next swiper-button-white")
            div(id="relatedSwiperPrev" class="swiper-button-prev swiper-button-white")

        // Slider pagination
        div(
            v-show="products.length > 5"
            id="relatedSwiperPagination"
            class="swiper-pagination"
        )
</template>

<script>
    import ProductItem from '@/components/ProductItem/ProductItem';

    export default {
        components: {
            ProductItem
        },
        props: {
            products: Array
        },
        data() {
            return {
                swiperOptions: {
                    slidesPerView: 5,
                    spaceBetween: 20,
                    navigation: {
                        nextEl: '#relatedSwiperNext',
                        prevEl: '#relatedSwiperPrev'
                    },
                    pagination: {
                        el: '#relatedSwiperPagination',
                        clickable: true
                    },
                    breakpoints: {
                        1199: { slidesPerView: 4 },
                        991: { slidesPerView: 3 },
                        767: { slidesPerView: 2 },
                        440: { slidesPerView: 1 }
                    }
                }
            };
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";

    .swiper {
        position: relative;
    }

    .swiper-button-next {
        right: -40px;
    }

    .swiper-button-prev {
        left: -40px;
    }

    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
        pointer-events: all;
    }

    /deep/{
        .swiper-pagination {
            position: relative;
            margin-top: 30px;

            .swiper-pagination-bullet {
                width: 14px;
                height: 14px;
                background: $white;
                opacity: 0.7;
                margin-right: 5px;

                &.swiper-pagination-bullet-active {
                    background: $color-default;
                }
            }
        }
    }

    @media all and (max-width: $screen-sm-max) {
        .bottom-slider {
            margin-top: 20px;
        }
    }
</style>
