<template lang="pug">
    div(class="container u-color-white")

        // Title
        h1(class="h1") {{ title }}

        // Description
        div(v-html="description")
</template>

<script>
    import api from '@/api';

    export default {
        head() {
            return {
                title: this.title
            };
        },
        data() {
            return {
                title: null,
                description: null
            };
        },

        // Fetch api data.
        async asyncData({ app, route }) {
            const { slug } = route.params;

            const { data } = await api.pages.getPageBySlug(app, slug);

            return data;
        },

        // Set breadcrumbs.
        beforeMount() {
            this.$store.dispatch('breadcrumbs/setItems', [{ title: this.title }]);
        }
    };
</script>