<template lang="pug">
    div(class="product-sort-wrap")
        div(class="item pull-left")
            span(class="title") {{ title }}
            b-dropdown(:text="String(current)" variant="link")
                b-dropdown-item(
                    v-for="item in all"
                    :key="item"
                    @click="setPerPage(item)"
                ) {{ item }}
</template>

<script>
    export default {
        data() {
            return {
                title: 'Замовлень на сторінці:'
            };
        },
        computed: {

            /**
             * Fetch "perPage" available values.
             *
             * @return Array
             */
            all() {
                return this.$store.state.orders.perPageValues;
            },

            /**
             * Fetch current "perPage" attribute value.
             *
             * @return Number
             */
            current() {
                return this.$store.state.orders.query.perPage;
            }
        },
        methods: {

            /**
             * Set "perPage" to store.
             *
             * @param value
             */
            setPerPage(value) {
                this.$store.dispatch('orders/setQuery', { perPage: value });
            }
        }
    };
</script>