@media (min-width: $screen-desktop) {
	.u-border-right {
		border-right: 1px solid #cccccc;
	}
}

.u-border-gray {
	width: 100%;
	height: 1px;

	margin: 0 auto;
	@media (min-width: $screen-tablet) {
		width: 1px;
		height: 100%;
		background-color: #cccccc;
	}
}


.u-padding-top {
	padding-top: 3%;
}

.u-border-bottom {
	border-bottom: 1px solid #cccccc;
}

.u-bg-gray {
	background-color: #e1e3e4;
}

.u-flex {
	&--direction-row {
		@include flex-direction(row);
	}
	&--middle-between {
		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);
	}
	&--vertical {
		@include display(flex);
		@include flex-direction(column);
		@include flex(1 1 auto);
	}
}

/* Tenant tools
------------------------------------
*/

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-up {
	text-transform: uppercase;
}

.text-bold {
	font-weight: bold;
}

.u-semibold {
	font-weight: 600;
}

.list-unstyled {
	list-style: none outside none;
	padding-left: 0;
}

.u-margin-auto {
	margin: 0 auto;
}

/* ----------------------------------------------------------------------------------------------------------
 Sensible defaults tools ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
.u-textCap {
	text-transform: capitalize !important
}

.u-textUpper {
	text-transform: uppercase !important
}

.u-textLower {
	text-transform: lowercase !important
}

.u-textUnderline {
	text-decoration: underline !important
}

.u-textDanger {
	color: #a94442 !important
}

.u-textSerif {

}

.u-fw300 {
	font-weight: 300 !important
}

.u-fw400 {
	font-weight: 400 !important
}

.u-fw600 {
	font-weight: 600 !important
}

.u-fw700 {
	font-weight: 700 !important
}

.u-isActionable {
	cursor: pointer !important
}

.u-isDisabled {
	cursor: default !important
}

.u-isDraggable {
	cursor: move !important
}


.u-textBreak {
	word-wrap: break-word !important
}

.u-textCenter {
	text-align: center !important
}

.u-textLeft {
	text-align: left !important
}

.u-textRight {
	text-align: right !important
}

.u-textNoWrap {
	white-space: nowrap !important
}

.u-textWrapNormal {
	white-space: normal !important
}

.u-textInheritColor {
	color: inherit !important
}

.u-textPreLine {
	white-space: pre-line !important
}

.u-textPreWrap {
	white-space: pre-wrap !important
}

.u-textTruncate {
	max-width: 100%;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	word-wrap: normal !important
}

.u-hidden { overflow: hidden }
.u-scroll { overflow: scroll }
.u-auto   { overflow: auto }

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both }


.top-0    { top: 0 }
.right-0  { right: 0 }
.bottom-0 { bottom: 0 }
.left-0   { left: 0 }

.u-listUnstyled {
	margin: 0;
	padding: 0;
	list-style: none outside none;
}

.u-alignBaseline {
	vertical-align: baseline !important
}

.u-alignBottom {
	vertical-align: bottom !important
}

.u-alignMiddle {
	vertical-align: middle !important
}

.u-alignTop {
	vertical-align: top !important
}

.u-textCenter { text-align: center !important; }
.u-tableCell { display: table-cell !important; }
.u-alignMiddle { vertical-align: middle !important; }

.u-fill, .u-fillHeight {
	height: 100% !important;
}

.u-fill, .u-fillWidth {
	width: 100% !important;
}

.u-table {
	display: table !important;
}
.u-tableCell {
	display: table-cell !important
}

.u-tableRow {
	display: table-row !important
}


.u-inline {
	display: inline !important
}
.u-block {
	display: block !important
}

.u-invisible {
	visibility: hidden !important
}

.u-noneBlock {
	display: none !important;
}

.u-inlineBlock {
	display: inline-block !important;
	max-width: 100%
}

.u-floatLeft {
	float: left !important
}

.u-floatRight {
	float: right !important
}

.u-blockCenter {
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.u-posAbsolute {
	position: absolute !important
}
.u-posFixed {
	position: fixed !important
}
.u-posRelative {
	position: relative !important
}
.u-posStatic {
	position: static !important
}

.u-posAbsoluteCenter {
	bottom: 0 !important;
	left: 0 !important;
	margin: auto !important;
	position: absolute !important;
	right: 0 !important;
	top: 0 !important
}

.u-transCenter {
	position: absolute;
	left: 50% !important;
	top: 50% !important;

	@include transform(translate3d(-50%, -50%, 0));
}

.u-transCenterV {
	position: absolute;
	top: 50%;

	@include transform(translate3d(0, -50%, 0));
}

.u-transCenterH {
	position: absolute;
	left: 50%;

	@include transform (translate3d(-50%, 0, 0));
}

.u-transFlipH {
	@include transform(scaleX(-1));
	@include filter(FlipH);
}

.u-imgResponsive {
	display: block;
	max-width: 100% !important;
	height: auto !important
}

.u-colorWhite {
	color: white;
}

.u-fontSize14 {
	font-size: em(14) !important;
}

.u-fontSize16 {
	font-size: em(16);
}

.u-colorGreen {
	color: #54a72f;
}

.u-colorGray {
	color: #484848;
}


.u-justify {
	text-align: justify;
	line-height: 0;

	div[class^="u-justify"] {
		white-space: nowrap;
		text-align: left;
		display: inline-block;
		line-height: $line-height-base;
	}

	&:after {
		display: inline-block;
		width: 100%;
		content: "";
		vertical-align: top;
	}

	@media (max-width: 320px) {
		text-align: center;
	}
}

/* Scroll
------------------------------------
*/
.scrollable {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
/* Overides
------------------------------------
*/
.no-padding {
	padding: 0px !important;
}
.no-margin {
	margin: 0px !important;
}
.no-overflow {
	overflow: hidden !important;
}
.auto-overflow {
	overflow: auto;
}
.center-margin {
	margin-left: auto;
	margin-right: auto;
}
.inherit-size {
	width: inherit;
	height: inherit;
}
.inherit-height {
	height: inherit;
}
.image-responsive-height {
	width: 100%;
}
.image-responsive-width {
	height: 100%;
}
.u-overlayer {
	position: absolute;
	display: block;
	z-index: 21;
}
.u-overlayer.fullwidth {
	width: 100%;
}
.u-overlayer-wrapper {
	position: relative;
	display: block;
	z-index: 10;
}
.overlay-fixed {
	position: fixed !important;
	top: auto !important;
}
.u-top-left {
	position: absolute !important;
	top: 0;
	left: 0;
}
.u-top-right {
	position: absolute !important;
	top: 1px;
	right: 0;
}
.u-bottom-left {
	position: absolute !important;
	bottom: 1px;
	left: 0;
}
.u-bottom-right {
	position: absolute !important;
	bottom: 0;
	right: 0;
}
.pull-bottom {
	position: absolute !important;
	bottom: 0;
}
.pull-up {
	position: absolute !important;
	top: 0;
}
.cursor {
	cursor: pointer;
}
.scroll-x-hidden {
	overflow-x: hidden !important;
}
/* Generic Padding Helpers
------------------------------------
*/
.p-b-0 {
	padding-bottom: 0px !important;
}

.p-t-5 {
	padding-top: 5px !important;
}
.p-r-5 {
	padding-right: 5px !important;
}
.p-l-5 {
	padding-left: 5px !important;
}
.p-b-5 {
	padding-bottom: 5px !important;
}
.padding-5 {
	padding: 5px !important;
}
.p-t-10 {
	padding-top: 10px !important;
}
.p-r-10 {
	padding-right: 10px !important;
}
.p-l-10 {
	padding-left: 10px !important;
}
.p-b-10 {
	padding-bottom: 10px !important;
}
.padding-10 {
	padding: 10px !important;
}
.p-t-15 {
	padding-top: 15px !important;
}
.p-r-15 {
	padding-right: 15px !important;
}
.p-l-15 {
	padding-left: 15px !important;
}
.p-b-15 {
	padding-bottom: 15px !important;
}
.padding-15 {
	padding: 15px !important;
}
.p-t-20 {
	padding-top: 20px !important;
}
.p-r-20 {
	padding-right: 20px !important;
}
.p-l-20 {
	padding-left: 20px !important;
}
.p-b-20 {
	padding-bottom: 20px !important;
}
.padding-20 {
	padding: 20px !important;
}
.p-t-25 {
	padding-top: 25px !important;
}
.p-r-25 {
	padding-right: 25px !important;
}
.p-l-25 {
	padding-left: 25px !important;
}
.p-b-25 {
	padding-bottom: 25px !important;
}
.padding-25 {
	padding: 25px !important;
}
.p-t-30 {
	padding-top: 30px !important;
}
.p-r-30 {
	padding-right: 30px !important;
}
.p-l-30 {
	padding-left: 30px !important;
}
.p-b-30 {
	padding-bottom: 30px !important;
}
.padding-30 {
	padding: 30px !important;
}
.p-t-35 {
	padding-top: 35px !important;
}
.p-r-35 {
	padding-right: 35px !important;
}
.p-l-35 {
	padding-left: 35px !important;
}
.p-b-35 {
	padding-bottom: 35px !important;
}
.padding-35 {
	padding: 35px !important;
}
.p-t-40 {
	padding-top: 40px !important;
}
.p-r-40 {
	padding-right: 40px !important;
}
.p-l-40 {
	padding-left: 40px !important;
}
.p-b-40 {
	padding-bottom: 40px !important;
}
.padding-40 {
	padding: 40px !important;
}
.p-t-45 {
	padding-top: 45px !important;
}
.p-r-45 {
	padding-right: 45px !important;
}
.p-l-45 {
	padding-left: 45px !important;
}
.p-b-45 {
	padding-bottom: 45px !important;
}
.padding-45 {
	padding: 45px !important;
}
.p-t-50 {
	padding-top: 50px !important;
}
.p-r-50 {
	padding-right: 50px !important;
}
.p-l-50 {
	padding-left: 50px !important;
}
.p-b-50 {
	padding-bottom: 50px !important;
}
.padding-50 {
	padding: 50px !important;
}
.p-t-55 {
	padding-top: 55px !important;
}
.p-r-55 {
	padding-right: 55px !important;
}
.p-l-55 {
	padding-left: 55px !important;
}
.p-b-55 {
	padding-bottom: 55px !important;
}
.padding-55 {
	padding: 55px !important;
}
.p-t-60 {
	padding-top: 60px !important;
}
.p-r-60 {
	padding-right: 60px !important;
}
.p-l-60 {
	padding-left: 60px !important;
}
.p-b-60 {
	padding-bottom: 60px !important;
}
.padding-60 {
	padding: 60px !important;
}
.p-t-65 {
	padding-top: 65px !important;
}
.p-r-65 {
	padding-right: 65px !important;
}
.p-l-65 {
	padding-left: 65px !important;
}
.p-b-65 {
	padding-bottom: 65px !important;
}
.padding-65 {
	padding: 65px !important;
}
.p-t-70 {
	padding-top: 70px !important;
}
.p-r-70 {
	padding-right: 70px !important;
}
.p-l-70 {
	padding-left: 70px !important;
}
.p-b-70 {
	padding-bottom: 70px !important;
}
.padding-70 {
	padding: 70px !important;
}
.p-t-75 {
	padding-top: 75px !important;
}
.p-r-75 {
	padding-right: 75px !important;
}
.p-l-75 {
	padding-left: 75px !important;
}
.p-b-75 {
	padding-bottom: 75px !important;
}
.padding-75 {
	padding: 75px !important;
}
.p-t-80 {
	padding-top: 80px !important;
}
.p-r-80 {
	padding-right: 80px !important;
}
.p-l-80 {
	padding-left: 80px !important;
}
.p-b-80 {
	padding-bottom: 80px !important;
}
.padding-80 {
	padding: 80px !important;
}
.p-t-85 {
	padding-top: 85px !important;
}
.p-r-85 {
	padding-right: 85px !important;
}
.p-l-85 {
	padding-left: 85px !important;
}
.p-b-85 {
	padding-bottom: 85px !important;
}
.padding-85 {
	padding: 85px !important;
}
.p-t-90 {
	padding-top: 90px !important;
}
.p-r-90 {
	padding-right: 90px !important;
}
.p-l-90 {
	padding-left: 90px !important;
}
.p-b-90 {
	padding-bottom: 90px !important;
}
.padding-90 {
	padding: 90px !important;
}
.p-t-95 {
	padding-top: 95px !important;
}
.p-r-95 {
	padding-right: 95px !important;
}
.p-l-95 {
	padding-left: 95px !important;
}
.p-b-95 {
	padding-bottom: 95px !important;
}
.padding-95 {
	padding: 95px !important;
}
.p-t-100 {
	padding-top: 100px !important;
}
.p-r-100 {
	padding-right: 100px !important;
}
.p-l-100 {
	padding-left: 100px !important;
}
.p-b-100 {
	padding-bottom: 100px !important;
}
.padding-100 {
	padding: 100px !important;
}
/* Generic Margin Helpers
------------------------------------
 */
.m-t-0 {
	margin-top: 0px;
}
.m-r-0 {
	margin-right: 0px;
}
.m-l-0 {
	margin-left: 0px;
}
.m-b-0 {
	margin-bottom: 0px!important;
}
.m-t-5 {
	margin-top: 5px!important;
}
.m-r-5 {
	margin-right: 5px;
}
.m-l-5 {
	margin-left: 5px;
}
.m-b-5 {
	margin-bottom: 5px!important;
}
.m-t-10 {
	margin-top: 10px;
}
.m-r-10 {
	margin-right: 10px;
}
.m-l-10 {
	margin-left: 10px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-r-15 {
	margin-right: 15px;
}
.m-l-15 {
	margin-left: 15px;
}
.m-b-15 {
	margin-bottom: 15px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-r-20 {
	margin-right: 20px;
}
.m-l-20 {
	margin-left: 20px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.m-t-25 {
	margin-top: 25px;
}
.m-r-25 {
	margin-right: 25px;
}
.m-l-25 {
	margin-left: 25px;
}
.m-b-25 {
	margin-bottom: 25px;
}
.m-t-30 {
	margin-top: 30px;
}
.m-r-30 {
	margin-right: 30px;
}
.m-l-30 {
	margin-left: 30px;
}
.m-b-30 {
	margin-bottom: 30px;
}
.m-t-35 {
	margin-top: 35px;
}
.m-r-35 {
	margin-right: 35px;
}
.m-l-35 {
	margin-left: 35px;
}
.m-b-35 {
	margin-bottom: 35px;
}
.m-t-40 {
	margin-top: 40px;
}
.m-r-40 {
	margin-right: 40px;
}
.m-l-40 {
	margin-left: 40px;
}
.m-b-40 {
	margin-bottom: 40px;
}
.m-t-45 {
	margin-top: 45px;
}
.m-r-45 {
	margin-right: 45px;
}
.m-l-45 {
	margin-left: 45px;
}
.m-b-45 {
	margin-bottom: 45px;
}
.m-t-50 {
	margin-top: 50px;
}
.m-r-50 {
	margin-right: 50px;
}
.m-l-50 {
	margin-left: 50px;
}
.m-b-50 {
	margin-bottom: 50px;
}
.m-t-55 {
	margin-top: 55px;
}
.m-r-55 {
	margin-right: 55px;
}
.m-l-55 {
	margin-left: 55px;
}
.m-b-55 {
	margin-bottom: 55px;
}
.m-t-60 {
	margin-top: 60px;
}
.m-r-60 {
	margin-right: 60px;
}
.m-l-60 {
	margin-left: 60px;
}
.m-b-60 {
	margin-bottom: 60px;
}
.m-t-65 {
	margin-top: 65px;
}
.m-r-65 {
	margin-right: 65px;
}
.m-l-65 {
	margin-left: 65px;
}
.m-b-65 {
	margin-bottom: 65px;
}
.m-t-70 {
	margin-top: 70px;
}
.m-r-70 {
	margin-right: 70px;
}
.m-l-70 {
	margin-left: 70px;
}
.m-b-70 {
	margin-bottom: 70px;
}
.m-t-75 {
	margin-top: 75px;
}
.m-r-75 {
	margin-right: 75px;
}
.m-l-75 {
	margin-left: 75px;
}
.m-b-75 {
	margin-bottom: 75px;
}
.m-t-80 {
	margin-top: 80px;
}
.m-r-80 {
	margin-right: 80px;
}
.m-l-80 {
	margin-left: 80px;
}
.m-b-80 {
	margin-bottom: 80px;
}
.m-t-85 {
	margin-top: 85px;
}
.m-r-85 {
	margin-right: 85px;
}
.m-l-85 {
	margin-left: 85px;
}
.m-b-85 {
	margin-bottom: 85px;
}
.m-t-90 {
	margin-top: 90px;
}
.m-r-90 {
	margin-right: 90px;
}
.m-l-90 {
	margin-left: 90px;
}
.m-b-90 {
	margin-bottom: 90px;
}
.m-t-95 {
	margin-top: 95px;
}
.m-r-95 {
	margin-right: 95px;
}
.m-l-95 {
	margin-left: 95px;
}
.m-b-95 {
	margin-bottom: 95px;
}
.m-t-100 {
	margin-top: 100px;
}
.m-r-100 {
	margin-right: 100px;
}
.m-l-100 {
	margin-left: 100px;
}
.m-b-100 {
	margin-bottom: 100px;
}
.full-height {
	height: 100% !important;
}
.u-full-height {
	height: 100% !important;
}
.full-width {
	width: 100%;
}
.u-full-width {
	width: 100%;
}
//.hide {
//	display: none;
//}
//.inline {
//	display: inline-block !important;
//}
//.block {
//	display: block;
//}
//.b-blank {
//	border-color: #000;
//}
/* Border Helpers
------------------------------------
*/
.b-b-none {
	border-bottom: 0px solid!important;
}

.b-a,
.b-r,
.b-l,
.b-t,
.b-b {
	border-style: solid;
	border-width: 0!important;
}
.b-r {
	border-right-width: 1px;
}
.b-l {
	border-left-width: 1px;
}
.b-t {
	border-top-width: 1px;
}
.b-b {
	border-bottom-width: 1px;
}
.b-a {
	border-width: 1px;
}
.b-dashed {
	border-style: dashed;
}
.b-thick {
	border-width: 2px;
}
.b-transparent {
	border-color: rgba(0, 0, 0, 0.4);
}
.b-transparent-white {
	border-color: rgba(255, 255, 255, 0.3);
}
.b-grey {
	border-color: #e6e6e6;
}
.b-white {
	border-color: #fff;
}
.b-primary {
	border-color: #6d5cae;
}
.b-complete {
	border-color: #6d5cae;
}
.b-success {
	border-color: #10cfbd;
}
.b-info {
	border-color: #3b4752;
}
.b-danger {
	border-color: #f55753;
}
.b-warning {
	border-color: #f8d053;
}
/* Border Radius
------------------------------------
*/
.b-rad-sm {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.b-rad-md {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.b-rad-lg {
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}
.no-border {
	border: none !important;
}
/** Profile Wrappers **/
.profile-img-wrapper {
	float: left;
	border-radius: 100px 100px 100px 100px;
	display: inline-block;
	height: 35px;
	overflow: hidden;
	width: 35px;
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1;
}
.profile-img-wrapper.big {
	height: 68px;
	width: 68px;
}
.profile-img-wrapper.with-left-space-custom {
	margin-left: 7px;
}
.relative {
	position: relative;
}

/* columns of same height styles
------------------------------------
*/
.u-container-xs-height {
	display: table;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.u-img-rounded {
	@include border-radius(50%);
}

.u-shadow-black {
	@include box-shadow(inset 0px -135px 40px -105px rgba(0,0,0,0.7));
}

.u-pointer-events {
	pointer-events: none;
}