<template lang="pug">
    div(v-if="phones" class="inner__left-block u-inlineBlock u-alignTop")
        b-dropdown(
            :text="phones[0]"
            variant="link"
            class="fa fa-phone m-r-5"
        )
            b-dropdown-item(
                v-for="(item, index) in phones"
                :key="index"
                :href="`tel:${item.replace(/\s+/g, '')}`"
            ) {{ item }}
</template>

<script>
    export default {
        computed: {
            phones() {
                return this.$store.state.config.all.phones;
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";
    /deep/ {
        .b-dropdown {
            @media all and (min-width: $screen-md-min) {
                margin-right: 10px;
            }
        }

        .dropdown-toggle,
        .dropdown-menu {
            font-family: Exo\ 2, sans-serif;
        }

        .dropdown-toggle {
            padding-left: 5px;

            @media (max-width: $screen-xs-min) {
                font-size: 12px;
            }
        }
    }

    @media all and (max-width: $screen-sm-max) {
       .inner__left-block {
           display: block;
           position: relative;
       }
    }
</style>
