<template lang="pug">
    div(class="checkout-success m-t-30")
        | Ваше замовлення створено успішно.
        br
        | Наш оператор звяжеться з вами на протязі дня.
</template>

<style lang="scss" scoped>
    .checkout-success {
        margin-bottom: 40px;
        font-weight: bold;
        font-size: 24px;
    }
</style>