<template lang="pug">
    div(v-if="items.length" class="container")
        ul(class="breadcrumbs")
            li
                nuxt-link(to="/") Головна

            li(v-for="(item, index) in items" :key="index")
                i(class="icon-sport_shop_icons-26")
                nuxt-link(v-if="!isLastItem(index)" :to="item.route") {{ item.title }}
                span(v-if="isLastItem(index)") {{ item.title }}
</template>

<script>
    export default {
        computed: {
            items() {
                return this.$store.state.breadcrumbs.items;
            }
        },
        methods: {
            isLastItem(index) {
                return index === (this.items.length - 1);
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../assets/scss/utilities/variables";

    .breadcrumbs {
        display: flex;
        margin: 0;
        padding: 5px 0 10px;
        list-style-type: none;
        flex-wrap: wrap;

        li + li {
            display: flex;
        }

        li {
            margin-right: 8px;
            margin-bottom: 5px;
        }

        a:hover {
            text-decoration: underline !important;
        }

        i {
            display: inline-block;
            margin-left: -10px;
            padding: 0 5px;
            font-size: 18px;
            color: $white;
            transform: rotate(-90deg);
        }

        span {
            color: $color-default;
        }
    }
</style>
