$transition-fade:     opacity .15s linear !default;
$transition-collapse: height .35s ease !default;

.fade {
    opacity: 0;
    transition: $transition-fade;
    &.show { opacity: 1; }
}
.collapse {
    display: none;
    &.show { display: block; }
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: $transition-collapse;
}