.u-default-gradient {
	background: linear-gradient(210deg, #3670b9 26%, #7ca5d8 74%);
}

.u-flex {
	display: flex;
}

.u-align-items-center {
	align-items: center;
}

.u-justify-between {
	justify-content: space-between;
}
.u-justify-center {
	justify-content: space-between;
}

.u-flex-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.u-center-xs {
	@media (max-width: $screen-xs-max) {
		justify-content: center;
	}
}

.hidden-xs {
	@media (max-width: $screen-xs-max) {
		display: none !important;
	}
}