.u-bg-grey {
    background-color: $color-grey;
}

.u-bg-default {
    background-color: $color-default;
}

.u-bg-dark-grey {
    background-color: $color-dark-grey;
}

.u-bg-grey-focus {
    background-color: $color-grey-focus;
}

.u-bg-button-dark {
    background-color: $color-button-dark;
}

.u-bg-overlay {
    background-color: $color-overlay;
}

.u-bg-white {
    background-color: $white;
}

.u-bg-transparent {
    background-color: transparent;
}

.u-color-white {
    color: $white;
}

.u-color-default {
    color: $color-default;
}

.u-color-black {
    color: $black;
}

.u-color-red {
    color: $color-red;
}

.u-color-dark-grey {
    color: $color-dark-grey;
}

.u-color-grey-default {
    color: $color-dark-default;
}

.u-cover {
    background-size: cover;
}

.b-grey {
    border-color: $color-grey;
}

.u-list-unstyled {
    list-style: none outside none;
    padding-left: 0;
}

.u-borderNone {
    border-width: 0;
}

.u-margin-auto {
    margin: 0 auto;
}

/* ----------------------------------------------------------------------------------------------------------
 Sensible defaults tools ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
.u-textCap {
    text-transform: capitalize
}

.u-textUpper {
    text-transform: uppercase
}

.u-textLower {
    text-transform: lowercase
}

.u-textUnderline {
    text-decoration: underline
}

.u-textDanger {
    color: #a94442
}

.u-textSerif {

}

.u-fw300 {
    font-weight: 300
}

.u-fz-0 {
    font-size: 0;
}

.u-fz-8 {
    font-size: 0.5rem;
}

.u-fz-10 {
    font-size: 0.625rem;
}

.u-fz-12 {
    font-size: 12px;
}

.u-fz-14 {
    font-size: 0.875rem;
}

.u-fz-15 {
    font-size: 0.9375rem;
}

.u-fz-16 {
    font-size: 1rem;
}

.u-fz-18 {
    font-size: 1.125rem;
}

.u-fz-20 {
    font-size: 1.25rem;
}

.u-fz-22 {
    font-size: 1.375rem;
}

.u-fz-24 {
    font-size: 1.5rem;
}

.u-fz-25 {
    font-size: 1.59375rem;
}

.u-fz-26 {
    font-size: 1.625rem;
}

.u-fz-28 {
    font-size: 1.75rem;
}

.u-fz-30 {
    font-size: 1.875rem;
}

.u-fz-40 {
    font-size: 2.5rem;
}

.u-fz-50 {
    font-size: 3.125rem;
    line-height: 1;
}

.u-fw400 {
    font-weight: 400
}

.u-fw500 {
    font-weight: 500
}

.u-fw600 {
    font-weight: 600
}

.u-fw700 {
    font-weight: 700
}

.u-isActionable {
    cursor: pointer
}

.u-isDisabled {
    cursor: default
}

.u-isDraggable {
    cursor: move
}

.u-textBreak {
    word-wrap: break-word
}

.u-textCenter {
    text-align: center
}

.u-textLeft {
    text-align: left
}

.u-textRight {
    text-align: right
}

.u-textRight-xs {
    @media screen and (max-width: $screen-xs-max) {
        text-align: right
    }
}

.u-textNoWrap {
    white-space: nowrap
}

.u-textInheritColor {
    color: inherit
}

.u-textPreLine {
    white-space: pre-line
}

.u-textPreWrap {
    white-space: pre-wrap
}

.u-textTruncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal
}

.u-hidden {
    overflow: hidden
}

.u-scroll {
    overflow: scroll
}

.u-auto {
    overflow: auto
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both
}

.u-m-0 {
    margin: 0;
}

.u-p-0 {
    padding: 0;
}

.u-top-0 {
    top: 0
}

.u-right-0 {
    right: 0
}

.u-bottom-0 {
    bottom: 0
}

.u-left-0 {
    left: 0
}

.nowrap {
    white-space: nowrap
}

.u-listUnstyled {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}

.u-alignBaseline {
    vertical-align: baseline
}

.u-alignBottom {
    vertical-align: bottom
}

.u-alignMiddle {
    vertical-align: middle
}

.u-alignTop {
    vertical-align: top;
}

.u-textCenter {
    text-align: center;
}

.u-tableCell {
    display: table-cell;
}

.u-alignMiddle {
    vertical-align: middle;
}

.u-fill, .u-fillHeight {
    height: 100%;
}

.u-fill, .u-fillWidth {
    width: 100%;
}

.u-table {
    display: table;
}

.u-tableCell {
    display: table-cell
}

.u-tableRow {
    display: table-row
}

.u-inline {
    display: inline
}

.u-block {
    display: block
}

.u-invisible {
    visibility: hidden
}

.u-noneBlock {
    display: none;
}

.u-opacity-0 {
    opacity: 0;
}

.u-inlineBlock {
    display: inline-block;
    max-width: 100%
}

.u-floatLeft {
    float: left
}

.u-floatRight {
    float: right
}

.u-blockCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.u-posAbsolute {
    position: absolute
}

.u-posFixed {
    position: fixed
}

.u-posRelative {
    position: relative
}

.u-posStatic {
    position: static
}

.u-posAbsoluteCenter {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0
}

.u-transCenter {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate3d(-50%, -50%, 0);
}

.u-transCenterV {
    position: absolute;
    top: 50%;

    transform: translate3d(0, -50%, 0);
}

.u-transCenterH {
    position: absolute;
    left: 50%;

    transform: translate3d(-50%, 0, 0);
}

.u-transFlipH {
    transform: scaleX(-1);
    /*@include filter(FlipH);*/
    // TODO: need alternative
}

.u-imgResponsive {
    display: block;
    max-width: 100%;
    height: auto
}

.u-fontSize16 {
    font-size: em(16);
}

.u-colorGray {
    color: #484848;
}

.u-font-size-0 {
    font-size: 0px;
}

.u-lh-1 {
    line-height: 1;
}

.u-lh-default {
    line-height: 1.2;
}

.u-justify {
    text-align: justify;
    line-height: 0;

    div[class^="u-justify"] {
        white-space: nowrap;
        text-align: left;
        display: inline-block;
        line-height: $line-height-base;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        vertical-align: top;
    }

    @media (max-width: 320px) {
        text-align: center;
    }
}

.u-borderBlack {
    border-bottom: 2px solid $black;
}

.u-borderRightGray {
    border-right: 1px solid #b9b9b9;
}

.u-borderGrey {
    border: 2px solid #b9b9b9;
}

/* Scroll
------------------------------------
*/
.scrollable {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

/* Overides
------------------------------------
*/
.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.no-overflow {
    overflow: hidden;
}

.auto-overflow {
    overflow: auto;
}

.u-center-margin {
    margin-left: auto;
    margin-right: auto;
}

.inherit-size {
    width: inherit;
    height: inherit;
}

.inherit-height {
    height: inherit;
}

.image-responsive-height {
    width: 100%;
}

.image-responsive-width {
    height: 100%;
}

.u-overlayer {
    position: absolute;
    display: block;
    z-index: 21;
}

.u-overlayer.fullwidth {
    width: 100%;
}

.u-overlayer-wrapper {
    position: relative;
    display: block;
    z-index: 10;
}

.overlay-fixed {
    position: fixed;
    top: auto;
}

.u-top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.u-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.u-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.u-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.pull-bottom {
    position: absolute;
    bottom: 0;
}

.pull-up {
    position: absolute;
    top: 0;
}

.cursor {
    cursor: pointer;
}

.scroll-x-hidden {
    overflow-x: hidden;
}

/* Generic Padding Helpers
------------------------------------
*/
.p5 {
    padding-top: 5%;
    padding-bottom: 5%;
}

.p3 {
    padding-top: 3%;
    padding-bottom: 3%;
}

.p2 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.p1 {
    padding: 1% 0;
}

.p-t-5 {
    padding-top: 5px;
}

.p-r-5 {
    padding-right: 5px;
}

.p-l-5 {
    padding-left: 5px;
}

.p-b-5 {
    padding-bottom: 5px;
}

.padding-5 {
    padding: 5px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.padding-10 {
    padding: 10px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.padding-15 {
    padding: 15px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-l-20 {
    padding-left: 20px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.padding-20 {
    padding: 20px;
}

.p-t-25 {
    padding-top: 25px;
}

.p-r-25 {
    padding-right: 25px;
}

.p-l-25 {
    padding-left: 25px;
}

.p-b-25 {
    padding-bottom: 25px;
}

.padding-25 {
    padding: 25px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-r-30 {
    padding-right: 30px;
}

.p-l-30 {
    padding-left: 30px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.padding-30 {
    padding: 30px;
}

.p-t-35 {
    padding-top: 35px;
}

.p-r-35 {
    padding-right: 35px;
}

.p-l-35 {
    padding-left: 35px;
}

.p-b-35 {
    padding-bottom: 35px;
}

.padding-35 {
    padding: 35px;
}

.p-t-40 {
    padding-top: 40px;
}

.p-r-40 {
    padding-right: 40px;
}

.p-l-40 {
    padding-left: 40px;
}

.p-b-40 {
    padding-bottom: 40px;
}

.padding-40 {
    padding: 40px;
}

.p-t-45 {
    padding-top: 45px;
}

.p-r-45 {
    padding-right: 45px;
}

.p-l-45 {
    padding-left: 45px;
}

.p-b-45 {
    padding-bottom: 45px;
}

.padding-45 {
    padding: 45px;
}

.p-t-50 {
    padding-top: 50px;
}

.p-r-50 {
    padding-right: 50px;
}

.p-l-50 {
    padding-left: 50px;
}

.p-b-50 {
    padding-bottom: 50px;
}

.padding-50 {
    padding: 50px;
}

.p-t-55 {
    padding-top: 55px;
}

.p-r-55 {
    padding-right: 55px;
}

.p-l-55 {
    padding-left: 55px;
}

.p-b-55 {
    padding-bottom: 55px;
}

.padding-55 {
    padding: 55px;
}

.p-t-60 {
    padding-top: 60px;
}

.p-r-60 {
    padding-right: 60px;
}

.p-l-60 {
    padding-left: 60px;
}

.p-b-60 {
    padding-bottom: 60px;
}

.padding-60 {
    padding: 60px;
}

.p-t-65 {
    padding-top: 65px;
}

.p-r-65 {
    padding-right: 65px;
}

.p-l-65 {
    padding-left: 65px;
}

.p-b-65 {
    padding-bottom: 65px;
}

.padding-65 {
    padding: 65px;
}

.p-t-70 {
    padding-top: 70px;
}

.p-r-70 {
    padding-right: 70px;
}

.p-l-70 {
    padding-left: 70px;
}

.p-b-70 {
    padding-bottom: 70px;
}

.padding-70 {
    padding: 70px;
}

.p-t-75 {
    padding-top: 75px;
}

.p-r-75 {
    padding-right: 75px;
}

.p-l-75 {
    padding-left: 75px;
}

.p-b-75 {
    padding-bottom: 75px;
}

.padding-75 {
    padding: 75px;
}

.p-t-80 {
    padding-top: 80px;
}

.p-r-80 {
    padding-right: 80px;
}

.p-l-80 {
    padding-left: 80px;
}

.p-b-80 {
    padding-bottom: 80px;
}

.padding-80 {
    padding: 80px;
}

.p-t-85 {
    padding-top: 85px;
}

.p-r-85 {
    padding-right: 85px;
}

.p-l-85 {
    padding-left: 85px;
}

.p-b-85 {
    padding-bottom: 85px;
}

.padding-85 {
    padding: 85px;
}

.p-t-90 {
    padding-top: 90px;
}

.p-r-90 {
    padding-right: 90px;
}

.p-l-90 {
    padding-left: 90px;
}

.p-b-90 {
    padding-bottom: 90px;
}

.padding-90 {
    padding: 90px;
}

.p-t-95 {
    padding-top: 95px;
}

.p-r-95 {
    padding-right: 95px;
}

.p-l-95 {
    padding-left: 95px;
}

.p-b-95 {
    padding-bottom: 95px;
}

.padding-95 {
    padding: 95px;
}

.p-t-100 {
    padding-top: 100px;
}

.p-r-100 {
    padding-right: 100px;
}

.p-l-100 {
    padding-left: 100px;
}

.p-b-100 {
    padding-bottom: 100px;
}

.padding-100 {
    padding: 100px;
}

/* Generic Margin Helpers
------------------------------------
 */
.m-t-0 {
    margin-top: 0px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.m-b-0 {
    margin-bottom: 0px;
}

.m-t-5 {
    margin-top: 5px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-l-5 {
    margin-left: 5px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-r-25 {
    margin-right: 25px;
}

.m-l-25 {
    margin-left: 25px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-l-30 {
    margin-left: 30px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-t-35 {
    margin-top: 35px;
}

.m-r-35 {
    margin-right: 35px;
}

.m-l-35 {
    margin-left: 35px;
}

.m-b-35 {
    margin-bottom: 35px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-r-40 {
    margin-right: 40px;
}

.m-l-40 {
    margin-left: 40px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-t-45 {
    margin-top: 45px;
}

.m-r-45 {
    margin-right: 45px;
}

.m-l-45 {
    margin-left: 45px;
}

.m-b-45 {
    margin-bottom: 45px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-r-50 {
    margin-right: 50px;
}

.m-l-50 {
    margin-left: 50px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-t-55 {
    margin-top: 55px;
}

.m-r-55 {
    margin-right: 55px;
}

.m-l-55 {
    margin-left: 55px;
}

.m-b-55 {
    margin-bottom: 55px;
}

.m-t-60 {
    margin-top: 60px;
}

.m-r-60 {
    margin-right: 60px;
}

.m-l-60 {
    margin-left: 60px;
}

.m-b-60 {
    margin-bottom: 60px;
}

.m-t-65 {
    margin-top: 65px;
}

.m-r-65 {
    margin-right: 65px;
}

.m-l-65 {
    margin-left: 65px;
}

.m-b-65 {
    margin-bottom: 65px;
}

.m-t-70 {
    margin-top: 70px;
}

.m-r-70 {
    margin-right: 70px;
}

.m-l-70 {
    margin-left: 70px;
}

.m-b-70 {
    margin-bottom: 70px;
}

.m-t-75 {
    margin-top: 75px;
}

.m-r-75 {
    margin-right: 75px;
}

.m-l-75 {
    margin-left: 75px;
}

.m-b-75 {
    margin-bottom: 75px;
}

.m-t-80 {
    margin-top: 80px;
}

.m-r-80 {
    margin-right: 80px;
}

.m-l-80 {
    margin-left: 80px;
}

.m-b-80 {
    margin-bottom: 80px;
}

.m-t-85 {
    margin-top: 85px;
}

.m-r-85 {
    margin-right: 85px;
}

.m-l-85 {
    margin-left: 85px;
}

.m-b-85 {
    margin-bottom: 85px;
}

.m-t-90 {
    margin-top: 90px;
}

.m-r-90 {
    margin-right: 90px;
}

.m-l-90 {
    margin-left: 90px;
}

.m-b-90 {
    margin-bottom: 90px;
}

.m-t-95 {
    margin-top: 95px;
}

.m-r-95 {
    margin-right: 95px;
}

.m-l-95 {
    margin-left: 95px;
}

.m-b-95 {
    margin-bottom: 95px;
}

.m-t-100 {
    margin-top: 100px;
}

.m-r-100 {
    margin-right: 100px;
}

.m-l-100 {
    margin-left: 100px;
}

.m-b-100 {
    margin-bottom: 100px;
}

.full-height {
    height: 100%;
}

.u-full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.u-full-width {
    width: 100%;
}

.hide {
    display: none;
}

.inline {
    display: inline-block;
}

.block {
    display: block;
}

/* Border Helpers
------------------------------------
*/
.b-a,
.b-r,
.b-l,
.b-t,
.b-b {
    border-style: solid;
    border-width: 0;
    border-color: transparent;
}

.b-r {
    border-right-width: 1px;
}

.b-l {
    border-left-width: 1px;
}

.b-t {
    border-top-width: 1px;
}

.b-b {
    border-bottom-width: 1px;
}

.b-a {
    border-width: 1px;
}

.b-dashed {
    border-style: dashed;
}

.b-thick {
    border-width: 2px;
}

.b-black {
    border-color: #000;
}

.b-grey {
    border-color: $color-grey;
}

.b-white {
    border-color: $white;
}

.b-white-opacity {
    border-color: rgba($white, 0.2);;
}

.b-white-opacity-06 {
    border-color: rgba($white, 0.6);;
}

/* Border Radius
------------------------------------
*/
.b-rad-xs {
    border-radius: 2px;
}

.b-rad-sm {
    border-radius: 3px;
}

.b-rad-md {
    border-radius: 5px;
}

.b-rad-lg {
    border-radius: 7px;
}

.no-border {
    border: none;
}

/** Profile Wrappers **/
.profile-img-wrapper {
    float: left;
    border-radius: 100px 100px 100px 100px;
    display: inline-block;
    height: 35px;
    overflow: hidden;
    width: 35px;
    flex: 1;
}

.profile-img-wrapper.big {
    height: 68px;
    width: 68px;
}

.profile-img-wrapper.with-left-space-custom {
    margin-left: 7px;
}

.relative {
    position: relative;
}

/* Demo Purposes */

.error-number {
    font-family: 'Montserrat';
    font-size: 90px;
    line-height: 90px;
}

.error-container-innner {
    margin-left: auto;
    margin-right: auto;
    width: 360px;
}

.error-container {
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
}

.visible-xlg {
    display: none;
}

.hidden-xlg {
    display: block;
}

.sm-gutter .row > [class^="col-"],
.sm-gutter .row > [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.sm-gutter .row {
    margin-left: -5px;
    margin-right: -5px;
}

.v-align-bottom {
    vertical-align: bottom;
}

.v-align-top {
    vertical-align: top;
}

.v-align-sub {
    vertical-align: sub;
}

.v-align-middle {
    vertical-align: middle;
}

/* vertical alignment styles */
.col-top {
    vertical-align: top;
}

.col-middle {
    vertical-align: middle;
}

.col-bottom {
    vertical-align: bottom;
}

/* columns of same height styles
------------------------------------
*/
.u-container-xs-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

/*------------------------------------------------------------------
[29. Print]
*/
@media print {
    .header,
    .m-sidebar,
    .quickview-wrapper,
    .overlay {
        display: none;
    }
    .page-container {
        padding-left: 0;
    }
    .page-content-wrapper .content {
        border-top: 0;
    }
    .page-content-wrapper .content .panel {
        border: none;
    }
    .page-content-wrapper .content .panel .panel-body {
        padding: 0;
    }
    [class^='padding-'],
    [class*='padding-'],
    .table tbody tr td {
        padding: 10px;
    }
}

.u-img-rounded {
    //@include border-radius(50%);
}

.u-shadow-black {
    //@include box-shadow(inset 0px -135px 40px -105px rgba(0,0,0,0.7));
}

/* Gradients
------------------------------------
*/

.u-gradient-black {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 85%);
}

.u-z-1 {
    z-index: 1;
}

.u-z-2 {
    z-index: 2;
}

.u-z-3 {
    z-index: 3;
}

.u-z-4 {
    z-index: 5;
}

.u-z-5 {
    z-index: 5;
}

.u-z-6 {
    z-index: 6;
}

.u-z-7 {
    z-index: 7;
}

.u-z-8 {
    z-index: 8;
}

.u-z-9 {
    z-index: 9;
}

.u-transition-04 {
    transition: all 0.4s;
}

.u-link-hover {
    @extend .b-b, .u-transition-04;

    &:hover {
        @extend .b-b, .b-white-opacity-06;
    }
}

.u-link-hover--default {
    @extend .b-b, .u-transition-04;

    border-bottom-color: $color-default;
    color: $color-default;

    &:hover {
        @extend .b-b;

        border-color: rgba($color-default, 0.5);
        color: $color-default;
    }
}

.u-optimizePhoto {
    width: 100%;
    height: auto;

    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.u-flex-center {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
}
