$black: #000000;
$white: #ffffff;
$color-dark: #181818;
$color-dark-opacity: rgba($color-dark, 0.7);

$color-default: #3c76bf;
//$color-default: #ff224d;
$color-dark-default: #48729e;

$gradient-default: linear-gradient(45deg, lighten($color-default, 20%) 0%, $color-default 100%);


$color-grey: #eaeaea;
$color-dark-grey: #757575;
$color-dark-default: #9c9da2;
$color-red: #f44336;

$color-line: rgba(114, 212, 216, 0.5);
$color-border-base: rgba($color-dark, 0.1);
$color-overlay: rgba(24, 24, 24, 0.25);
$color-grey-focus: #dcdcdc;

$color-button-dark: #2c3035;


$color-default-social: $color-default;
$color-face-hover: rgba(68, 97, 157, 0.9);
$color-face: #366593;

$color-in: #007bb6;
$color-in-hover: rgba(#007bb6, 0.9);
$color-vk: #55779b;
$color-instagram: #964b00;
$color-instagram-hover: rgba($color-instagram, 0.9);

$color-tube-hover: rgba(182, 32, 37, 0.8);
$color-tube: rgb(182, 32, 37);

$color-pin-hover: rgba(195, 12, 43, 0.8);
$color-pin: rgb(195, 12, 43);

$color-google-hover: rgba(220, 71, 58, 0.8);
$color-google: rgb(220, 71, 58);

$color-linkedin-hover: rgba(#007bb6, 0.9);
$color-linkedin: #007bb6;


//bootstrap config
$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee

$brand-primary: darken(#428bca, 6.5%) !default; // #337ab7
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg: #fff !default;
//** Global text color on `<body>`.
$text-color: $gray-dark !default;

//** Global textual link color.
$link-color: $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;



//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs: 480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min: $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              24 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default

$line-height-base: 1.38;
//custom config
$em-base: 16px !default;
