@media (min-width: 768px) {
    .discounts-container.flex {
        margin: 0 -8px;
        display: flex;

        .discount-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 8px;

            .input-group-half input[type="text"] {
                max-width: 70px;
            }
        }
    }
}
.discount-item .checkbox {
    line-height: 22px;
    font-size: 1.1rem;
}
.discount-item label,
.discount-item .form-group {
    margin-bottom: 0;
}
.discounts-container {
    .currency-list {
        margin: 20px 0 10px;
    }
}

.discount-store-block {
    min-width: 140px;

    @media (max-width: 767px) {
    padding-right: 5px;
    }
}