.modal.in {
    display: block;
    animation: dialog-visible 1s;

    @keyframes dialog-visible {
        from {
            opacity: 0;
            visibility: hidden;
        }
        to {
            opacity: 1;
            visibility: visible;
        }
    }
}
.modal.fade .ngdialog-content {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
.modal.in .ngdialog-content {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.ngdialog-content {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 768px) {
    .ngdialog-content {
        width: 300px;
        margin: 10% auto;
    }
}
.modal.ngdialog-closing {
    animation: dialog-hide 1s;

    @keyframes dialog-hide {
        from {
            opacity: 1;
            visibility: visible;
        }
        to {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.ngdialog.notify-width .ngdialog-content {
    width: 400px;
}

@media (min-width:768px) {
    .ngdialog-content {
        width: 600px;
        margin: 10% auto;
    }
}

@media (max-width:767px) {
    .ngdialog-content {
        max-width: 600px;
        margin: 10% auto;
    }
}

.modal-content {
    padding: 0 10px;
}