.ui-notification {
    position: fixed;
    z-index: 9999;
    animation: slide 1s ease-out;
    opacity: 1;
    transition: opacity 1s;

    &.killed {
        opacity: 0;
    }

    @keyframes slide {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 20px;
            opacity: 1;
        }
    }
}
.callout {min-width: 250px; color: #fff;}
.callout.success {background-color: #00a65a !important; border-color: #00733e}
.callout.warning {background-color: #f39c12 !important; border-color: #c87f0a}
.callout.danger {background-color: #dd4b39 !important; border-color: #c23321}