@media (max-width: 767px) {
    orders-padding {
        padding: 10px 15px;
    }
}

.filter-block {
    margin-bottom: 10px;
}

.print-products-block {
    margin-top: 25px;
}

.delivery-block {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.delivery-method {
    font-weight: bold;
    margin-right: 10px;
}

.cancel-delivery-button {
    padding: 1px 5px;
}

.declaration-label {
    line-height: 24px;
    float: left;
    margin-right: 10px;
    font-weight: bold;
}

.declaration-input {
    padding-left: 2px !important;
    float: left !important;
    width: 120px !important;
    padding-right: 2px !important;
    height: 24px !important;
    line-height: 1 !important;
}

.take-money {
    padding-top: 10px;
}

.angucomplete-description {
    font-size: 12px;
    color: #777;
}

#product_search {
    .angucomplete-description {
        padding-left: 50px;

        &:before {
            content:'арт: ';
        }
    }
}

.angucomplete-title {
    font-weight: bold;
}

#default_category, #category_builder {
    .angucomplete-title {
        font-weight: normal;
    }
}

.angucomplete-selected-row {
    color: #000000;
}

#city, #department {
    .angucomplete-title {
        font-weight: normal;
    }
}

.nowrap {
    white-space: nowrap;
}

.add-product-modal {
    @media (min-width: 1024px) {
        width: 600px;
    }
}