.sizes-container {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.size-item {
    &:not(:first-child) {
        padding-top: 20px;
        border-top: 1px solid #eee;
    }
    .table td {
        padding: 3px 5px;
        line-height: 1;
        font-size: 1.2rem;
    }
    .form-control {
        border-color: #eee;
    }
    .form-control[disabled] {
        background-color: #f0f0f0;
    }
}
@media (min-width: 768px) {
    .size-item-total {
        margin-bottom: 20px;
        line-height: 1;
    }
}
.brand-sizes {
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #f3f3f3;
    border-radius: 3px;
    height: 100%;
}
.brand-size {
    height: 2.4em;
    line-height: 2.4em;
    padding-left: 10px;
}

.group-size-columns {
    display: flex;
    flex-flow: row wrap;
}
.group-size-block {
    margin-bottom: 10px;
}

.view-sizes {
    padding: 5px 10px;
}

.bg-light-grey {
    background: #f0f0f0;
}