.nav-tabs-custom {
    .nav-tabs {
        li.has-error {
            // TODO: need to remove
            /*border-top: 3px solid #dd4b39;*/
            a {
                color: #dd4b39;
            }
        }
    }
}