.thumbnail-container {
    position: relative;
    border: 1px solid #f7f7f7;
    border-radius: 3px;
    max-width: 300px;

    &:hover {
        .thumbnail-overlay {
            opacity: 1;
            border-radius: 3px;
        }
    }

    .img-thumbnail {
        border: none;
    }

    input[type="file"] {
        display: none;
    }
}
.thumbnail-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity .5s;
}
.thumbnail-actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.thumbnail-brand {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
}

.thumbnail-title {
    display: block;
    min-height: 40px;
    text-align: center;
}