<form name="form" novalidate>
    <div class="row">
        <div class="col-sm-12 col-dynamic">

            <div class="box box-primary">
                <div class="box-body">

                    <button type="button"
                            class="btn btn-success btn-sm"
                            ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                            ng-click="ctrl.ui.addSize()"
                            translate="tables.button.create_type"></button>

                    <button type="button"
                            class="btn btn-success btn-sm"
                            ng-click="ctrl.ui.addValues()"
                            ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                            ng-disabled="!ctrl.item.sizes.length"
                            translate="tables.button.create_size"></button>

                    <div class="table-responsive table-condensed" style="margin-top: 10px">
                        <div style="float: left;">
                            <table class="table table-hover table-middle" ng-show="ctrl.item.sizes.length">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Тип</td>
                                    <td ng-repeat="i in ctrl.item.values[0] track by $index" style="height: 47px; text-align: center;">
                                        <button type="button"
                                                class="btn btn-danger btn-sm"
                                                ng-click="ctrl.ui.delCols($index)"
                                                ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                                                ng-if="ctrl.item.values[0].length >= 1">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>

                                <tr ng-repeat="value in ctrl.item.values" ng-init="valIbdex=$index">
                                    <!-- Remove button -->
                                    <td class="form-group">
                                        <button type="button"
                                                class="btn btn-danger btn-sm"
                                                ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                                                ng-if="$index > 0"
                                                ng-click="ctrl.ui.delRows($index)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>

                                    <!-- Set default size -->
                                    <td class="form-group input-sm">
                                        <div style="margin-top: 3px;">
                                            <label>
                                                <input type="radio"
                                                       name="is_default"
                                                       title="{{ 'tables.attribute.title.default'|translate }}"
                                                       ng-value="$index"
                                                       ng-model="ctrl.item.sizes.is_default"
                                                       ng-checked="size.is_default == true" icheck/>
                                            </label>
                                        </div>
                                    </td>

                                    <td class="form-group" ng-class="{ 'has-error': form[$index+'.title'].$error.required && ctrl.submit }">
                                        <input type="text"
                                               style="width: 80px;"
                                               class="form-control input-sm"
                                               name="{{ $index }}.title"
                                               title="{{ 'tables.attribute.title.type'|translate }}"
                                               ng-model="ctrl.item.sizes[$index].title"
                                               required/>
                                    </td>

                                    <td class="form-group" ng-class="{ 'has-error': !value[$index].value && ctrl.submit }" ng-repeat="i in value track by $index">
                                        <input type="text"
                                               class="form-control input-sm"
                                               name="{{ $index }}.value"
                                               title="{{ 'tables.attribute.title.size' | translate }}"
                                               ng-model="value[$index].value"
                                               size="5"
                                               style="width: auto"
                                               required/>
                                    </td>
                                </tr>
                            </table>
                        </div>


                    </div><!-- /.table-responsive -->

                </div><!-- /.box-body -->
            </div><!-- /.box -->

        </div><!-- /.col -->

        <div class="col-sm-12 main-sidebar-right">
            <div class="box box-primary">
                <div class="box-body">

                    <!-- Name -->
                    <div class="form-group" ng-class="{ 'has-error': (form['name'].$error.required && ctrl.submit) || form.name.errors }">
                        <label>{{ 'tables.attribute.label.name'|translate }} <span class="text-danger">*</span></label>
                        <input type="text"
                               class="form-control input-sm"
                               name="name"
                               title="{{ 'tables.attribute.title.name'|translate }}"
                               ng-model="ctrl.item.name" required/>
                        <span class="text-danger" ng-if="form.name.errors" ng-bind="form.name.errors[0]"></span>
                    </div><!-- /.form-group -->

                    <!-- Type -->
                    <div class="form-group" ng-class="{ 'has-error': ctrl.generalErrors['type'] }">
                        <label>
                            <span translate="brands.attribute.label.type"></span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="selectbox">
                            <select class="form-control"
                                    name="type"
                                    ng-model="ctrl.item.type"
                                    ng-options="opt.key as opt.value for opt in ctrl.types">
                                <option value="">- {{ 'general.select' | translate }} -</option>
                            </select>
                        </div>
                        <span class="text-danger"
                              ng-bind="ctrl.generalErrors['type'][0]"
                              ng-if="ctrl.generalErrors['type']"></span>
                    </div><!-- /.form-group -->

                    <!-- Brand -->
                    <div class="form-group" ng-class="{ 'has-error': ctrl.generalErrors['brand_id'] }">
                        <label>
                            <span translate="brands.attribute.label.brand"></span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="selectbox">
                            <select class="form-control"
                                    name="brand_id"
                                    ng-model="ctrl.item.brand_id"
                                    ng-options="opt.id as opt.name for opt in ctrl.brands">
                                <option value="">- {{ 'general.select' | translate }} -</option>
                            </select>
                        </div>
                        <span class="text-danger"
                              ng-bind="ctrl.generalErrors['brand_id'][0]"
                              ng-if="ctrl.generalErrors['brand_id']"></span>
                    </div><!-- /.form-group -->
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit"
                            class="btn btn-primary btn-sm"
                            ng-click="ctrl.save()"
                            ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                            ng-disabled="form.$invalid"
                            translate="general.save"></button>
                </div>
            </div><!-- /.box -->
        </div><!-- /.main-sidebar-right -->

    </div><!-- /.row -->
</form>