<div class="box box-primary">
    <div class="box-header">
        <a
            class="btn btn-sm btn-primary"
            ui-sref="tables.create"
            translate="general.create"
            ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
        ></a>
    </div>

    <div class="box-body">
            <div class="row group-size-columns">

                <div class="col-md-6 col-sm-6 col-xs-12 group-size-block" ng-repeat="brand in $root.globalSizes">
                    <div class="brand-sizes">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="thumbnail-brand" ng-src="{{ brand.thumbnail.url || '/assets/images/dashboard/no-image.png' }}"/>
                            </div>
                            <div class="col-md-9">
                                <div class="row brand-size" ng-repeat="item in brand.size_groups">
                                    <div class="col-md-7 col-xs-7">
                                        <span ng-bind="item.name"></span>
                                    </div>
                                    <div class="col-md-5 col-xs-5">
                                        <a class="btn btn-sm btn-default"
                                           ui-sref="tables.edit({ id: item.id })"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           tooltip="{{ $root.currentUser.user.role_name == 'limited_manager' ? 'general.view' : 'general.edit' | translate }}">

                                            <span  ng-show="$root.currentUser.user.role_name == 'limited_manager'">
                                                <i class="fa fa-eye"></i>
                                            </span>

                                            <span  ng-show="$root.currentUser.user.role_name != 'limited_manager'">
                                                <i class="fa fa-pencil"></i>
                                            </span>
                                        </a>
                                        <a class="btn btn-sm btn-danger"
                                           ng-click="ctrl.remove(item)"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                                           tooltip="{{ 'general.remove' | translate }}">
                                            <i class="fa fa-trash-o"></i></a>
                                    </div>
                                </div><!-- /.row -->

                                <div class="row" ng-if="!brand.size_groups.length">
                                    <div class="col-sm-12" translate="general.no_items"></div>
                                </div><!-- /.row -->
                            </div><!-- /.info-box -->
                        </div><!-- /.row -->
                    </div><!-- /.brand-sizes -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->

            <div class="row" ng-if="!ctrl.list.length">
                <div class="col-sm-12" translate="general.no_items"></div>
            </div><!-- /.row -->
        </div><!-- /.box-body -->
</div><!-- /.box -->