<template lang="pug">
    div(class="u-flex u-flex-center social")
        div(class="social-label") Поділитися у соцмережах:

        social-sharing(
            :title="title"
            :description="description"
            hashtags=""
            inline-template
        )
            div
                network(class="m-social__item" network="facebook")
                    i(class="fa fa-facebook")

                network(class="m-social__item" network="skype")
                    i(class="fa fa-skype")

                network(class="m-social__item" network="telegram")
                    i(class="fa fa-telegram")
</template>

<script>
    import SocialSharing from 'vue-social-sharing';

    export default {
        components: {
            SocialSharing
        },
        props: {
            title: String,
            description: String
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";
    @import "../../../assets/scss/utilities/u-tools";

    .social {
        width: 100%;
        margin-top: 25px;
    }

    .social-label {
        margin-right: 10px;
    }

    @media screen and (max-width: $screen-sm-max) {
        .social {
            margin-top: 10px;
            flex-direction: column;
        }

        .social-label {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
</style>