<!-- Name -->
<div class="row">
    <div class="col-md-8">
        <div class="form-group" ng-class="{ 'has-error': generalErrors['group_attribute'] }">
            <label translate="products.attribute.label.attributes"></label>
            <div class="selectbox">
                <select class="form-control"
                        name="group_attribute"
                        ng-model="item.attributes.group.id"
                        ng-options="opt.id as opt.name for opt in attributes"
                        ng-change="showAttributes()">
                    <option value="">- {{ 'general.select' | translate }} -</option>
                </select>
            </div>
            <span class="text-danger"
                  ng-bind="generalErrors['attribute'][0]"
                  ng-if="generalErrors['attribute']"></span>
        </div><!-- /.form-group -->
    </div><!-- /.col -->
</div><!-- /.row -->

<!-- Attributes -->
<div class="row">
    <div class="col-md-8">
        <div class="form-group" ng-class="{ 'has-error': generalErrors['attributes.'+ $index +'.value'] }"
             ng-repeat="elem in item.attributes.items track by $index">
            <h4>{{ elem.name }}</h4>

            <div class="form-group" ng-repeat="prop in elem.values track by $index">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               id="{{ prop.id }}"
                               name="{{ prop.id }}"
                               title=""
                               value="{{ prop.id }}"
                               ng-checked="prop.value_id"
                               ng-model="prop.value_id"
                               icheck/>
                        {{ prop.value }}
                    </label>
                </div><!-- /.checkbox -->
            </div>

            <span class="text-danger" ng-bind="generalErrors['attributes.'+ $index +'.value'][0]" ng-if="generalErrors['attributes.'+ $index +'.value']"></span>
        </div><!-- /.form-group -->
    </div>
</div>