<!-- Builder types -->
<div class="form-group" ng-class="{ 'has-error': generalErrors['uniform.type'] }">
    <label>
        {{ 'products.attribute.label.type' | translate }}
        <span ng-if="item.uniform.is_visible" class="text-danger">*</span>
    </label>
    <div class="selectbox">
        <select class="form-control input-sm"
                name="uniform.type"
                ng-options="opt.key as opt.value | translate for opt in builder_types"
                ng-model="item.uniform.type">
            <option value="">- {{ 'general.select' | translate }} -</option>
        </select>
    </div>
    <span class="text-danger"
          ng-bind="generalErrors['uniform.type'][0]"
          ng-if="generalErrors['uniform.type']"></span>
</div><!-- /.form-group -->

<!-- Builder positions -->
<div class="form-group" ng-class="{ 'has-error': generalErrors['uniform.position'] }">
    <label>
        {{ 'products.attribute.label.position' | translate }}
        <span ng-if="item.uniform.is_visible" class="text-danger">*</span>
    </label>
    <div class="selectbox">
        <select class="form-control input-sm"
                name="uniform.position"
                ng-options="opt.key as opt.value | translate for opt in builder_positions"
                ng-model="item.uniform.position">
            <option value="">- {{ 'general.select' | translate }} -</option>
        </select>
    </div>
    <span class="text-danger"
          ng-bind="generalErrors['uniform.position'][0]"
          ng-if="generalErrors['uniform.position']"></span>
</div><!-- /.form-group -->

<!-- Category -->
<!-- Main category -->
<div class="form-group" ng-class="{ 'has-error': generalErrors['uniform.category_id'] }">
    <label for="category_builder">{{ 'products.attribute.label.category' | translate }}
<span ng-if="item.uniform.is_visible" class="text-danger">*</span></label>

    <angucomplete-alt id="category_builder"
                      placeholder="{{ 'products.general.select_categories' | translate }}"
                      pause="100"
                      selected-object="selectCategoryForBuilderChanged"
                      ng-model="item.uniform.category_id"
                      initial-value="item.uniform.category.name"
                      local-data="options_categories"
                      search-fields="depth_name"
                      title-field="depth_name"
                      minlength="0"
                      name="uniform.category_id"
                      input-class="form-control form-control-small"
                      focus-in="focusInBuilder()"
                      focus-out="focusOut()"/>

    <span class="text-danger"
          ng-bind="generalErrors['uniform.category_id'][0]"
          ng-if="generalErrors['uniform.category_id']"></span>
</div>

<!-- Model -->
<div class="form-group" ng-class="{ 'has-error': generalErrors['uniform.model'] }">
    <label for="model">{{ 'products.attribute.label.model' | translate }}
        <span ng-if="item.uniform.is_visible" class="text-danger">*</span></label>
    <input type="text"
           id="model"
           class="form-control input-sm"
           name="uniform.model"
           title="{{ 'products.attribute.title.model' | translate }}"
           ng-model="item.uniform.model"/>
    <span class="text-danger"
          ng-bind="generalErrors['uniform.model'][0]"
          ng-if="generalErrors['uniform.model']"></span>
</div><!-- /.form-group -->

<!-- Show in constructor-->
<div class="form-group">
    <div class="checkbox">
        <label for="show_in_constructor" title="show in constructor">
            <input type="checkbox"
                   id="show_in_constructor"
                   name="uniform.is_visible"
                   title=""
                   ng-true-value="true"
                   ng-false-value="false"
                   ng-model="item.uniform.is_visible"
                   icheck/>
            {{ 'products.attribute.label.show_in_constructor' | translate }}
        </label>
    </div><!-- /.checkbox -->
</div><!-- /.form-group -->