<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li ng-class="{ 'active': stores[0].id == store.id }" ng-repeat="store in stores">
            <a href="#store-tab-{{ store.id }}"
               data-toggle="tab">{{ store.name | characters:14:true }}</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade" id="store-tab-{{ store.id }}" ng-class="{ 'active in': stores[0].id == store.id }" ng-repeat="store in stores">
            <div class="discounts-container">
                <div class="currency-list clearfix">
                    <!-- Currencies -->
                    <div class="pull-left">
                        <div class="form-group row" ng-class="{ 'has-error': pricesErrors['prices.{{ $parent.$index }}.currency_id'] }">
                            <div class="radio-inline" ng-repeat="currency in currencies">
                                <label>
                                    <input type="radio"
                                           title="{{:: currency.name }}"
                                           name="'prices.{{ $parent.$index }}.currency_id'"
                                           ng-value="currency.id"
                                           ng-checked="stores_items[$parent.$index].currency_id == currency.id"
                                           ng-model="stores_items[$parent.$index].currency_id"
                                           icheck/>
                                    {{:: currency.name }}
                                </label>
                            </div>
                            <span class="text-danger"
                                  ng-bind="pricesErrors['prices.'+ $parent.$index +'.currency_id'][0]"
                                  ng-if="pricesErrors['prices.'+ $parent.$index +'.currency_id']"></span>
                        </div><!-- /.form-group -->
                    </div><!-- /.pull-left -->

                    <div class="pull-right" ng-if="stores_items[$index].max_price">
                        <button class="btn btn-sm btn-warning"
                                ng-click="copyToOtherStores($index)"
                                translate="products.button.copy_prices_in_stores"></button>
                    </div>
                </div><!-- /.clearfix -->

                <div class="row">
                    <div class="col-xs-12 col-sm-4 ">
                        <!-- Price -->
                        <div class="form-group" ng-class="{ 'has-error': pricesErrors['prices.0.price'] }">
                            <label for="first_price" translate="products.attribute.label.first_price"></label>
                            <div class="input-group">
                                <input type="text"
                                       id="first_price"
                                       class="form-control input-sm"
                                       title="{{ 'products.attribute.title.first_price' | translate }}"
                                       name="'prices.{{ $index }}.price'"
                                       maxlength="8"
                                       ng-model="stores_items[$index].price"
                                       disabled/>
                                <span class="input-group-addon">
                                    <currency-icon item="stores_items[$index].currency_id"></currency-icon>
                                </span>
                            </div><!-- /.input-group -->
                            <span class="text-danger"
                                  ng-bind="pricesErrors['prices.0.price'][0]"
                                  ng-if="pricesErrors['prices.0.price']"></span>
                        </div><!-- /.form-group -->
                    </div><!-- /.col -->

                    <div class="col-xs-12 col-sm-4">
                        <!-- Sale -->
                        <div class="form-group" ng-class="{ 'has-error': stores_items[$index].sale < 0 }">
                            <label for="sale" translate="products.attribute.label.sale"></label>
                            <div class="input-group">
                                <input type="text"
                                       id="sale"
                                       class="form-control input-sm"
                                       title="{{ 'products.attribute.title.sale' | translate }}"
                                       name="sale"
                                       maxlength="6"
                                       ng-model="stores_items[$index].sale"
                                       ng-blur="stores_items[$index].sale=+stores_items[$index].sale;"
                                       ng-change="changeSale($index)"/>
                                <span class="input-group-addon">%</span>
                            </div><!-- /.input-group -->
                        </div><!-- /.form-group -->
                    </div><!-- /.col -->

                    <!-- Max price -->
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error': pricesErrors['prices.0.max_price'] }">
                            <label for="last_price">{{ 'products.attribute.label.last_price' | translate }}</label>
                            <div class="input-group">
                                <input type="text"
                                       id="last_price"
                                       class="form-control input-sm"
                                       title="{{ 'products.attribute.title.last_price' | translate }}"
                                       name="'prices.{{ $index }}.max_price'"
                                       maxlength="8"
                                       ng-model="stores_items[$index].max_price"
                                       ng-blur="stores_items[$index].max_price=+stores_items[$index].max_price"
                                       ng-change="changeLastPrice($index)"/>
                                <span class="input-group-addon">
                                <currency-icon
                                        item="stores_items[$index].currency_id"></currency-icon>
                            </span>
                            </div><!-- /.input-group -->
                            <span class="text-danger" ng-bind="pricesErrors['prices.0.max_price'][0]" ng-if="pricesErrors['prices.0.max_price']"></span>
                        </div><!-- /.form-group -->
                    </div><!-- /.col -->
                </div><!-- /.row -->

                <div class="row" ng-show="item.type == 'sale'">
                    <!-- Sale percentages -->
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error': generalErrors['stores.'+$index+'.sale_discount'] }">
                            <label for="sale_discount" class="control-label">{{ 'products.attribute.label.sale_discount' | translate }}</label>
                            <div class="input-group">
                                <input type="text"
                                       id="sale_discount"
                                       class="form-control input-sm"
                                       title="{{ 'products.attribute.label.sale_discount' | translate }}"
                                       name="stores.{{$index}}.sale_discount"
                                       maxlength="5"
                                       ng-model="stores_items[$index].sale_discount"
                                       ng-change="changeTotalSale($index)"/>
                                <span class="input-group-addon">%</span>
                            </div><!-- /.input-group -->
                        </div><!-- /.form-group -->
                    </div><!-- /.col -->

                    <!-- Sale price -->
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group" ng-class="{ 'has-warning': generalErrors['stores.'+$index+'.sale_price'] || stores_items[$index].sale_price < (tempPrice[$parent.$index] || stores_items[$index].price) }">
                            <label class="control-label">{{ 'products.attribute.title.last_price' | translate }}</label>
                            <div class="input-group">
                                <input type="text"
                                       class="form-control input-sm"
                                       title="{{ 'products.attribute.title.last_price' | translate }}"
                                       name="stores.{{$index}}.sale_price"
                                       maxlength="8"
                                       ng-model="stores_items[$index].sale_price"
                                       ng-change="changeTotalPrice($index)"/>
                                <span class="input-group-addon">
                                <currency-icon
                                        item="stores_items[$index].currency_id"></currency-icon>
                            </span>
                            </div><!-- /.input-group -->
                        </div><!-- /.form-group -->
                    </div><!-- /.col -->
                </div><!-- /.row -->


                <div class="row" ng-show="item.type == 'max_sale'">

                    <!-- Max sale percentages -->
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error': generalErrors['stores.'+$index+'.max_sale_discount'] || stores_items[$index].max_sale < 0 }">
                            <label for="max_sale" class="control-label">{{ 'products.attribute.label.max_sale_discount' | translate }}</label>
                            <div class="input-group">
                                <input type="text"
                                       id="max_sale"
                                       class="form-control input-sm"
                                       title="{{ 'products.attribute.label.max_sale_discount' | translate }}"
                                       name="stores.{{$index}}.max_sale_discount"
                                       maxlength="5"
                                       ng-model="stores_items[$index].max_sale"
                                       ng-change="changeMaxSale($index)"/>
                                <span class="input-group-addon">%</span>
                            </div><!-- /.input-group -->
                        </div><!-- /.form-group -->
                    </div><!-- /.col -->

                    <!-- Max sale price -->
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group" ng-class="{ 'has-warning': generalErrors['stores.'+$index+'.max_sale_price'] || stores_items[$index].max_sale_price < (tempPrice[$parent.$index] || stores_items[$index].price) }">
                            <label for="max_price" class="control-label">{{ 'products.attribute.title.last_price' | translate }}</label>
                            <div class="input-group">
                                <input type="text"
                                       id="max_price"
                                       class="form-control input-sm"
                                       title="{{ 'products.attribute.title.last_price' | translate }}"
                                       name="stores.{{$index}}.max_sale_price"
                                       maxlength="8"
                                       ng-model="stores_items[$index].max_sale_price"
                                       ng-change="changeMaxPrice($index)"/>
                                <span class="input-group-addon">
                                    <currency-icon
                                            item="stores_items[$index].currency_id"></currency-icon>
                                </span>
                            </div><!-- /.input-group -->
                        </div><!-- /.form-group -->
                    </div><!-- /.col -->
                </div><!-- /.row -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-middle" ng-show="item.type != 'max_sale'">
                                <thead>
                                    <tr>
                                        <th translate="products.attribute.label.discount"
                                            style="min-width: 80px"></th>
                                        <th translate="products.attribute.label.discount_personal"
                                            ng-show="(item.type == 'novelty' || item.type == 'top_sale' || item.type == 'sale')"
                                            style="min-width: 100px"></th>
                                        <th translate="products.attribute.label.last_price"
                                            ng-show="(item.type == 'novelty' || item.type == 'top_sale' || item.type == 'sale')"
                                            style="min-width: 100px"></th>
                                        <th translate="products.attribute.label.discount_sale"
                                            ng-show="item.type == 'sale'"
                                            style="min-width: 80px"></th>
                                        <th translate="products.attribute.label.last_price"
                                            ng-show="item.type == 'sale'"
                                            style="min-width: 100px"></th>
                                        <th translate="products.attribute.label.actual_price"
                                            style="min-width: 100px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="prop in sale_discounts">
                                    <td class="col-sm-1 text-bold">
                                        {{:: prop.title }}
                                        <span ng-if="prop.is_increase">(+)</span>
                                        <span ng-if="!prop.is_increase">(-)</span>
                                    </td>
                                    <td class="col-sm-2" ng-show="(item.type == 'novelty' || item.type == 'top_sale' || item.type == 'sale')">
                                        <div class="form-group" ng-class="{ 'has-error': stores_items[$parent.$index].personal_discounts[$index].value < 0 }">
                                            <div class="input-group">
                                                <input type="text"
                                                       id="{{ 'discount' + '_' + prop.title }}"
                                                       class="form-control input-sm"
                                                       title="{{ prop.title }}"
                                                       name="$index.value"
                                                       maxlength="5"
                                                       ng-model="stores_items[$parent.$index].personal_discounts[$index].value"
                                                       ng-blur="stores_items[$parent.$index].personal_discounts[$index].value=+stores_items[$parent.$index].personal_discounts[$index].value"
                                                       ng-change="changePersonalSale($parent.$index)"/>
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-2" ng-show="(item.type == 'novelty' || item.type == 'top_sale' || item.type == 'sale')">
                                        <div class="form-group" ng-class="{ 'has-warning': stores_items[$parent.$index].personal_discounts[$index].price < (tempPrice[$parent.$index] || stores_items[$index].price) }">
                                            <div class="input-group">
                                                <input type="text"
                                                       id="{{ prop.title.$index }}"
                                                       class="form-control input-sm"
                                                       title="{{ 'products.attribute.title.last_price' | translate }}"
                                                       name="$index.last_price"
                                                       maxlength="8"
                                                       ng-model="stores_items[$parent.$index].personal_discounts[$index].price"
                                                       ng-blur="stores_items[$parent.$index].personal_discounts[$index].price=+stores_items[$parent.$index].personal_discounts[$index].price"
                                                       ng-change="changePersonalPrice($parent.$index)"/>
                                                <span class="input-group-addon">
                                                    <currency-icon
                                                            item="stores_items[$parent.$index].currency_id"></currency-icon>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-2" ng-show="item.type == 'sale'">
                                        <div class="form-group" ng-class="{ 'has-error': stores_items[$parent.$index].sale_discounts[$index].value < 0 }">
                                            <div class="input-group">
                                                <input type="text"
                                                       id="{{ 'sale' + '_' + prop.title }}"
                                                       class="form-control input-sm"
                                                       title="{{:: prop.title }}"
                                                       name="$index.value"
                                                       maxlength="5"
                                                       ng-model="stores_items[$parent.$index].sale_discounts[$index].value"
                                                       ng-blur="stores_items[$parent.$index].sale_discounts[$index].value=+stores_items[$parent.$index].sale_discounts[$index].value"
                                                       ng-change="changeSalesSale($parent.$index)"/>
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-2" ng-show="item.type == 'sale'">
                                        <div class="form-group" ng-class="{ 'has-warning': stores_items[$parent.$index].sale_discounts[$index].sale_price < (tempPrice[$parent.$index] || stores_items[$index].price) }">
                                            <div class="input-group">
                                                <input type="text"
                                                       id="{{:: prop.title }}"
                                                       class="form-control input-sm"
                                                       title="{{ 'products.attribute.title.last_price' | translate }}"
                                                       name="$index.last_price"
                                                       maxlength="8"
                                                       ng-model="stores_items[$parent.$index].sale_discounts[$index].sale_price"
                                                       ng-blur="stores_items[$parent.$index].sale_discounts[$index].sale_price=+stores_items[$parent.$index].sale_discounts[$index].sale_price"
                                                       ng-change="changeSalesPrice($parent.$index)"/>
                                                <span class="input-group-addon">
                                                    <currency-icon item="stores_items[$parent.$index].currency_id"></currency-icon>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-3">
                                        <div class="form-group" ng-class="{ 'has-warning': showActualPrice($parent.$index, $index) < (tempPrice[$parent.$index] || stores_items[$index].max_price) }">
                                            <div class="input-group">
                                                <input type="text"
                                                       id="{{:: prop.title }}-{{ $index }}"
                                                       class="form-control input-sm"
                                                       name="$index.last_price"
                                                       maxlength="8"
                                                       value="{{ showActualPrice($parent.$index, $index) }}"
                                                       disabled/>
                                                <span class="input-group-addon">
                                                    <currency-icon item="stores_items[$parent.$index].currency_id"></currency-icon>
                                                </span>
                                            </div><!-- /.input-group -->
                                        </div><!-- /.form-group -->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- /.table-responsive -->
                    </div><!-- /.col-sm-10 -->
                </div><!-- /.row -->

            </div><!-- /.discounts-container -->

        </div><!-- /.tab-pane -->
    </div><!-- /.tab-content -->
</div><!-- /.nav-tabs-custom -->