<button type="button"
        class="btn btn-success btn-sm"
        ng-click="uploadGalleryImage()"><i class="fa fa-upload"></i>
    {{ 'general.upload' | translate }}
</button>

<input  type="file"
        id="files-upload"
        class="upload hidden"
        name="additional_media.0"
        ng-model="item.additional_media.media_id"
        nv-file-select=""
        onclick="this.value=null"
        options="{ url: '{{ uploadUrl }}', removeAfterUpload: true }"
        uploader="uploadAdditionalImages"/>

<div class="row gallery-container">
    <div class="col-xs-6 col-sm-4 col-md-3 gallery-item" ng-repeat="image in item.additional_media">
        <div class="thumbnail-container">
            <img class="img-thumbnail" ng-src="{{ image.url || '/assets/images/dashboard/no-image.png' }}"/>

            <div class="thumbnail-overlay">
                <div class="thumbnail-actions">
                    <a href class="btn btn-danger" ng-click="deleteGalleryImage(image, $index)" ng-show="image.id">
                        <span class="fa fa-trash-o"></span>
                    </a>
                </div>
            </div>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->