<!-- Name -->
<div class="form-group" ng-class="{ 'has-error': generalErrors.name }">
    <label for="name">{{ 'products.attribute.label.name' | translate }} <span class="text-danger">*</span></label>
    <input type="text"
           id="name"
           class="form-control"
           name="name"
           title="{{ 'products.attribute.title.name' | translate }}"
           ng-model="item.name"/>
    <span class="text-danger" ng-bind="generalErrors.name[0]" ng-if="generalErrors.name"></span>
</div><!-- /.form-group -->

<!-- Slug -->
<div class="form-group" ng-class="{ 'has-error': generalErrors.slug }">
    <label for="slug">{{ 'products.attribute.label.slug' | translate }} <span class="text-danger">*</span></label>
    <input type="text"
           id="slug"
           class="form-control"
           name="slug"
           title="{{ 'products.attribute.title.slug' | translate }}"
           ng-model="item.slug"/>
    <span class="text-danger" ng-bind="generalErrors.slug[0]" ng-if="generalErrors.slug"></span>
</div><!-- /.form-group -->

<!-- Sku -->
<div class="form-group" ng-class="{ 'has-error': generalErrors.sku }">
    <label for="sku">{{ 'products.attribute.label.sku' | translate }} <span class="text-danger">*</span></label>
    <input type="text"
           id="sku"
           class="form-control"
           name="sku"
           title="{{ 'products.attribute.title.sku' | translate }}"
           ng-model="item.sku"/>
    <span class="text-danger" ng-bind="generalErrors.sku[0]" ng-if="generalErrors.sku"></span>
</div><!-- /.form-group -->

<!-- Warehouse number -->
<div class="form-group" ng-class="{ 'has-error': generalErrors.warehouse_number }">
    <label for="warehouse-number">{{ 'products.attribute.label.warehouse_number' | translate }}</label>
    <input type="text"
           id="warehouse-number"
           class="form-control"
           name="warehouse_number"
           title="{{ 'products.attribute.title.warehouse_number' | translate }}"
           ng-model="item.warehouse_number"/>
    <span class="text-danger" ng-bind="generalErrors.warehouse_number[0]" ng-if="generalErrors.warehouse_number"></span>
</div><!-- /.form-group -->

<!-- Brand -->
<div class="form-group" ng-class="{ 'has-error': generalErrors['brand_id'] }">
    <label>
        <span translate="brands.attribute.label.brand"></span>
        <span class="text-danger">*</span>
    </label>
    <div class="selectbox">
        <select class="form-control"
                name="group_attribute"
                ng-model="item.brand_id"
                ng-options="opt.id as opt.name for opt in brands">
            <option value="">- {{ 'general.select' | translate }} -</option>
        </select>
    </div>
    <span class="text-danger"
          ng-bind="generalErrors['brand_id'][0]"
          ng-if="generalErrors['brand_id']"></span>
</div><!-- /.form-group -->

<!-- Main category -->
<div class="form-group" ng-class="{ 'has-error': generalErrors.categories }">
    <label>{{ 'products.attribute.label.main_category' | translate }}<span class="text-danger">*</span></label>

    <angucomplete-alt id="default_category"
                      placeholder="{{ 'products.general.select_categories' | translate }}"
                      pause="100"
                      selected-object="selectCategoryChanged"
                      ng-model="item.category.name"
                      initial-value="item.category.name"
                      local-data="options_categories"
                      search-fields="depth_name"
                      title-field="depth_name"
                      minlength="0"
                      input-class="form-control form-control-small"
                      focus-in="focusInDefaultCategory()"
                      focus-out="focusOut()"/>

    <span class="text-danger" ng-bind="generalErrors.categories[0]" ng-if="generalErrors.categories"></span>
</div>

<!-- Categories -->
<div class="form-group" ng-class="{ 'has-error': generalErrors.categories }">
    <label>{{ 'products.attribute.label.categories' | translate }}
    </label>

    <ui-select multiple ng-model="item.categories" name="categories">
        <ui-select-match placeholder="{{ 'products.general.select_categories' | translate }}">{{ $item.name }}</ui-select-match>
        <ui-select-choices
            repeat="category.id as category in options_additional_categories"
            ui-disable-choice="category.id == item.default_category_id"
        >
            <div
                ng-bind-html="category.depth_name"
                class="{{ (category.id == item.default_category_id) ? 'disabled' : '' }}"
            ></div>
        </ui-select-choices>
        <ui-select-no-choice>
            {{ 'products.general.no_categories' | translate }}
        </ui-select-no-choice>
    </ui-select>
</div><!-- /.form-group -->

<!-- Colors -->
<div class="form-group" ng-class="{ 'has-error': generalErrors.colors }">
    <label>Кольори</label>

    <ui-select multiple ng-model="item.colors" name="colors">
        <ui-select-match placeholder="Виберіть колір">
            <span
                style="padding: 0 20px"
                ng-style="{'background-color': $item.hex}"
            ></span><span ng-bind-html="$item.name" style="padding-left:5px"></span>
        </ui-select-match>
        <ui-select-choices repeat="color.id as color in options_colors">
            <span
                style="padding: 0 40px"
                ng-style="{'background-color': color.hex}"
            ></span>

            <span ng-bind-html="color.name" style="padding-left:5px"></span>
        </ui-select-choices>
        <ui-select-no-choice>
            Немає кольорів
        </ui-select-no-choice>
    </ui-select>
    <span class="text-danger" ng-bind="generalErrors.colors[0]" ng-if="generalErrors.colors"></span>
</div><!-- /.form-group -->

<!-- Description -->
<div class="form-group" ng-class="{ 'has-error': generalErrors.description }">
    <label>{{ 'products.attribute.label.description' | translate }} <span class="text-danger">*</span></label>
    <textarea
            class="form-control"
            title="{{ 'products.attribute.title.description' | translate }}"
            rows="5"
            name="description"
            ng-model="item.description"></textarea>
    <span class="text-danger" ng-bind="generalErrors.description[0]" ng-if="generalErrors.description"></span>
</div><!-- /.form-group -->