<!-- Meta title -->
<div class="form-group" ng-class="{ 'has-danger': generalErrors.meta_title }">
    <label for="meta_title">{{ 'categories.attribute.label.meta_title' | translate }}</label>
    <input type="text"
           id="meta_title"
           class="form-control"
           title="{{ 'categories.attribute.title.meta_title' | translate }}"
           name="meta_title"
           ng-model="item.meta_title"/>
    <span class="text-danger" ng-bind="generalErrors.meta_title.errors[0]" ng-if="generalErrors.meta_title.errors"></span>
</div><!-- /.form-group -->

<!-- Meta description -->
<div class="form-group" ng-class="{ 'has-danger': generalErrors.meta_description }">
    <label>{{ 'categories.attribute.label.meta_description' | translate }}</label>
    <textarea
            class="form-control"
            title="{{ 'categories.attribute.title.meta_description' | translate }}"
            rows="5"
            name="meta_description"
            ng-model="item.meta_description"></textarea>
    <span class="text-danger" ng-if="generalErrors.meta_description" ng-bind="generalErrors.meta_description[0]"></span>
</div><!-- /.form-group -->