<div class="box-body">

    <!-- Thumbnail -->
    <thumbnail media="item.thumbnail"
               id="item.media_id"
               errors="generalErrors"
               isrequired="true"
               aspectratio="1"
               areaminrelativesize={w:600,h:600}
               url="'/products/upload-media'"></thumbnail>

    <!-- Product type -->
    <div class="form-group">
        <label>{{ 'products.attribute.label.product_type' | translate }}</label>
        <div class="selectbox">
            <select class="form-control"
                    name="type"
                    ng-options="opt.id as opt.name for opt in options_product_types"
                    ng-model="item.type">
            </select>
        </div>
    </div><!-- /.form-group -->

    <!-- Is hidden -->
    <div class="form-group" ng-class="{ 'has-error': generalErrors.is_visible }">
        <div class="checkbox">
            <label for="is_visible" title="is active">
                <input type="checkbox"
                       id="is_visible"
                       name="is_visible"
                       ng-model="item.is_visible"
                       ng-true-value="false"
                       ng-false-value="true" icheck/>
                {{ 'products.general.is_hidden' | translate }}
            </label>
        </div>
        <span class="text-danger" ng-if="generalErrors.is_hidden" ng-bind="generalErrors.is_hidden[0]"></span>
    </div><!-- /.form-group -->

</div><!-- /.box-body -->

<div class="box-footer">
    <button type="submit" class="btn btn-sm btn-primary" ng-click="save()" translate="general.save"></button>
</div>