<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="table-responsive">
            <div ng-if="$ctrl.parentindex == 0">&nbsp;</div>
            <table class="table table-bordered table-condensed">
                <tr
                    ng-repeat="item in $ctrl.size.values | orderBy : '-is_default'"
                    ng-class="{ 'bg-light-grey': $index == 0 }"
                >
                    <td style="min-width: 55px;"><b>{{ item.title }}</b></td>
                    <td style="min-width: 50px;">{{ item.value }}</td>
                </tr>
            </table>
        </div><!--/.table-responsive -->
    </div><!-- /.col -->

    <div class="col-sm-8 col-md-9 flex flex-col flex-between">
        <div class="table-responsive">
            <div class="discounts-container flex">
                <!-- Store -->
                <div class="discount-item discount-store-block" ng-repeat="store in $ctrl.stores">
                    <div class="form-group">
                        <label for="quantity_{{ $index }}" ng-if="$ctrl.parentindex == 0">{{ store.name | characters:14:true }}</label>
                        <div class="input-group input-group-half">
                            <input type="text"
                                   id="quantity_{{ $index }}"
                                   class="form-control input-xs"
                                   title=""
                                   name="{{ $index }}.quantity"
                                   ng-model="$ctrl.storesizes[$ctrl.parentindex].stores[$index].original_quantity"
                                   disabled/>
                            <input type="text"
                                   class="form-control input-xs"
                                   title=""
                                   name="{{ $index }}.new_quantity"
                                   ng-model="$ctrl.storesizes[$ctrl.parentindex].stores[$index].new_quantity"
                                   ng-change="$ctrl.changeQuantities($ctrl.parentindex, $index);$ctrl.changeQuantitiesSizeAmount($ctrl.parentindex, $index)"
                                   ng-disabled="$ctrl.storesizes[$ctrl.parentindex].isLocked && $ctrl.storesizes[$ctrl.parentindex].lockedIndex == $index"/>
                        </div><!-- /.input-group -->
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       id="{{ $ctrl.parentindex }}.move"
                                       name="{{ $ctrl.parentindex }}.move"
                                       title=""
                                       ng-value="$index"
                                       ng-model="$ctrl.storesizes[$ctrl.parentindex].stores[$index].is_checked"
                                       ng-change="$ctrl.moveQuantities($ctrl.parentindex, $index, $event)"
                                       ng-disabled="$ctrl.storesizes[$ctrl.parentindex].isLocked && $ctrl.storesizes[$ctrl.parentindex].lockedIndex != $index"
                                       icheck/>
                                {{ 'products.general.move' | translate }}
                            </label>
                        </div><!-- /.checkbox -->
                    </div><!-- /.form-group -->
                </div><!-- /.discount-item -->
            </div><!-- /.discounts-container -->

            <div class="size-item-total">
                <strong translate="products.general.total_quantity"></strong>: {{ $ctrl.storesizes[$ctrl.parentindex].total }}
                <small class="text-muted" translate="products.general.piece"></small>
            </div>
        </div><!-- /.col -->
    </div><!--/.table-responsive -->
</div><!-- /.row -->