<div class="table-responsive">
    <table class="table table-middle table-bordered"
           style="max-width: 700px;">
        <thead>
            <tr>
                <th colspan="2" translate="products.general.price"></th>
                <th translate="products.general.quantity"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="form-group" ng-class="{ 'has-error': $ctrl.sizeerrors['cost_price.value'] }">
                        <div class="input-group">
                            <input type="number"
                                   class="form-control input-sm"
                                   name="price.value"
                                   ng-model="$ctrl.freshprice.value"
                                   ng-model-options="{ debounce : 1000 }"
                                   ng-change="$ctrl.changeMainPrice()"/>

                            <div class="input-group-btn">
                                <select class="form-control input-sm"
                                        name="{{ freshprice.currency_id }}"
                                        ng-model="$ctrl.freshprice.currency_id"
                                        ng-options="opt.id as opt.name for opt in $ctrl.currencies"
                                        ng-change="$ctrl.changeMainPrice()"></select>
                            </div>
                        </div><!-- /.input-group -->
                        <span class="text-danger" ng-bind="$ctrl.sizeerrors['cost_price.value'][0]" ng-if="$ctrl.sizeerrors['cost_price.value'] "></span>
                    </div>
                </td>

                <td>
                    <div class="form-group" ng-class="{ 'has-error': $ctrl.sizeerrors['price.value'] }">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm"
                                   name="price.value"
                                   ng-model="$ctrl.price.value"
                                   disabled="disabled"
                                   ng-change="$ctrl.changeMainPrice()"/>

                            <div class="input-group-btn">
                                <select class="form-control input-sm"
                                        name="price.currency_id"
                                        ng-model="$ctrl.price.currency_id"
                                        ng-change="$ctrl.changeMainPrice()"
                                        ng-options="opt.id as opt.name for opt in $ctrl.currencies"
                                ></select>
                            </div>
                        </div><!-- /.input-group -->
                        <span class="text-danger" ng-bind="$ctrl.sizeerrors['price.value'][0]" ng-if="$ctrl.sizeerrors['price.value']"></span>
                    </div>
                </td>

                <td>
                    <span ng-bind="$ctrl.total_quantity || 0"></span>
                    <small class="text-muted" translate="products.general.piece"></small>
                </td>
            </tr>
        </tbody>
    </table><!-- /.table -->

</div><!-- /.table-responsive -->

<!-- Table size -->
<div class="row">
    <div class="col-md-8">
        <div class="form-group" ng-class="{ 'has-error': $ctrl.sizeerrors.sizes }">
            <label translate="products.attribute.label.table_sizes"></label>
            <div class="selectbox">
                <select class="form-control"
                        name="sizes"
                        ng-model="$ctrl.productdefaultsizes.id"
                        ng-disabled="$ctrl.item.id && $ctrl.item.sizes != null"
                        ng-change="$ctrl.showSizes()">
                    <option value="">- {{ 'general.select' | translate }} -</option>
                    <optgroup ng-repeat="opt in $ctrl.sizes" label="{{ opt.name }}">
                        <!-- TODO: size_group ??? -->
                        <option ng-repeat="subOpt in opt.size_groups" value="{{ subOpt.id }}">{{ subOpt.name }}</option>
                    </optgroup>
                </select>
            </div>
            <span class="text-danger" ng-bind="$ctrl.sizeerrors.sizes[0]" ng-if="$ctrl.sizeerrors.sizes"></span>
        </div><!-- /.form-group -->
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="sizes-container">
    <div class="size-item" ng-repeat="size in $ctrl.productdefaultsizes.sizes">
        <sizes-item
            size="size"
            parentindex="$index"
            stores="$ctrl.stores"
            sizes="$ctrl.sizes"
            storesizes="$ctrl.store_sizes"
            price="$ctrl.price"
            productdefaultsizes="$ctrl.productdefaultsizes"
            totalquantity="$ctrl.total_quantity"></sizes-item>
    </div><!-- /.size-item -->
</div><!-- /.sizes-container -->