<form name="form">
    <div class="row">
        <div class="col-sm-12 col-dynamic">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li ng-class="{ 'active': !item.id, 'has-error': generalErrors['name'] || generalErrors['slug'] || generalErrors['sku'] || generalErrors['warehouse_number'] || generalErrors['brand_id'] || generalErrors['categories'] || generalErrors['colors'] || generalErrors['description'] || generalErrors['media_id'] || generalErrors['media'] || generalErrors['media'] }">
                        <a href="#general-tab"
                           data-toggle="tab"
                           translate="products.general.general"></a>
                    </li>
                    <li>
                        <a href="#gallery-tab"
                           data-toggle="tab"
                           translate="products.attribute.label.additional_media"></a>
                    </li>
                    <li ng-class="{ 'active': item.id, 'has-error': generalErrors['sizes'] || pricesErrors }">
                        <a href="#sizes-tab"
                           data-toggle="tab"
                           translate="products.attribute.label.sizes_and_products_quantities"></a>
                    </li>
                    <li ng-class="{ 'has-error': discountsErrors }">
                        <a href="#discounts-tab"
                           data-toggle="tab"
                           translate="products.attribute.label.discounts"></a>
                    </li>
                    <li ng-class="{ 'has-error': generalErrors['group_attribute'] || generalErrors['attribute'] }">
                        <a href="#attributes-tab"
                           data-toggle="tab"
                           translate="products.attribute.label.attributes"></a>
                    </li>
                    <li ng-class="{ 'has-error': generalErrors['uniform.category_id'] || generalErrors['uniform.model'] || generalErrors['uniform.position'] || generalErrors['uniform.type']}">
                        <a href="#builder-tab"
                           data-toggle="tab"
                           translate="products.attribute.label.constructor"></a>
                    </li>
                    <li>
                        <a href="#seo-tab"
                           data-toggle="tab"
                           translate="products.general.seo"></a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade" ng-class="{ 'in active' : !item.id }" id="general-tab">
                        <div ui-view="general"></div>
                    </div><!-- /.tab-pane -->
                    
                    <div class="tab-pane fade" id="gallery-tab">
                        <div ui-view="gallery"></div>
                    </div>

                    <div class="tab-pane fade" ng-class="{ 'in active' : item.id }" id="sizes-tab">
                        <div ui-view="sizes"></div>
                    </div>

                    <div class="tab-pane fade" id="discounts-tab">
                        <div ui-view="discounts"></div>
                    </div>

                    <div class="tab-pane fade" id="attributes-tab">
                        <div ui-view="attributes"></div>
                    </div>

                    <div class="tab-pane fade" id="builder-tab">
                        <div ui-view="builder"></div>
                    </div>

                    <div class="tab-pane fade" id="seo-tab">
                        <div ui-view="seo"></div>
                    </div>

                </div><!-- /.tab-content -->
            </div><!-- /.nav-tabs-custom -->
        </div><!-- /.col -->

        <div class="col-sm-12 main-sidebar-right">
            <div class="box box-primary">
                <div ui-view="sidebar"></div>
            </div><!-- /.box -->
        </div><!-- /.main-sidebar-right -->

    </div><!-- /.row -->
</form>