<div class="box box-primary">
    <div class="box-header">
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-sm-3 col-xs-3">
                <a
                    class="btn btn-sm btn-primary"
                    ui-sref="products.create"
                    translate="general.create"
                    ng-hide="!$root.perms['products.manage']"
                ></a>
            </div><!-- /.col -->
            <div class="col-sm-9 col-xs-9">
                <div class="text-right take-money" ng-if="list.total_quantity > 0">
                    <div style="margin-right: 5px;">
                        <b>Загальна к-сть: </b> <span style="margin-right: 15px;" ng-bind="list.total_quantity"></span>

                        <span ng-hide="isManager">
                            <b>Загальна вартість: </b><span ng-bind="list.total_cost_price | defaultCurrency | rounded | formatNumbers"></span>
                            <currency-title item="$root.defaultCurrencyId"></currency-title>
                        </span>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.box-header -->

    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-middle table-striped table-condensed">
                        <thead>
                            <th translate="general.photo"></th>
                            <th translate="products.general.name"></th>
                            <th translate="products.general.sku"></th>
                            <th translate="products.general.category"
                                style="min-width: 85px;"></th>
                            <th translate="products.general.status"
                                ng-hide="!$root.perms['products.status.view']"></th>
                            <th translate="products.general.type"
                                ng-hide="!$root.perms['products.status.view']"></th>
                            <th class="text-nowrap">
<!--                                ng-if="$root.perms['products.cost_price.view']"-->
                                <span ng-if="!isManager"
                                      translate="products.general.price_first_last"></span>
<!--                                ng-if="!$root.perms['products.cost_price.view']"-->
                                <span ng-if="isManager"
                                      translate="products.general.price_first"></span>
                            </th>
                            <th translate="products.general.quantity" class="text-nowrap"></th>
                            <th translate="general.actions"
                                ng-hide="!$root.perms['products.manage']"></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="text"
                                           id="name"
                                           class="form-control input-sm"
                                           name="name"
                                           title="{{ 'products.attribute.title.name' | translate }}"
                                           ng-model="searchForm.name"
                                           ng-model-options="{ debounce: 500 }"
                                           ng-change="processSearch()"/>
                                </td>
                                <td>
                                    <input type="text"
                                           id="sku"
                                           class="form-control input-sm"
                                           name="sku"
                                           title="{{ 'products.attribute.title.sku' | translate }}"
                                           ng-model="searchForm.sku"
                                           ng-model-options="{ debounce: 500 }"
                                           ng-change="processSearch()"/>
                                </td>
                                <td>
                                    <div class="selectbox">
                                        <select class="form-control input-sm"
                                                name="categories"
                                                ng-options="opt.id as opt.depth_name for opt in options_categories"
                                                ng-model="searchForm.categories"
                                                ng-model-options="{ debounce: 500 }"
                                                ng-change="processSearch()">
                                            <option value="">- {{ 'general.all' | translate }} -</option>
                                        </select>
                                    </div>
                                </td>
                                <td ng-hide="!$root.perms['products.status.view']">
                                    <div class="selectbox">
                                        <select class="form-control input-sm"
                                                name="status"
                                                ng-options="opt.key as opt.value | translate for opt in options_product_default_statuses"
                                                ng-model="searchForm.status"
                                                ng-model-options="{ debounce: 500 }"
                                                ng-change="processSearch()">
                                            <option value="">- {{ 'general.all' | translate }} -</option>
                                        </select>
                                    </div>
                                </td>
                                <td ng-hide="!$root.perms['products.status.view']">
                                    <div class="selectbox">
                                        <select class="form-control input-sm"
                                                name="type"
                                                ng-options="opt.id as opt.name | translate for opt in options_product_types"
                                                ng-model="searchForm.type"
                                                ng-model-options="{ debounce: 500 }"
                                                ng-change="processSearch()">
                                            <option value="">- {{ 'general.all' | translate }} -</option>
                                        </select>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                                <td ng-hide="$root.currentUser.user.role_name === 'limited_manager'"></td>
                            </tr>
                            <tr ng-repeat="item in list.products.data">
                                <td class="grid-thumbnail">
                                    <a ui-sref="products.edit({ id: item.id })">
                                        <img class=img-thumbnail"
                                             ng-src="{{ item.thumbnail.url || '/assets/images/dashboard/no-image.png' }}"/>
                                    </a>
                                </td>
                                <td>
                                    <a
                                        ui-sref="products.edit({ id: item.id })"
                                        ng-hide="$root.currentUser.user.role_name == 'limited_manager'"
                                    >{{ item.name }}</a>

                                    <span ng-show="$root.currentUser.user.role_name == 'limited_manager'">{{ item.name }}</span>
                                </td>
                                <td class="text-muted">{{ item.sku }}</td>
                                <td>{{ item.category.name }}</td>
                                <td width="140" class="text-nowrap"
                                    ng-hide="!$root.perms['products.status.view']">
                                    <span class="label label-success"
                                          ng-if="item.is_active"
                                          translate="general.active"></span>
                                    <span class="label label-danger"
                                          ng-if="!item.is_active"
                                          translate="general.not_active"></span><br>
                                    <span class="label label-warning"
                                          ng-if="!item.is_visible"
                                          translate="general.hidden"></span>
                                </td>
                                <td width="140" class="text-nowrap"
                                    ng-hide="!$root.perms['products.status.view']">
                                    <div class="btn-group-xs btn-group-radio">
                                        <button type="button" class="btn btn-primary"
                                               ng-model="item.type"
                                               ng-change="changeType(item)"
                                               btn-radio="'novelty'">N</button>
                                        <button type="button" class="btn btn-primary"
                                               ng-model="item.type"
                                               ng-change="changeType(item)"
                                               btn-radio="'sale'">S</button>
                                        <button type="button" class="btn btn-primary"
                                               ng-model="item.type"
                                               ng-change="changeType(item)"
                                               btn-radio="'max_sale'">MS</button>
                                        <button type="button" class="btn btn-primary"
                                               ng-model="item.type"
                                               ng-change="changeType(item)"
                                               btn-radio="'top_sale'">H</button>
                                    </div>
                                </td>
                                <td class="text-nowrap">
                                    <span ng-if="!isManager">
                                        <span ng-bind="(item.cost_price.value | amount) || '-'"
                                            ></span>
<!--                                        ng-hide="!$root.perms['products.cost_price.view']"-->
                                        <currency-icon item="item.cost_price.currency_id"
                                            ng-if="item.cost_price.value"></currency-icon>
<!--                                        ng-if="item.cost_price.value && $root.perms['products.cost_price.view']"-->

                                         <span>/</span>
<!--                                        ng-hide="!$root.perms['products.cost_price.view']"-->
                                    </span>

                                    <span ng-bind="(item.sale_price.value | rounded) || '-'"></span>
                                    <currency-icon item="item.sale_price.currency_id"
                                                   ng-if="item.sale_price.value"></currency-icon>
                                </td>
                                <td class="text-nowrap">
                                    <span ng-bind="item.quantity || 0"></span>
                                    <small class="text-muted" translate="products.general.piece"></small>
                                </td>
                                <td class="grid-actions" ng-hide="!$root.perms['products.manage']">
                                    <button type="button"
                                            class="btn btn-sm btn-warning"
                                            ng-model="item.is_visible"
                                            ng-click="changeHiddenStatus(item)"
                                            btn-checkbox
                                            btn-checkbox-true="true"
                                            btn-checkbox-false="false"
                                            data-toggle="tooltip"
                                            data-placement="top"
                                            tooltip='{{ item.is_visible ? ("general.hide" | translate) : ("general.show" | translate) }}'>
                                        <i class="fa fa-eye-slash" ng-if="item.is_visible"></i>
                                        <i class="fa fa-eye" ng-if="!item.is_visible"></i>
                                    </button>
                                    <a class="btn btn-sm btn-default"
                                       ui-sref="products.edit({ id: item.id })"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       tooltip="{{ 'general.edit' | translate }}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="btn btn-sm btn-danger"
                                       ng-click="remove(item)"
                                       ng-hide="isManager"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       tooltip="{{ 'general.remove' | translate }}">
                                        <i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.row -->

        <div class="row" ng-if="!list.products.total">
            <div class="col-sm-12" translate="general.no_items"></div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <div class="pagination-info">
                    <span translate="products.general.pagination"
                          translate-values="{ from: list.products.from || 0, to: list.products.to || 0, total: list.products.total }"></span>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="text-right" ng-if="list.products.total > list.products.per_page">
                    <pagination
                            boundary-link-numbers="true"
                            force-ellipses="true"
                            ng-change="changePage()"
                            class="pagination-sm"
                            total-items="list.products.total"
                            ng-model="list.products.current_page"
                            items-per-page="list.products.per_page"
                            max-size="5"
                            boundary-links="true"></pagination>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.box-body -->
</div><!-- /.box -->