<template lang="pug">
    modal(:name="modalName" class="auth-modal")

        // Header
        template(slot="modal-header")
            h2(class="h1 u-textCenter") {{ title }}

        // Footer
        template(slot="modal-footer")
            div(class="u-flex-between l-auth__bottom-block")
                div(class="u-color-dark-grey") Немає облікового запису?
                div
                    button(
                        type="button"
                        class="u-link-hover--default"
                        @click="showSignUpModal"
                    ) Зарєєструватися

        div(class="l-auth")
            div(class="l-auth__block")

                // Form
                b-form(class="m-form" @submit.prevent="submit")

                    // Email
                    b-form-group(label="Email")
                        b-form-input(v-model="formData.email" type="email")
                        b-form-feedback(v-if="errors.email") {{ errors.email[0] }}

                    // Password
                    b-form-group(label="Пароль")
                        b-form-input(v-model="formData.password" type="password")
                        b-form-feedback(v-if="errors.password") {{ errors.password[0] }}

                    div.m-b-5(class="u-flex-between u-align-items-center")

                        // Remember me
                        b-form-checkbox( v-model="formData.remember_me" :value="true" id="remember-me") Запам’ятати мене

                        // Forgot password link
                        a(@click="showPasswordResetModal") Забули пароль?

                    // Submit button
                    button(type="submit" class="m-button__bordered-white u-fillWidth") Увійти

                    // Social Media links
                    social-media-links
</template>

<script>
    import api from '@/api';
    import Modal from '@/components/Modal/Modal';
    import SocialMediaLinks from '../SocialMediaLinks/SocialMediaLinks';

    export default {
        components: {
            Modal,
            SocialMediaLinks
        },
        data() {
            return {
                title: 'Увійти',
                modalName: 'sign-in',
                formData: {
                    email: null,
                    password: null,
                    remember_me: false
                },
                errors: {}
            };
        },
        methods: {

            // Login into app.
            submit() {

                // Start preloader
                this.$nuxt.$loading.start();

                const payload = { data: this.formData };

                this.$auth.loginWith('local', payload)
                    .then(() => {
                        this.resetForm();
                        this.hideModal();
                    })
                    .catch(error => {
                        this.resetForm();

                        const { response } = error;

                        if (response.status === 401) {
                            this.errors.email = [response.data.message];
                        } else if (response.status === 422) {
                            this.errors = response.data.errors;
                        } else {
                            this.$toast.error('Невідома помилка. Спробуйте пізніше.');
                        }
                    })
                    // Finish preloader
                    .finally(() => {
                        this.$nuxt.$loading.finish();
                    });
            },

            // Clear form.
            resetForm() {
                this.errors = {};
            },

            // Show "Sign Up" modal.
            showSignUpModal() {
                this.$store.dispatch('modals/show', 'sign-up');
            },

            // Show "Password Reset" modal.
            showPasswordResetModal() {
                this.$store.dispatch('modals/show', 'password-reset');
            },

            // Hide "Sign In" modal.
            hideModal() {
                this.$store.dispatch('modals/hide', this.modalName);
            }
        }
    };
</script>
