<template lang="pug">
    header(class="header")

        // ------------- DESKTOP ------------- //

        // Top section
        div(class="header__top container hidden-xs hidden-sm")

            // Main navigation
            nav-component

            div(class="top__inner u-fz-0 u-textRight")

                // Discounts
                discounts(v-if="canUseDiscounts")

                // Phones
                phones

                // Discount badge
                discount-badge

        // Middle section
        div(class="header__middle u-bg-default hidden-xs hidden-sm")
            div(class="container")
                div(class="middle__outer")
                    div(class="middle__inner")

                        // Logo
                        nuxt-link(to="/" class="header__logo u-inlineBlock u-alignMiddle")
                            logo

                        // Slogan
                        span(class="u-alignMiddle visible-lg-inline-block") {{ slogan }}

                    // Search input
                    div(class="middle__inner header-search")
                        search

                    div(class="middle__inner")

                        // Cart
                        cart

                        // Auth components
                        auth

        // Bottom section
        // Categories
        div( class="header__bottom m-t-20 m-b-20 hidden-xs hidden-sm")
            div(class="container")
                categories

        // ------------- MOBILE ------------- //

        // Top section
        div(class="header__mobile-filter container")
            div(class="top__inner")

                // Discounts
                discounts(v-if="canUseDiscounts")

                // Phones
                phones

                // Search
                search(class="mobileSerach")

        // Middle section
        div(
            :class="{ 'is-sticky': isMenuFixed }"
            class="header__middle u-bg-default visible-xs visible-sm"
        )
            div(class="container")
                div(class="middle__outer")

                    // Drawer
                    drawer

                    // Logo
                    div(class="middle__inner")
                        nuxt-link(to="/" class="header__logo u-inlineBlock u-alignMiddle")
                            logo

                    // Cart
                    div(class="middle__inner")
                        cart

        // Sidebar
        div(
            :class="{ 'menu-open': isSidebarOpened }"
            class="header__top container visible-xs visible-sm"
        )
            div(class="header__mobile-top")

                // Logo
                nuxt-link(to="/" class="header__logo")
                    logo

                // Auth components
                auth

            // Categories
            categories(class="header__categories-mobile")

            // Main navigation
            nav-component
</template>

<script>
    import { mapState } from 'vuex';
    import Logo from '@/components/Logo/Logo';
    import Auth from './Auth/Auth';
    import Categories from './Categories/Categories';
    import Cart from './Cart/Cart';
    import Discounts from './Discounts/Discounts';
    import DiscountBadge from './Discounts/DiscountBadge';
    import Drawer from './Drawer/Drawer';
    import NavComponent from './Nav/Nav';
    import Phones from './Phones/Phones';
    import Search from './Search/Search';

    export default {
        components: {
            Auth,
            Categories,
            Cart,
            Discounts,
            DiscountBadge,
            Drawer,
            NavComponent,
            Logo,
            Phones,
            Search
        },
        data() {
            return {
                slogan: 'Cпортивне взуття та одяг',
                isMenuFixed: false
            };
        },
        computed: {
            ...mapState('menu', {
                isSidebarOpened: 'isOpened'
            }),
            canUseDiscounts() {
                return this.$auth.loggedIn
                    && this.$auth.user.permissions
                    && this.$auth.user.permissions.includes('discounts.view');
            }
        },
        watch: {
            isSidebarOpened(value) {
                if (value) {
                    document.addEventListener('click', this.clickHandler);
                } else {
                    document.removeEventListener('click', this.clickHandler);
                }
            }
        },
        mounted() {
            window.addEventListener('scroll', this.fixMenu);
        },
        methods: {

            /**
             * Make menu fixed while scrolling.
             */
            fixMenu() {
                this.isMenuFixed = window.scrollY >= 32;
            },
            clickHandler(event) {
                const classList = event.target.classList;

                if (classList && classList[0] != 'l-header__top' && classList[0] != 'top__inner') {
                    this.$store.dispatch('menu/close');
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/scss/utilities/variables";
    @import "../../assets/scss/utilities/mixins";
    @import "../../assets/scss/utilities/u-tools";

    .top__inner {
        flex: none;
        color: $white
    }

    .header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .middle__outer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .middle__inner {
        flex: none;
        color: $white;
    }

    .header__mobile {
        width: 100%;
        position: fixed;
        top:0;
        left:0;
        opacity: 0;
        background-color: $color-default;
        padding: 5px 0;
        overflow: hidden;

        z-index: -1;
        transition: 0.3s;
    }

    /deep/ {
        .header__mobile-filter {
            color: #ffffff;

            .top__inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .header__mobile-top {
        display: flex;
        justify-content: space-between;
        background: darken(#3c76bf, 15%);
        padding: 10px 10px 5px;

        box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);

        .header__logo {
            display: inline-block;
            padding: 5px;
            max-width: 95px;
            border-bottom: transparent;

            img {
                width: 100%;
            }

            &:hover {
                border-bottom: transparent;
            }
        }
    }

    .header__mobile-inner {
        @extend .u-flex-center;
        justify-content: space-between;
    }

    .menu-open, .open-filter  {
        .header__mobile {
            transform: translate3d(0, -100%, 0)
        }
    }

    .is-sticky.header__mobile {

        opacity: 0.8;

        z-index: 10;
        &:hover {
            opacity: 1;
        }
    }

    .menu-close {
        position: absolute;
        right: -30px;
        top: 0;
        height: 30px;
        width: 30px;

        background-color: $color-default;

        font-size: 24px;
        color: $white;
    }

    .header__logo {
        margin-right: 20px;

        @media (max-width: 991px) {
            max-width: 110px;
            margin-right: 0;

            img {
                width: 100%;
            }
        }

        @media (max-width: 480px) {
            max-width: 75px;
        }
    }

    .header-search {
        height: 28px;

        .fa-search {
            top: 8px;
            left: 10px;
            font-size: 12px;
        }

        @media (max-width: 991px) {

        }
    }

    @media (min-width: $screen-md-min) {
        .header__mobile-top,
        .header__mobile-filter {
            display: none;
        }

        .top__inner {
            width: 50%;

            > div {
                display: inline-block;
            }
        }
    }

    @media all and (max-width: $screen-md-max) {
        .header__top {
            left: -340px;
        }
    }

    @media all and (max-width: $screen-sm-max) {
        .header {
            margin-bottom: 20px;
            background: #000000;
        }

        .header__middle {
            padding: 10px 0;
            &.is-sticky {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                z-index: 10;
            }
        }

        .middle__outer {
            align-items: center;
        }

        .header__top {
            position: fixed;
            padding: 0 !important;
            top: 0;
            left: -340px;
            height: 100%;
            background: $color-default;
            width: 290px;
            display: block;
            box-shadow: 2px 0 6px 1px rgba(0, 0, 0, 0.7);
            flex-direction: column;
            z-index: 999;
            transition: left 0.4s;

            &.menu-open {
                left: 0;
                opacity: 1;
            }

            .top__inner {
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                a {
                    display: block;
                    font-size: 14px;
                    margin: 0 0 4px 0;
                }
            }
        }

        .header-search {
            display: none;
        }
    }

    @media all and (max-width: $screen-xs-max) {
        .header__logo {
            img {
                width: 90px;
            }
        }
    }

    // Cart
    .header__basket {
        margin-right: 20px;

        @media all and (max-width: $screen-sm-max) {
            margin-right: 0;
            padding: 8px 0 12px;
        }

        @media all and (max-width: $screen-xs-min) {
            a {
                font-size: 11px;
            }
        }
    }
</style>
