<template lang="pug">
    nuxt-link(
        :to="category.route"
        :class="{ 'active-subcategory': isActive }"
        tag="li"
        class="menu__item"
    )
        // Title
        a(class="menu__link") {{ category.name }}

        // Subcategories
        div(v-if="subCategories.length" class="item__submenu u-top-left")
            ul(class="u-listUnstyled")
                li(v-for="(category, index) in subCategories" :key="index")
                    nuxt-link(
                        :to="{ name: 'products.index', params: { category_slug: category.slug } }"
                        class="submenu__link"
                    )
                        i(:class="`icon-sport_shop_${category.icon}`")
                        span {{ category.name }}
</template>

<script>
    export default {
        props: {
            category: Object
        },
        data() {
            return {
                active: false
            };
        },
        computed: {
            subCategories() {
                return this.category.children || [];
            },
            isActive() {
                return this.subCategories.find(item => {
                    return item.slug == this.$route.params.category_slug;
                });
            }
        },
    };
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";
    @import "../../../assets/scss/utilities/mixins";

    .menu__item {
        position: relative;
        display: flex;
        flex: 1 1 auto;

        &:not(:last-child) {
            .menu__link {
                border-right: 2px solid $color-dark;
            }
        }

        &:hover,
        &.active {
            /*background: rgba(0, 0, 0, 0.4);*/
            .item__submenu {
                opacity: 1;
                visibility: visible;
                margin-top: 54px;
            }
        }

        &:not(.l-header__logo).router-link-exact-active,
        &.active-subcategory {
            .menu__link {
                /*background: rgba(0, 0, 0, 0.4);*/
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAASElEQVQY02NgQALS/5F5Ssg8qa/IUgooUg+QpWRRpA7hNB5VCsV4VANReKjOQDWDgYFIm/G4F7cv8YSNLG4pFCNQeSjq0MwAAPCoHW3Q0Dt9AAAAAElFTkSuQmCC'), linear-gradient(180deg, #5D5D5D 0%, #474747 100%);
                box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.38);
            }
        }

    }
    .item__submenu {
        z-index: 1;
        width: auto;
        display: inline-block;
        background-color: rgba(50, 50, 50, 0.95);
        padding: 10px 5px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
    }

    .submenu__link {
        padding-top: 5px;
        padding-bottom: 5px;
        display: inline-block;
        white-space: nowrap;

        i {
            margin-right: 10px;
            transition: 0.4s;
            font-size: 22px;
            vertical-align: middle;
        }

        span {
            vertical-align: middle;
        }

        &:hover,
        &.active,
        &:not(.l-header__logo).router-link-exact-active {
            i {
                color: $color-default;
            }
        }
    }

    .menu__link {
        flex: 1;
        position: relative;
        background: transparent;
        padding: 15px 20px;
        z-index: 2;
        
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAASElEQVQY02NgQALS/5F5Ssg8qa/IUgooUg+QpWRRpA7hNB5VCsV4VANReKjOQDWDgYFIm/G4F7cv8YSNLG4pFCNQeSjq0MwAAPCoHW3Q0Dt9AAAAAElFTkSuQmCC'), linear-gradient(180deg, #333333 0%, #1D1D1D 100%);

        font-size: 16px;
        font-weight: 500;
        text-align: center;
        
        transition: 0.4s;
    }

   

    @media all and (max-width: $screen-md-max) {
        .menu__link {
            font-size: 0.875rem;
            padding: 10px 5px;
        }
    }
    @media all and (max-width: $screen-sm-max) {
        .menu__link {
            display: block;
            font-size: 14px;
            margin: 0 0 4px 0;
        }
    }
</style>