<template lang="pug">
    div(
        v-if="categories.length"
        class="bottom__menu-outer"
    )
        ul(class="bottom__menu u-listUnstyled u-posRelative u-z-3 hidden-xs hidden-sm")
            category-item(
                v-for="(category, index) in categories"
                :key="index"
                :category="category"
            )

        div(class="hidden-md hidden-lg sidebar-nav")
            div(
                v-for="(category, index) in categories"
                :key="index"
            )
                nuxt-link(
                    :to="category.route"
                ) {{ category.name }}
</template>

<script>
    import CategoryItem from './CategoryItem';

    export default {
        components: {
            CategoryItem
        },
        computed: {
            categories() {
                let items = this.$store.state.categories.all;

                // Add route to categories.
                items = items.map((item) => {
                    item.route = { name: 'products.index', params: { category_slug: item.slug } };

                    return item;
                });

                // Add sale, max-sale links to categories.
                items.push(...[
                    { name: 'Sale', route: { name: 'products.index', query: { type: 'sale' } } },
                    { name: 'Max Sale', route: { name: 'products.index', query: { type: 'max_sale' } } }
                ]);

                return items;
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";
    @import "../../../assets/scss/utilities/mixins";

    .bottom__menu-outer {
        box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.38);
    }

    .bottom__menu {
        display: flex;
    }

    .header__categories-mobile {
        padding: 10px;
        position: relative;

        box-shadow: none;

        &:before {
            content: '';

            width: 50%;
            height: 4px;
            position: absolute;
            bottom: 0;
            left: 10px;

            background-color: rgba(255, 255, 255, 0.4);
        }
    }

    .sidebar-nav {
        div {
            margin: 0 18px 4px 0;
        }

        a {
            border-bottom: 1px solid transparent;

            font-weight: 400;
            color: white;

            transition: 0.4s;

            &:hover,
            &.router-link-exact-active {
                border-bottom: 1px solid white;
            }
        }
    }

    @media screen and (max-width: $screen-xs-max) {
        .bottom__menu-outer {
            background-image: none;
        }
    }
</style>