<template lang="pug">
    div(class="m-tabs c-tabs no-js")

        // Tab titles
        div(class="m-tabs__nav p-b-10 p-l-25 m-t-10")
            button(
                v-for="(items, title) in transformedSizes"
                :key="title"
                :class="{'is-active': activeTab == title }"
                class="m-button-default-24 m-tabs__link c-tabs-nav__link"
                @click.prevent="setActiveTab(title)"
            ) {{ title }}

        // Tabs content
        div(
            v-for="(items, title) in transformedSizes"
            :key="title"
            :class="{'is-active': activeTab == title }"
            class="m-tabs__block c-tab"
        )
            div(class="m-tabs__content")
                product-size-item(
                    v-for="(size, index) in items"
                    :key="index"
                    :size="size"
                    @updateQuantity="updateQuantity"
                )
</template>

<script>
    import _ from 'lodash';
    import ProductSizeItem from '@/components/ProductSizeItem/ProductSizeItem';

    export default {
        components: {
            ProductSizeItem
        },
        props: {
            sizes: Array
        },
        data() {
            return {
                activeTab: null
            };
        },
        computed: {
            transformedSizes() {
                let transformedSizes = [];
                this.sizes.forEach(size => {
                    size.values.forEach(value => {
                        if (!transformedSizes[value.title]) {
                            transformedSizes = { ...transformedSizes, [value.title]: [] };
                        }

                        transformedSizes[value.title].push({
                            id: size.id,
                            title: value.title,
                            value: value.value,
                            selected_quantity: size.selected_quantity,
                            quantity: size.quantity
                        });
                        transformedSizes[value.title] = _.sortBy(transformedSizes[value.title], 'value');
                    });
                });

                return transformedSizes;
            }
        },

        // Select first tab.
        created() {
            const firstTab = Object.keys(this.transformedSizes)[0];
            this.setActiveTab(firstTab);
        },
        methods: {

            /**
             * Set active tab.
             *
             * @param index
             */
            setActiveTab(index) {
                this.activeTab = index;
            },

            /**
             * Emit event "updateQuantity".
             *
             * @param id
             * @param quantity
             */
            updateQuantity(id, quantity) {
                this.$emit('updateQuantity', id, quantity);
            }
        }
    };
</script>
