<template lang="pug">
    div(class="m-tabs__nav uniform-collection-info p-l-25 m-b-10")

        // Price
        button(class="m-button-default-24 m-tabs__link c-tabs-nav__link is-active")
            | {{ price.value }} {{ price.symbol }}

        // Price with discount for 10 items
        button(class="m-button-default-24 m-tabs__link c-tabs-nav__link")
            | {{ quantity }} шт. — {{ discountPrice.value }} {{ discountPrice.symbol }}

        // Name, sku
        button(class="m-button-default-24 m-tabs__link c-tabs-nav__link is-active")
            | {{ product.name }} — {{ product.sku }}
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        props: {
            product: Object
        },
        data() {
            return {
                quantity: 10
            };
        },
        computed: {
            ...mapGetters('uniforms', [
                'productDiscount'
            ]),
            price() {
                return this.$fetchDefaultCurrency(this.product.sale_price);
            },
            discountPrice() {
                const price = { ...this.price };
                const discountValue = price.value * this.productDiscount / 100;

                price.value = (price.value - discountValue) * this.quantity;

                return price;
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../../assets/scss/utilities/variables";

    .uniform-collection-info {
        .m-button-default-24 {
            &:hover {
                cursor: default;
                background: #757575;

                &:before {
                    border-color: transparent transparent #757575;
                }

                &:after {
                    border-color: #757575 transparent transparent;
                }
            }
        }
    }

    @media screen and (max-width: $screen-xs-max) {
        .uniform-collection-info {
            flex-direction: column;

            .m-button-default-24 {
                margin: 2px 0 !important;
            }
        }
    }
</style>