<template lang="pug">
    div(class="cart-process-tabs u-textCenter p2 m-b-15")

        // Local store
        button(
            :class="{ 'is-active': !isWebStore }"
            class="m-button-default-sm button-simple"
            type="button"
            @click="setWebStore(false)"
        ) Магазин

        // Web store
        button(
            :class="{ 'is-active': isWebStore }"
            class="m-button-default-sm button-simple"
            type="button"
            @click="setWebStore(true)"
        ) Інтернет-магазин
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        computed: mapState('checkout', [
            'isWebStore'
        ]),
        methods: {

            /**
             * Set "webStore" attribute.
             *
             * @param value
             */
            setWebStore(value) {
                this.$store.dispatch('checkout/setWebStore', value);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .cart-process-tabs {
        @media (min-width: 768px) {
            margin-left: 30px;
        }
    }
</style>