<template lang="pug">
    div(class="l-cart__item")
        div(class="container-fluid")
            div(class="row")

                // Thumbnail
                div(class="col-xs-24 col-sm-4 u-justify-center")
                    div(class="item__image")
                        nuxt-link(:to="productRoute")
                            img(
                                :src="product.thumbnail.url"
                                :alt="product.name"
                                class="u-imgResponsive"
                            )

                // Name
                div(class="col-xs-24 col-sm-4 u-justify-center")
                    div(class="item__name")
                        nuxt-link(:to="productRoute") {{ product.name }}

                div(class="col-xs-24 col-sm-16")

                    // Sizes
                    div
                        product-size-item(
                            v-for="(size, index) in sizes"
                            :key="index"
                            :size="size"
                            @updateQuantity="updateQuantity"
                        )

                    // Errors
                    div(class="errors")
                        div(
                            v-for="(size, index) in sizes"
                            v-if="errors[size.id] !== undefined"
                            :key="index"
                        )
                            | Для розміру "{{ size.value }}" доступно одиниць - {{ errors[size.id] }}

            div(class="row")
                div(class="col-xs-24 col-sm-16 col-sm-offset-8")
                    div(class="item__total m-t-10 p1")

                        // Price
                        div
                            div Ціна
                            span {{ price }} {{ currencySymbol }}

                        div
                            span *

                        // Quantity
                        div
                            div Кількість
                            span {{ totalQuantity }} шт

                        // Total price
                        div
                            div Загалом
                            span {{ totalPrice }} {{ currencySymbol }}

        // "Remove product" button
        button(
            type="button"
            class="btn-remove-product"
            @click="removeProduct"
        )
            i(class="icon-sport_shop_icons-31" style="color: #f44336; font-size: 24px;")
            span Видалити
</template>

<script>
    import { mapState } from 'vuex';
    import _ from 'lodash';
    import ProductSizeItem from '@/components/ProductSizeItem/ProductSizeItem';

    export default {
        components: {
            ProductSizeItem
        },
        props: {
            product: Object
        },
        computed: {
            ...mapState('cart', [
                'errors'
            ]),
            sizes() {
                return this.product.sizes.items.map(item => {
                    return {
                        ...item,
                        value: _.find(item.values, { is_default: true }).value
                    };
                });
            },
            price() {
                return this.product.sale_price.value;
            },
            totalPrice() {
                return this.price * this.totalQuantity;
            },
            totalQuantity() {
                return _.sumBy(this.sizes, 'selected_quantity') || 0;
            },
            currencySymbol() {
                return this.product.sale_price.symbol;
            },
            productRoute() {
                const mainCategory = _.find(this.product.categories, { is_default: true });

                return {
                    name: 'products.view',
                    params: {
                        category_slug: mainCategory.slug,
                        slug: this.product.slug
                    }
                };
            }
        },
        methods: {

            /**
             * Remove product from cart.
             */
            removeProduct() {
                this.$store.dispatch('cart/removeProduct', this.product.id);
            },

            /**
             * Update size selected quantity.
             *
             * @param sizeId
             * @param quantity
             */
            updateQuantity(sizeId, quantity) {
                this.$store.dispatch('cart/updateSizeQuantity', { productId: this.product.id, sizeId, quantity });
            }
        }
    };
</script>

<style lang="scss">
    @import "../../../assets/scss/utilities/variables";

    .l-cart__item {
        position: relative;
        margin-top: 0;
        margin-bottom: 30px;
        padding-top: 35px;
        padding-left: 10px;
        background-color: $color-dark;
    }
    .btn-remove-product {
        position: absolute;
        top: 0px;
        right: 15px;
        display: flex;
        align-items: center;
        font-weight: bold;
    }
    .errors {
        color: $color-red;
    }
</style>