<template lang="pug">
    div(class="row")
        div(class="col-xs-24")
            no-ssr
                div(v-if="!isEmpty")
                    product-item(
                        v-for="product in products"
                        :key="product.id"
                        :product="product"
                    )
                div(v-else="isEmpty" class="cart-empty") Товари відсутні
</template>

<script>
    import { mapGetters } from 'vuex';
    import NoSSR from 'vue-no-ssr';
    import ProductItem from './ProductItem';

    export default {
        components: {
            NoSSR,
            ProductItem
        },
        computed: mapGetters('cart', [
            'isEmpty',
            'products'
        ])
    };
</script>

<style lang="scss" scoped>
    .cart-empty {
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        margin-top: 15px;
    }
</style>