<template lang="pug">
    div
        // Title
        div(class="u-color-white u-fz-22 m-t-30")
            | {{ title }}
            span(class="required") *

        div(class="delivery-method")

            // Delivery methods
            b-form-group
                b-form-feedback(v-if="errors['delivery.method']") {{ errors['delivery.method'][0] }}
                b-form-radio-group(:value="delivery.method" name="method" @input="setDeliveryMethod")
                    b-form-radio(
                        v-for="method in deliveryMethods"
                        :key="method.key"
                        :id="`delivery-method-${method.key}`"
                        :value="method.key"
                    )
                        i(:class="`${method.iconClass} u-fz-30 u-alignMiddle m-r-10`")
                        span(class="u-alignMiddle") {{ method.description }}

            // "New Post" method fields
            template(v-if="delivery.method === 'new_post'")
                div(class="row")
                    div(class="col-xs-24 col-md-12")

                        // City
                        b-form-group(label="Оберіть місто")
                            new-post-city-input(@selected="newPostSelected")
                            b-form-feedback(v-if="errors['delivery.city']") {{ errors['delivery.city'][0] }}

                    div(class="col-xs-24 col-md-12")

                        // Department
                        b-form-group(label="Оберіть відділеня")
                            b-form-select(
                                :value="delivery.department"
                                :options="departments"
                                :disabled="!departments.length"
                                @input.native="setDeliveryDepartment"
                            )
                            b-form-feedback(v-if="errors['delivery.department']") {{ errors['delivery.department'][0] }}

            // "Courier" methods fields
            template(v-if="delivery.method === 'courier'")
                b-form-group(label="Адреса")
                    b-form-input(
                        :value="delivery.address"
                        type="text"
                        name="address"
                        @input.native="setDeliveryAddress"
                    )
                    b-form-feedback(v-if="errors['delivery.address']") {{ errors['delivery.address'][0] }}
</template>

<script>
    import { mapState } from 'vuex';
    import NewPostCityInput from './NewPostCityInput/NewPostCityInput';

    export default {
        components: {
            NewPostCityInput
        },
        data() {
            return {
                title: 'Виберіть спосіб доставки',
                departments: []
            };
        },
        computed: mapState('checkout', [
            'deliveryMethods',
            'delivery',
            'errors'
        ]),
        methods: {

            /**
             * Set delivery method to store.
             *
             * @param value
             */
            setDeliveryMethod(value) {
                this.$store.dispatch('checkout/setDeliveryMethod', value);
            },

            /**
             * Get new post data and set delivery city to store.
             *
             * @param data
             */
            newPostSelected(data) {
                this.$store.dispatch('checkout/setDeliveryCity', data.city);

                this.departments = data.departments;
            },

            /**
             * Set delivery department.
             *
             * @param e
             */
            setDeliveryDepartment(e) {
                this.$store.dispatch('checkout/setDeliveryDepartment', e.target.value);
            },

            /**
             * Set delivery address.
             *
             * @param e
             */
            setDeliveryAddress(e) {
                this.$store.dispatch('checkout/setDeliveryAddress', e.target.value);
            }
        }
    }
</script>