<header class="main-header">
    <!-- Logo -->
    <a ui-sref="products.list" class="logo">
        <span class="logo-mini"><b>S</b></span>
        <span class="logo-lg">
            {{ $root.shopName }}
        </span>
    </a>

    <nav class="navbar navbar-static-top">
        <div class="pull-left">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <!-- Store list -->
            <div class="store-list btn-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm btn-active-store">
                        <span ng-if="$root.active_store" ng-bind="$root.active_store.name"></span>
                        <span ng-if="!$root.active_store" translate="general.all"></span>
                    </button>
                    <button type="button"
                            class="btn btn-default btn-sm dropdown-toggle"
                            data-toggle="dropdown"
                            aria-expanded="true">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href
                               class="store-item"
                               translate="general.all"
                               ng-click="changeStore()"></a>
                        </li>
                        <li ng-repeat="item in $root.storesList">
                            <a href
                               class="store-item"
                               ng-click="changeStore(item)"
                               ng-bind="item.name"></a>
                        </li>
                    </ul>
                </div><!-- /.btn-group -->
            </div><!-- /.store-list -->
        </div><!-- /.pull-left -->

        <!-- Navbar Right Menu -->
        <div class="pull-right">
            <div class="navbar-buttons pull-left btn-process">
                <button type="button"
                        class="btn btn-success btn-sm start-process"
                        ng-click="startTime()"
                        ng-if="$root.currentUser.user.workday_status === 'not_started' || $root.currentUser.user.workday_status === null">
                    <span class="hidden-xs" translate="general.start"></span>
                    <span class="visible-xs fa fa-calendar-check-o"
                          title="{{ 'general.start_short' | translate }}"></span>
                </button>

                <button type="button"
                        class="btn btn-warning btn-sm"
                        ng-click="continueTime()"
                        ng-if="$root.currentUser.user.workday_status === 'finished'">
                    <span class="hidden-xs" translate="general.continue"></span>
                    <span class="visible-xs fa fa-calendar-plus-o"
                          title="{{ 'general.continue_short' | translate }}"></span>
                </button>

                <button type="button"
                        class="btn btn-danger btn-sm"
                        ng-click="endTime()"
                        ng-if="$root.currentUser.user.workday_status === 'started'">
                    <span class="hidden-xs" translate="general.end"></span>
                    <span class="visible-xs fa fa-calendar-times-o"
                          title="{{ 'general.end_short' | translate }}"></span>
                </button>
            </div><!-- navbar-buttons -->

            <div class="pull-left">
                <ul class="nav navbar-nav">
                    <li>
                        <a ui-sref="profile.edit">
                            <i class="fa fa-user"></i>
                            <span class="hidden-sm hidden-xs"
                                  ng-bind="$root.currentUser.user.full_name"></span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="auth.logout">
                            <i class="fa fa-sign-out"></i>
                            <span class="hidden-xs" translate="auth.button.sign_out"></span>
                        </a>
                    </li>
                </ul><!-- /.nav -->
            </div><!-- /.pull-left -->
        </div><!-- /.navbar-custom-menu -->
    </nav><!-- /.navbar -->
</header>