<aside class="main-sidebar">
    <section class="sidebar">
        <!-- Sidebar menu: style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header text-uppercase" translate="menu.general_menu"></li>
            <li
                ng-repeat="item in menu"
                ng-class="{ active: $root.state.includes('{{ item.state_active }}') }"
                ng-hide="
                (item.name == 'menu.settings') &&
                ($root.currentUser.user.role_name == 'manager' || $root.currentUser.user.role_name == 'limited_manager') ||
                ((item.name == 'menu.stores' || item.name == 'menu.brands' || item.name == 'menu.pages') && ($root.currentUser.user.role_name == 'limited_manager'))
            ">
                <a ui-sref="{{ item.state }}">
                    <i class="{{ item.icon }}"></i>
                    <span translate="{{ item.name }}"></span>

                    <span
                        class="pull-right-container"
                        ng-if="(item.name == 'menu.users' || item.name == 'menu.orders') && $root.orderCounter"
                    >
                      <small
                          ng-if="item.name == 'menu.orders' && $root.orderCounter"
                          class="label pull-right bg-blue"
                      >{{ $root.orderCounter }}</small>
                    </span>
                </a>
            </li>
        </ul>
    </section>
</aside>