<template lang="pug">
    div(class="main-nav u-textCenter")
        button(
            v-for="item in types"
            :key="item.key"
            :class="{'is-active': item == currentType }"
            class="m-button-default-sm button-simple"
            @click="setType(item)"
        ) {{ item.value }}
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: mapGetters('featureProducts', [
            'types',
            'currentType'
        ]),
        methods: {

            /**
             * Update "currentType" on store.
             *
             * @param type
             */
            async setType(type) {

                // Start preloader
                this.$nuxt.$loading.start();

                await this.$store.dispatch('featureProducts/setType', type);

                // Finish preloader
                this.$nuxt.$loading.finish();
            }
        }
    };
</script>

<style lang="scss" scoped>
    .main-nav {
        margin-bottom: 45px;
    }

    .m-button-default-sm {
        font-size: 20px;
    }
</style>
