<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a ui-sref="auth.login">
                <b>{{ $root.shopName }}</b>
            </a>
        </div>
        <div class="login-box-body">
            <section class="content" ui-view="content"></section>
        </div>
    </div>
</div>