<!-- Header -->
<app-navbar></app-navbar>

<!-- Sidebar -->
<app-sidebar></app-sidebar>

<!-- Main content -->
<div class="content-wrapper">
    <section class="content-header">
        <main-header item="mainHeader"></main-header>
        <breadcrumbs items="breadcrumbs"></breadcrumbs>
    </section>
    <section class="content" ui-view="content"></section>
</div>