<template lang="pug">
    div(class="l-home__cards")
        div(class="container")
            div(class="cards__inner")
                navigation-item(
                    v-for="(item, index) in items"
                    :key="index"
                    :item="item"
                    :index="index"
                )
</template>

<script>
    import _ from 'lodash';
    import NavigationItem from './NavigationItem';
    import additionalLinks from './shared/additional-links';

    export default {
        components: {
            NavigationItem
        },
        props: {
            categories: Array
        },
        data() {
            return {
                additionalLinks
            };
        },
        computed: {

            /**
             * Merge additional links with feature categories.
             *
             * @return Array
             */
            items() {
                let items = [ ...this.additionalLinks ];

                this.categories.forEach((item, index) => {
                    items.push({
                        route: { name: 'products.index', params: { category_slug: item.slug } },
                        image: item.thumbnail ? item.thumbnail.url : '',
                        text: item.name,
                        sort_order: index * 2
                    });
                });
                items = _.orderBy(items, 'sort_order');

                return items;
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";

    .l-home__cards {
        margin-top: 10px;
    }

    .cards__inner {
        position: relative;
        height: 570px;
    }

    @media (max-width: $screen-md-max) {
        .cards__inner {
            height: 470px;
        }
    }

    @media (max-width: $screen-sm-max) {
        .cards__inner {
            height: 360px;
        }
    }

    @media (max-width: $screen-xs-max) {
        .l-home__cards {
            margin-top: 20px;
        }

        .cards__inner {
            height: auto;
        }
    }
</style>
