<template lang="pug">
    nuxt-link(
        :to="item.route"
        :class="`cards__item card-${index + 1}`"
        :style="`background-image: url('${item.image}')`"
    )

        // Description
        div(v-if="item.content" class="u-textCenter")
            i(v-if="item.icon" :class="`sale-icon ${item.icon}`")
            span(v-html="item.content")

        // Badge
        span(v-if="item.text" class="m-button-default-md button-blue") {{ item.text }}
</template>

<script>
    export default {
        props: {
            item: Object,
            index: Number
        }
    };
</script>

<style lang="scss" scoped>
    @import "../../../assets/scss/utilities/variables";

    .cards__item {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        overflow: hidden;
        padding: 10px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;


        @media (max-width: $screen-xs-max) {
            height: 240px;

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }

        @media (max-width: $screen-xs-min) {
            height: 180px;
        }

        .card__inner-1,
        .card__inner-2 {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        // Sale
        &.card-2 {
            justify-content: center;
            align-items: center;
        }

        // MaxSale
        &.card-4 {
            justify-content: center;
            align-items: center;
        }
    }

    @media (max-width: $screen-sm-max) {
        .button-blue {
            margin-right: 30px;
            text-align: right;
        }
    }

    @media (min-width: $screen-sm-min) {
        .cards__item {
            position: absolute;
        }

        .card-1 {
            top: 0;
            left: 0;
            width: 29%;
            height: 60%;
        }

        .card-2 {
            top: 0;
            left: calc(29% + 10px);
            width: 40%;
            height: 28%;
        }

        .card-3 {
            top: 0;
            right: 0;
            width: calc(31% - 20px);
            height: 28%;
        }

        .card-4 {
            top: calc(60% + 10px);
            left: 0;
            width: 29%;
            height: calc(40% - 10px);
        }

        .card-5 {
            bottom: 0;
            left: calc(29% + 10px);
            width: 29%;
            height: calc(72% - 10px);
        }

        .card-6 {
            top: calc(28% + 10px);
            right: 0;
            width: calc(42% - 20px);
            height: 39%;
        }

        .card-7 {
            right: 0;
            bottom: 0;
            width: calc(42% - 20px);
            height: calc(33% - 20px);
        }
    }

    @media (max-width: $screen-xs-max) {
        .cards__item {
            height: 240px;

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    @media (max-width: $screen-xs-min) {
        .cards__item {
            height: 180px;
        }
    }

    /deep/{
        .sale-icon {
            position: relative;
            top: 2px;
            margin-right: 10px;
            font-size: 32px;
        }

        .sale-type {
            font-size: 1.9rem;
        }

        .sale-percent {
            font-size: 3.4rem;
            font-weight: 700;
            line-height: 1;

            @media (min-width: $screen-md-min) {
                margin-top: 5px;
            }
        }

        .sale-title {
            font-size: 1.125rem;
            font-weight: 700;

            @media (max-width: $screen-sm-max) {
                display: none;
            }
        }
    }

</style>
