.l-builder__opt-price {
	height: 140px;
	position: relative;
	width: 100%;
	background-color: $color-overlay;
	border: 2px solid $color-default;
	border-radius: 2px;
	padding: 15px 25px;
	color: $white;
	background-image: url("/assets/images/texture.png");
	img {
		@extend .u-bottom-right;
		margin: 15px;
	}
}