.l-builder__filter {
	@extend .u-fill,.u-top-left;
	@media all and (max-width: $screen-xs-max){

		position: fixed;
		background-color: $color-dark;
		z-index: 10;
		padding: 30px 15px;
		.m-tabs__content {
			padding: 0;
			font-size: 0;
			button {
				margin: 2px;
				font-size: 0.875rem;
			}
		}
		.swiper-thumb {
			width: 40px;
			height: 40px;
		}
		transition: 0.4s;
		transform: translate3d(-100%, 0,0);
		&.is-active {
			transform: translate3d(0, 0,0);
		}
	}
	.filter__close {
		@extend .u-top-right;
		width: 30px;
		height: 30px;
		line-height: 30px;
		background-color: white;
		color: $color-default;
		font-size: 1.375rem;
		text-align: center;

	}

}