.l-builder__total-cost {
	height: 140px;
	width: 100%;
	border: 1px solid $white;
	border-radius: 2px;
	padding: 15px 25px;
	color: $white;
	label {
		font-size: 14px;
		color: $color-grey;
		margin-top: 5px;
	}
	input {
		width: 50px !important;
	}
}
.l-builder__total-cost__xs {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	height: 30px;
	line-height: 30px;
	font-size: 0;
	input {
		width: 50px;
	}
	> div {
		display: inline-block;
		height: 100%;
		width: 50%;
		text-transform: uppercase;
		text-align: center;
		vertical-align: bottom;
		&:first-child {
			background-color: $white;
			color: $color-default;
		}
	}
	span,button {
		font-size: 14px;
	}
	button {
		@extend .u-fill;

		text-transform: uppercase;
		font-weight: 700;
		height: 30px;
		line-height: 30px;
		color: $white;
		background-color: $color-default;
	}
}