.l-builder {
	@media all and (max-width: $screen-xs-max){
		.m-tabs__nav.main_nav {
			font-size: 0;
			.c-tabs-nav__link {
				height: auto;
				margin: 0;
				width: 50%;
				line-height: 1;
				padding: 5px 0;
			}
		}
	}
}