<template lang="pug">
    div(class="l-checkout u-color-white")
        div(class="container")

            // Form
            checkout-form(v-if="!success")

            // Success message
            checkout-success(v-if="success")
</template>

<script>
    import CheckoutForm from './CheckoutForm/CheckoutForm';
    import CheckoutSuccess from './CheckoutSuccess/CheckoutSuccess';

    export default {
        middleware: 'checkout',
        components: {
            CheckoutForm,
            CheckoutSuccess
        },
        data() {
            return {
                title: 'Оформлення замовлення'
            };
        },
        computed: {
            success() {
                return this.$route.query.success;
            }
        },
        watch: {
            ['$auth.loggedIn'](value) {
                if (value) {
                    this.setCustomer();
                }
            }
        },
        beforeMount() {

            // Set breadcrumbs.
            this.$store.dispatch('breadcrumbs/setItems', [{ title: this.title }]);

            // Set customer to checkout.
            if (this.$auth.loggedIn) {
                this.setCustomer();
            }

            this.$store.dispatch('checkout/setWebStore', true);
        },

        // Clear checkout data.
        destroyed() {
            this.$store.dispatch('checkout/clearData');
        },
        methods: {

            /**
             * Get customer from $auth and set to checkout.
             */
            setCustomer() {
                this.$store.dispatch('checkout/setCustomer', {
                    id: this.$auth.user.id,
                    first_name: this.$auth.user.first_name,
                    last_name: this.$auth.user.last_name,
                    email: this.$auth.user.email,
                    phone: this.$auth.user.phone
                })
            }
        }
    };
</script>