@mixin background-cover ($img-uri, $background-top: "center", $background-left: "center", $background-attachment: "fixed") {
	background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}