@mixin calc-width($size) {
	width: $size/(1170 - 20)*100% ;
	@media screen and (max-width: $screen-md-max) {
		width: $size/(970 - 20)*100% ;
	}
	@media screen and (max-width: $screen-sm-max) {
		width: $size/(750 - 20)*100% ;
	}
}