<template lang="pug">
    div(class="product-sort-wrap")

        // Sort order select
        div(class="item")
            span(class="title hidden-xs") Сортувати за:
            b-dropdown(:text="sortOrder.value" variant="link")
                b-dropdown-item(
                    v-for="item in sortOrderValues"
                    :key="item.key"
                    @click="setQuery('sortOrder', item)"
                    :class="{ 'active': item == sortOrder }"
                ) {{ item.value }}

        // Per page select
        div(class="item pull-left")
            span(class="title") Товарів на сторінці:
            b-dropdown(:text="String(limit)" variant="link")
                b-dropdown-item(
                    v-for="item in limitValues"
                    :key="item"
                    @click="setQuery('limit', item)"
                    :class="{ 'active': item == limit }"
                ) {{ item }}
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: mapGetters('products', [
            'sortOrderValues',
            'sortOrder',
            'limitValues',
            'limit'
        ]),
        methods: {

            /**
             * Set query on store.
             *
             * @param key
             * @param value
             */
            setQuery(key, value) {
                this.$store.dispatch('products/setQuery', {
                    [key]: value,
                    resetPrice: true
                });
            }
        }
    };
</script>

<style lang="scss" scoped>
    /deep/.product-sort-wrap {
        margin-top: 10px;

        .item {
            float: left;
            padding-right: 20px;

            &:not(:first-child) {
                padding-left: 12px;
            }
        }

        .title {
            float: left;
            padding-right: 5px;
            color: #fff;
            line-height: 38px;
        }

        .dropdown {
            float: left;
        }

        .btn-link {
            font-weight: bold;
            color: lighten(#3c76bf, 10%);
        }
    }
    .dropdown-menu > a {
        &:focus {
            opacity: 1;
            background-color: #fff;
            color: #292b2c;
        }
        &:hover {
            color: #ffffff;
            background-color: #5589ca;
        }
        &.active {
            color: #ffffff;
            background-color: #666666;
        }
    }
</style>