<template lang="pug">
    div(class="l-items-list container")
        div(class="row")

            // Sidebar filter
            div(class="col-md-6 col-lg-5")
                filter-component

            // Grid
            div(class="col-xs-24 col-md-18 col-lg-19")

                // Title
                h1(class="h1") {{ title }}

                // Control bar
                product-list-controls

                // Products
                div(v-if="products.total" class="m-t-20")

                    // Product list
                    div(class="row u-center-xs")
                        div(
                            v-for="product in products.data"
                            :key="product.id"
                            class="col-sm-8 col-lg-6"
                        )
                            product-item(:product="product")

                    // Pagination
                    pagination(:products="products")

                // If products doesn't exists
                div(v-else class="product-empty") Товари відсутні

            // Advantages
            advantages

            // Page description
            page-description(v-if="category")

                // Category name
                template(slot="title") {{ category.name }}

                // Category Description
                div(v-html="category.description")
</template>

<script>
    import Advantages from '@/components/Advantages/Advantages';
    import PageDescription from '@/components/PageDescription/PageDescription';
    import ProductItem from '@/components/ProductItem/ProductItem';
    import FilterComponent from './Filter/Filter';
    import Pagination from './Pagination/Pagination';
    import ProductListControls from './ProductListControls/ProductListControls';

    export default {
        layout: 'simple',
        watchQuery: ['type'],
        head() {
            return {
                title: this.title
            };
        },
        components: {
            Advantages,
            FilterComponent,
            PageDescription,
            Pagination,
            ProductItem,
            ProductListControls
        },
        computed: {

            /**
             * Retrieve category by router's slug from store's categories.
             */
            category() {
                const { category_slug } = this.$route.params;

                if (!category_slug) {
                    return null;
                }

                let category = null;

                this.$store.state.categories.all.forEach(root => {
                    if (root.slug == category_slug) {
                        category = root;
                        category.child = null;
                        return false;
                    }

                    if (root.children) {
                        root.children.forEach(child => {
                            if (child.slug == category_slug) {
                                category = root;
                                category.child = child;
                                return false;
                            }
                        });
                    }
                });

                return category;
            },

            /**
             * Fetch products from store.
             *
             * @return Object
             */
            products() {
                return this.$store.getters['products/products'];
            },

            /**
             * Generate title.
             *
             * @return Object
             */
            title() {
                let title;

                if (this.category) {
                    if (this.category.child) {
                        title = this.category.child.name;
                    } else {
                        title = this.category.name;
                    }
                } else if (this.$route.query.type === 'sale') {
                    title = 'Sale';
                } else if (this.$route.query.type === 'max_sale') {
                    title = 'Max Sale';
                } else {
                    title = 'Товари';
                }

                return title;
            },

            /**
             * Retrieve discount from store.
             */
            discount() {
                return this.$store.getters['discounts/current'];
            }
        },

        /**
         * Fetch products data from API and set to store.
         *
         * @param store
         * @param route
         * @returns {Promise<void>}
         */
        async fetch({ store, route }) {
            const params = {
                type: route.query.type,
                category_slug: route.params.category_slug,
                page: Number(route.query.page) || 1,
                search: route.query.search
            };

            await store.dispatch('products/fetchAll', params);
        },
        watch: {

            /**
             * Re-fetch products when selected discount.
             */
            discount() {
                this.$store.dispatch('products/setQuery', {
                    resetPrice: true,
                    type: this.$route.query.type
                });
            },

            /**
             * Re-fetch products when user has logged in.
             */
            ['$auth.loggedIn']() {
                setTimeout(() => {
                    this.$store.dispatch('products/setQuery', {
                        resetPrice: true,
                        type: this.$route.query.type
                    });
                });
            },

            /**
             * Re-fetch products when user has logged in.
             */
            ['$route.query.search']() {
                this.$store.dispatch('products/setQuery', {
                    search: this.$route.query.search
                });
            }
        },

        // Set breadcrumbs.
        beforeMount() {
            let items = {
                title: this.title
            };

            if (this.category) {
                items = [{
                    title: this.category.name,
                    route: { name: 'products.index', params: { category_slug: this.category.slug } }
                }];

                if (this.category.child) {
                    items.push({ title: this.category.child.name });
                }
            }

            this.$store.dispatch('breadcrumbs/setItems', items);
        }
    };
</script>